<% @page_title = "Brunch Menu" %>
<% @page_description = "Join Villaggio for brunch, Sunday's from 11 a.m.- 2p.m." %>

<div id="menupage">
    <div id="page-title" class="pt-bkg-image image-menus">
        <div class="overlay">
            <div class="title-container less">
                <section class="fancy-heading center">
                    <h1>Sunday Brunch Menu</h1>
                    <h3>Served 11am - 2pm</h3>
                </section>
            </div>
        </div>
    </div>

    <div class="page-content food-menus">
        <section class="tabs-example">
            <div class="tabs">
                <div class="container no-padding">
                    <div class="col-md-8 col-md-offset-2 col-xs-12">
                        <div id="accordeon" class="col-md-12 no-padding">
                            <div class="cbp-item">
                                <div class="cbp-caption first">
                                    <div class="cbp-caption-defaultWrap">
                                        <h4>Snacks</h4>
                                    </div>

                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">
                                            <div class="menu-item">
                                                <h4>Crab Cakes<span>... $12</span></h4>
                                                <p>Fried Green Tomatoes, Crab Cream, Mixed Greens</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Fruit &amp; Cheese<span>... $14</span></h4>
                                                <p>Artisanal Cheeses, Fresh Seasonal Fruits, Spiced Walnuts, Assorted Crackers</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Smoked Salmon Bagel<span>... $12</span></h4>
                                                <p>Cream Cheese, Red Onion, Capers, Lemon Beurre Blanc</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Truffle Deviled Eggs<span>... $10</span></h4>
                                                <p>Bacon, Cheddar Cheese, Cornichons</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="cbp-caption second">
                                    <div class="cbp-caption-defaultWrap">
                                        <h4>Benedicts on Bagels</h4>
                                    </div>

                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">
                                            <div class="menu-item">
                                                <h4>Villaggio Benedict <span>... $14</span></h4>
                                                <p>Bacon, Crab Cream, Parmesan, Bacon Potato Hash </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Petite Filet Benedict <span>... $16</span></h4>
                                                <p>Fried Green Tomatoes, Breakfast Potatoes, Crab Cream </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Crab Cake Benedict <span>... $14</span></h4>
                                                <p>Fried Green Tomatoes, Breakfast Potatoes, Sriracha Tartar Sauce </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Salmon Cake Benedict <span>... $12</span></h4>
                                                <p>Fresh Sliced Tomatoes, Asparagus, Cheddar Grits, Lemon Beurre Blanc </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Short Rib Benedict <span>... $14</span></h4>
                                                <p>Bacon Potato Hash, Short Rib Jus</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Swordfish Benedict  <span>... $12</span></h4>
                                                <p>Prosciutto, Sautéed Spinach, Cheddar Grits, Hollandaise </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="cbp-caption third">
                                    <div class="cbp-caption-defaultWrap">
                                        <h4>Entrees</h4>
                                    </div>

                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">
                                            <div class="menu-item">
                                                <h4>Spinach &amp; Crab Frittata <span>... $14</span></h4>
                                                <p>Goat Cheese, Asparagus, Lemon Beurre Blanc </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Caramelized Onion Frittata <span>... $12</span></h4>
                                                <p>Bacon Potato Hash, Tomato Chutney </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Steak &amp; Eggs <span>... $15</span></h4>
                                                <p>NY Strip, Poached Eggs, Asparagus, Bacon Potato Hash, Hollandaise </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Fried Chop &amp; Eggs <span>... $14</span></h4>
                                                <p>Fried Pork Chop, Poached Eggs, Green Beans, Cheddar Grits, Tomato Chutney </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Airline Chicken <span>... $12</span></h4>
                                                <p>Sautéed Spinach, Cheddar Grits, Hollandaise</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>French Toast <span>... $10</span></h4>
                                                <p>Fresh Berries, Whipped Cream, Bacon, Maple Syrup </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Grilled Salmon <span>... $12</span></h4>
                                                <p>Cheddar Grits, Sautéed Spinach, Hollandaise </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Chicken Scaloppini <span>... $10</span></h4>
                                                <p>Tomato Caper Cream, Cheddar Grits </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Southern Comfort</h4>
                                                <p>2 Eggs Your Way, Cheddar Grits, Boudin, Texas Toast</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="cbp-caption fourth">
                                    <div class="cbp-caption-defaultWrap">
                                        <h4>Pizza</h4>
                                    </div>

                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">
                                            <div class="menu-item">
                                                <h4>Steak &amp; Egg <span>... $12</span></h4>
                                                <p>Caramelized Onion, Spinach, Roasted Garlic </p>
                                            </div>


                                            <div class="menu-item">
                                                <h4>Breakfast <span>... $12</span></h4>
                                                <p>Sausage, Bacon, Egg, Roasted Tomatoes, Marinara </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
