<% @page_title = "Brunch Menu" %>
<% @page_description = "Join Villaggio for brunch, Sunday's from 11 a.m.- 2p.m." %>

<div id="menupage">
    <div id="page-title" class="pt-bkg-image image-menus">
        <div class="overlay">
            <div class="title-container less">
                <section class="fancy-heading center">
                    <h1>Sunday Brunch Menu</h1>
                    <h3>Served 11am - 2pm</h3>
                </section>
            </div>
        </div>
    </div>

    <div class="page-content food-menus">
        <section class="tabs-example">
            <div class="tabs">
                <div class="container no-padding">
                    <div class="col-md-8 col-md-offset-2 col-xs-12">
                        <div id="accordeon" class="col-md-12 no-padding">
                            <div class="cbp-item">
                                <div class="cbp-caption first">
                                    <div class="cbp-caption-defaultWrap">
                                        <h4>Small Plates</h4>
                                    </div>

                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">
                                            <div class="menu-item">
                                                <h4>Crab Cakes<span>... $12</span></h4>
                                                <p>Fried Green Tomatoes, Lemon Beurre Blanc, Mixed Greens</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Fruit &amp; Cheese<span>... $14</span></h4>
                                                <p>Artisanal Cheeses, Fresh Seasonal Fruit, Spiced Walnuts, Assorted Crackers, Dried Cherries</p>
                                            </div>

                                            <!-- <div class="menu-item">
                                                <h4>Smoked Salmon Bagel<span>... $12</span></h4>
                                                <p>Cream Cheese, Red Onion, Capers, Lemon Beurre Blanc</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Truffle Deviled Eggs<span>... $10</span></h4>
                                                <p>Bacon, Cheddar Cheese, Cornichons</p>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>

                                <div class="cbp-caption second">
                                    <div class="cbp-caption-defaultWrap">
                                        <h4>Benedicts on Bagels</h4>
                                    </div>

                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">

                                            <div class="menu-item">
                                              <h4>Villaggio Benedict *  <span> ... $14</span></h4>
                                                <p>Prosciutto, Crab Cream, Parmesan Cheese, Bacon, Potato Hash, Poached Eggs</p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Petite Filet Benedict * <span> ... $16</span></h4>
                                                <p>Fried Green Tomatoes, Breakfast Potatoes, Crab Cream, Grilled Beef Filet, Poached Eggs</p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Crab Cake Benedict * <span> ... $14</span></h4>
                                                <p>Fried Green Tomatoes, Breakfast Potatoes, Sriracha Tartar Sauce, Poached Eggs </p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Salmon Cake Benedict * <span> ... $12</span></h4>
                                                <p>Fresh Sliced Tomatoes, Asparagus, Cheddar Grits, Lemon Beurre Blanc, Poached Eggs</p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Blackened Tuna Benedict * <span> ... $14</span></h4>
                                                <p>Sautéed Spinach, Cheddar Grits, Lemon Beurre Blanc </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="cbp-caption third">
                                    <div class="cbp-caption-defaultWrap">
                                        <h4>Entrees</h4>
                                    </div>

                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">

                                            <div class="menu-item">
                                                <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Steak &amp; Eggs *<span> ... $15 </span> </h4>
                                                <p>Grilled Sirloin, Poached Eggs, Asparagus, Bacon, Potato Hash, Demi Glaze </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Fried Chop &amp; Eggs *<span> ... $14 </span> </h4>
                                                <p>Fried Pork Chop, Poached Eggs, Green Beans, Roasted Garlic Grits, Tomato Chutney </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Chicken Scaloppini<span> ... $10 </span></h4>
                                                <p>Tomato Caper Cream, Roasted Garlic Grits, Lightly Breaded Fried Chicken Breast </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Southern Comfort *<span> ... $13 </span></h4>
                                                <p>Two Eggs your way, Roasted Garlic Grits, Smoked Boudin Sausage, Texas Toast</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Seafood Pasta <span> ... $14 </span></h4>
                                                <p>Gulf Shrimp, Scallops, Lump Crab Meat, Alfredo Cream, Parmesan Cheese, Fettuccini Pasta</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Veal Marsala<span> ... $14 </span></h4>
                                                <p>Breaded Veal, Tomatoes, Caramelized Onions, Capers, Fettuccini Pasta</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Chicken Parmesan <span> ... $12 </span></h4>
                                                <p>Stuffed Breaded Chicken, Mozzarella, Marinara, Parmesan Cheese, Basil, Fettuccini Pasta</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Spinach &amp; Wood Fired Chicken Salad <span> ... $12 </span></h4>
                                                <p>Baby Spinach, Red Onion, Tomatoes, Croutons, Feta Cheese, Warm Bacon Vinaigrette</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Shrimp BLT<span> ... $12 </span></h4>
                                                <p>Blackened Gulf Shrimp, Bacon, Provolone, Fried Green Tomato, Roasted Garlic Aioli<br>(your choice of fries or house made chips)</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Villaggio Melt<span> ... $10 </span></h4>
                                                <p>Roast Beef, Tavern Ham, Smoked Turkey, Tomato , Field Greens, Mozzarella, Dijon Mustard<br>(your choice of fries or house made chips)</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Villaggio Burger<span> ... $12 </span></h4>
                                                <p>Grilled Beef Burger, Tomato, Seared Red Onion, Field Greens, Roasted Garlic Aioli<br>(your choice of fries or house made chips)</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Grilled Salmon * <span> ... $14 </span></h4>
                                                <p>Roasted Garlic Grits, Sautéed Spinach, Balsamic Reduction </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="cbp-caption fourth">
                                    <div class="cbp-caption-defaultWrap">
                                        <h4>Flats - $12</h4>
                                    </div>

                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">
                                            <div class="menu-item">
                                              <h4>Breakfast Pizza</h4>
                                                <p>Sausage, Bacon, Scrambled Eggs, Roasted Garlic, Marinara </p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Steak &amp; Egg Pizza</h4>
                                                <p>Caramelized Onion, Spinach, Roasted Garlic , Mozzarella Cheese </p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Chicken Pesto </h4>
                                                <p>Grilled Chicken, Basil Pesto, Roasted Tomatoes, Mushrooms, Provolone, Mozzarella</p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Villaggio </h4>
                                                <p>Sausage, Pepperoni, Bell Peppers, Wild Mushrooms, Kalamata Olives, Mozzarella, Oregano, Marinara</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
