<% content_for :title do %>
Brunch Menu
<% end %>
<% content_for :description do %>
Come enjoy an amazing brunch at Ginny Lane at The Wharf! Your first mimosa is free, and you can't beat the view!
<% end %>

<div id="page-title" class="pt-bkg-image image-lunch">
    <div class="title-container">
        <section class="fancy-heading center">
            <h1>Sunday Champagne Brunch Menu</h1>
        </section>
    </div>
</div>

<div class="page-content">
    <div class="container">
        <div class="food-menus">
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="service-box-2">
                        <h4>Southern Style Eggs Benedict</h4>
                        <p>
                            Poached eggs, Southern Style Grits, Applewood Smoked Bacon, Green Beans, Hollandaise Sauce
                            <br><b>$12</b>
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="service-box-2">
                        <h4>Cajun Omelet</h4>
                        <p>
                            Conecuh Sausage, Crawfish Tails, Bell Peppers, Onions, Spinach, Cheddar Cheese
                            <br><b>$12</b>
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="service-box-2">
                        <h4>Biscuits and Gravy</h4>
                        <p>
                            Pair of Biscuits, topped with Sausage Gravy, Southern Style Grits, Green Beans
                            <br><b>$10</b>
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="service-box-2">
                        <h4>Crab Cake Benedict</h4>
                        <p>
                            Homemade crab cakes, Southern Style Grits, Green Beans, Citrus Vinaigrette
                            <br><b>$12</b>
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="service-box-2">
                        <h4>Steak n' Eggs</h4>
                        <p>
                            Skirt Steak, Two Eggs, Biscuit, Potato Hash, Green Beans, Demi Glace
                            <br><b>$14</b>
                        </p>
                    </div>
                </div>

                 <div class="col-md-4 col-xs-12">
                    <div class="service-box-2">
                        <h4>Southern Comfort</h4>
                        <p>
                            Sausage Gravy and Biscuit, Two Eggs-Scrambled, Conecuh Sausage Links, Southern Style Grits
                            <br><b>$14</b>
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-md-offset-4 col-xs-12">
                    <div class="service-box-2">
                        <h4>Shrimp &amp; Grits</h4>
                        <p>
                            Sauteed Gulf shrimp, bacon, tomatoes, Thyme, Rosemary, Green Onions &amp; Shallots, Garlic, &amp; a Chardonnay Cream Sauce, served over Southern Style Grits.
                            <br><b>$12</b>
                        </p>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-12">
                    <%= link_to '/lunch-menu', class: 'btn red' do %>
                        Click Here to View Our Lunch Menu<br> for Regular Menu Items
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12"><div class="hr-png-6"></div></div>
