<% @page_title = "Christmas Day |" %>
<% @page_description = "Enjoy Christmas Day without the stress of cooking. Bring the family for Christmas Dinner at Villaggio Grille." %>

<div class="fullSec simpleMenuPage xmas">
	<div class="fullSec simpleTitle">
		<div class="kpWrapXl">
			<h1>Enjoy Christmas Dinner at Villaggio</h1>
			<h2>December 25 <span class="dot">&nbsp;&middot;&nbsp;</span><br> Open 4:30-8:30pm</h2>
		  <p class="res">For Reservations: <a href="tel:+12512246510">251.224.6510</a><br>
      <span class="instr">Click menu below to view larger version</span></p>
		</div>
	</div>
	
	<div class="fullSec menuGroup">
		<div class="fullSec medDef">
			<a href="ChristmasDayMenu.pdf" target="_blank" class="menu-item menuImg"><%= image_tag "menuChristmas.png", alt:"Villaggio's Christmas Dinner Menu", class: 'img-responsive border' %></a>
		</div>
	</div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>