<% @page_title = "Contact Us" %>
<% @page_description = "Villaggio Grille is located at The Wharf in Orange Beach. We open daily at 11 a.m., for lunch and dinner. Contact us for more information!" %>

<div id="page-title" class="pt-bkg-image image-contact">
    <div class="overlay">
        <div class="title-container less">
            <h3>Villaggio Grille</h3>
            <h1>Contact Us</h1>
        </div>
    </div>
</div>

<div class="page-content">
    <div class="container">
        <div class="row text-center">
            <!-- <div class="col-md-4 clearfix">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3444.9941909305094!2d-87.62921499999997!3d30.294226999999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x889a05c3484c458d%3A0xf2fe5093fce73e20!2sVillaggio+Grille!5e0!3m2!1sen!2sus!4v1426880190472" width="100%" height="200" frameborder="0" style="border:0"></iframe>
            </div> -->
            <div class="col-md-4 col-xs-12">
                <div class="fancy-heading center less">
                    <h2>Contact</h2>
                </div>

                <h5>Phone:<br> (251)-224-6510 </h5>
                <h5>Address:<br> 4790 Main Street, Suite F 108-B <br> Orange Beach, Al 36561</h5>
                <%= link_to '/directions', target: '_blank', class: 'p-link' do %>
                    Get Directions
                <% end %>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="fancy-heading center">
                    <h2>Stay Updated</h2>
                </div>

                <div class="signup">
                    <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
                    <div id="mc_embed_signup">
                        <form action="//villaggiogrille.us12.list-manage.com/subscribe/post?u=4c78eb4e16987add938a2f662&amp;id=472d9b9216" method="post" id="mc-embedded-subscribe-form"   name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                                <label for="mce-EMAIL">Join Our Mailing List</label>
                                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required>

                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4c78eb4e16987add938a2f662_472d9b9216" tabindex="-1" value=""  ></div>
                                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-md-12 socials">
                    <%= link_to '/fb', target: '_blank', class: 'contact-socials' do %>
                        <i class="fa fa-facebook"></i>
                    <% end %>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="fancy-heading center">
                    <h2> Our Hours:</h2>
                </div>
                <h5>Sunday - Thursday: 11am-9pm</h5>
                <h5>Friday - Saturday: 11am-10pm</h5>

                <%= link_to '/opentable', target: '_blank', class: 'p-link' do %>
                    <h4>Book a Table</h4>
                <% end %>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12"><div class="hr hr-png-10"></div></div>
