<% @page_title = "Daddy Daughter Valentine's Dinner" %>
<% @page_description = "Show the most important girl in your life how special she is with a daddy-daughter Valentine's date to Villaggio Grille." %>


<div class="event dd-date">
  <div class="simpleHeader">
    <h1>Daddy Daughter <br>Valentines Dinner</h1>
    <h2>Sunday, February 6th<br>6pm</h2>
    <h3><a href="tel:+12512246500">Call For Reservations:<br> 251-224-6500 ext. 2</a></h3>
    <p>Click menu below to view larger version.</p>
  </div>

  <div class="page-content pairing-1">
    <div class="container">
      <div class="row">
        <%= link_to "daddy-daughter2022.pdf", target: '_blank', class: 'menu-link' do %>
          <%= image_tag('daddy-daughter2022.png', class: 'img-responsive', alt: "Villaggio Grille's Daddy Daughter Valentines Menu") %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
