<% @page_title = "Lunch Menu" %>
<% @page_description = "Villaggio is open for lunch seven days a week. With so many delicious entrees, and a list of lunch specials to choose from, you'll be begging people to join you, just for an excuse to order more!" %>
<div id="menupage">
  <div id="page-title" class="pt-bkg-image image-menus">
    <div class="overlay">
      <div class="title-container less">
        <section class="fancy-heading center">
          <h1>Lunch Menu</h1>
          <h3>Served Daily, from 11am - 5pm</h3>
        </section>
      </div>
    </div>
  </div>

  <div class="page-content food-menus linkFull">
    <section class="tabs-example">
      <div class="tabs">
        <div class="container no-padding">
          <div class="col-md-8 col-md-offset-2 col-xs-12">
            <div id="accordeon" class="col-md-12 no-padding">
              <div class="cbp-item">
                <div class="cbp-caption second">
                  <div class="cbp-caption-defaultWrap"><h4>Food & Bar</h4></div>

                  <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body menuLink">
                      <%= link_to "LunchMenu.pdf", target: '_blank', class: 'menu-item' do %>
                        <p>Click the image below to see a larger version</p>
                        <%= image_tag('menuLunch.png', class: 'img-responsive', alt: "Villaggio Lunch Menu, Orange Beach, AL restaurant") %>
                      <% end %>
                    </div>
                  </div>
                </div>
                
                <%= render "shared/menu-share" %>
              </div>
            </div>
          </div>

          <%= render "shared/disclaimer" %>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
