<% @page_title = "Lunch Menu" %>
<% @page_description = "Villaggio is open for lunch seven days a week. With so many delicious entrees, and a list of lunch specials to choose from, you'll be begging people to join you, just for an excuse to order more!" %>

<div id="menupage">
    <div id="page-title" class="pt-bkg-image image-lunch">
        <div class="title-container">
            <section class="fancy-heading center">
                <h1>Lunch Menu</h1>
                <h4>Served Daily, from 11 a.m. - 4 p.m.</h4>
            </section>
        </div>
    </div>

    <div class="page-content food-menus">
        <section class="tabs-example">
            <div class="tabs">
                <div class="container no-padding">
                    <div class="col-md-8 col-md-offset-2 col-xs-12">
                        <div id="accordeon" class="col-md-12 no-padding">
                            <div class="cbp-item">
                                <div class="cbp-caption first">
                                    <div class="cbp-caption-defaultWrap">
                                        <h4>$8 Selections</h4>
                                    </div>

                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">
                                            <div class="menu-item"><p>All sandwiches served with housemade chips or fries, sub salad - $1</p></div>

                                            <div class="menu-item">
                                                <h4>*Villaggio Burger</h4>
                                                <p>Served on Sourdough Bun with Choice of:  Blue Cheese, Cheddar, Provolone<br>
                                                    House Ground Beef, Tomatoes Seared Red Onions, Mix Greens Roasted Garlic Aioli

                                                </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Shrimp BLT</h4>
                                                <p>Blackened Gulf Shrimp, Smoked Bacon, Provolone, Fried Green Tomato, Roasted Garlic Aioli </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Villaggio Melt</h4>
                                                <p>Roast Beef, Tavern Ham, Smoked Turkey, Mozzarella, Baby Greens, Tomatoes, Dijon Mustard</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="cbp-caption second">
                                    <div class="cbp-caption-defaultWrap">
                                        <h4>$10 Selections</h4>
                                    </div>

                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">
                                            <div class="menu-item">
                                                <h4>Spinach &amp; Wood Fired Chicken Salad</h4>
                                                <p>Baby Spinach, Red Onion, Tomatoes, Focaccia Croutons, Feta, Warm Bacon Vinaigrette   </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>*Beef or Shrimp &amp; Bleu Cheese Salad</h4>
                                                <p>Red Onion, Tomato, Spiced Walnuts, Ranch Dressing, Bleu Cheese Crumbles</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Eggplant Pasta</h4>
                                                <p>Breaded Eggplant, Sautéed Spinach, Marinara, Mozzarella, Trottole Pasta  </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>*Marinated Sirloin Steak</h4>
                                                <p>Truffle Mashed Potatoes, Green Beans, Demi-Glace</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Basil Chicken Pasta</h4>
                                                <p>Mushrooms, Tomatoes, Basil Pesto Cream, Fettuccine   </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Seafood Pasta</h4>
                                                <p>Alfredo Sauce, Scallop, Crab, Shrimp, Fettucine</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Chicken Parmesan </h4>
                                                <p>Stuffed Chicken Breast, Mozzarella, House Made Marinara, Fettuccine  </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Veal Milanese</h4>
                                                <p>Breaded Veal, Tomatoes, Pesto, Fettuccine</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="cbp-caption third">
                                    <div class="cbp-caption-defaultWrap">
                                        <h4>$11 Flats</h4>
                                    </div>

                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">
                                            <div class="menu-item">
                                                <h4>Margherita Pizza</h4>
                                                <p>Roasted Garlic, Basil, Tomatoes, Mozzarella, Provolone</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Villaggio Pizza</h4>
                                                <p>House Made Sausage, Pepperoni, Peppers, Mushrooms, Olives, Mozzarella, Marinara</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Chicken Pesto Pizza</h4>
                                                <p>Grilled Chicken, Basil Pesto, Roasted Tomatoes Mushrooms, Provolone, Mozzarella</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>BBQ Chicken Pizza</h4>
                                                <p>Barbeque Sauce, Grilled Chicken, Jalapeno, Red Onion, Cream Cheese, Cheddar Cheese</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Philly Cheesesteak Pizza</h4>
                                                <p>Beef Filet, Roasted Garlic, Cheddar Cheese, Bell Peppers, Caramelized Onions, Mushrooms</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Duck Pizza</h4>
                                                <p>Smoked Duck Breast, Roasted Garlic, Goat Cheese, Dried Cherries, Fresh Basil, Balsamic Reduction</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="cbp-caption fourth">
                                    <div class="cbp-caption-defaultWrap">
                                        <h4>$12 Heart Healthy Selections</h4>
                                    </div>

                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">
                                            <div class="menu-item">
                                                <h4>Airline Chicken</h4>
                                                <p>Sautéed Spinach, Asparagus, Brown Butter<br>(435 Cal)</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Shrimp Kabobs</h4>
                                                <p>Onions and Bell Peppers, Sautéed Spinach, Wild Rice<br>(506 Cal)</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Pan Seared Corvina</h4>
                                                <p>Wild Rice, Roasted Cauliflower, Tomato Chutney<br>(447 Cal)</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Grilled Salmon</h4>
                                                <p>Braised Lentils, Sautéed Spinach, Balsamic Reduction<br>(495 Cal) </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Vegetable Plate</h4>
                                                <p>Grilled Eggplant, Roasted Red Peppers, Succotash <br>(299 Cal)</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Pan Seared Trout</h4>
                                                <p>Roasted Garlic Couscous, Butternut Squash, Balsamic Reduction<br>(529 Cal)</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <%= render "shared/menu-share" %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
