<% @page_title = "Lunch Menu" %>
<% @page_description = "Villaggio is open for lunch seven days a week. With so many delicious entrees, and a list of lunch specials to choose from, you'll be begging people to join you, just for an excuse to order more!" %>
<div id="menupage">
  <div id="page-title" class="pt-bkg-image image-menus">
    <div class="overlay">
      <div class="title-container less">
        <section class="fancy-heading center">
          <h1>Lunch Menu</h1>
          <h3>Served Daily, from 11am - 4pm</h3>
        </section>
      </div>
    </div>
  </div>

  <div class="page-content food-menus">
    <section class="tabs-example">
      <div class="tabs">
        <div class="container no-padding">
          <div class="col-md-8 col-md-offset-2 col-xs-12">
            <div id="accordeon" class="col-md-12 no-padding">
              <div class="cbp-item">
                <%= render 'shared/snacks' %>

                <div class="cbp-caption second">
                  <div class="cbp-caption-defaultWrap"><h4>Sandwiches </h4></div>

                  <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                      <div class="menu-item">
                        <p><b>Served on Ciabatta Bread. Choice of House Made Chips or Fries.</b></p>
                      </div>
                      <div class="menu-item">
                        <h4>Italian Club <span> ... $12</span></h4>
                        <p>Grilled Chicken, Prosciutto, Roasted Red Pepper, Provolone, Tomato, and Field Greens with Garlic Aioli</p>
                      </div>

                      <div class="menu-item">
                        <h4>Villaggio Melt <span> ... $12</span></h4>
                        <p>Roast Beef, Tavern Ham, Smoked Turkey, Mozzarella, Tomato, and Field Greens with Dijon Mustard</p>
                      </div>

                      <!-- <div class="menu-item">
                        <h4>Fish Sandwich <span> ... $14</span></h4>
                        <p>Fresh Fish of the Day, Lettuce, Tomato, Field Greens and Grilled Red Onions with Tartar Sauce</p>
                      </div> -->

                      <div class="menu-item">
                        <h4>Villaggio Burger <span> ... $12</span></h4>
                        <p>Half Pound Beef Patty, Seared Red Onions, Tomato, and Field Greens with Garlic Aioli<br>
                        (Bleu Cheese, Provolone or Cheddar)</p>
                      </div>

                      <!-- <div class="menu-item">
                        <h4>Shrimp BLT <span> ... $12</span></h4>
                        <p>Blackened Gulf Shrimp, Bacon, Tomato, Spinach, and Garlic Aioli</p>
                      </div> -->

                    </div>
                  </div>
                </div>

                <div class="cbp-caption third">
                  <div class="cbp-caption-defaultWrap"><h4>Entrees</h4></div>

                  <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                      <!-- <div class="menu-item"><p><b>Add Side Salad: $3</b></p></div> -->

                      <div class="menu-item">
                        <h4>Lasagna <span>... $12</span></h4>
                        <p>Smoked Bacon, Ground Beef, &amp; Pork, Ricotta &amp; Marinara Sauce</p>
                      </div>

                      <div class="menu-item">
                        <h4>Chicken Parmesan <span>... $14</span></h4>
                        <p>Breaded Chicken Stuffed with Mozzarella. Served over Fettuccine with Marinara Sauce</p>
                      </div>

                      <div class="menu-item">
                        <h4>Shrimp Scampi <span>... $14 </span></h4>
                        <p>Alabama Gulf Shrimp, Tomatoes, Peas, &amp; Pappardelle Pasta with White Wine Butter Sauce</p>
                      </div>

                      <div class="menu-item">
                        <h4>Seafood Pasta <span>... $16</span></h4>
                        <p>Alabama Gulf Shrimp, Scallop, &amp; Crab Salad. Served with Fettuccini with Alfredo Sauce</p>
                      </div>

                      <!-- <div class="menu-item">
                        <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Vegetable Plate <span>... $14</span></h4>
                        <p>Grilled Eggplant, Roasted Red Pepper, and Squash Succotash</p>
                      </div> -->

                      <div class="menu-item">
                        <h4>Grilled Salmon <span>... $16</span></h4>
                        <p>Roasted Tomato Risotto and Broccolini. Topped with Balsamic Reduction</p>
                      </div>

                      <!-- <div class="menu-item">
                        <h4>Chef's Choice Ravioli <span>... $13</span></h4>
                        <p>Rotating Pairing of Ravioli and Sauce created Daily by Chef</p>
                      </div>  -->                     

                      <div class="menu-item">
                        <h4>Pan Seared Fish <span>... $14</span></h4>
                        <p>Mushroom &amp; Pea Risotto &amp; Green Beans. Topped with Beurre Blanc</p>
                      </div>

                      <!-- <div class="menu-item">
                        <h4>Veal Marsala <span>... $14</span></h4>
                        <p>Dijon Potato Salad, Green Beans</p>
                      </div> -->
                    </div>
                  </div>
                </div>

                <%= render "shared/menu-share" %>
              </div>
            </div>
          </div>

          <%= render "shared/disclaimer" %>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
