<% @page_title = "Dinner Menu" %>
<% @page_description = "Let the chefs at Villaggio Grille make your taste buds feel like royalty one bite at a time. Our dinner menu is full of incredible options for your whole table." %>

<div id="menupage">
    <div id="page-title" class="pt-bkg-image image-menus">
        <div class="overlay">
            <div class="title-container">
                <h1>Dinner Menu</h1>
            </div>
        </div>
    </div>

    <div class="page-content food-menus">
        <section class="tabs-example">
            <div class="tabs">
                <div class="container no-padding">
                    <div class="col-md-8 col-md-offset-2 col-xs-12">
                        <div id="accordeon" class="col-md-12 no-padding">
                            <div class="cbp-item">
                                <%= render 'shared/snacks' %>

                                <div class="cbp-caption entrees">
                                    <div class="cbp-caption-defaultWrap">
                                        <h4>Entrees</h4>
                                    </div>

                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">
                                            <div class="menu-item"><p>Add Side Salad - $3</p></div>

                                            <div class="menu-item">
                                              <h4>Filet Mignon <span> ... 5oz $24 &nbsp; | &nbsp; 8ox - $32</span></h4>
                                                <p>Asiago Gnocchi, Asparagus, Demi Glace</p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Filet Oscar <span> ... $32</span></h4>
                                                <p>Crab Encrusted Beef Tournedos, Fried Polenta Cakes, Green Beans, Béarnaise</p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Cowboy Ribeye <span> ... 22oz - $40</span></h4>
                                                <p>Smashed Fingerling Potatoes, Asparagus, Demi Glace</p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Blackened New York Strip <span> ... $28</span></h4>
                                                <p>Spinach Gnocchi, Broccolini, Bleu Cheese Cream Sauce</p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Bone-in Duroc Pork Chop <span> ... 16oz - $28</span></h4>
                                                <p>Pancetta Pea Mac & Cheese, Asparagus, Peach Aioli</p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Lamb Chops <span> ... 14oz - $30</span></h4>
                                                <p>Mint Pesto Risotto, Green Beans, Fig Jam</p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Beer Braised Short Rib <span> ... 8oz - $26</span></h4>
                                                <p>Smashed Fingerling Potatoes, Asparagus, Caramelized Onions, Short Rib Jus</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Grilled Fresh Fish of the Day <span> ... $24</span></h4>
                                                <p>Truffle Mashed Potatoes, Squash Succotash, Brown Butter Vinaigrette</p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Salmon Oscar <span> ... $26</span></h4>
                                                <p>Crab Encrusted, Roasted Fingerlings, Green Beans, Béarnaise</p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Grilled Alabama Gulf Shrimp <span> ... $24</span></h4>
                                                <p>Fried Polenta Cake, Broccolini, Beurre Blanc </p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Pan Seared Scallops <span> ... $28</span></h4>
                                                <p>Peach & Spinach Risotto, Saffron Cream </p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Seared Ahi Tuna <span> ... $32</span></h4>
                                                <p>Marinated Vegetable Orzo Pasta Salad, Arugula, Sriracha Aioli </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Honey Truffle Shrimp <span> ... $28</span></h4>
                                                <p>Roasted Tomato Risotto, Broccolini, White Truffle Honey Glaze</p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Seafood Pasta <span> ... $24</span></h4>
                                                <p>Fettuccini with Alabama Gulf Shrimp, St. Georges Bank Scallops, Crab Salad, Fresh Basil, Creamy Alfredo </p>
                                            </div>

                                            <!-- <div class="menu-item">
                                              <h4>Shrimp Pesto Trotolle  <span> ... $20</span></h4>
                                                <p>Trotolle with Alabama Gulf Shrimp, Caramelized Onions and Mushrooms, White Wine, Basil Pesto </p>
                                            </div> -->                                            

                                            <div class="menu-item">
                                              <h4>Shrimp Sacchetti <span> ... $22</span></h4>
                                                <p>Pasta Stuffed with Truffle Infused Ricotta, Roasted Tomatoes, Peas,Prosciutto, Chardonnay Cream Sauce </p>
                                            </div>

                                            <!-- <div class="menu-item">
                                              <h4>Mussels with Chorizo  <span> ... $22</span></h4>
                                                <p>Fettuccini with Mussels, Chorizo, Roasted Tomatoes, Chopped Broccolini, White Wine Butter Sauce </p>
                                            </div> -->

                                            <div class="menu-item">
                                              <h4>Bolognese <span> ... $24</span></h4>
                                                <p>Pappardelle Pasta with Ground Beef & Pork, Smoked Bacon, and Fresh Basil, Tomato Cream Sauce </p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Butternut Ravioli <span> ... $20</span></h4>
                                                <p>Butternut filled Ravioli, Caramelized Onions and Capers, Sage Brown Butter </p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Veal Marsala <span> ... $22</span></h4>
                                                <p>Fettuccini, Thin Sliced, Dredged Veal, Roasted Tomatoes, Capers, and Caramelized Onions, Veal Reduction </p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Vegetable Gnocchi <span> ... $20</span></h4>
                                                <p>Potato Gnocchi, Chopped Broccolini, Asparagus, Sun Dried Tomatoes, Artichokes, Mushrooms, White Wine Butter Sauce </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <%= render "shared/menu-share" %>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div><br>
                    <div class="col-md-4 col-md-offset-4 col-xs-12 stamp">
                        <%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> <p>** Represents Gluten Free Menu Items </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
