<% @page_title = "Dinner Menu" %>
<% @page_description = "Let the chefs at Villaggio Grille make your taste buds feel like royalty one bite at a time. Our dinner menu is full of incredible options for your whole table." %>

<div id="menupage">
  <div id="page-title" class="pt-bkg-image image-menus">
    <div class="overlay">
      <div class="title-container"><h1>Dinner Menu</h1></div>
    </div>
  </div>

  <div class="page-content food-menus linkFull">
    <section class="tabs-example">
      <div class="tabs">
        <div class="container no-padding">
          <div class="col-md-8 col-md-offset-2 col-xs-12">
            <div id="accordeon" class="col-md-12 no-padding">
              <div class="cbp-item">
                <div class="cbp-caption second">
                  <div class="cbp-caption-defaultWrap"><h4>Full Dinner Menu</h4></div>

                  <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body menuLink">
                      <%= link_to "DinnerMenu.pdf", target: '_blank', class: 'menu-item' do %>
                        <p>Click the image below to see a larger version</p>
                        <%= image_tag('menuDinner.png', class: 'img-responsive border', alt: "Villaggio Dinner Menu, Orange Beach, AL restaurant") %>
                      <% end %>
                    </div>
                  </div>
                </div>

                <%= render "shared/menu-share" %>
              </div>
            </div>
          </div>

          <%= render "shared/disclaimer" %>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
