<% @page_title = "Dinner Menu" %>
<% @page_description = "Let the chefs at Villaggio Grille make your taste buds feel like royalty one bite at a time. Our dinner menu is full of incredible options for your whole table." %>

<div id="menupage">
  <div id="page-title" class="pt-bkg-image image-menus">
    <div class="overlay">
      <div class="title-container"><h1>Dinner Menu</h1></div>
    </div>
  </div>

  <div class="page-content food-menus">
    <section class="tabs-example">
      <div class="tabs">
        <div class="container no-padding">
          <div class="col-md-8 col-md-offset-2 col-xs-12">
            <div id="accordeon" class="col-md-12 no-padding">
              <div class="cbp-item">
                <%= render 'shared/newSnacks' %>

                <div class="cbp-caption entrees">
                  <div class="cbp-caption-defaultWrap"><h4>Entrees</h4></div>

                  <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                      <div class="menu-item">
                        <h4>Grilled Fish</h4>
                        <p>Truffle Mashed Potatoes, Squash Succotash, Brown Butter Vinaigrette</p>
                      </div>

                      <div class="menu-item">
                        <h4>Bolognese</h4>
                        <p>Pappardelle Pasta with Ground Beef &amp; Pork, Smoked Bacon, Fresh Basil, Tomato Cream Sauce</p>
                      </div>

                      <div class="menu-item">
                        <h4>Pan Seared Scallops</h4>
                        <p>Peach &amp; Spinach Risotto, Roasted Red Pepper Cream</p>
                      </div>

                      <div class="menu-item">
                        <h4>Seafood Pasta</h4>
                        <p>Alabama Gulf Shrimp, St. Georges Bank Scallops, Crab Salad, Fresh Basil, Fettuccine, Creamy Alfredo</p>
                      </div>

                      <div class="menu-item">
                        <h4>8oz Filet Mignon <span> ... $36</span></h4>
                        <p>Asiago Gnocchi, Asparagus, Demi Glace<br/><b>Add Crab Salad: $6</b></p>
                      </div>

                      <div class="menu-item">
                        <h4>16oz Prime Ribeye</h4>
                        <p>Horseradish Whipped Potatoes, Fried Okra, Herbed Garlic Compound Butter</p>
                      </div>

                      <div class="menu-item">
                        <h4>16oz Bone-in Duroc Pork Chop <span> ... $28</span></h4>
                        <p>Pancetta Mushroom Mac &amp; Cheese, Asparagus, Peach Aioli</p>
                      </div>

                      <div class="menu-item">
                        <h4>Honey Truffle Shrimp</h4>
                        <p>Roasted Tomato Risotto, Broccolini, White Truffle Honey Glaze</p>
                      </div>

                      <div class="menu-item">
                        <h4>Prime Hanger Steak</h4>
                        <p>Sweet Potato Puree, Roasted Patty Pan Squash, Black Pepper Gorgonzola Cream</p>
                      </div>

                      <div class="menu-item">
                        <h4>Pan Seared Tuna</h4>
                        <p>Ginger Glazed Snap Peas, Carrot Risotto, Wasabi Aioli, Crispy Shallots</p>
                      </div>

                      <div class="menu-item">
                        <h4>Shrimp Basil Pesto</h4>
                        <p>Angel Hair Pasta, Gulf Shrimp, Basil Pesto, Mushrooms, Sun Dried Tomatoes</p>
                      </div>
                    </div>
                  </div>
                </div>

                <%= render "shared/menu-share" %>
              </div>
            </div>
          </div>

          <%= render "shared/disclaimer" %>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
