<% @page_title = "Dinner Menu" %>
<% @page_description = "Let the chefs at Villaggio Grille make your taste buds feel like royalty one bite at a time. Our dinner menu is full of incredible options for your whole table." %>

<div id="menupage">
  <div id="page-title" class="pt-bkg-image image-menus">
    <div class="overlay">
      <div class="title-container"><h1>Dinner Menu</h1></div>
    </div>
  </div>

  <div class="page-content food-menus">
    <section class="tabs-example">
      <div class="tabs">
        <div class="container no-padding">
          <div class="col-md-8 col-md-offset-2 col-xs-12">
            <div id="accordeon" class="col-md-12 no-padding">
              <div class="cbp-item">
                <%= render 'shared/newSnacks' %>

                <div class="cbp-caption pastas">
                  <div class="cbp-caption-defaultWrap"><h4>Pastas</h4></div>

                  <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">

                      <div class="menu-item">
                        <h4>Braised Short Rib Ravioli</h4>
                        <p>Short Rib Jus, Wild Mushrooms, Baby Carrots, Pecorino Romano</p>
                      </div>

                      <div class="menu-item">
                        <h4>Veal Piccata</h4>
                        <p>Pan Fried Veal, Fettuccine, Lemon, Capers, Caramelized Onion, White Wine, Herbs</p>
                      </div>

                      <div class="menu-item">
                        <h4>Spaghetti Al Pomodoro</h4>
                        <p>Roasted Herb Tomatoes, Basil, Oven Dried Heirloom Cherry Tomato, Chili Butter<br>
                          <b>Add ons: </b>Grilled Chicken, 2 Seared Scallops, or Gulf Shrimp</p>
                      </div>

                      <div class="menu-item">
                        <h4>Basil Chicken</h4>
                        <p>Angel Hair, Grilled Chicken, Basil Pesto, Cream, Roasted Herb Tomatoes, Wild Mushrooms, Pecorino Romano</p>
                      </div>

                      <div class="menu-item">
                        <h4>Seafood Pasta</h4>
                        <p>Seared Scallops, Gulf Shrimp, Crab, Fresh Basil, Fettuccine, Creamy Alfredo</p>
                      </div>

                      <div class="menu-item">
                        <h4>Bolognese</h4>
                        <p>Pappardelle Pasta with Ground Beef &amp; Pork, Smoked Bacon, Fresh Basil, Tomato Cream Sauce</p>
                      </div>

                      <div class="menu-item">
                        <h4>Shrimp Sacchetti</h4>
                        <p>Gulf Shrimp, Spanish Chorizo, Sun Dried Tomatoes, Peas, Chardonnay Cream</p>
                      </div>
                      
                    </div>
                  </div>
                </div>


                <div class="cbp-caption entrees">
                  <div class="cbp-caption-defaultWrap"><h4>Mains</h4></div>

                  <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                      <div class="menu-item">
                        <h4>Crab Encrusted Grouper</h4>
                        <p>Pan Seared with Truffle Mash Potatoes, Corn Maqué Choux, Hollandaise</p>
                      </div>

                      <div class="menu-item">
                        <h4>Blackened Grilled Grouper</h4>
                        <p>Green Onion, Roasted Tomato &amp; Bacon Risotto. Roasted Veggies &amp; Lemon Basil Beurre Blanc</p>
                      </div>

                      <div class="menu-item">
                        <h4>Scallops</h4>
                        <p>Spinach &amp; Peach Quinoa, Walnut Brown Butter</p>
                      </div>

                      <div class="menu-item">
                        <h4>Glazed Salmon</h4>
                        <p>Pan Seared with Honey &amp; Brown Sugar, Roasted Root Vegetable Risotto</p>
                      </div>

                      <div class="menu-item">
                        <h4>16oz Bone-in Duroc Pork Chop</h4>
                        <p>Baked Pancetta, Mushroom Mac &amp; Cheese, Green Beans, Peach Aioli</p>
                      </div>

                      <div class="menu-item">
                        <h4>8oz Filet Mignon</h4>
                        <p>Asiago Gnocchi, Asparagus, Demi Glace<br><b>Add ons: 2 Scallops or Crab</b></p>
                      </div>

                      <div class="menu-item">
                        <h4>18oz Cowboy Ribeye</h4>
                        <p>Herbed Mash, Sautéed Garlic Spinach, Molasses Butter</p>
                      </div>

                    </div>
                  </div>
                </div>

                <%= render "shared/menu-share" %>
              </div>
            </div>
          </div>

          <%= render "shared/disclaimer" %>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
