<% @page_title = "Dinner Menu" %>
<% @page_description = "Let the chefs at Villaggio Grille make your taste buds feel like royalty one bite at a time. Our dinner menu is full of incredible options for your whole table." %>

<div id="menupage">
  <div id="page-title" class="pt-bkg-image image-menus">
    <div class="overlay">
      <div class="title-container"><h1>Dinner Menu</h1></div>
    </div>
  </div>

  <div class="page-content food-menus">
    <section class="tabs-example">
      <div class="tabs">
        <div class="container no-padding">
          <div class="col-md-8 col-md-offset-2 col-xs-12">
            <div id="accordeon" class="col-md-12 no-padding">
              <div class="cbp-item">
                <%= render 'shared/newSnacks' %>

                <div class="cbp-caption pastas">
                  <div class="cbp-caption-defaultWrap"><h4>Pastas</h4></div>

                  <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                      <div class="menu-item">
                        <h4>Seafood Pasta</h4>
                        <p>Gulf Shrimp, Crab Salad, Fresh Basil, Fettuccine, Creamy Alfredo</p>
                      </div>

                      <div class="menu-item">
                        <h4>Bolognese</h4>
                        <p>Pappardelle Pasta with Ground Beef &amp; Pork, Smoked Bacon, Fresh Basil, Tomato Cream Sauce</p>
                      </div>

                      <div class="menu-item">
                        <h4>Chicken Pesto</h4>
                        <p>Airline Chicken Breast, Sun-Dried Tomatoes, Sautéed Mushrooms, Fettuccine, Basil Pesto Cream</p>
                      </div>

                      <div class="menu-item">
                        <h4>Red Chili Shrimp</h4>
                        <p>Gulf Shrimp, Broccolini, Roasted Tomatoes, Angel Hair, White Wine Chili Butter</p>
                      </div>

                      <div class="menu-item">
                        <h4>Shrimp Scampi</h4>
                        <p>Gulf Shrimp, Peas, Tomatoes, Pappardelle Pasta, White Wine Butter</p>
                      </div>

                      <div class="menu-item">
                        <h4>Lasagna</h4>
                        <p>Ground Beef &amp; Pork, Smoked Bacon, Ricotta, Marinara</p>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="cbp-caption entrees">
                  <div class="cbp-caption-defaultWrap"><h4>Entrees</h4></div>

                  <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                      <div class="menu-item">
                        <h4>Grilled Fish of the Day</h4>
                        <p>Truffle Mashed Potatoes, Squash Succotash, Brown Butter Vinaigrette</p>
                      </div>

                      <div class="menu-item">
                        <h4>Grilled Salmon</h4>
                        <p>Fingerling Potato Hash, Broccolini, Honey Mustard Vinaigrette</p>
                      </div>

                      <div class="menu-item">
                        <h4>Honey Truffle Shrimp</h4>
                        <p>Roasted Tomato Risotto, Broccolini, White Truffle Honey Glaze</p>
                      </div>

                      <div class="menu-item">
                        <h4>Hanger Steak</h4>
                        <p>Sweet Potato &amp; Butternut Squash Gratin, Green Beans, Black Pepper Gorgonzola Cream</p>
                      </div>

                      <div class="menu-item">
                        <h4>8oz Filet Mignon <span> ... $36</span></h4>
                        <p>Asiago Gnocchi, Asparagus, Demi Glace<br/><b>Add Crab Salad: $6</b></p>
                      </div>

                      <div class="menu-item">
                        <h4>16oz Bone-in Duroc Pork Chop <span> ... $28</span></h4>
                        <p>Pancetta Mushroom Mac &amp; Cheese, Asparagus, Peach Aioli</p>
                      </div>

                    </div>
                  </div>
                </div>

                <%= render "shared/menu-share" %>
              </div>
            </div>
          </div>

          <%= render "shared/disclaimer" %>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
