<% content_for :title do %>
Dinner Menu
<% end %>
<% content_for :description do %>
Treat yourself to an incredible dinner at Ginny Lane Bar &amp; Grill, a delicious experience from appetizers through dessert!
<% end %>

<div id="menupage">
    <div id="page-title" class="pt-bkg-image image-lunch">
        <div class="title-container">
            <section class="fancy-heading center">
                <h1>Dinner Menu</h1>
            </section>
        </div>
    </div>


    <div class="tabs">
        <div class="page-content container">
            <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div id="accordeon"> 
                    <div class="cbp-item">      
                        <%= render "shared/starters" %>
                        <div class="cbp-caption fourth">
                            <div class="cbp-caption-defaultWrap">         
                                <h4>Turf</h4>
                            </div>

                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-body">
                                        <div class="menu-item">
                                            <h4>Cherry Barbecue Baby Back Ribs</h4>
                                            <div class="menu-price">
                                                <p>$20</p>
                                            </div>
                                            <p>
                                             French Fries, Cole Slaw, Cherry Barbecue Sauce
                                            </p>
                                        </div>

                                        <div class="menu-item">
                                            <h4>Pan Seared Airline Chicken Breast</h4>
                                            <div class="menu-price">
                                                <p>$22</p>
                                            </div>
                                            <p>
                                                Cheddar Grits, Asparagus, Roasted Red Pepper Cream
                                            </p>
                                        </div>

                                        <div class="menu-item">
                                            <h4>12oz New York Strip* </h4>
                                            <div class="menu-price">
                                                <p>$22</p>
                                            </div>
                                            <p>
                                                Mashed Potatoes, Asparagus, Red Wine Demi Glace
                                            </p>
                                        </div>
                                </div>
                            </div>
                        </div>

                        <div class="cbp-caption fifth">
                            <div class="cbp-caption-defaultWrap">
                                <h4> Filet</h4>
                            </div>

                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-body">
                                        <div class="menu-item">
                                            <h4>Grilled Filet Mignon*</h4>
                                            <div class="menu-price">
                                                <p>5oz - $24 | 8oz - $30</p>
                                            </div>
                                            <p>
                                                Mashed Potatoes, Glazed Baby Carrots, Red Wine Demi Glace
                                            </p>
                                        </div>

                                        <div class="menu-item">
                                            <h4>Gorgonzola Filet*</h4>
                                            <div class="menu-price">
                                                <p>5oz - $24 | 8oz - $30</p>
                                            </div>
                                            <p>
                                             8oz Filet Topped with Gorgonzola Cream, Parmesan Risotto, Green Beans
                                            </p>
                                        </div>

                                        <div class="menu-item">
                                            <h4>Filet Oscar* </h4>
                                            <div class="menu-price">
                                                <p>5oz - $30 | 8oz - $36</p>
                                            </div>
                                            <p> 
                                                8oz Filet Topped with Lump Crab and Hollandaise, Roasted Red Potatoes, Brussels Sprouts
                                            </p>
                                        </div>
                                </div>
                            </div>
                        </div>

                        <div class="cbp-caption sixth">
                            <div class="cbp-caption-defaultWrap">
                                <h4>Surf</h4>
                            </div>

                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-body">
                                    <div class="menu-item text-center">
                                        <p>*Add Cluster of Steamed Snow Crab Legs - $12</p>
                                    </div>

                                    <div class="col-md-6 col-xs-12">
                                        <div class="menu-item">
                                            <h4>Shrimp &amp; Grits</h4>
                                            <div class="menu-price">
                                                <p>$18</p>
                                            </div>
                                            <p>
                                             Sautéed Gulf Shrimp, Tomatoes, Bacon, Thyme, Rosemary, Green Onions, Shallots, Garlic, Chardonnay Cream Sauce over Cheddar Grits
                                            </p>
                                        </div>

                                        <div class="menu-item">
                                            <h4>Pecan Encrusted Corvina</h4>
                                            <div class="menu-price">
                                                <p>$16</p>
                                            </div>
                                            <p>
                                                Sautéed Brussel Sprouts, Cheddar Grits, Beurre Blanc 
                                            </p>
                                        </div>

                                        <div class="menu-item">
                                            <h4>Bayou Grouper</h4>
                                            <div class="menu-price">
                                                <p>$26</p>
                                            </div>
                                            <p>
                                                Blackened Grouper Topped with Crab, Mushroom Risotto, Asparagus, Lemon Beurre Blanc
                                            </p>
                                        </div>

                                        <div class="menu-item">
                                            <h4>Crab Cakes</h4>
                                            <div class="menu-price">
                                                <p>$22</p>
                                            </div>
                                            <p>
                                                Fried Green Tomatoes, White Rice, Creole Remoulade
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-xs-12">                             
                                        <div class="menu-item">
                                            <h4>Traditional Fried Gulf Shrimp</h4>
                                            <div class="menu-price">
                                                <p>$18</p>
                                            </div>
                                            <p>
                                                Steamed New Potatoes, Cole Slaw, Cocktail Sauce
                                            </p>
                                        </div>

                                        <div class="menu-item">
                                            <h4>Grilled Salmon*</h4>
                                            <div class="menu-price">
                                                <p>$18</p>
                                            </div>
                                            <p>
                                                Spinach Risotto, Asparagus, Lemon Dill &amp; Caper Cream Sauce
                                            </p>
                                        </div>

                                        <div class="menu-item">
                                            <h4>Bacon Wrapped Gulf Shrimp</h4>
                                            <div class="menu-price">
                                                <p>$16</p>
                                            </div>
                                            <p>
                                                Gouda Smashed Red Potatoes, Green Beans, Cherry Barbecue Sauce
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="cbp-caption seventh">
                            <div class="cbp-caption-defaultWrap">
                                <h4>Platters And Pots</h4>
                            </div>

                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-body">
                                        <div class="menu-item">
                                            <h4>Fried Seafood Platter</h4>
                                            <div class="menu-price">
                                                <p>$18</p>
                                            </div>
                                            <p>
                                                Gulf Shrimp, Corvina, Crab Cakes, Fries, Cole Slaw
                                            </p>
                                        </div>

                                        <div class="menu-item">
                                            <h4>Broiled Seafood Platter</h4>
                                            <div class="menu-price">
                                                <p>$18</p>
                                            </div>
                                            <p>
                                                Gulf Shrimp, Corvina, Garlic Butter Oysters, New Potatoes, Corn, Cole Slaw
                                            </p>
                                        </div>

                                        <div class="menu-item">
                                            <h4>Steamer Pot</h4>
                                            <div class="menu-price">
                                                <p>$26</p>
                                            </div>
                                            <p>
                                                Gulf Shrimp, Snow Crab Legs, Conecuh Sausage, New Potatoes, Corn
                                            </p>
                                        </div>                              
                                </div>
                            </div>
                        </div>

                        <div class="cbp-caption eight">
                            <div class="cbp-caption-defaultWrap">
                                <h4>Pasta</h4>
                            </div>

                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-body">
                                        <div class="menu-item">
                                            <h4>Shrimp Scampi</h4>
                                            <div class="menu-price">
                                                <p>$18</p>
                                            </div>
                                            <p>
                                                Gulf Shrimp with Asparagus and Tomatoes in a White Wine, Butter and Garlic Sauce over Linguini
                                            </p>
                                        </div>

                                        <div class="menu-item">
                                            <h4>Seafood Pasta</h4>
                                            <div class="menu-price">
                                                <p>$18</p>
                                            </div>
                                            <p>
                                                Gulf Shrimp, Crab, Spinach and Peas in a Creamy Alfredo Sauce over Linguini
                                            </p>
                                        </div>                                
                                </div>
                            </div>
                        </div>

                        <div class="cbp-caption ninth">
                            <div class="cbp-caption-defaultWrap">
                                <h4>Kids Plates - $7</h4>
                            </div>

                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-body">
                                        <div class="menu-item">
                                            <h4>Grilled Cheese &amp; Fries</h4>
                                        </div>

                                        <div class="menu-item">
                                            <h4>Kids Burger - Plain or Cheese &amp; Fries</h4>
                                        </div>

                                        <div class="menu-item">
                                            <h4>Chicken Tenders &amp; Fries</h4>
                                        </div>

                                        <div class="menu-item">
                                            <h4>Little Fruit Plate</h4>
                                        </div>

                                        <div class="menu-item">
                                            <h4>Fried Shrimp &amp; Fries</h4>
                                        </div>

                                        <div class="menu-item">
                                            <h4>Elbow Pasta</h4>
                                            <p> In Your Choice of Butter or Alfredo Sauce</p>
                                        </div>                              
                                </div>
                            </div>
                        </div>

                        <div class="cbp-caption tenth">
                            <div class="cbp-caption-defaultWrap">
                                <h4>Desserts</h4>
                            </div>

                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-body">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="menu-item">
                                            <h4>White Chocolate Bread Pudding</h4>
                                            <div class="menu-price">
                                                <p>$8</p>
                                            </div>
                                            <p>
                                                Topped with Bourbon Sauce
                                            </p>
                                        </div>

                                        <div class="menu-item">
                                            <h4>Homemade Key Lime Pie</h4>
                                            <div class="menu-price">
                                                <p>$8</p>
                                            </div>
                                            <p>
                                                With Graham Cracker Crust
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-xs-12">
                                        <div class="menu-item">
                                            <h4>Chocolate Lava Cake</h4>
                                            <div class="menu-price">
                                                <p>$8</p>
                                            </div>
                                            <p>
                                                Hot, Melted Center
                                            </p>
                                        </div>

                                        <div class="menu-item">
                                            <h4>Chef's Select Cheese Cake</h4>
                                            <div class="menu-price">
                                                <p>$8</p>
                                            </div>
                                            <p>
                                                Ask Your Server for Today's Selection
                                            </p>
                                        </div>
                                    </div>                                 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12"><div class="hr-png-6"></div></div>
