<% content_for :title do %>
Drink Menu
<% end %>
<% content_for :description do %>
Whether you are enjoying a few cocktails with your meal, or just grabbing one to-go, &amp; parousing The Wharf, Ginny Lane has a Drink Menu you will love.
<% end %>


    <div id="page-title" class="pt-bkg-image image-6">
        <div class="title-container">
            <h3>Ginny Lane's</h3>
            <h1>Drink Menu</h1>
            <%= link_to '/bar-specials#penny' do %>
                <h4>Ask your server about our Penny Martinis!</h4>
            <% end %>
        </div>
    </div>

    <div class="tabs">
        <div class="page-content container">
            <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div id="accordeon"> 
                    <div class="cbp-item">      
                        <div class="cbp-caption first">
                            <div class="cbp-caption-defaultWrap">         
                                <h4>Beer</h4>
                            </div>

                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-body">
                                    <div class="menu-item text-center">
                                        <h6>
                                            Ask Your Server or Bartender About Our Draught Beer Selection!<br>
                                            Draughts and Micro Brews Subject to Change.
                                        </h6>
                                    </div>

                                    <div class="col-md-6 col-xs-12">
                                        <div class="menu-item">
                                            <h4>Domestics</h4>
                                           
                                            <h6>
                                                Bud Light, Michelob Ultra<br>
                                                Miller Lite, Coors Light - <strong>$3</strong>
                                            </h6>
                                            
                                            <h6>Angry Orchard Hard Cider - <strong>$3.5</strong></h6>

                                            <h6>Yuengling -<strong> $4</strong></h6>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-xs-12">
                                        <div class="menu-item">
                                            <h4>Craft Brews &amp; Imports</h4>
                                            <h6>Corona Extra &amp; Corona Light - <strong>$3.5</strong></h6>
                                            <h6>Stella Artois - <strong>$4 </strong></h6>

                                            <h6>Rocket Republic Vapor Trail, Cream Ale<br>
                                                Great Divide Hoss Rye Oktoberfest <br>
                                            <strong>$4</strong></h6>

                                            <h6>Back Forty Freckle Belly IPA
                                            <strong>$4.5</strong></h6>

                                            <h6>     
                                            Monday Night Slap Fight IPA (GA)<br>
                                            Catawba Farmer Ted’s Cream Ale<br>
                                            <strong>$5</strong></h6>

                                            <h6>Fairhope Amber <br>
                                                Goodwood Walnut Brown Ale<br>
                                            <strong>$5.5</strong></h6>

                                            <h6>Fairhope 51 Pale Ale<br>
                                            <strong>$6</strong></h6>

                                            <h6>Rogue Hazelnut Brown Nectar<br>
                                                Fairhope Judge Roy Bean Stout<br>
                                            <strong>$7</strong></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="cbp-caption second">
                            <div class="cbp-caption-defaultWrap">         
                                <h4>House Cocktails</h4>
                            </div>

                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-body">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="menu-item">
                                            <h4>Ginny Lane’s Strawberry Lemonade</h4>
                                            <div class="menu-price">
                                                <p>$9</p>
                                            </div>
                                            <p>
                                                Strawberry Vodka, Strawberry Puree, Sour Liqueur, Sierra Mist
                                            </p>
                                        </div> 
                                       
                                        <div class="menu-item">
                                            <h4>Apple Cider Bellini </h4>
                                            <div class="menu-price"><p>$9</p></div>
                                            <p>Apple cider, orange liquor, maple syrup, topped with Prosecco and rosemary </p>
                                        </div>

                                        <div class="menu-item">
                                            <h4>Lemon Basil Martini</h4>
                                            <div class="menu-price"><p>$9</p></div>
                                            <p>Bacardi Lemon, fresh squeezed lemon juice, basil simple syrup</p>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-xs-12">
                                        <div class="menu-item">
                                            <h4>Cooper’s Cup</h4>
                                            <div class="menu-price"><p>$9</p></div>
                                            <p>Cooper’s Craft Bourbon, fresh lime juice, topped with Cock and Bull ginger ale</p>
                                        </div>

                                        <div class="menu-item">
                                            <h4>Fall Peartini</h4>
                                            <div class="menu-price"><p>$9</p></div>
                                            <p>Pear vodka, simple syrup, fresh squeezed lemon, brown sugar, muddled pear</p>
                                        </div>

                                        <div class="menu-item">
                                            <h4>Coconut Ginger Mojito</h4>
                                            <div class="menu-price"><p>$9</p></div>
                                            <p>Malibu Rum, lime juice, muddled mint, topped with Buffalo Rock ginger ale </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="cbp-caption third">
                            <div class="cbp-caption-defaultWrap">         
                                <h4>Frozen Drinks</h4>
                            </div>

                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-body">
                                    <div class="col-md-5 col-md-offset-1 col-xs-12">
                                        <div class="menu-item">
                                            <h4>Pumpkin Pie Spiced Mudslide </h4>
                                            <div class="menu-price">
                                                <p>$9</p>
                                            </div>
                                            <p>
                                               Pumpkin pie liqueur, Kahlua, Bailey’s Irish Cream, Vanilla Vodka, ice cream
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-md-5 col-xs-12">
                                        <div class="menu-item">
                                            <h4>Bailey’s Banana Colada</h4>
                                            <div class="menu-price">
                                                <p>$10</p>
                                            </div>
                                            <p>
                                                Light Rum, Bailey’s, Cream of Banana, Piña Colada Mix, Hint of Coconut
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-md-5 col-md-offset-3 col-xs-12">
                                        <div class="menu-item">
                                            <h4>Watermelon Margarita</h4>
                                            <div class="menu-price">
                                                <p>$10</p>
                                            </div>
                                            <p>
                                                Tequila, Watermelon Puree, Fresh Lime, Salt Rim 
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="cbp-caption fourth">
                            <div class="cbp-caption-defaultWrap">         
                                <h4>Dessert Martinis</h4>
                            </div>

                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-body">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="menu-item">
                                            <h4>Apple Cinnamon Manhattan</h4>
                                            <div class="menu-price">
                                                <p>$10</p>
                                            </div>
                                            <p>
                                                Crown Royal Regal Apple, Jack Daniels Fire, Cranberry Juice
                                            </p>
                                        </div>

                                        <div class="menu-item">
                                            <h4>White Chocolate Raspberry</h4>
                                            <div class="menu-price">
                                                <p>$10</p>
                                            </div>
                                            <p>
                                                Godiva White Chocolate, Razzmatazz, Vanilla Vodka, Cream
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-xs-12">
                                        <div class="menu-item">
                                            <h4>Peaches N’ Cream</h4>
                                            <div class="menu-price">
                                                <p>$10</p>
                                            </div>
                                            <p>
                                               Smirnoff  Whipped Vodka, Peach Puree, Peach Schnapps, Cream 
                                            </p>
                                        </div>

                                        <div class="menu-item">
                                            <h4>Salted Caramel</h4>
                                            <div class="menu-price">
                                                <p>$10</p>
                                            </div>
                                            <p>
                                               Caramel Vodka, Rumchata, Sprinkle of Salt
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="col-xs-12"><div class="hr-png-6"></div></div>
