<% @page_title = "Drink Menu" %>
<% @page_description = "Come enjoy a cold drink at Villaggio Grille. Let our bartenders entertain you for a while, or grab a drink to walk the docks of the Wharf's marina with. Either way, include our drink menu in your day, and you won't be sorry!" %>

<div id="menupage">
  <div id="page-title" class="pt-bkg-image image-bottle">
    <div class="overlay">
      <div class="title-container">
        <section class="fancy-heading center">
          <h1>Drink Menu</h1>
        </section>
      </div>
    </div>
  </div>

  <div class="page-content food-menus drinkmenu">
    <section class="tabs-example">
      <div class="tabs">
        <div class="container no-padding">
          <p class="instr">Click one of the images below to see a larger version</p>

          <%= link_to "DrinkMenu.pdf", target: '_blank', class: 'menuPageLink' do %>
            <%= image_tag('menuBeer.png', class: 'img-responsive border', alt: "Villaggio Beer and Drink Menu, Orange Beach, AL restaurant") %>
          <% end %>

          <%= link_to "DrinkMenu.pdf#page=2", target: '_blank', class: 'menuPageLink' do %>
            <%= image_tag('menuDessert.png', class: 'img-responsive border', alt: "Villaggio Dessert Menu") %>
          <% end %>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="col-md-12"><div class="hr hr-png-10"></div></div>
