<% @page_title = "Drink Menu" %>
<% @page_description = "Come enjoy a cold drink at Villaggio Grille. Let our bartenders entertain you for a while, or grab a drink to walk the docks of the Wharf's marina with. Either way, include our drink menu in your day, and you won't be sorry!" %>

<div id="menupage">
    <div id="page-title" class="pt-bkg-image image-bottle">
        <div class="overlay">
            <div class="title-container">
                <section class="fancy-heading center">
                    <h1>Drink Menu</h1>
                </section>
            </div>
        </div>
    </div>

    <div class="page-content food-menus">
        <section class="tabs-example">
            <div class="tabs">
                <div class="container no-padding">
                    <div class="col-md-10 col-md-offset-1 col-xs-12">
                        <div id="accordeon" class="col-md-12 no-padding">
                            <div class="cbp-item">
                                <div class="cbp-caption first">
                                    <div class="cbp-caption-defaultWrap">
                                        <h4>Beer List</h4>
                                    </div>

                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">
                                            <div class="col-md-5">
                                                <div class="menu-item beer">
                                                    <h4><b>Domestics <span>...$4</span></b></h4>
                                                    <p>
                                                        Bud Light <br>
                                                        Miller Lite<br>
                                                        Coors Light<br>
                                                        Blue Moon<br>
                                                        Yuengling<br>
                                                        Michelob Ultra
                                                    </p>
                                                </div>

                                                <div class="menu-item beer">
                                                    <h4><b>Imports</b></h4>
                                                    <p>
                                                        <!-- O’ Douls Non-Alcoholic ... $3<br> -->
                                                        Corona Extra ... $4<br>
                                                        Peroni Nastro Azzurro ... $4.5<br>
                                                        Birra Moretti ... $4.5<br>
                                                        Stella Artois ... $4
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="col-md-7">
                                                <div class="menu-item beer">
                                                    <h4><b>Craft Brews</b></h4>
                                                    <p>Lundi IPA ... $6.5 <br>
                                                    <span>Monday Night Brewing | Atlanta, GA<br>ABV 7.1%</span></p>

                                                    <p>Kentucky Bourbon Barrel Ale ... $7 <br>
                                                    <span>Lexington Brewing <br>ABV 8.2%</span></p>

                                                    <p>Riptide Amber Ale ... $5.5<br>
                                                    <span>Pensacola Bay Brewery | Pensacola, FL<br>ABV 5.4%</span></p>

                                                    <p>Ciderboys ... $5<br>
                                                    <span>Stevens Point, Wisconsin | Rotational Series, Ask you Server for Current Flavor</span></p>

                                                    <p>Truck Stop Honey Brown Ale ... $5.5<br>
                                                    <span>Back Forty Beer Co. | Gadsden, AL<br>ABV 6%</span></p>

                                                    <p>Evening Joe Coffee Blonde Ale ... $6<br>
                                                    <span>Catawba Brewing Company | North Carolina</span></p>

                                                    <p>Stone Tangerine Express IPA ... $6 <br>
                                                    <span>Stone Brewing Co. | Escondido, CA<br>ABV 6.7%</span></p>

                                                    <p>Sweet Baby Jesus Chocolate Peanut Butter Porter ... $6.5<br>
                                                    <span>DuClaw Brewing Co. | Baltimore, MD<br>ABV 6.2%</span></p>

                                                    <p>Something Cold Blonde Ale (16 oz Can) ... $6.5<br>
                                                    <span>Edmund's Oast Brewing Co. | Charleston South Carolina<br> ABV 5%</span></p>

                                                    <p>Peeled Grapefruit Pilsner Moody Tongue ... $5<br><span>Moody Tongue | Chicago, IL<br> ABV 4.5%</span></p>

                                                    <p>Yallarhammer Pale Ale ... $5.5 <br>
                                                    <span>Blackberry Farm Brewery | Maryville, TN<br>ABV 5.2%</span></p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="cbp-caption fourth">
                                    <div class="cbp-caption-defaultWrap">
                                        <h4>Villaggio Cocktails</h4>
                                    </div>

                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">
                                            <div class="menu-item">
                                                <h4>Elijah Craig Old Fashioned ... $10 </h4>
                                                <p>Elijah Craig Small Batch Kentucky Bourbon, Jack Rudy Bourbon Cocktail Cherries, Orange Slice, 18.21 Bitters</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Blackberry Ginger Smash ... $12 </h4>
                                                <p>Casamigos Blanco, Fresh Lime Juice, Blackberries, Simple Syrup, Domain de CantonGinger Liqueur, Topped with Ginger Beer</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Lemon Basil Martini ... $10 </h4>
                                                <p>Citrus Vodka, 18.20 Lemon Basil Syrup, Fresh Lemon Juice, Basil Garnish</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Rum Collins ... $10 </h4>
                                                <p>Flor de Cana dry 4 Year Rum, Fresh Lemon Juice, Simple Syrup, Sparkling Water</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Smoky Casa Margarita ... $12</h4>
                                                <p>Casamigos Mezcal, Fresh Lime Juice, AgaveNectar, Burnt Orange Peel</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>The Jackalope ... $10 </h4>
                                                <p>Gunpowder Irish Gin, Jack Rudy Elderflower Tonic, Fresh Slice Grapefruit, Blackberries</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Honey Bubble</h4>
                                                <p>Effen Blood Orange Vodka, Raspberry Puree, Topped with Cava and Lemon Twist</p>
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="cbp-caption fifth">
                                    <div class="cbp-caption-defaultWrap">
                                        <h4>Dessert Cocktails</h4>
                                    </div>

                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">
                                            <div class="menu-item">
                                                <h4>German Chocolate Martini <span>... $10</span></h4>
                                                <p>Malibu Rum, Godiva White Chocolate Liquor Frangelico, Cream</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Southern Grind Espresso Martini <span>... $10</span></h4>
                                                <p>Cold Brew by Southern Grind, Kahlua, Vodka, Espresso Beans   </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Finesse <span>... $10</span></h4>
                                                <p>Blood Orange Vodka, Strawberry Vodka, Strawberry Puree, Pineapple Juice</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Cold Brew Cocktail <span>... $10</span></h4>
                                                <p>Southern Grind Cold Brew, Smirnoff Kissed Caramel, Rumchata, Milk</p>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->

                                <div class="cbp-caption sixth">
                                    <div class="cbp-caption-defaultWrap">
                                        <h4>Nonalcoholic Drinks</h4>
                                    </div>

                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">
                                            <div class="menu-item"><h5>Selection of Octavia Hot Loose Leaf Teas,<br> Pepsi Products</h5></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="col-md-12"><div class="hr hr-png-10"></div></div>
