<% @page_title = "Drink Menu" %>
<% @page_description = "Come enjoy a cold drink at Villaggio Grille. Let our bartenders entertain you for a while, or grab a drink to walk the docks of the Wharf's marina with. Either way, include our drink menu in your day, and you won't be sorry!" %>

<div id="menupage">
    <div id="page-title" class="pt-bkg-image image-bottle">
        <div class="overlay">
            <div class="title-container">
                <section class="fancy-heading center">
                    <h1>Drink Menu</h1>
                </section>
            </div>
        </div>
    </div>

    <div class="page-content food-menus">
        <section class="tabs-example">
            <div class="tabs">
                <div class="container no-padding">
                    <div class="col-md-10 col-md-offset-1 col-xs-12">
                        <div id="accordeon" class="col-md-12 no-padding">
                            <div class="cbp-item">
                                <div class="cbp-caption first">
                                    <div class="cbp-caption-defaultWrap">
                                        <h4>Beer List</h4>
                                    </div>

                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">
                                            <div class="col-md-5">
                                                <div class="menu-item beer">
                                                    <h4><b>Domestics <span>...$4</span></b></h4>
                                                    <p>
                                                        Bud Light <br>
                                                        Miller Lite<br>
                                                        Coors Light<br>
                                                        Yuengling<br>
                                                        Michelob Ultra
                                                    </p>
                                                </div>

                                                <div class="menu-item beer">
                                                    <h4><b>Imports</b></h4>
                                                    <p>
                                                        O’ Douls Non-Alcoholic ... $3<br>
                                                        Corona Light ... $4<br>
                                                        Peroni Nastro Azzurro ... $4.5<br>
                                                        Birra Moretti ... $4.5<br>
                                                        Stella Artois ... $4
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="col-md-7">
                                                <div class="menu-item beer">
                                                    <h4><b>Craft Brews</b></h4>
                                                    <p>Chocolate Oatmeal Porter ... $6<br>
                                                    <span>Blue Pants Brewery | Madison, AL<br> ABV - 6.0%</span></p>

                                                    <p>Lil’ Smack IPA ... $6<br>
                                                    <span>Chandeleur Brewery | Gulfport, MS<br>ABV - 6.5%</span></p>

                                                    <p>Han Brolo Pale Ale ... $6<br>
                                                    <span>Monday Night Brewing | Atlanta, GA<br>ABV - 4.7%</span></p>

                                                    <p>Riptide Amber Ale ... $5.5<br>
                                                    <span>Pensacola Bay Brewery | Pensacola, FL<br>ABV 5.4%</span></p>

                                                    <p>Home Grown Dry-Hopped Lager ... $5.5<br>
                                                    <span>Victory Brewing Company | Parkesburg, PA<br>ABV - 4.8%</span></p>

                                                    <p>Truck Stop Honey Brown Ale ... $5<br>
                                                    <span>Back Forty Beer Co. | Gadsden, AL<br>ABV - 6.0%</span></p>

                                                    <p>Thai Wheat Ginger & Lemongrass Wheat ... $5<br>
                                                    <span>Second Self Brewing | Atlanta, GA<br>ABV - 5.1%</span></p>

                                                    <p>Hoppy Cider ... $5<br>
                                                    <span>Wyndridge Farm Brewery | Dallastown, PA<br>ABV - 5.5%</span></p>

                                                    <p>JP’S Casper White Stout ... $6<br>
                                                    <span>Whole Hog Brewery | Stevens Point, WI<br> ABV - 6.1%</span></p>

                                                    <p>Blue Moon. ... $4<br>
                                                    <span>Coors Brewing Company | Denver, CO<br>ABV - 4.5%</span></p>


                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="cbp-caption fourth">
                                    <div class="cbp-caption-defaultWrap">
                                        <h4>$10 Cocktails</h4>
                                    </div>

                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">

                                            <div class="menu-item">
                                                <h4>Saint Elizabeth </h4>
                                                <p>Elizabeth Vodka, St. Germain Elderflower, Basil Simple, Fresh Lemon, Pink Grapefruit, Rosemary</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Smoke and Honey </h4>
                                                <p>Sombra Mezcal, Honey Simple, Squeeze Lime, Ginger Beer</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Kentucky Red </h4>
                                                <p>Larceny Bourbon, Ginger and Honey, Domaine de Canton Ginger Liqueur, Pear Juice, Lemon</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Seersucker 75 </h4>
                                                <p>Seersucker Southern Gin, Fresh Lemon, Dash Simple Syrup, Topped with Prosecco and Lemon Twist</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Villaggio Bellini Martini </h4>
                                                <p>Redmont Vodka, Peach Schnapps Prosecco, Fresh Blueberries</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Coopers’ Cup </h4>
                                                <p>Coopers Craft Bourbon, Ginger Beer, Fresh Lime</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="cbp-caption fifth">
                                    <div class="cbp-caption-defaultWrap">
                                        <h4>Dessert Cocktails</h4>
                                    </div>

                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">
                                            <div class="menu-item">
                                                <h4>German Chocolate Martini <span>... $10</span></h4>
                                                <p>Malibu Rum, Godiva White Chocolate Liquor Frangelico, Cream</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Southern Grind Espresso Martini <span>... $10</span></h4>
                                                <p>Cold Brew by Southern Grind, Kahlua, Vodka, Espresso Beans   </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Finesse <span>... $10</span></h4>
                                                <p>Blood Orange Vodka, Strawberry Vodka, Strawberry Puree, Pineapple Juice</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Cold Brew Cocktail <span>... $10</span></h4>
                                                <p>Southern Grind Cold Brew, Smirnoff Kissed Caramel, Rumchata, Milk</p>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->

                                <div class="cbp-caption sixth">
                                    <div class="cbp-caption-defaultWrap">
                                        <h4>Nonalcoholic Drinks</h4>
                                    </div>

                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">
                                            <div class="menu-item"><h5>Abita Root Beer,<br> Selection of Octavia Hot Loose Leaf Teas,<br> Pepsi Products</h5></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="col-md-12"><div class="hr hr-png-10"></div></div>
