<% @page_title = "Drink Menu" %>
<% @page_description = "Come enjoy a cold drink at Villaggio Grille. Let our bartenders entertain you for a while, or grab a drink to walk the docks of the Wharf's marina with. Either way, include our drink menu in your day, and you won't be sorry!" %>

<div id="menupage">
    <div id="page-title" class="pt-bkg-image image-bottle">
        <div class="overlay">
            <div class="title-container">
                <section class="fancy-heading center">
                    <h1>Drink Menu</h1>
                </section>
            </div>
        </div>
    </div>

    <div class="page-content food-menus">
        <section class="tabs-example">
            <div class="tabs">
                <div class="container no-padding">
                    <div class="col-md-10 col-md-offset-1 col-xs-12">
                        <div id="accordeon" class="col-md-12 no-padding">
                            <div class="cbp-item">
                                <div class="cbp-caption first">
                                    <div class="cbp-caption-defaultWrap">
                                        <h4>Beer List</h4>
                                    </div>

                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">
                                            <div class="col-md-5">
                                                <div class="menu-item beer">
                                                    <h4><b>Domestics <span>...$4</span></b></h4>
                                                    <p>
                                                        Bud Light <br>
                                                        Miller Lite<br>
                                                        Coors Light<br>
                                                        Yuengling<br>
                                                        Michelob Ultra
                                                    </p>
                                                </div>

                                                <div class="menu-item beer">
                                                    <h4><b>Imports</b></h4>
                                                    <p>
                                                        O’ Douls Non-Alcoholic ... $3<br>
                                                        Corona Light ... $4<br>
                                                        Peroni Nastro Azzurro ... $4.5<br>
                                                        Birra Moretti ... $4.5<br>
                                                        Stella Artois ... $4
                                                    </p>
                                                </div>

                                                <div class="menu-item beer">
                                                    <h4><b>Craft</b></h4>
                                                    <p>
                                                        Blue Moon ... $4<br>
                                                        Ace Pineapple ... $4
                                                        <!--Angry Orchard ... $3.5<br>
                                                        Truck Stop Honey ... $4<br>
                                                        I Drink Therefore I (Amber) ... $4<br>
                                                        Bearded Lady ... $4<br>
                                                        Handy’s Gold ... $4<br>
                                                        Dry Hopped Pale Ale - $5<br>
                                                        Monkeynaut ... $5<br>
                                                        Vanillaphant Porter ... $6 -->
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="col-md-7">
                                                <div class="menu-item beer">
                                                    <h4><b>Local Brew</b></h4>

                                                    <p>
                                                        Lil’ Smack IPA  ... $6.5<br>
                                                        <span>69 IBU 6.5% ABV<br>Gulfport, MS | Chandeleur Brewery </span>
                                                    </p>

                                                    <p>
                                                        Divide and Conch’r  ... $7<br>
                                                        <span>Double IPA 5.0% ABV<br>Santa Rosa Beach, FL | Idyll Hounds Brewing Company </span>
                                                    </p>

                                                    <p>
                                                        Serpent Bite Sour Saison  ... $6<br>
                                                        <span>Tart Bite, Notes of Orange 6% ABV <br>Atlanta, GA | Orpheus Brewing</span>
                                                    </p>

                                                    <p>
                                                        Phase III Honey Pilsner   ... $6 <br>
                                                        <span>German Style Pilsner, 5.0% ABV <br>Homewood, AL | Red Hills Brewery</span>
                                                    </p>

                                                    <p>
                                                        Han Brolo Pale Ale  6.... $5<br>
                                                        <span>4.7% ABV 25 IBU<br>Atlanta, GA | Monday Night Brewing</span>
                                                    </p>

                                                    <p>
                                                        Suzy B Blonde Ale  5.... $5<br>
                                                        <span>5.0% ABV <br>Hattiesburg, MS | Southern Prohibition Brewing </span>
                                                    </p>

                                                    <p>
                                                        Lily Flagg, Milk Stout  ... $7<br>
                                                        <span>Rich Dark Stout with Hints of Chocolate and Coffee 5.0% <br>Huntsville, AL </span>
                                                    </p>

                                                    <p>
                                                        Thai Wheat    5.... $5<br>
                                                        <span>American Wheat, 5.1% ABV Spice, Lemongrass, Ginger<br>Atlanta, GA | Second Self Brewing Company</span>
                                                    </p>

                                                    <p>
                                                        Blue Pants Amber  ... $6<br>
                                                        <span>Two Row Malt 5.0% ABV <br>Madison, AL | Blue Pants Brewery </span>
                                                    </p>

                                                    <p>
                                                        Truck Stop Honey     ... $5<br>
                                                        <span>Brown Ale, 6% ABV <br>Gadsden | Back Forty Beer Co.</span>
                                                    </p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="cbp-caption second">
                                    <div class="cbp-caption-defaultWrap">
                                    <h4>Penny Cocktails</h4>
                                    </div>

                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">
                                            <div class="menu-item">
                                                <h5>Your first cocktail is a penny!<br>(One penny cocktail per guest, per day)</h5>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Villaggio Breeze</h4>
                                                <p>Light Rum, Cranberry Juice, Pineapple Juice</p>
                                            </div>


                                            <div class="menu-item">
                                                <h4>Cosmo on the Rocks</h4>
                                                <p>Vodka, Cranberry, Triple Sec, Fresh Lime</p>
                                            </div>


                                            <div class="menu-item">
                                                <h4>Gin Punch</h4>
                                                <p>Gin, Cranberry Juice, Orange Juice, Pineapple Juice, Strawberry Puree, Lemon &amp; Lime Soda</p>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->

                                <!-- <div class="cbp-caption third">
                                    <div class="cbp-caption-defaultWrap">
                                        <h4>Martinis</h4>
                                    </div>

                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">
                                            <div class="menu-item">
                                                <h4>Finesse <span>... $12</span></h4>
                                                <p>Smirnoff Strawberry Vodka, Strawberry Puree, Pineapple Juice</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Riviera <span>... $12</span></h4>
                                                <p>Patron Citronge, Lychee Liqueur, Ruby Red Grapefruit Vodka, Grapefruit Juice, Pomegranate Juice</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Villaggio Bellini <span>... $12</span></h4>
                                                <p>Elizabeth Vodka, Peach Schnapps, Prosecco, Fresh Berries</p>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->

                                <div class="cbp-caption fourth">
                                    <div class="cbp-caption-defaultWrap">
                                        <h4>$10 Cocktails</h4>
                                    </div>

                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">

                                            <div class="menu-item">
                                                <h4>Summer Daze Martini </h4>
                                                <p>Prickly Pear Vodka, Dash Simple Syrup, Ruby Red Grapefruit, Sugar Rim</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Seersucker 75</h4>
                                                <p>Seersucker Southern Gin, Fresh Lemon, Dash Simple Syrup, Topped with Prosecco and
                                                Lemon Twist</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Coconut Ginger Mojito </h4>
                                                <p>Cruzan Coconut Rum, Fresh Mint and Lime, Muddled and Topped with Buffalo Rock Spiced Ginger Ale</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Riviera Martini </h4>
                                                <p>Patron Citronage, Lychee Liqueur, Ruby Red Grapefruit Vodka, Grapefruit Juice, Pomegranate Juice</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Villaggio Bellini Martini </h4>
                                                <p>Redmont Vodka from Birmingham, Peach Schnapps
                                                Prosecco, Fresh Blueberries </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Honey Bubble</h4>
                                                <p>Cathead Honeysuckle Vodka, Raspberry Puree Champagne   </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Coopers’ Cup</h4>
                                                <p>Coopers Craft Bourbon, Ginger Beer, Fresh Lime</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Mexican Mule </h4>
                                                <p>Lunazul Reposado Tequila, Domaine de Canton Ginger Liqueur,Ginger beer, Fresh Lime </p>
                                           </div>
                                        </div>
                                    </div>
                                </div>

                                 <div class="cbp-caption fifth">
                                    <div class="cbp-caption-defaultWrap">
                                        <h4>Dessert Cocktails</h4>
                                    </div>

                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">
                                            <div class="menu-item">
                                                <h4>German Chocolate Martini <span>... $10</span></h4>
                                                <p>Malibu Rum, Godiva White Chocolate Liquor Frangelico, Cream</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Southern Grind Espresso Martini <span>... $10</span></h4>
                                                <p>Cold Brew by Southern Grind, Kahlua, Vodka, Espresso Beans   </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Finesse <span>... $10</span></h4>
                                                <p>Blood Orange Vodka, Strawberry Vodka, Strawberry Puree, Pineapple Juice</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Cold Brew Cocktail <span>... $10</span></h4>
                                                <p>Southern Grind Cold Brew, Smirnoff Kissed Caramel, Rumchata, Milk</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cbp-caption sixth">
                                    <div class="cbp-caption-defaultWrap">
                                        <h4>Nonalcoholic Drinks</h4>
                                    </div>

                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">
                                            <div class="menu-item"><h5>Abita Root Beer,<br> Selection of Octavia Hot Loose Leaf Teas,<br> Pepsi Products</h5></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="col-md-12"><div class="hr hr-png-10"></div></div>
