<% @page_title = "Upcoming Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>


<div class="events-listing-page">
  <div id="page-title" class="pt-bkg-image image-event-list">
      <div class="overlay">
          <div class="container">
              <div class="row">
                  <div class="title-container less">
                      <h1>Upcoming Events</h1>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="page-content">
    <div class="col-md-5 col-md-offset-1 col-xs-12">
  		<div class="service-box-2">
  			<h3>Holiday Wine Dinner</h3>
        <h4>December 28th &nbsp;|&nbsp; 6pm</h4>
  			<%= link_to 'See Details', pairing_path, class: 'event-view' %>
        <div class="clearfix"></div> <br>
  		</div>
    </div>

    <div class="col-md-5 col-xs-12">
      <div class="service-box-2">
        <h3>New Year's Eve 2018</h3>
        <h4>December 31st &nbsp;|&nbsp; Multiple Seatings</h4>
        <%= link_to 'View Details', nye_path, class: 'event-view' %>
      </div>
    </div>
  </div>

</div>
<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
