<% @page_title = "Food Truck" %>
<% @page_description = "Follow Villaggio Grille's Food Truck as we travel to events in need of our delicious touch! Contact us about our catering services, and get ready to impress all your guests." %>

<div id="page-title" class="page-title-8 pt-bkg-image image-truck">
    <div class="container">
        <section class="title-container">
            <div class="title">
                <h1>Food Truck Locations</h1>
                <h3>Follow Villaggio Grille's Food Truck<br> as we travel to events in need of our delicious touch!</h3>
            </div>
        </section>
    </div>
</div>
