<% @page_title = "Happy Hour Menu" %>
<% @page_description = "Join Villaggio for Happy Hour Celebrations!" %>

<div id="happyhour-page">
  <div id="page-title" class="pt-bkg-image image-hh">
    <div class="overlay">
      <div class="title-container">
        <%# <section class="fancy-heading center"><h1>Happy Hour Menu<br>Served Daily from 2-6pm</h1></section> %>
        <h1>Enjoy Our Amazing Specials!</h1>
      </div>
    </div>
  </div>

  <%# Pre-flyer version in alt hh file %>
  <div class="mainWrap">
    <div class="medDef">
      <div class="fullSec">
        <%= image_tag('happyhour.png', alt: "Villaggio's happy hour menu", class: "img-repsonsive hhImg") %>
        <div class="clearfix"></div><hr>
        <p class="col-md-12 textCenter nocap" style="margin-top:15px;"><b>*Coupons can not be applied.</b></p>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12"><div class="hr hr-png-10"></div></div>
