<% content_for :title do %>
Bar Specials
<% end %>
<% content_for :description do %>
Keep up with Ginny Lane's specials, &amp; never miss one of our great deals.
<% end %>

 <section class="page-title-bar">
	<div class="col-md-6 col-md-offset-3 col-xs-12">
		<div class="heading-box">
			<h2>Ginny Lane's</h2>
	        <h1>Bar Specials</h1>
	    </div>
    </div>
</section>

<div class="page-content">
    <div class="row x-padding">
        	<div class="col-md-6 spec-l">
            	<h3 class="fancy-heading center">Weekly Bar Specials</h3>
            	<ul class="barspecials">
            		<li class="col-md-6 "><span>Miller Lite Monday:</span><br> $1.50 Miller Lite Bottles</li>
            		<li class="col-md-6 "><span>Tequila Tuesday:</span><br> $1.99 Margarita on the Rocks</li>
            		<li class="col-md-6 "><span>Wine Down Wednesday:</span><br> $3 House Wine</li>
            		<li class="col-md-6 "><span>Drafty Thursday:</span><br> $2 off All Draft Beer</li>
            		<li class="col-md-6 "><span>Friday:</span><br> $3 Bloody Mary's </li>
            		<li class="col-md-6 "><span>Sunday:</span><br> Your First Mimosa is $0.01<br> and $3 Bloody Mary's</li>
            		<li class="col-md-12">
            			<span>Saturday and Sunday, all day:</span><br>
						$8 Bud Light Pitchers &nbsp;|&nbsp;
						$2 Michelob Ultra Bottles &nbsp;|&nbsp;
						$3 Well Drinks
					</li>
            	</ul>
            </div>

            <div class="col-md-6 spec-r">
            	<div id="happyhour-box" class="col-md-12 col-xs-12">
                	<div class="fancy-heading center">
                		<h3>Happy Hour</h3>
                    	<p><span>Every Day, 2 pm - 5 pm:</span></p>
                    </div>

                	<ul class="hh-specials">
                		<div class="col-md-10 col-md-offset-1 col-xs-12">
							<li class="col-md-6"><span>$2</span> Domestic Bottles</li>
							<li class="col-md-6"><span>$3</span> House Wine</li>
							<li class="col-md-6"><span>$5</span> Draft Wine</li>
							<li class="col-md-6"><span>$5</span> Select Martinis</li>
							<li class="col-md-6"><span>$3.50</span> Well Drinks</li>
						</div>
                	</ul>
                </div>
          	</div>
    </div>

    <div class="section-gray">
    	<div class="container">
            <div class="row">
             	<div class="col-md-12 col-xs-12">
             		<div class="col-md-6 mobile-hide">
                        <%= image_tag('martini.jpg', alt: 'Ginny Lane Bar and Grill, Orange Beach - Drink Specials', class: 'img-responsive') %> 
                    </div>

	                <div class="col-md-6 col-xs-12">
		                <div class="lunch-mart food-menus">			                
	                    	<div class="fancy-heading center">
	                    		<h3 id="penny">Daily Penny Martini</h3>

		                    	<p class="food-menus">*one penny martini per person, per day.<br> No purchase required.</p>
		                    </div>

		                    <div class="col-md-12 col-xs-12">
		                    	<h4>Strawberry Lemonade</h4>
								<p>Vodka, strawberry puree, lemonade </p>
		                    </div>

		                    <div class="col-md-12 col-xs-12">
		                    	<h4>Blue Marga-tini</h4>
								<p>Tequila, blue curacao, lemon lime mix, salted rim</p>
		                    </div>

		                    <div class="col-md-12 col-xs-12">
								<h4>Pineapple Upside Down</h4>
								<p>Rum, pineapple juice, grenadine </p>
		                    </div>
		                </div>		                    	
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
            