<% @page_title = "Happy Hour Menu" %>
<% @page_description = "Join Villaggio for Happy Hour Celebrations!" %>

<div id="happyhour-page">
    <div id="page-title" class="pt-bkg-image image-hh">
        <div class="overlay">
            <div class="title-container">
                <section class="fancy-heading center">
                    <h1>Happy Hour Menu</h1>
                    <h3>Ask your server about our Penny Cocktails!</h3>
                </section>
            </div>
        </div>
    </div>

    <div class="page-content p-top-1">
        <div class="food-menus">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-10 col-md-offset-1 col-xs-12">
                        <div class="fancy-heading center"><h2>Drink Specials</h2></div>

                        <div class="special">
                            <div class="col-md-12 col-xs-12">
                                <h3>$5 Martinis</h3>
                                <p>Cosmopolitan, Lemon Drop, Manhattan</p>
                            </div>
                        </div>

                        <div class="special">
                            <div class="col-md-12 col-xs-12">
                                <h3>$3 House Wine</h3>
                                <p>Pinot Grigio, Chardonnay, White Zinfandel, Pinot Noir, Merlot, Cabernet</p>
                            </div>
                        </div>

                        <div class="special">
                            <div class="col-md-12 col-xs-12">
                                <h3>$3.50 Well Drinks</h3>
                            </div>
                        </div>

                        <div class="special">
                            <div class="col-md-12 col-xs-12">
                                <h3>$2.50 Domestic Beers</h3>
                                <p>Bud Light, Coors, Michelob Ultra, Miller Lite, Budweiser</p>
                            </div>
                        </div>
                        <p>Coupons can not be applied.</p>
                    </div>

                    <!-- <div class="col-md-5 col-xs-12">
                        <div class="fancy-heading center"><h2>$8 Bar Snack Specials</h2></div>
                        <h4>Popcorn Shrimp with Fries</h4>
                        <h4>Two Sliders (Beef, Cheddar, Tomato, Cornichon) with Chips</h4>
                        <h4>Wood Fired Cheese Pizza</h4>
                        <h4>Meatballs in Marinara</h4>
                        <h4>Mini Chicken and Cheese Quesadilla<br>
                            <span>with Jalapeño &amp; Sour Cream</span></h4>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12"><div class="hr hr-png-10"></div></div>
