<% @page_title = "Happy Hour Menu" %>
<% @page_description = "Join Villaggio for Happy Hour Celebrations!" %>

<div id="happyhour-page">
    <div id="page-title" class="pt-bkg-image image-hh">
        <div class="overlay">
            <div class="title-container">
                <section class="fancy-heading center">
                    <h1>Happy Hour Menu</h1>
                </section>
            </div>
        </div>
    </div>

    <div class="page-content p-top-1">
        <div class="food-menus">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-10 col-md-offset-1 col-xs-12">
                        <div class="fancy-heading center">
                            <h2>Drink Specials</h2>
                            <p class="h4">Ask your server about our 25¢ Cocktails!</h4>
                        </div>

                        <div class="special">
                            <div class="col-md-12 col-xs-12">
                                <h3>$5 Martinis</h3>
                                <p>Lemon Drop, Villaggio Bellini, Manhattan</p>
                            </div>
                        </div>

                        <div class="special">
                            <div class="col-md-12 col-xs-12">
                                <h3>$4 House Wine</h3>
                                <!-- <p>Pinot Grigio, Chardonnay, White Zinfandel, Pinot Noir, Merlot, Cabernet</p> -->
                            </div>
                        </div>

                        <div class="special">
                            <div class="col-md-12 col-xs-12">
                                <h3>$5 Cocktails</h3>
                                <p>Aperol Spritz, White or Red Sangria</p>
                            </div>
                        </div>

                        <div class="special">
                            <div class="col-md-12 col-xs-12">
                                <h3>$3 Domestic Beers</h3>
                                <p>Miller Lite, Bud Light, Michelob Ultra, Coors, Yuengling, Budweiser</p>
                            </div>
                        </div>

                        <div class="special"><div class="col-md-12 col-xs-12"><h3>$6 Calamari</div></div>

                        <div class="special"><div class="col-md-12 col-xs-12"><h3>$6 Garlic Cheese Bread</h3></div></div>
                        <div class="special"><div class="col-md-12 col-xs-12">
                            <h3>$8 Chef's Choice Board</h3>
                            <p>Includes 1 meat, 1 cheese, assorted fruits, vegetables, and spreads</p>
                        </div></div>

                        <div class="clearfix"></div><hr class="hlf">
                        <p><b>Coupons can not be applied.</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12"><div class="hr hr-png-10"></div></div>
