<% @page_title = "Happy Hour Menu" %>
<% @page_description = "Join Villaggio for Happy Hour Celebrations!" %>

<div id="happyhour-page">
  <div id="page-title" class="pt-bkg-image image-hh">
    <div class="overlay">
      <div class="title-container">
        <section class="fancy-heading center"><h1>Happy Hour Menu<br>Served Daily from 3-6pm</h1></section>
      </div>
    </div>
  </div>

  <div class="page-content p-top-1">
    <div class="food-menus">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-6 col-xs-12">
            <div class="fancy-heading center">
              <h2>Drink Specials</h2>
              <!-- <p class="h4">Ask your server about our 25¢ Cocktails!</p> -->
            </div>

            <div class="special">
              <div class="col-md-12 col-xs-12">
                <h3>$3 Domestic Beers</h3>
                <p>Miller Light, Bud Light, Michelob Ultra, Coors, Yuengling, Budweiser</p>
              </div>
            </div>

            <div class="special">
              <div class="col-md-12 col-xs-12">
                <h3>$4 House Wine</h3>
                <p>Chardonnay, Pinot Grigio, White Zinfandel, Cabernet, Pinot Noir, Merlot</p>
              </div>
            </div>

            <div class="special">
              <div class="col-md-12 col-xs-12">
                <h3>$4.50 Cocktails</h3>
                <p>Amaretto Sour, Cosmo, Gin Punch</p>
              </div>
            </div>

            <div class="special">
              <div class="col-md-12 col-xs-12">
                <h3>$5 Martinis</h3>
                <p>Lemon Drop, Finesse, The Big Apple</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-xs-12">
            <div class="fancy-heading center">
              <h2>Food Specials</h2>
            </div>

            <div class="special"><div class="col-md-12 col-xs-12">
              <h3>Short Rib Bruschetta - $12</h3>
              <p>Baby Carrot, Fried Leaks, Horseradish Cream</p>
            </div></div>
            
            <div class="special"><div class="col-md-12 col-xs-12">
              <h3>House-made Butternut Squash Tortellini - $10</h3>
              <p>Capers, Caramelized Onions and Sage Brown Butter</p>
            </div></div>
            
            <div class="special"><div class="col-md-12 col-xs-12">
              <h3>Chili Butter Shrimp Skewer - $8</h3>
              <p>Heirloom Grape Tomatoes, Silver Dollar Mushrooms, Jalapeño, Chili Risotto</p>
            </div></div>

            <div class="special"><div class="col-md-12 col-xs-12"><h3>Half-Off All Pizzas</h3></div></div>
          </div>

          <div class="clearfix"></div><hr>
          <p class="col-md-12 text-center" style="margin-top:15px;"><b>*Coupons can not be applied.</b></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12"><div class="hr hr-png-10"></div></div>
