<% @page_title = "Happy Hour Menu" %>
<% @page_description = "Join Villaggio for Happy Hour Celebrations!" %>

<div id="happyhour-page">
  <div id="page-title" class="pt-bkg-image image-hh">
    <div class="overlay">
      <div class="title-container">
        <%# <section class="fancy-heading center"><h1>Happy Hour Menu<br>Served Daily from 2-6pm</h1></section> %>
        <h1>Enjoy Our Amazing Specials!</h1>
      </div>
    </div>
  </div>

  <div class="simpleBanner tinis flex">
    <div class="medDef flex even textLeft">
      <div>
      <h3>$4 Martinis</h3>
      <p>Served daily from 12-6pm</p>
      </div>

      <div><h4>Lemon Drop <span>&middot;</span> Cosmo <span>&middot;</span> Big Apple</h4></div>
    </div>
  </div>
  <div class="simpleBanner light happy">
    <div class="kpWrap">
      <h3>Happy Hour Menu</h3>
      <p>Served daily from 2-6pm</p>
    </div>
  </div>

  <div class="mainWrap">
    <div class="medDef">
      <div class="fullSec">
        <div class="col left">
          <div class="fancy-heading center">
            <h3>Drink Specials</h3>
          </div>

          <div class="special">
            <h4>$3 Domestic Beers</h4>
            <p>Miller Light, Bud Light, Michelob Ultra, Coors Light, Budweiser, Yuengling</p>
          </div>

          <div class="special">
            <h4>$4 House Wine</h4>
            <p>Chardonnay, Pinot Grigio, White Zinfandel, Cabernet, Pinot Noir, Merlot</p>
          </div>

          <div class="special">
            <h4>$3 Well Drinks</h4>
          </div>
        </div>

        <div class="col right">
          <div class="fancy-heading center">
            <h3>Food Specials</h3>
          </div>

          <div class="special">
            <h4>Short Rib Bruschetta - $8</h4>
            <p>Baby Carrot, Fried Leaks, Horseradish Cream</p>
          </div>
          
          <div class="special">
            <h4>Housemade Meatballs And Polenta - $8</h4>
          </div>
          
          <div class="special">
            <h4>Chili Butter Shrimp Skewer - $8</h4>
            <p>Heirloom Grape Tomatoes, Silver Dollar Mushrooms, Jalapeño, Chili Risotto</p>
          </div>

          <div class="special"><h4>Half-Off All Pizzas</h4></div>
        </div>

        <div class="clearfix"></div><hr>
        <p class="col-md-12 textCenter nocap" style="margin-top:15px;"><b>*Coupons can not be applied.</b></p>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12"><div class="hr hr-png-10"></div></div>
