<% @page_title = "" %>
<% @page_description = "" %>



<section class="tabs-example">
    <div class="tabs">
        <div class="container no-padding">
            <div id="accordeon" class="col-md-12 no-padding">
                <div class="cbp-item">
                    <div class="cbp-caption first">
                        <div class="cbp-caption-defaultWrap">
                        <h4></h4>
                        </div>

                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-body">
                                <div class="menu-item"></div>
                            </div>
                        </div>
                    </div>

                    <div class="cbp-caption second">
                        <div class="cbp-caption-defaultWrap">
                        <h4></h4>
                        </div>

                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-body">
                                <div class="menu-item"></div>
                            </div>
                        </div>
                    </div>

                    <div class="cbp-caption third">
                        <div class="cbp-caption-defaultWrap">
                        <h4></h4>
                        </div>

                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-body">
                                <div class="menu-item"></div>
                            </div>
                        </div>
                    </div>

                    <div class="cbp-caption fourth">
                        <div class="cbp-caption-defaultWrap">
                        <h4></h4>
                        </div>

                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-body">
                                <div class="menu-item"></div>
                            </div>
                        </div>
                    </div>

                    <div class="cbp-caption fifth">
                        <div class="cbp-caption-defaultWrap">
                        <h4></h4>
                        </div>

                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-body">
                                <div class="menu-item"></div>
                            </div>
                        </div>
                    </div>

                    <div class="cbp-caption sixth">
                        <div class="cbp-caption-defaultWrap">
                        <h4></h4>
                        </div>

                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-body">
                                <div class="menu-item"></div>
                            </div>
                        </div>
                    </div>

                    <div class="cbp-caption seventh">
                        <div class="cbp-caption-defaultWrap">
                        <h4></h4>
                        </div>

                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-body">
                                <div class="menu-item"></div>
                            </div>
                        </div>
                    </div>

                    <div class="cbp-caption eighth">
                        <div class="cbp-caption-defaultWrap">
                        <h4></h4>
                        </div>

                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-body">
                                <div class="menu-item"></div>
                            </div>
                        </div>
                    </div>

                    <div class="cbp-caption ninth">
                        <div class="cbp-caption-defaultWrap">
                        <h4></h4>
                        </div>

                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-body">
                                <div class="menu-item"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
