<!-- can you add by reservation on line only and the open table tab? -->
<% @page_title = "New Year's Eve" %>
<% @page_description = "Spend New Year's Eve at Villaggio Grille! With multiple seatings and a special, holiday menu, we will make your year!" %>

<div class="events-listing-page">
    <div id="page-title" class="pt-bkg-image image-nye">
      <div class="container">
        <div class="title-container less">
          <h1>New Year's Eve</h1>
        </div>
      </div>
    </div>

    <div class="page-content faq-section">
	    <div class="tabs">
        <div id="js-filters-tabs" class="cbp-l-filters-big">
		      <div data-filter=".details" class="cbp-filter-item cbp-filter-item-active">
	          <div class="tab-title">Details</div>
	        </div>

          <div data-filter=".early" class="cbp-filter-item">
	          <div class="tab-title">Early Bird Menu</div>
	        </div>

          <div data-filter=".reg" class="cbp-filter-item ">
            <div class="tab-title">Menu</div>
          </div>
        </div>

	      <div class="container food-menus no-padding">
	        <div id="faq" class="cbp cbp-l-grid-faq">
	          <div class="cbp-item details">
							<div class="dets">
	          		<%= image_tag('ny-small1.png', alt: 'New Years Eve at Villaggio Grille', class: 'img-responsive nyimg') %>
		          	<h2 class="inv">Join us for a four course meal, &amp; champagne toast</h2>
		          	<h4>Sunday, December 31, 2017</h4>
		          	<hr class="hlf">

								<div class="time"><h4><b>Early Bird Seating:</b><br> 5pm <span>/</span> $60</h4></div>
								<div class="time"><h4><b>Additional Seatings:</b><br> 6:30pm, 8:30pm, 10pm <span>/</span> $100</h4></div>
								<div class="res-link"><%= link_to "Make Reservations", opentable_path, :target => '_blank', class: 'res' %></div>
	              <div class="clearfix"></div>
					      <h5>*Reservations can be made online only</h5>
		          </div>
		        </div>

		        <div class="cbp-item early">
		        	<h2>New Year's Eve Early Bird Menu</h2>
		        	<p class="railway">5pm <span>/</span> $60</p>
          	  <div class="inline-service">
				        <!-- <h3>Appetizer Course</h3>
				        <div class="title-line"></div>
				        <div class="clearfix"></div>
				        <div class="service-box-2">
				        	<h4>Smoked Trout Crostini</h4>
				        	<h5>Caviar, Red Onions, Radish Sprouts</h5>
				        </div>

				        <div class="service-box-2">
				        	<h4>Ostrich Carpaccio</h4>
				        	<h5>Red Onion, Capers, Gruyere, Arugula, Whole Grain Mustard</h5>
				        </div> -->


				        <h3>Soup or Salad Course</h3>
				        <div class="title-line"></div>
				        <div class="clearfix"></div>
				        <div class="service-box-2">
				        	<h4>Mix Green</h4>
				        	<h5>Toasted Almonds, Cucumbers, Feta, Lunchbox Peppers, Roasted Garlic Vinaigrette</h5>
				        </div>

				        <div class="service-box-2">
				        	<h4>Fresh Tomato Caesar</h4>
				        	<h5>Crispy Tasso, Parmesan Cheese</h5>
				        </div>

				        <div class="service-box-2">
				        	<h4>Pumpkin &amp; Crab</h4>
				        	<h5>Sweet Pumpkin, Vanilla, Lump Crab</h5>
				        </div>

				        <h3>Entrèe Course</h3>
				        <div class="title-line"></div>
				        <div class="clearfix"></div>
				        <div class="service-box-2">
				        	<h4>Wild Salmon</h4>
				        	<h5>Roasted Spaghetti Squash, Beets, Blackened Crawfish Cream</h5>
				        </div>

				        <div class="service-box-2">
				        	<h4>Golden Tile</h4>
				        	<h5>Triple Pea Hoppin' John, Sweet Chili Collard Greens, Garlic Blossoms, Citrus Beurre Blanc</h5>
				        </div>

				        <div class="service-box-2">
				        	<h4>Bone-In Filet</h4>
				        	<h5>Roasted Tomato &amp; Shrimp Mashed Potatoes, Asparagus, Roasted Garlic Vinaigrette</h5>
				        </div>

				        <div class="service-box-2">
				        	<h4>Roasted Split Chicken</h4>
				        	<h5>Roasted Potatoes, Seasonal Root Vegetables, Brown Butter Vinaigrette</h5>
				        </div>

				        <h3>Dessert Course</h3>
				        <div class="title-line"></div>
				        <div class="clearfix"></div>
				        <div class="service-box-2">
				        	<h4>Gran Mariner Crème Brulee</h4>
				        	<h5>Banana Caramel Creme</h5>
				        </div>

				        <div class="service-box-2">
				        	<h4>Extreme Chocolate Cake</h4>
				        </div>
				      </div>
			      </div>

	          <div class="cbp-item reg">
		        	<h2>New Year's Eve Menu</h2>
		        	<p class="railway"> 6:30pm, &nbsp;8:30pm, &nbsp;10pm <span>/</span> $100</p>

          	  <div class="inline-service">
	          	  <h3>Appetizer Course</h3>
	          	  <div class="title-line"></div>
				        <div class="clearfix"></div>
	          	  <div class="service-box-2">
	          	  	<h4>Smoked Trout Crostini</h4>
	          	  	<h5>Caviar, Red Onions, Radish Sprouts</h5>
	          	  </div>

	          	  <div class="service-box-2">
	          	  	<h4>Soft Shell BLT</h4>
	          	  	<h5>Tempura Soft Shell Crab, Picked Heirloom Tomato, Rye Crostini, Corn Shoots, Pea Tendrils, Bacon Vinaigrette</h5>
	          	  </div>

	          	  <div class="service-box-2">
	          	  	<h4>Raw Local Oyster Trio</h4>
	          	  	<h5>Turtle Backs, Mon Louis, Murder Point, Served with Mignonette and Cocktail</h5>
	          	  </div>

	          	  <div class="service-box-2">
	          	  	<h4>Ostrich Carpaccio</h4>
	          	  	<h5>Red Onion, Capers, Gruyere, Arugula, Whole Grain Mustard</h5>
	          	  </div>
	          	</div>
	          	<div class="clearfix"></div>

          	  <div class="inline-service">
	          	  <h3>Soup or Salad Course</h3>
	          	  <div class="title-line"></div>
				        <div class="clearfix"></div>
	          	  <div class="service-box-2">
	          	  	<h4>Caprese</h4>
	          	  	<h5>Heirloom Tomatoes, Micro Basil &amp; Baby Greens, Balsamic Vinaigrette</h5>
	          	  </div>

	          	  <div class="service-box-2">
	          	  	<h4>Mix Green</h4>
	          	  	<h5>Toasted Almonds, Cucumbers, Feta, Lunchbox Peppers, Roasted Garlic Vinaigrette</h5>
	          	  </div>

	          	  <div class="service-box-2">
	          	  	<h4>Fresh Tomato Caesar</h4>
	          	  	<h5>Crispy Tasso, Parmesan Cheese</h5>
	          	  </div>

	          	  <div class="service-box-2">
	          	  	<h4>Pumpkin &amp; Crab</h4>
	          	  	<h5>Sweet Pumpkin, Vanilla, Lump Crab</h5>
	          	  </div>

	          	  <div class="service-box-2">
	          	  	<h4>Beet &amp; Goat Chese Salad</h4>
	          	  	<h5>Arugula, Roasted Fig</h5>
	          	  </div>
							</div>
	          	<div class="clearfix"></div>

          	  <div class="inline-service">
	          	  <h3>Entrèe Course</h3>
	          	  <div class="title-line"></div>
				        <div class="clearfix"></div>
	          	  <div class="service-box-2">
	          	  	<h4>Wild Salmon</h4>
	          	  	<h5>Roasted Spaghetti Squash, Beets, Blackened Crawfish Cream</h5>
	          	  </div>

	          	  <div class="service-box-2">
	          	  	<h4>Golden Tile</h4>
	          	  	<h5>Triple Pea Hoppin' John, Sweet Chili Collard Greens, Garlic Blossoms, Citrus Beurre Blanc</h5>
	          	  </div>

	          	  <div class="service-box-2">
	          	  	<h4>Fire Roasted Spiny Lobster Tails</h4>
	          	  	<h5>Gruyere, Twice Baked Potato, Broccolini, Andouille Chive Butter</h5>
	          	  </div>

	          	  <div class="service-box-2">
	          	  	<h4>Seared Duck Breast</h4>
	          	  	<h5>Mashed Purple Sweet Potatoes, Andouille Swiss Chard, Blueberry Duck Jus</h5>
	          	  </div>

	          	  <div class="service-box-2">
	          	  	<h4>Bone-In Filet</h4>
	          	  	<h5>Roasted Tomato &amp; Shrimp Mashed Potatoes, Asparagus, Roasted Garlic Vinaigrette</h5>
	          	  </div>

	          	  <div class="service-box-2">
	          	  	<h4>Roasted Split Chicken</h4>
	          	  	<h5>Roasted Potatoes, Seasonal Root Vegetables, Brown Butter Vinaigrette</h5>
	          	  </div>
	          	</div>
	          	<div class="clearfix"></div>

          	  <div class="inline-service three">
	          	  <h3>Dessert Course</h3>
	          	  <div class="title-line"></div>
				        <div class="clearfix"></div>
	          	  <div class="service-box-2">
	          	  	<h4>Gran Mariner Crème Brulee</h4>
	          	  	<h5>Banana Caramel Creme</h5>
								</div>

	          	  <div class="service-box-2">
	          	  	<h4>Strawberry Tiramisu</h4>
								</div>

	          	  <div class="service-box-2">
	          	  	<h4>Extreme Chocolate Cake</h4>
	          	  </div>
	          	</div>
	          	<div class="clearfix"></div>
	        	</div>

		      </div>
		    </div>
			</div>
		</div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
