<% @page_title = "New Year's Eve" %>
<% @page_description = "Spend New Year's Eve at Villaggio Grille! With multiple seatings and a special, holiday menu, we will make your year!" %>


<div id="menupage" class="nodrops vpairing">
	<div class="page-content food-menus">
	  <div class="fullSec newLay">
	  	<div class="mobileHd">
    		<div class="inside">
    			<h1>Spend New Years With Us!</h1>
			    <h2>December 31</h2>
				  <p class="res">For Reservations: <a href="tel:+12512246510">251.224.6510</a></p>
          <p class="instr">Click the menu to see a larger version</p>
    		</div>
  		</div>
	    <div class="kpWrapXl">
	    	<div class="left stickyNn fwImage">
	    		<div class="text">
  			    <h2>December 31</h2>
					  <p class="res">For Reservations: <a href="tel:+12512246510">251.224.6510</a></p>
            <p class="instr">Click the menu to see a larger version</p>
	    		</div>
	      	<h1><%= image_tag('nye1.jpg', alt: 'Villaggio New Years Eve Celebration', class:'img-responsive')%></h1>
      	</div>

	      <div class="right cbp-item">
	        <div class="cbp-caption-activeWrap">
	          <div class="cbp-l-caption-body menuLink">
	            <%# <p class="instr">Click the menu image below to see a larger version.</p> %>
	            <a href="NewYearsEveMenu.pdf" target="_blank" class="menu-item menuImg"><%= image_tag "menuNye.png", alt:"Villaggio's New Year's Eve Menu", class: 'img-responsive border' %></a>
	          </div>
	        </div>
	      </div>
        <div class="clearfix"></div>
	    </div>
    </div>
  </div>
</div>
<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
