<!-- <div class="intro">
  <p class="res">For Reservations: <span><%= number_to_phone(2512246500, pattern: /(\d{3})(\d{3})(\d{4})$/,delimiter: "-", class: 'tel') %> (ex. 2)</span></p>
</div> -->
<% @page_title = "New Year's Eve" %>
<% @page_description = "Spend New Year's Eve at Villaggio Grille! With multiple seatings and a special, holiday menu, we will make your year!" %>

<div class="events-listing-page elp-nye">
  <div class="fullSec simpleTitle">
    <h1>New Year's Eve <span class="num">2022</span></h1>
    <h2>Saturday, December <span class="num">31, 2022</span></h2>
	  <p class="res">Call For Reservations: <a href="tel:+12512246500">251.224.6500</a> (ex. 2)</p>
  	<p class="instr">Click an option below to view a larger menu</p>
  </div>

  <div class="page-content XXfaq-section">
  	<div class="inside og">
		  <div class="il-event one">
	  		<h4><span class="num">3</span>-Course Early Bird Seating</h4>
	  		<p>5pm &nbsp;&middot;&nbsp; $65 per guest</p>
	  		<div class="btn-row"><a href="NewYearsMenu2023-early.pdf" target="_blank" class="btn btn-small">View Menu</a></div>
		  	<a href="NewYearsMenu2023-early.pdf" target="_blank"><%= image_tag "NewYearsMenu2023-early.jpg", class: "nye-menu", alt:"Villaggio's New Year's Early Menu" %></a>
		  </div>

		  <div class="il-event two">
	  		<h4><span class="num">4</span>-Course Seating</h4>
	  		<p>7pm &amp; 9pm &nbsp;&middot;&nbsp; $100 per guest</p>
	  		<div class="btn-row"><a href="NewYearsMenu-2023.pdf" target="_blank" class="btn btn-small">View Menu</a></div>
		  	<a href="NewYearsMenu-2023.pdf" target="_blank"><%= image_tag "NewYearsMenu-2023.jpg", class: "nye-menu", alt:"Villaggio's New Year's Eve Menu" %></a>
		  </div>
		</div>
	</div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
