<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page xwinterWine">
  <div id="page-title" class="pt-bkg-image image-events">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1>September Wine Dinner</h1>
            <h2>Hosted by Pinnacle Imports</h2>
            <h4>September 19th &nbsp;|&nbsp; 6pm <span> &nbsp;|&nbsp; </span><br>$60 per guest</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content"> <!-- fluidMenu -->
    <div class="container food-menus no-padding">
      <div class="intro">
        <p class="res">For Reservations: <span><a href="tel:+12512246510" class="tel">251-224-6510</a></span></p>
      </div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>First Course</h3>
          <h4>Panzerotti</h4>
          <h5>Truffle Mushroom and Taleggio, Arugula Pesto, Massimo's Aged Balsamic</h5>
          <p>Paired with</p>
          <h4>Poggio Terra, Barbera, Piedmont DOC, Italy</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>SECOND COURSE</h3>
          <h4>Giardiniera Salad</h4>
          <h5>Little Gem Lettuce, Chickpeas, Pickled Giardiniera, Crispy Pepperoni, and Grated Pecorino Romano</h5>
          <p>Paired with</p>
          <h4>Frecciarossa, Pinot Grigio, 'Oltrepo Pavese', Lombardia, Italy</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>MAIN COURSE</h3>
          <h4>Shrimp &amp; Orzo</h4>
          <h5>"Scampi Style", Egg Yolk, Whipped Roasted Garlic, Asparagus, Black Pepper and Parmesan Frico</h5>
          <p>Paired with</p>
          <h4>Zuccolo, Grave, Sauvignon Blanc, Friuli DOC, Italy</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>DESSERT COURSE</h3>
          <h4>Apple Crinkle Cake</h4>
          <h5>Phyllo, Honeycrisp Apple Compote, Candied Walnuts and Whipped Maple Crème Fraîche</h5>
          <p>Paired with</p>
          <h4>Pizzolato, 'MUSE' Sparkling Moscato, Veneto, Italy</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
