<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page xwinterWine">
  <div id="page-title" class="pt-bkg-image image-events">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1>French Inspired Wine Dinner</h1>
            <h2>Hosted by Christina with Rush Wines</h2>
            <h4>February 9th &nbsp;|&nbsp; 6pm <span> &nbsp;|&nbsp; </span><br>$50 per guest</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content"> <!-- fluidMenu -->
    <div class="container food-menus no-padding">
      <div class="intro">
        <p class="res">For Reservations: <span><a href="tel:+12512246500" class="tel">251-224-6500 (ext. 2)</a></span></p>
      </div>
      <div class="clearfix"></div>

      
      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>1st Course</h3>
          <h4>Grilled Watermelon</h4>
          <h5>Grilled Peaches, Feta, Peanuts, Frisée</h5>
          <p>Paired with</p>
          <h4>Château Moncontour, Crémant de Loire Brut Rosé, Loire Valley, France</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>2nd Course</h3>
          <h4>Smoked Salmon Cucumber Roll</h4>
          <h5>Cream Cheese, Topped with Shaved Radishes &amp; Dill Cream</h5>
          <p>Paired with</p>
          <h4>Vignerons des Monts de Bourgogne, Chardonnay, Burgundy, France '20</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>3rd Course</h3>
          <h4>Braised Rabbit Ravioli</h4>
          <h5>Diced Carrot, Caramelized Onion, Sugar Snap Peas, Topped with Micro Greens</h5>
          <p>Paired with</p>
          <h4>Vignerons des Monts de Bourgogne, Pinot Noir, Burgundy, France '20</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>4th Course</h3>
          <h4>French Chocolate Pot de Crème</h4>
          <h5>French Style Pot de Crème with Whipped Topping, Chocolate Fans</h5>
          <p>Paired with</p>
          <h4>Vignobles Mayard, FR Françoise Roumieux Rhone Selections, Côtes du Rhône, France '19</h4>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
