<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page xwinterWine">
  <div id="page-title" class="pt-bkg-image image-events">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1>February Wine Dinner</h1>
            <h2>Hosted by Alabama Crown</h2>

            <h4>February 29th &nbsp;|&nbsp; 6pm <span> &nbsp;|&nbsp; </span><br>$55 per guest</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content"> <!-- fluidMenu -->
    <div class="container food-menus no-padding">
      <div class="intro">
        <p class="res">For Reservations: <span><a href="tel:+12512246510" class="tel">251-224-6510</a></span></p>
      </div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>First Course</h3>
          <h4>Roasted Grape &amp; Ricotta Crostini</h4>
          <h5>Herb Ricotta, Pine Nuts, Honey, Purple and Green Grapes, House Made Baguette</h5>
          <p>Paired with</p>
          <h4>Destinata, Chenin Blanc, Santa Barbara County</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Second Course</h3>
          <h4>Cajun Stuffed Mirlitons</h4>
          <h5>Chayote Squash stuffed with Crawfish Mirepoix, Bell Peppers, Shrimp, Andouille Sausage, Bread Crumb Topping</h5>
          <p>Paired with</p>
          <h4>Chateau Bonnet, Bordeaux Blanc, Bordeaux France, 2022</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Third Course</h3>
          <h4>Parmesan Bacon Encrusted Wahoo</h4>
          <h5>Braised Fingerling Potatoes, Grilled Asparagus, Baby Heirloom Tomatoes, Caper Relish</h5>
          <p>Paired with</p>
          <h4>Black Stallion Pinot Noir, Los Carneros California, 2018</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Fourth Course </h3>
          <h4>Pistachio Cake</h4>
          <h5>Layered cream cheese &amp; strawberry filling, topped with pistachio cream, fresh strawberries</h5>
          <p>Paired with</p>
          <h4>Bach Winery, Cava Brut Rose Metodo Tradicional, Catalonia, Spain, NV</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
