<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page">
  <div id="page-title" class="pt-bkg-image image-events">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1>February Wine dinner</h1>
            <h2>Featuring Angels &amp; Cowboys &amp; Cannonball Wines<br>Hosted by Rush Wines</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content">
    <div class="container food-menus no-padding">
      <div class="intro">
          <h4>Thursday, February 21st &nbsp;|&nbsp; 6:00 p.m.<br> $40 per guest</h4>
          <p class="mobile-show"><b>For Reservations, Call:<br> <%= number_to_phone(2512246510, pattern: /(\d{3})(\d{3})(\d{4})$/,delimiter: "-", class: 'tel') %></b></p>
      </div>

      <div class="row col-md-12">
        <div class="col-md-6 col-xs-12 menu-course">
          <div class="service-box-2">
            <h3>First Course</h3>
            <h4>Tuna Poke Tacos</h4>
            <h5>Fresh Flour Tortilla, Marinated Tuna, Avocado, Onion, Soy, Sesame Seeds, and Jalapeno, Served with Cilantro Rice</h5>
            <p>Paired with:</p>
            <h4>Angels & Cowboys Rose, Sonoma County, CA ‘17</h4>
          </div>
        </div>

        <div class="col-md-6 col-xs-12 menu-course">
          <div class="service-box-2">
            <h3>Second Course</h3>
            <h4>Cumin Scented Grilled Gulf of Mexico Shrimp</h4>
            <h5>Mexican Skillet Corn with Green Onions and Cojita Cheese</h5>
            <p>Paired with:</p>
            <h4>Cannonball Chardonnay, Healdsburg, CA ‘16</h4>
          </div>
        </div>
      </div>

      <div class="col-md-10 col-md-offset-1 col-xs-12">
        <div class="hr hr-png-6"></div>
      </div>

      <div class="row col-md-12">
        <div class="col-md-6 col-xs-12 menu-course">
          <div class="service-box-2">
            <h3>Third Course</h3>
            <h4>Jerk Spiced Beef Spare Ribs</h4>
            <h5>with Chimichurri Adobo Spiced Crispy Fingerling Potatoes</h5>
            <p>Paired with:</p>
            <h4>Angels and Cowboys Proprietary Red, Sonoma County, CA ‘16</h4>
          </div>
        </div>

        <div class="col-md-6 col-xs-12 menu-course">
          <div class="service-box-2">
            <h3>Fourth Course</h3>
            <h4>Rum Cake</h4>
            <h5>Macerated Blueberries and Blackberries</h5>
            <p>Paired with:</p>
            <h4>Cannonball Merlot, Healdsburg, CA ‘16</h4>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
