<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page xwinterWine">
  <div id="page-title" class="pt-bkg-image image-events">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1>Scarpetta Wine Dinner</h1>
            <%# <h2>Hosted by Alabama Crown</h2> %>
            <h4>March 28th &nbsp;|&nbsp; 6pm <span> &nbsp;|&nbsp; </span><br>$60 per guest</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content"> <!-- fluidMenu -->
    <div class="container food-menus no-padding">
      <div class="intro">
        <p class="res">For Reservations: <span><a href="tel:+12512246510" class="tel">251-224-6510</a></span></p>
      </div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>First Course</h3>
          <h4>Spring Vegetable Flatbread</h4>
          <h5>Asparagus, Arugula, Pickled Mushrooms, Artichokes, Shaved Radish, Whipped Goat Cheese Ricotta & Fig Agrodolce</h5>
          <p>Paired with</p>
          <h4>Frico Bianco, Friuli-Venezia Giulia, Italy '22</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Second Course</h3>
          <h4>Fritto Misto</h4>
          <h5>Gulf Shrimp, Calamari, Castelvetrano Olives, Cauliflower, Fennel & Roasted Garlic-Parsley Aioli</h5>
          <p>Paired with</p>
          <h4>Frico Rosato, IGT Rosato Toscano, Italy '22</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Third Course</h3>
          <h4>Slow Braised Short Rib</h4>
          <h5>"A la Grecque" Baby Carrots, English Peas, Toasted Orzo, Braising Reduction</h5>
          <p>Paired with</p>
          <h4>Frico Sangiovese, IGT Rosso Toscano, Italy '22</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Fourth Course </h3>
          <h4>Baba Au Rhum</h4>
          <h5>Vanilla Roasted Pineapple, Dark Rum & Fresh Cream</h5>
          <p>Paired with</p>
          <h4>Scarpetta Prosecco DOC Brut, Grave del Friuli, Italy '22</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
