<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page xwinterWine">
  <div id="page-title" class="pt-bkg-image image-events">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1>All Rosé in May</h1>
            <h2>Hosted by United Johnson</h2>
            <h4>May 17th &nbsp;|&nbsp; 6pm <span> &nbsp;|&nbsp; </span><br>$50 per guest</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content"> <!-- fluidMenu -->
    <div class="container food-menus no-padding">
      <div class="intro">
        <p class="res">For Reservations: <span><a href="tel:+12512246500" class="tel">251-224-6500 (ext. 2)</a></span></p>
      </div>
      <div class="clearfix"></div>

      
      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Starter Course</h3>
          <h4>Tuna Carpaccio</h4>
          <h5>Thinly Sliced Tuna, Shaved Brussels, Edamame, Cucumber Ribbon, Fried Wonton Chips </h5>
          <p>Paired with</p>
          <h4>Domaine Chandon, Brut Rosé, California NV</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Salad Course</h3>
          <h4>Radicchio Salad</h4>
          <h5>Kale, Chickpeas, Boiled Egg, Goat Cheese Croquette, Creamy Honey Mustard</h5>
          <p>Paired with</p>
          <h4>Santa Margherita, Trevenezie Rosé, Veneto, Italy '21</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Entree Course</h3>
          <h4>Prosciutto Wrapped Stuffed Shrimp</h4>
          <h5>Smoked Gouda, Cream Cheese, Bell Peppers, Focaccia Bread Crumbs, Fondant Potatoes, Potato Frits, Romesco</h5>
          <p>Paired with</p>
          <h4>Maison No. 9, Mediterranee Rose, Provence France '21</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Dessert Course</h3>
          <h4>Strawberry Panna Cotta</h4>
          <h5>Strawberry Whipped Cream, Caramel Topping </h5>
          <p>Paired with</p>
          <h4>Bodegas Faustino, Art Collection Rosé, Rioja, Spain '21</h4>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
