<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page">
  <div id="page-title" class="pt-bkg-image image-events">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1>September Wine Dinner</h1>
            <h2>Hosted by Pinnacle Imports <br>Featuring Southern France Wines</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content fluidMenu">
    <div class="container food-menus no-padding">
      <div class="intro">
          <h4>Thursday, September 26th &nbsp;|&nbsp; 6:00 p.m.<br> $45 per guest</h4>
          <p class="mobile-show"><b>For Reservations, Call:<br> <%= number_to_phone(2512246510, pattern: /(\d{3})(\d{3})(\d{4})$/,delimiter: "-", class: 'tel') %></b></p>
      </div>

      <div class="full">
        <!-- <div class="col-md-5 col-md-offset-1 col-xs-12 menu-course"> -->
        <div class="menuFluid">
          <div class="service-box-2">
            <h3>First Course </h3>
            <h4>Goat Cheese Croquet </h4>
            <h5>Sorrel and Arugula Salad, Candy Striped and Gold Beets, Champagne Vinaigrette</h5>
            <p>Paired with:</p>
            <h4>Michel Gassier, Cercius Blanc, Vin de France Appellation ‘16</h4>
          </div>
        </div>

        <!-- <div class="col-md-5 col-xs-12 menu-course"> -->
        <div class="menuFluid">
          <div class="service-box-2">
            <h3>Second Course </h3>
            <h4>Pan Seared Scallop </h4>
            <h5>Angel Hair Pasta, Grilled Baby Squash and Zucchini, Finished with Romesco</h5>
            <p>Paired with:</p>
            <h4>Novellum, Chardonnay, Vin de France Appellation ‘16</h4>
          </div>
        </div>
      </div>

      <div class="col-md-10 col-md-offset-1 col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>

      <div class="full">
        <!-- <div class="col-md-5 col-md-offset-1 col-xs-12 menu-course"> -->
        <div class="menuFluid">
          <div class="service-box-2">
            <h3>Third Course</h3>
            <h4>Braised Beef Cheeks </h4>
            <h5>Yukon Golden Gratin, Sautéed Spinach, Crispy Onion Haystack</h5>
            <p>Paired with:</p>
            <h4>Saint Roch, Chimères, Côtes du Roussillon Villages Appellation ‘16</h4>
          </div>
        </div>

        <!-- <div class="col-md-5 col-xs-12 menu-course"> -->
        <div class="menuFluid last">
          <div class="service-box-2">
            <h3>Fourth Course </h3>
            <h4>Dark Chocolate Sponge Cake </h4>
            <h5>Caramelized Alabama Peach Cobbler</h5>
            <p>Paired with:</p>
            <h4>Domaine Lafage, Tessellae Carignan, Côtes Catalanes Appellation, France ‘16</h4>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
