<% @page_title = "Special Events |" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page xwinterWine custStylePTA">
  <div id="page-title" class="pt-bkg-image image-events">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1>Annual Pink Tie Affair <br> <span>5-Course Dinner</span></h1>
            <h4 class="one">October 16th &nbsp;|&nbsp; 6pm <span class="rules"> &nbsp;|&nbsp; </span><br class="rules">$90 per guest</h4>
            <h4 class="two">Featuring Pink Heals <span>~</span><br> Local Baldwin Charter for Raffle</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  

  <div class="page-content"> <!-- fluidMenu -->
    <div class="container food-menus no-padding">
      <div class="intro">
        <p class="res dets">
          Passed Hors Devours &amp; Cocktails start at 6pm on Patio 
          <br>
          Seated for Dinner at 6:30pm <span class="dot d1"> &middot; </span>
          <br class="br55"> 
          Music by Boardwalk Soundtrack
        </p>
        <p class="res">For Reservations: <span><a href="tel:+12512246510" class="tel">251-224-6510</a></span></p>
      </div>
      <div class="clearfix"></div>

     <div class="course">
       <div class="service-box-2">
         <h3>Passed Hors Devours on Patio</h3>
         <h4>Pear &amp; Pistachio Tartlet</h4>
         <h5>Puff Pastry, Brie Cheese and Blood Orange Gastrique</h5>
         <h4>BBQ Bacon Wrapped Shrimp</h4>
         <h5>Shrimp Wrapped in Bacon and Topped with BBQ Glaze</h5>
         <p>Paired with</p>
         <h4>The Coconut Pink Whitney Cocktail</h4>
         <h5>with a Toasted Coconut Rim</h5>
       </div>
     </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Second Course</h3>
          <h4>Butternut Squash Spring Roll</h4>
          <h5>Puréed Butternut Squash, Bell Peppers, Sautéed Onions, Tangy Sweet Chili Glaze</h5>
          <p>Paired with</p>
          <h4>Ruffino, Aqua di Venus, Pinot Grigio, Friuli DOC</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Salad Course</h3>
          <h4>Scallop &amp; Apple Salad</h4>
          <h5>Arugula, Baby Spinach, Peaches, Red Apples, Burrata, Toasted Pine Nuts, Candied Bacon Bits and Blueberry Vinaigrette</h5>
          <p>Paired with</p>
          <h4>Ruffino, Orvieto Classico, DOCG, '22</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Entrée Course</h3>
          <h4>Rosemary Braised Lamb Shank</h4>
          <h5>Garlic Herb Fingerling Potatoes, Sautéed Kale &amp; Toasted Almonds with a Blackberry Reduction</h5>
          <p>Paired with</p>
          <h4>Ruffino, Modus, Toscana, IGT, '18</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Dessert Course</h3>
          <h4>Italian Agrodolce Tiramisu Cannoli</h4>
          <p>Paired with</p>
          <h4>Ruffino, Riserva Ducale, Chianti Classico, Gran Selezione, DOCG, '19</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
