<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page xwinterWine">
  <div id="page-title" class="pt-bkg-image image-events">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1>November Wine Dinner</h1>
            <h2>Featuring Flavors, Food and Wine, from Washington State</h2>

            <h4>November 9th &nbsp;|&nbsp; 6pm <span> &nbsp;|&nbsp; </span><br>$50 per guest</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content"> <!-- fluidMenu -->
    <div class="container food-menus no-padding">
      <div class="intro">
        <p class="res">For Reservations: <span><a href="tel:+12512246500" class="tel">251-224-6500 (ext. 2)</a></span></p>
      </div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Course One </h3>
          <h4>Grilled Pear and Brie Wonton</h4>
          <h5>Toasted Peanuts, Rosemary Infused Honey Glaze</h5>
          <p>Paired with</p>
          <h4>Lulu Blanc de Blanc, NV, Washington</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Course Two </h3>
          <h4>Scallop Stack</h4>
          <h5>Seared Diver Scallops, Baked Washington Apple, Spiced Walnut, Basil Pesto</h5>
          <p>Paired with</p>
          <h4>Simply Chardonnay, Washington '20</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Course Three</h3>
          <h4>Blackberry Glazed King Salmon</h4>
          <h5>Roasted Beet and Parsnip Stir-Fry Topped with Blackberry Compote</h5>
          <p>Paired with</p>
          <h4>Milbrandt, Estate Cabernet '21</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Course Four </h3>
          <h4>Washington Apple</h4>
          <h5>Cinnamon, Nutmeg Mousse Filled with Apple Compote and Covered in a Chocolate Glaze</h5>
          <p>Paired with</p>
          <h4>Milbrandt "Family" Pinot Grigio, Columbia Valley, WA '21</h4>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
