<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page">
  <!-- <div id="page-title" class="pt-bkg-image image-pink">
    image-events
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1>September Wine Dinner</h1>
            <h2>Hosted by Alabama Crown</h2>
            <h4>Thursday, September 23rd &nbsp;|&nbsp; 6pm<br>$60 per guest</h4>
          </div>
        </div>
      </div>
    </div>
  </div> -->


  <div class="custom-pt-intro">
    <div class="custom-pt-text">
      <h1>A Pink Tie Affair<br><span>Five Course Dinner in Honor of<br> Breast Cancer Awareness</span></h1>
      <h2>Thursday, October 21st &nbsp;|&nbsp; 6pm<br class="one"> &nbsp;|&nbsp; $70 per guest <br class="two"><b>Pink Cocktail Attire</b></h2>
      <h3>Featuring Diora Winery &amp; Hosted by Alabama Crown<br>Music Entertainment Brought to you By Cello Salad</h3>
    </div>
    <%=image_tag('wineOctPinkHd.jpg', alt: "Villaggio's October Wine Dinner", class: 'img-responsive')%>
  </div>


  <div class="page-content PinkMenu"> <!-- fluidMenu -->
    <div class="container food-menus no-padding">
      <div class="intro">
        <p class="res">For Reservations: <span><a href="tel:+12512246510" class="tel">251-224-6510</a></span></p>
      </div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>First Course - On Patio</h3>
          <h4>Salmon Roe Over Murder Point Oysters</h4>
          <h5>Roasted Peach, Honey Ricotta, Spiced Walnuts, Crostini</h5>
          <p>Accompanied By:</p>
          <h4>Tito's Raspberry Bellini</h4>
        </div>
      </div>
      
      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Second Course</h3>
          <h4>Butter Lettuce, Strawberry Salad</h4>
          <h5>Feta, Sunflower Seeds, Mandarin Vinaigrette</h5>
          <p>Accompanied By:</p>
          <h4>Diora Rose</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Third Course</h3>
          <h4>Shrimp Angel Hair Pasta</h4>
          <h5>Chili Infused Brown Butter, Cremini Mushrooms, Thyme, Toasted Bread Crumbles</h5>
          <p>Accompanied By:</p>
          <h4>Diora Chardonnay</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Fourth Course</h3>
          <h4>Pork Chop</h4>
          <h5>Fig and Grape Agrodolce, Radicchio Salad</h5>
          <p>Accompanied By:</p>
          <h4>Diora Red Blend</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Fifth Course</h3>
          <h4>Chocolate Cherry Upside Down Cake</h4>
          <p>Accompanied By:</p>
          <h4>Diora Pinot Noir</h4>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
