<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page">
  <div id="page-title" class="pt-bkg-image image-events">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1>Fall Wine Dinner</h1>
            <h2>Hosted by International Wines</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content fluidMenu">
    <div class="container food-menus no-padding">
      <div class="intro">
          <h4>Thursday, October 17th &nbsp;|&nbsp; 6:00 p.m.<br> $55 per guest</h4>
          <p class="mobile-show"><b>For Reservations, Call:<br> <%= number_to_phone(2512246510, pattern: /(\d{3})(\d{3})(\d{4})$/,delimiter: "-", class: 'tel') %></b></p>
      </div>

      <div class="full">
        <div class="menuFluid">
          <div class="service-box-2">
            <h3>First Course</h3>
            <h4>Creamy Clam Chowder</h4>
            <h5>Spinach and Fall Vegetables, Herbed Ciabatta</h5>
            <p>Paired with:</p>
            <h4>Lola Rose of Pinot Noir, Mendocino and Sonoma Coast, CA ‘16</h4>
          </div>
        </div>

        <div class="menuFluid">
          <div class="service-box-2">
            <h3>Second Course</h3>
            <h4>Stuffed Shells with Spicy Duck Sausage </h4>
            <h5>Sauce Arrabbiata </h5>
            <p>Paired with:</p>
            <h4>David Bynum, 100% Chardonnay, Russian River Valley, CA ‘14</h4>
          </div>
        </div>
      </div>

      <div class="col-md-10 col-md-offset-1 col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>

      <div class="full">
        <div class="menuFluid">
          <div class="service-box-2">
            <h3>Third Course </h3>
            <h4>Chicken Cacciatore with Dried Porcini </h4>
            <h5>Oven Dried Tomatoes, Braised Cabbage </h5>
            <p>Paired with:</p>
            <h4>Head High Pinot Noir, Sonoma Coast, CA 14</h4>
          </div>
        </div>

        <div class="menuFluid">
          <div class="service-box-2">
            <h3>Fourth Course</h3>
            <h4>Affogato Bread Pudding</h4>
            <h5>Vanilla Ice Cream, Coco Nibs and Hazelnut Anglaise</h5>
            <p>Paired with:</p>
            <h4>Steele Zinfandel, Catfish Vineyards, CA ‘14</h4>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
