<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page xwinterWine">
  <div id="page-title" class="pt-bkg-image image-events">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1>San Simeon Wine Dinner</h1>
            <h2>Hosted by Alabama Crown</h2>
            <h4>March 23rd &nbsp;|&nbsp; 6pm <span> &nbsp;|&nbsp; </span><br>$50 per guest</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content"> <!-- fluidMenu -->
    <div class="container food-menus no-padding">
      <div class="intro">
        <p class="res">For Reservations: <span><a href="tel:+12512246500" class="tel">251-224-6500 (ext. 2)</a></span></p>
      </div>
      <div class="clearfix"></div>

      
      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>1st Course</h3>
          <h4>Crottin de Chavignol Toasts</h4>
          <h5>Endive, Pear, Pomegranate Seeds, Basil</h5>
          <p>Paired with</p>
          <h4>San Simeon, Sauvignon Blanc, Paso Robles, CA '21</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>2nd Course</h3>
          <h4>Kale Fettuccine</h4>
          <h5>Scratch Made Basil Pesto Over Kale Fettuccine, Walnuts</h5>
          <p>Paired with</p>
          <h4>San Simeon Chardonnay, Monterey Valley, CA '18</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>3rd Course</h3>
          <h4>Beef Braciole</h4>
          <h5>Skirt Steak Stuffed with Gruyere &amp; Ricotta Cheese, Roasted Yukon Gold Potatoes, Pecorino Romano</h5>
          <p>Paired with</p>
          <h4>San Simeon Cabernet Sauvignon, Paso Robles, CA '20</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>4th Course</h3>
          <h4>Black Forrest Tart</h4>
          <h5>Dark Chocolate, Cherry Filling</h5>
          <p>Paired with</p>
          <h4>San Simeon Pinot Noir, Monterey Valley, CA '21</h4>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
