<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page">
  <div id="page-title" class="pt-bkg-image image-events">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1 class="lh1">Pacific Northwest <br>Five Course Wine Dinner</h1>
            <h2>Hosted by Alabama Crown</h2>
            <h4>December 29th &nbsp;|&nbsp; 6:00pm<br> $90 per guest</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content"> <!-- fluidMenu -->
    <div class="container food-menus no-padding">
      <div class="intro">
        <p class="res">For Reservations: <span><%= number_to_phone(2512246500, pattern: /(\d{3})(\d{3})(\d{4})$/,delimiter: "-", class: 'tel') %> (ex. 2)</span></p>
      </div>

      <div class="col-md-10 center-block col-sm-12"><!-- menuFluid -->
        <div class="service-box-2">
          <h3>First Course </h3>
          <h4>Herb Whipped Manchego and Ricotta Cheese<br>
          Brioche Crostinis<br>
          Salted Pistachios <br>
          Smoked Salmon </h4>
          <p>Paired with:</p>
          <h4>2016 Argyle Vintage Brut, Willamette Valley, OR</h4>
        </div>
      </div>
      
      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Second Course</h3>
          <h4>Grilled Peach Caprese Salad</h4>
          <h5>Burrata Cheese, Tomato, Mint Glaze</h5>
          <p>Paired with:</p>
          <h4>2016 Roco Gravel Road Chardonnay, Willamette Valley, OR</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Third Course</h3>
          <h4>Hot Coppa Wrapped Snapper</h4>
          <h5>Butternut Squash Gratin, Garlic Kale with Romesco</h5>
          <p>Paired with:</p>
          <h4>2011 Amalie Robert Pinot Noir, Willamette Valley, OR</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Fourth Course</h3>
          <h4>Grilled Venison Tenderloin</h4>
          <h5>Eggplant Caponata, Scalloped Fingerling Potatoes </h5>
          <p>Paired with:</p>
          <h4>2017 Tamarack Cellars Cabernet Franc, Columbia Valley, WA</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Fifth Course</h3>
          <h4>Chocolate Mousse Trifle</h4>
          <h5>Graham Cracker Crumbs</h5>
          <h4>White Chocolate Mousse, Dark Chocolate Mousse<br>
          Blueberry Mascarpone </h4>
          <p>Paired with:</p>
          <h4>2017 Browne Family Vineyards Cabernet Sauvignon, Columbia Valley, WA</h4>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
