<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page xwinterWine">
  <div id="page-title" class="pt-bkg-image image-events">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1>Robert Mondavi<br> Holiday Wine Dinner</h1>
            <h2>Presented by United Johnson</h2>
            <h4>December 28th &nbsp;|&nbsp; 6pm <span> &nbsp;|&nbsp; </span><br>$80 per guest</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content"> <!-- fluidMenu -->
    <div class="container food-menus no-padding">
      <div class="intro">
        <p class="res">For Reservations: <span><a href="tel:+12512246500" class="tel">251-224-6500 (ext. 2)</a></span></p>
      </div>
      <div class="clearfix"></div>

      
      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Passed App Course</h3>
          <h4>Three Cheese Stuffed Peppers</h4>
          <p>Paired with</p>
          <h4>Holiday Cocktail</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Salad Course</h3>
          <h4>Quinoa Neapolitan</h4>
          <h5>Endive Lettuce, Cucumber, Strawberries, Mango, Fresh Parsley, Citrus Vinaigrette</h5>
          <p>Paired with</p>
          <h4>Robert Mondavi Fume Blanc, Napa Valley '14</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Starter Course</h3>
          <h4>Whipped Feta Bread Bowl</h4>
          <h5>Crushed Pistachios, Paprika, Green Pimento Queen Olives</h5>
          <p>Paired with</p>
          <h4>Robert Mondavi Chardonnay, Napa Valley '18</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Entrée Course</h3>
          <h4>Wagyu Hanger Steak</h4>
          <h5>Sage &amp; Onion Stuffing, Roasted Carrots &amp; Parsnips, Red Wine Gravy</h5>
          <p>Paired with</p>
          <h4>Robert Mondavi Cabernet, Napa Valley '19</h4>
        </div>
      </div>


      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>


      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Dessert Course</h3>
          <h4>Pavlova</h4>
          <h5>Mascarpone Whipped Cream &amp; Cherry Compote</h5>
          <p>Paired with</p>
          <h4>Robert Mondavi Pinot Noir Reserve, Los Carneros, Napa Valley '19</h4>
        </div>
      </div>
      
    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
