<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page">
  <div id="page-title" class="pt-bkg-image image-events">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1 class="lh1">Five Course<br> Halter Ranch Wine Dinner</h1>
            <h2>Hosted by International Wines</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content"> <!-- fluidMenu -->
    <div class="container food-menus no-padding">
      <div class="intro">
          <h4>Friday, November 15th &nbsp;|&nbsp; 6:30 p.m.<br> $100 per guest</h4>
          <p class="mobile-show"><b>For Reservations, Call:<br> <%= number_to_phone(2512246510, pattern: /(\d{3})(\d{3})(\d{4})$/,delimiter: "-", class: 'tel') %></b></p>
      </div>

      <div class="col-md-10 center-block col-sm-12"><!-- menuFluid -->
        <div class="service-box-2">
          <h3>Hors d’oeuvre On the Patio</h3>
          <div class="clearfix"></div><div class="smborder"></div>
          <h4>Raw Oysters with Cucumber Mignonette</h4>
          <div class="clearfix"></div><div class="smborder less"></div>
          <h4>Salmon Tartare Bites</h4>
          <div class="clearfix"></div><div class="smborder less"></div>

          <h4>Grilled Oysters on the Half Shell</h4>
          <h5>Sage Butter and Salsa Verde Oyster &amp; Pancetta and Garlic Soffritto Oyster</h5>

          <p>Paired with:</p>
          <h4>Halter Ranch, Paso Robles 2018 Rosé</h4>
          <div class="clearfix"></div><div class="smborder less"></div>
           <!-- <br><span>&amp;</span><br> -->
           <h4>Los Monteros Cava Brut, NV</h4>
        </div>
      </div>
      
      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Seated Starter</h3>
          <div class="clearfix"></div><div class="smborder"></div>

          <h4>Hydroponic Butter Lettuce, Marinated Heirloom Tomatoes,<br> Roasted Baby Squash and Zucchini,<br> Seared Lump Crab Cake Topped with Yuzu Vinaigrette </h4>
          <p>Paired with:</p>
          <h4>Halter Ranch, Paso Robles 2017 Grenache Blanc</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Appetizer</h3>
          <div class="clearfix"></div><div class="smborder"></div>

          <h4>Boneless Baby Back Ribs</h4>
          <h5>Glazed, with Sesame and Green Onions, Shaved Brussel Sprout Slaw, Crispy Fingerling Potatoes</h5>
          <p>Paired with:</p>
          <h4>Halter Ranch, Paso Robles 2016 Syrah</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Main Course</h3>
          <div class="clearfix"></div><div class="smborder"></div>

          <h4>Braised Lamb Shank Ragout </h4>
          <h5>Red Wine, Coffee, and Chocolate Truffle Sacchetti, Sugar Snap Peas, Roasted Baby Carrots</h5>
          <p>Paired with:</p>
          <h4>Halter Ranch, Paso Robles Ancestor Estate Reserve, 2016</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>
      
      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Dessert</h3>
          <div class="clearfix"></div><div class="smborder"></div>

          <h4>Chocolate Dipped Cannoli</h4>
          <h5>Dark Cherry Mousse, Whipped Cream &amp; Powdered Sugar</h5>
          <p>Paired with:</p>
          <h4>Halter Ranch, Paso Robles 2016 CDP (Côtes de Paso)</h4>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
