<% @page_title = "Special Events |" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page xwinterWine custStylePTA">
  <div id="page-title" class="pt-bkg-image image-events">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1><span>5-Course</span><br> Holiday Wine Dinner</span></h1>
            <h4 class="one">December 19th &nbsp;&middot;&nbsp; 6pm <span class="rules"> &nbsp;&middot;&nbsp; </span><br class="rules">$100 per guest</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content"> <!-- fluidMenu -->
    <div class="container food-menus no-padding">
      <div class="intro">
        <p class="res">For Reservations: <span><a href="tel:+12512246510" class="tel">251-224-6510</a></span></p>
      </div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>First Course</h3>
          <h4>Oysters Mosca</h4>
          <h5>Oysters on Half Shell, Creole Italian Seasonings, Butter, Olive Oil. Topped with Seasoned Bread Crumbs and Parmesan Cheese.</h5>
          <p>Paired with</p>
          <h4>JCB by Jean-Charles Boisset, Cremant de Bourgogne Brut Blanc de Blancs, Burgundy, France</h4>
        </div>
      </div>
      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Second Course</h3>
          <h4>Braised Rabbit Tortellini</h4>
          <h5>Braised Rabbit, Caramelized Onion, and Ricotta. Tortellini Filled with Sage Brown Butter and Capers.</h5>
          <p>Paired with</p>
          <h4>Rombauer Vineyards, Sauvignon Blanc, CA, '23</h4>
        </div>
      </div>
      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Third Course</h3>
          <h4>Wild Mushroom Ravioli</h4>
          <h5>Raviolis with Fresh Herbs and Ricotta, Chardonnay Cream Sauce. Topped with Pecorino Romano.</h5>
          <p>Paired with</p>
          <h4>My Favorite Neighbor, Blanc San Luis Obispo County, CA, '21</h4>
        </div>
      </div>
      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Entrée Course</h3>
          <h4>Red Wine Braised Beef Shoulder</h4>
          <h5>Roasted Carrot and Parsnip Purée, Sautéed Dino Kale, Au Jus</h5>
          <p>Paired with</p>
          <h4>Mount Veeder Winery, Cabernet Sauvignon, Napa Valley, CA, '21</h4>
        </div>
      </div>
      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Dessert Course</h3>
          <h4>Dark Chocolate Coconut Tiramisù</h4>
          <h5>Espresso Soaked Lady Fingers, Coconut Flakes, Dark Cherry Coulis</h5>
          <p>Paired with</p>
          <h4>Edmeades, Zinfandel Mendocino County, CA, '22</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
