<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page">
  <div id="page-title" class="pt-bkg-image image-events">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1 class="lh1">January Wine Dinner</h1>
            <h2>Featuring Charles Smith Washington Wines<br>Hosted by United Johnson Brothers</h2>
            <h4>Thursday, January 23rd &nbsp;|&nbsp; 6:00 p.m.<br> $40 per guest</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content"> <!-- fluidMenu -->
    <div class="container food-menus no-padding">
      <div class="intro">
        <p class="res">For Reservations: <span><%= number_to_phone(2512246500, pattern: /(\d{3})(\d{3})(\d{4})$/,delimiter: "-", class: 'tel') %> (ex. 2)</span></p>
      </div>

      <div class="col-md-10 center-block col-sm-12"><!-- menuFluid -->
        <div class="service-box-2">
          <h3>First Course </h3>
          <h4>Wonton Cup Trio</h4>
          <h5>Poached Lobster, Tune Poke, Grilled Shrimp, With Sesame Slaw-Napa Cabbage, Carrots, Bell Pepper, Spicy Aioli and Green Onions</h5>
          <p>Paired with:</p>
          <h4>Kung Fu Girl Riesling, Washington State</h4>
        </div>
      </div>
      
      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Second Course</h3>
          <h4>Chicken, Spinach, and Goat Cheese Medallions </h4>
          <h5>Parmesan Quinoa, Picatta Sauce-Capers, Lemon, Caramelized Onion, Garlic</h5>
          <p>Paired with:</p>
          <h4>Band of Roses, Rosé, Washington State</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Third Course</h3>
          <h4>Teriyaki Braised Short Rib</h4>
          <h5>Shaved Brussels and Bacon, Crispy Red Potatoes </h5>
          <p>Paired with:</p>
          <h4>Boom Boom Syrah, Washington State</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Fourth Course</h3>
          <h4>Blueberry and Dark Chocolate Crumble</h4>
          <h5>Espresso Gelato </h5>
          <p>Paired with:</p>
          <h4>The Velvet Devil Merlot, Washington State </h4>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
