<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page xwinterWine">
  <div id="page-title" class="pt-bkg-image image-events">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1>A Pink Tie Affair</h1>
            <!-- <h2>Hosted by International Wine</h2> -->
            <h4>October 12th &nbsp;|&nbsp; 6pm <span> &nbsp;|&nbsp; </span><br>$80 per guest</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content"> <!-- fluidMenu -->
    <div class="container food-menus no-padding">
      <div class="intro">
        <p class="res">For Reservations: <span><a href="tel:+12512246500" class="tel">251-224-6500 (ext. 2)</a></span></p>
      </div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Passed Apps on the Patio</h3>
          <h4>Royal Red Station</h4>
          <h5>Three styles of Gulf Shrimp: Poached, Fried, &amp; Grilled</h5>
          <div class="clearfix dot text-center">&middot;</div>
          <h4>Chicken Pesto Arancini</h4>
          <h5>Grilled Chicken, Mushroom, Parmesan Risotto, Breaded &amp; Lightly Fried, Served with Basil Pesto Sauce </h5>
          <p>Paired with</p>
          <h4>"The Pink Azalea" Cocktail on the Patio</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Salad Course</h3>
          <h4>Peach &amp; Apple Salad</h4>
          <h5>Arugula, Baby Spinach, Fresh Peaches, Red Apples, Burrata Cheese, Toasted Pine Nuts, Candied Bacon Bits, Blueberry Vinaigrette </h5>
          <p>Paired with</p>
          <h4>Valle Martello, Colline Teatine Cococciola Brado, Abruzzo, Italy '22</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Appetizer Course</h3>
          <h4>Smoked Salmon Spring Roll</h4>
          <h5>Cucumber, Avocado, Capers, Red Cabbage, Carrots. Served with a Creamy Dill Sauce </h5>
          <p>Paired with</p>
          <h4>Monte Zovo, Bardolino Chiaretto Rose, Veneto, Italy</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Entrée Course</h3>
          <h4>Spinach Ricotta Stuffed Lamb Lollipop</h4>
          <h5>Encrusted with Herbs &amp; Panko, Served with Honey Balsamic Brussel Sprouts, Cauliflower Au Gratin </h5>
          <p>Paired with</p>
          <h4>Casa Vinicola Poletti, Sangiovese di Romagna Superiore, Emilia Romagna, Italy '19</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Dessert Course</h3>
          <h4>Italian Budino</h4>
          <h5>Chocolate Cake, Vanilla Bean Custard topped with Salted Caramel, Whipped Cream, &amp; Chocolate Crumbles</h5>
          <p>Paired with</p>
          <h4>Valle Martello, Villamagna Riserva, Montepulciano, Abruzzo, Italy '17</h4>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
