<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page winterWine">
  <div id="page-title" class="pt-bkg-image image-events">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1>All Rosé in May Wine Dinner</h1>
            <!-- <h2>Hosted By Lindsay with International Wines</h2> -->
            <h4>Tuesday, May 3rd &nbsp;|&nbsp; 6pm<br>$60 per guest</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content"> <!-- fluidMenu -->
    <div class="container food-menus no-padding">
      <div class="intro">
        <p class="res">For Reservations: <span><a href="tel:+12512246510" class="tel">251-224-6510</a></span></p>
      </div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>First Course</h3>
          <h4>Caramelized Watermelon Salad</h4>
          <h5>Balsamic Pearl Onions, Feta, Cucumber, Arugula</h5>
          <p>Paired with</p>
          <h4>Skouras Zoe Rosé Greece '20</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Second Course</h3>
          <h4>Red, Golden, &amp; Candy Striped Beet &amp; Goat Cheese Crostini with Rosemary Honey Drizzle</h4>
          <p>Paired with</p>
          <h4>Studio by Miraval Rosé France '20</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Third Course</h3>
          <h4>Citrus Steamed Salmon, Snap Peas with Meyer Lemon &amp; Mint, Sunflower Dill Pesto</h4>
          <p>Paired with</p>
          <h4>Brooks Rosé of Pinot Noir Willamette Valley, OR '20</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>


      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Fourth Course</h3>
          <h4>Strawberry Cream Cheese Crumb Cake</h4>
          <p>Paired with</p>
          <h4>Belstar Cuvee Rosé Italy NV</h4>
        </div>
      </div>
      
    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
