<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page">
  <div id="page-title" class="pt-bkg-image image-events">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1>La Crema Wine Dinner</h1>
            <!-- <h2>Hosted by Alabama Crown</h2> -->
            <h4>Thursday April 22nd &nbsp;|&nbsp; 6pm<br>$50 per guest</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content"> <!-- fluidMenu -->
    <div class="container food-menus no-padding">
      <div class="intro">
        <p class="res">For Reservations: <span><a href="tel:+12512246510" class="tel">251-224-6510</a></span></p>
      </div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>First Course</h3>
          <h4>Scallop Salad</h4>
          <h5>Arugula, Sorrel, Pears, Feta, Salted Pistachios, Meyer Lemon and Honey Vinaigrette</h5>
          <p>Paired with:</p>
          <h4>La Crema Pinot Gris, Monterey ‘19</h4>
        </div>
      </div>
      
      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Second Course</h3>
          <h4>Braided Puff Pastry</h4>
          <h5>Chicken, Goat Cheese, Sun Dried Tomatoes, Basil Pesto</h5>
          <p>Paired with:</p>
          <h4>La Cream Chardonnay, Russian River Valley ‘19</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Third Course</h3>
          <h4>Housemade Lamb Ravioli</h4>
          <h5>Caramelized Onions, Mushrooms, Spinach, Lamb Jus. Topped With Fried Leeks</h5>
          <p>Paired with:</p>
          <h4>La Cream Pinot Noir Willamette Valley ‘19</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Fourth Course</h3>
          <h4>Blackberry Flan with Strawberry Gelato</h4>
          <p>Paired with:</p>
          <h4>La Crema Sealift Pinot Noir, Sonoma Coast ‘17</h4>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
