<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page xwinterWine">
  <div id="page-title" class="pt-bkg-image image-events">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1>September Wine Dinner</h1>
            <h2>Hosted By Eddie with International Wines</h2>
            <h4>September 22nd &nbsp;|&nbsp; 6pm<br>$60 per guest</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content"> <!-- fluidMenu -->
    <div class="container food-menus no-padding">
      <div class="intro">
        <p class="res">For Reservations: <span><a href="tel:+12512246510" class="tel">251-224-6510</a></span></p>
      </div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>First Course</h3>
          <h4>Baked Camembert Bites</h4>
          <h5>Granny Smith Apples, Puff Pastry, Fig Glaze</h5>
          <p>Paired with</p>
          <h4>Vigneti delle Dolomiti Pinot Grigio, Trentino-Alto Adige, Italy '20</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Second Course</h3>
          <h4>Cajun Stuffed Shrimp</h4>
          <h5>Cream Cheese, Bell Peppers, Bacon Bits, Green Onion, Peppadew Oil</h5>
          <p>Paired with</p>
          <h4>Mâcon Chardonnay, Burgundy, France '21</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Third Course</h3>
          <h4>Black Cherry Baby Back Ribs</h4>
          <h5>Broccoli Salad, Sunflower Seeds, Bacon, Onion, Cranberries</h5>
          <p>Paired with</p>
          <h4>Little James' Basket Press Rouge Grenache, Château de Saint Cosme, France '21</h4>
        </div>
      </div>


      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>


      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Fourth Course</h3>
          <h4>Chocolate Treasure Box</h4>
          <h5>Chocolate Mousse, Strawberry, Graham Cracker</h5>
          <p>Paired with</p>
          <h4>Corbieres, Carigan, Grenache, Syrah, Languedoc-Roussillon, France '19</h4>
        </div>
      </div>
      
    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
