<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page xwinterWine">
  <div id="page-title" class="pt-bkg-image image-events">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1>Italian Inspired Wine Dinner</h1>
            <h2>Hosted by Alabama Crown</h2>
            <h4>April 20th &nbsp;|&nbsp; 6pm <span> &nbsp;|&nbsp; </span><br>$50 per guest</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content"> <!-- fluidMenu -->
    <div class="container food-menus no-padding">
      <div class="intro">
        <p class="res">For Reservations: <span><a href="tel:+12512246500" class="tel">251-224-6500 (ext. 2)</a></span></p>
      </div>
      <div class="clearfix"></div>

      
      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>1st Course</h3>
          <h4>Scallop Cucumber Bite</h4>
          <h5>Seared Scallop, Wild Rice, Cucumber, Curry, Scallion, Grapefruit Vinaigrette</h5>
          <p>Paired with</p>
          <h4>Vietti, Moscato d'Asti, Piedmont, Italy '21</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>2nd Course</h3>
          <h4>Fennel &amp; Avocado Salad</h4>
          <h5>Fennel Root, Avocado, Spinach, Pine Nuts, Watermelon Radish, Oranges, Tossed in Citrus Vinaigrette</h5>
          <p>Paired with</p>
          <h4>Abbazia di Novacella, Pinot Grigio, Trentino-Alto Adige, Italy '21</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>3rd Course</h3>
          <h4>Capicola Wrapped Snapper</h4>
          <h5>Roasted Baby Summer Squash, Fried Herb &amp; Cheese Polenta Cake, Pineapple &amp; Sweet Pepper Relish</h5>
          <p>Paired with</p>
          <h4>Zenato, Veronese Alanera Rosso, Red Blend, Veneto, Italy '19</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>4th Course</h3>
          <h4>Sacher-Torte</h4>
          <h5>Chocolate Torte, Apricot Jam, Dark Chocolate Silky Ganache</h5>
          <p>Paired with</p>
          <h4>Borgo Scopeto, Chianti Classico, Tuscany, Italy '19</h4>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
