<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page">
  <div id="page-title" class="pt-bkg-image image-events">
    <!-- image-events -->
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1>A Family Vineyard Wine Dinner</h1>
            <!-- <h2>Hosted by Alabama Crown</h2> -->
            <h4>Thursday November 18th &nbsp;|&nbsp; 6pm<br>$60 per guest</h4>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- <div class="custom-pt-intro">
    <div class="custom-pt-text">
      <h1>A Pink Tie Affair<br><span>Five Course Dinner in Honor of<br> Breast Cancer Awareness</span></h1>
      <h2>Thursday, October 21st &nbsp;|&nbsp; 6pm<br class="one"> &nbsp;|&nbsp; $70 per guest <br class="two"><b>Pink Cocktail Attire</b></h2>
      <h3>Featuring Diora Winery &amp; Hosted by Alabama Crown<br>Music Entertainment Brought to you By Cello Salad</h3>
    </div>
    <=image_tag('wineOctPinkHd.jpg', alt: "Villaggio's October Wine Dinner", class: 'img-responsive')%>
  </div> -->


  <div class="page-content PinkMenu"> <!-- fluidMenu -->
    <div class="container food-menus no-padding">
      <div class="intro">
        <p class="res">For Reservations: <span><a href="tel:+12512246510" class="tel">251-224-6510</a></span></p>
      </div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>First Course</h3>
          <h4>Caramelized Onion & Apple Tart</h4>
          <h5>White Cheddar, Rosemary Honey </h5>
          <p>Accompanied by</p>
          <h4>Mile 71 Pinot Gris, Willamette Valley, OR</h4>
        </div>
      </div>
      
      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Second Course</h3>
          <h4>Burrata, Roasted Beets, Frisée</h4>
          <h5>Toasted Hazelnuts, Pear Vinaigrette </h5>
          <p>Accompanied by </p>
          <h4>Bishop's Peak Chardonnay, Central Coast, CA</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Third Course</h3>
          <h4>Hanger Steak </h4>
          <h5>Asiago Potato Stacks, Creamed Swiss Chard, Molasses Butter </h5>
          <p>Accompanied by</p>
          <h4>Bishop's Peak Bordeaux, Central Coast, CA</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Fourth Course</h3>
          <h4>Orange Pistachio Cake </h4>
          <h5>With Dark Chocolate Cranberry Bark </h5>
          <p>Accompanied by</p>
          <h4>Love, Oregon Pinot Noir, Willamette Valley, OR</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
