<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page xwinterWine">
  <div id="page-title" class="pt-bkg-image image-events">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1>Wagner Vineyards Wine Dinner</h1>
            <h2>Hosted by International Wine</h2>
            <h4>September 14th &nbsp;|&nbsp; 6pm <span> &nbsp;|&nbsp; </span><br>$50 per guest</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content"> <!-- fluidMenu -->
    <div class="container food-menus no-padding">
      <div class="intro">
        <p class="res">For Reservations: <span><a href="tel:+12512246500" class="tel">251-224-6500 (ext. 2)</a></span></p>
      </div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>First Course</h3>
          <h4>Citrus Chili Shrimp </h4>
          <h5>Grilled Gulf Shrimp, Spicy Mango Salsa with Pomegranate Seeds, Jalapeño, Chilis, Citrus Shallots &amp; Mango Puree </h5>
          <p>Paired with</p>
          <h4>Conundrum, White Blend, CA '21 </h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Second Course</h3>
          <h4>Scallops </h4>
          <h5>Diver Scallops, Avocado Ravioli, Rosted Red Pepper Romesco &amp; Parmigiano Reggiano </h5>
          <p>Paired with</p>
          <h4>Mer Soleil, Reserve Chardonnay, Santa Lucia Highlands, CA '21 </h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Third Course</h3>
          <h4>Beef &amp; Pork Wellington </h4>
          <h5>Beef Tenderloin, Pork Belly, Mixed Mushroom with Two Brooks Wild Rice &amp; White Basmati Rice, Spinach &amp; Beet Root Puree </h5>
          <p>Paired with</p>
          <h4>Caymus, The Walking Fool, Suisun Valley CA, '21 </h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Fourth Course</h3>
          <h4>Dark Chocolate &amp; Cherry Entremet </h4>
          <h5>Dark Chocolate Shell, Black Cherry & Piquillo Mousse, Chocolate Sponge, Cherry Gelee </h5>
          <p>Paired with</p>
          <h4>Red Schooner, Voyage 11, Malbec, CA </h4>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
