<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page">
  <div id="page-title" class="pt-bkg-image image-events">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1>March Wine dinner</h1>
            <h2>Featuring Locations Wine<br>Hosted by United Johnson</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content">
    <div class="container food-menus no-padding">
      <div class="intro">
          <h4>Thursday, March 21st &nbsp;|&nbsp; 6:00 p.m.<br> $50 per guest</h4>
          <p class="mobile-show"><b>For Reservations, Call:<br> <%= number_to_phone(2512246510, pattern: /(\d{3})(\d{3})(\d{4})$/,delimiter: "-", class: 'tel') %></b></p>
      </div>

      <div class="row col-md-12">
        <div class="col-md-6 col-xs-12 menu-course">
          <div class="service-box-2">
            <h3>First Course </h3>
            <h4>Bacon Wrapped Grilled Shrimp and Scallop</h4>
            <h5>Roasted Radish, Carrot, and Onion, Sweet Corn Butter</h5>
            <p>Paired with:</p>
            <h4>Locations Sauvignon Blanc, New Zealand </h4>
          </div>
        </div>

        <div class="col-md-6 col-xs-12 menu-course">
          <div class="service-box-2">
            <h3>Second Course </h3>
            <h4>Slow Roasted Quail</h4>
            <h5>Vegetable Saffron Rice </h5>
            <p>Paired with:</p>
            <h4>Locations Garnacha/Tempranillo, Spain</h4>
          </div>
        </div>
      </div>

      <div class="col-md-10 col-md-offset-1 col-xs-12">
        <div class="hr hr-png-6"></div>
      </div>

      <div class="row col-md-12">
        <div class="col-md-6 col-xs-12 menu-course">
          <div class="service-box-2">
            <h3>Third Course</h3>
            <h4>Beef Brisket with Marsala Glaze</h4>
            <h5>Tomatoes, Capers and Onion, Horseradish Risotto, Roasted Parsnips</h5>
            <p>Paired with:</p>
            <h4>Locations Italian Blend, Italy</h4>
          </div>
        </div>

        <div class="col-md-6 col-xs-12 menu-course">
          <div class="service-box-2">
            <h3>Fourth Course </h3>
            <h4>Strawberry and Black Cherry Pie</h4>
            <h5>Blueberry Ice Cream </h5>
            <p>Paired with:</p>
            <h4>Locations CA Red, CA </h4>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
