<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page xwinterWine">
  <div id="page-title" class="pt-bkg-image image-events">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1>Pink Tie Affair Wine Dinner</h1>
            <h2>Tribute to Breast Cancer Awareness<br> Featuring Coppola Winery</h2>
            <h4>October 20th &nbsp;|&nbsp; 6pm <span> &nbsp;|&nbsp; </span><br>$90 per guest</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content"> <!-- fluidMenu -->
    <div class="container food-menus no-padding">
      <div class="intro">
        <p class="res">For Reservations: <span><a href="tel:+12512246500" class="tel">251-224-6500 (ext. 2)</a></span></p>
      </div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Hors D'oeuvre on the Patio</h3>
          <h4>Bao Bun, Sticky Pork Belly, Crushed Peanuts, Spicy Carrot Slaw</h4>
          <h4>Salmon Ceviche Shooter</h4>
          <p>Served with</p>
          <h4>Coconut Blood Orange Margarita</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>First Course</h3>
          <h4>Zucchini Rollatini</h4>
          <h5>Lemon Basil Ricotta, Sun Dried Tomato Pesto, Shaved Toma Truffle</h5>
          <p>Paired with</p>
          <h4>Coppola Diamond Collection Rosé</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Second Course</h3>
          <h4>Maine Moosabec Mussels</h4>
          <h5>Spanish Chorizo, Ploughgate Creamery Seaweed Butter, White Wine</h5>
          <p>Paired with</p>
          <h4>Coppola, Director's Cut Chardonnay</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Third Course</h3>
          <h4>Seared Duck Breast</h4>
          <h5>Blackberry Farm Jam Glaze, Tri Colored Baby Carrots, Potato Pirogue</h5>
          <p>Paired with</p>
          <h4>Coppola Director's Cut Cinema, Sonoma County</h4>
        </div>
      </div>


      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>


      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Fourth Course</h3>
          <h4>Upside Down South Caroline Peach Cobbler</h4>
          <h5>Cinnamon Oat Dust, Kilwins Vanilla Ice Cream, Crème Anglaise</h5>
          <p>Paired with</p>
          <h4>Coppola Diamond Collection Prosecco Rose, Italy</h4>
        </div>
      </div>
      
    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
