<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page xwinterWine">
  <div id="page-title" class="pt-bkg-image image-events">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1>All Rosé in May</h1>
            <%# <h2>Hosted by Alabama Crown</h2> %>
            <h4>May 29th &nbsp;|&nbsp; 6pm <span> &nbsp;|&nbsp; </span><br>$60 per guest</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content"> <!-- fluidMenu -->
    <div class="container food-menus no-padding">
      <div class="intro">
        <p class="res">For Reservations: <span><a href="tel:+12512246510" class="tel">251-224-6510</a></span></p>
      </div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>First Course</h3>
          <h4>Admirals Oysters</h4>
          <h5>Rhubarb Mignonette, Citrus Gel &amp; Pink Pepper Lavash</h5>
          <p>Paired with</p>
          <h4>The Prisoner Wine Company, Unshackled, Sparkling Rosé, CA</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Second Course</h3>
          <h4>Asparagus Orecchiette</h4>
          <h5>Brie &amp; Spring Onion Cream</h5>
          <p>Paired with</p>
          <h4>Matua, Pinot Noir Rosé, Marlborough, New Zealand, '21</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Main Course</h3>
          <h4>Ancho Brine Pork Tenderloin</h4>
          <h5>Sorrel, Roasted Beets, Forbidden Black Rice and Calabrian Chili Glaze</h5>
          <p>Paired with</p>
          <h4>Sonoroso Rosé Dolce, Trevenezie IGT, Trentino, Italy</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Dessert Course</h3>
          <h4>Goat Cheesecake</h4>
          <h5>Almond Sable, Stone-fruit and Basil Syrup</h5>
          <p>Paired with</p>
          <h4>Las Campanas, Rosé Garnacha, Navarra, Denominacion de Origen, Spain</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
