<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page">
  <div id="page-title" class="pt-bkg-image image-events">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1>Holiday Wine dinner</h1>
            <h2>Featuring Ferrari Carano &amp; <br>Hosted by Alabama Crown</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content">
    <div class="container food-menus no-padding">
      <div class="intro">
          <h4>Friday, December 28th &nbsp;|&nbsp; 6:00 p.m.<br> $90 per guest</h4>
          <p class="mobile-show"><b>For Reservations, Call:<br> <%= number_to_phone(2512246510, pattern: /(\d{3})(\d{3})(\d{4})$/,delimiter: "-", class: 'tel') %></b></p>
      </div>

      <div class="row col-md-12">
        <div class="col-md-6 col-xs-12 menu-course">
          <div class="service-box-2">
            <h3>1st Course</h3>
            <h4>“Angels on Horseback” </h4>
            <h5>Oven Roasted Bacon Wrapped Oysters, Roasted Okra, Brussel Sprouts, Baby Carrots, Butternut Squash, Lemon Champagne Vinaigrette </h5>
            <p>Paired with:</p>
            <h4>Ferrari Carano, Fumè Blanc, Sonoma County ‘17</h4>
          </div>
        </div>

        <div class="col-md-6 col-xs-12 menu-course">
          <div class="service-box-2">
            <h3>2nd course</h3>
            <h4>Grilled Grouper</h4>
            <h5>Pumpkin Ravioli, Collard Greens, Topped with Hollandaise</h5>
            <p>Paired with:</p>
            <h4>Ferrari Carano Chardonnay, Napa Valley, CA ‘15</h4>
          </div>
        </div>
      </div>

      <div class="col-md-10 col-md-offset-1 col-xs-12">
        <div class="hr hr-png-6"></div>
      </div>

      <div class="row col-md-12">
        <div class="col-md-6 col-xs-12 menu-course">
          <div class="service-box-2">
            <h3>3rd Course</h3>
            <h4>Pan Seared Duck Breast</h4>
            <h5>Broccolini, Sweet Potato Gratin, Cranberry Demi Glaze </h5>
            <p>Paired with:</p>
            <h4>Ferrari Carano Pinot Noir, Anderson Valley, CA ‘15</h4>
          </div>
        </div>

        <div class="col-md-6 col-xs-12 menu-course">
          <div class="service-box-2">
            <h3>4th Course</h3>
            <h4>Red Wine Braised Pork Coppa</h4>
            <h5>Saffron and Chive Risotto, Grilled Asparagus, Sprinkled with Gorgonzola</h5>
            <p>Paired with:</p>
            <h4>Ferrari Carano Cabernet Sauvignon, Alexander Valley, CA ‘15</h4>
          </div>
        </div>
      </div>

      <div class="col-md-10 col-md-offset-1 col-xs-12">
        <div class="hr hr-png-6"></div>
      </div>

      <div class="col-md-6 col-md-offset-3 col-xs-12 menu-course">
        <div class="service-box-2">
          <h3>5th Course</h3>
          <h4>Cranberry Crumble </h4>
          <h5>Black Cherry Foam </h5>
          <p>Paired with:</p>
          <h4>Ferrari Carano Trèsor, Sonoma County ‘15 </h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
