<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page">
    <div id="page-title" class="pt-bkg-image image-events">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="title-container less">
                        <h1>October Wine Dinner</h1>
                        <h2>Featuring Torii Mor Winery &amp; <br>Hosted by Pinnacle Imports</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content">
        <div class="container food-menus no-padding">
            <div class="intro">
                <h4>Thursday, October 18th &nbsp;|&nbsp; 6:00 p.m.<br> $55 per guest</h4>
                <p class="mobile-show"><b>For Reservations, Call:<br> <%= number_to_phone(2512246510, pattern: /(\d{3})(\d{3})(\d{4})$/,delimiter: "-", class: 'tel') %></b></p>
            </div>

            <div class="row col-md-12">
              <div class="col-md-6 col-xs-12 menu-course">
                <div class="service-box-2">
                  <h3>1st course</h3>
                  <h4>Lemon Veal Picatta</h4>
                  <h5>Fried Veal Cutlet, Shaved Prosciutto, Fresh Mozzarella, Asparagus, Arugula, Topped with Lemon Vinaigrette </h5>
                  <p>Paired with:</p>
                  <h4>Torii Mor, Pinot Gris 2017, Willamette Valley, OR </h4>
                </div>
              </div>

              <div class="col-md-6 col-xs-12 menu-course">
                <div class="service-box-2">
                  <h3>2nd course</h3>
                  <h4>Roasted Vegetable Trotolle</h4>
                  <h5>Brussels Sprouts, Parsnips, Broccoli, Sun Dried Tomatoes, Artichokes, Trotolle Pasta Tossed with Butternut Squash Purée</h5>
                  <p>Paired with:</p>
                  <h4>Torri Mor, Chardonnay 2015, Willamette Valley, OR </h4>
                </div>
              </div>
            </div>

            <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div class="hr hr-png-6"></div>
            </div>

            <div class="row col-md-12">
              <div class="col-md-6 col-xs-12 menu-course">
                <div class="service-box-2">
                  <h3>3rd course</h3>
                  <h4>Grilled Salmon</h4>
                  <h5>Candy Striped Beet Risotto, Haricot Verts, Pinot Noir Dark Cherry and Wild Mushroom Reduction</h5>
                  <p>Paired with:</p>
                  <h4>Torii Mor, “Black Label” Pinot Noir 2015, Willamette, OR </h4>
                </div>
              </div>

              <div class="col-md-6 col-xs-12 menu-course">
                <div class="service-box-2">
                  <h3>4th course</h3>
                  <h4>Ricotta and Pear Cake</h4>
                  <h5>Blueberry Foam</h5>
                  <p>Paired with:</p>
                  <h4>Torii Mor, “Deux Verres” Pinot Noir, 2016, Nine Vineyards in OR </h4>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
