<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page xwinterWine">
  <div id="page-title" class="pt-bkg-image image-events">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1>January Wine Dinner</h1>
            <h2>Featuring Gassier Winery From Southern France</h2>

            <h4>January 25th &nbsp;|&nbsp; 6pm <span> &nbsp;|&nbsp; </span><br>$55 per guest</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content"> <!-- fluidMenu -->
    <div class="container food-menus no-padding">
      <div class="intro">
        <p class="res">For Reservations: <span><a href="tel:+12512246510" class="tel">251-224-6510</a></span></p>
      </div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Course One</h3>
          <h4>KALE AND CANDIED BACON SALAD</h4>
          <h5>Blueberry, Feta, Plums, Toasted Almonds, Pecan Vinaigrette</h5>
          <p>Paired with</p>
          <h4>DOMAIN GASSIER GRENACHE ROSE 2022</h4>
          <h5>AOC of Costieres De Nimes</h5>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Course Two</h3>
          <h4>SMOKED SALMON MOUSSE BOAT</h4>
          <h5>Smoked Salmon, Cream Cheese, Herbs, Endive Lettuce, Fresh Dill</h5>
          <p>Paired with</p>
          <h4>DOMAINE GASSIER VIOGNIER 2021</h4>
          <h5>AOC of Costieres De Nimes</h5>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Course Three</h3>
          <h4>LAMB AND HERB SHEPHERD'S PIE</h4>
          <h5>Peas, Baby Carrots, Onion, Celery, Herbs, Corn, Yukon Gold Encrusted Potatoes</h5>
          <p>Paired with</p>
          <h4>MITCHEL &amp; TINA GASSIER COTES DU RHONE 2020</h4>
          <h5>AOC of Costieres De Nimes</h5>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Course Four</h3>
          <h4>RHUBARB TART Rhubarb Compote</h4>
          <h5>Spiced with Citrus and Anise</h5>
          <p>Paired with</p>
          <h4>DOMAINE GASSIER SYRAH 2021</h4>
          <h5>AOC of Costieres De Nimes</h5>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Add Ons</h3>
          <h4 class="bmargin0">SELECTION OF CHEESES</h4>
          <h5>Choose hard or soft, comes with entertainment crackers ... $7</h5>

          <h4 class="bmargin0 tmargin1">CHOCOLATES</h4>
          <h5>Four, 1oz pieces of premium dark, milk, or bittersweet chocolates ... $6.5</h5>

          <h4 class="bmargin0 tmargin1">OLIVES</h4>
          <h5>Medley of Tuscan olives (contains pits) ... $4</h5>

          <h4 class="bmargin0 tmargin1">DRY SALAMI</h4>
          <h5>Italian cured Salami ... $6</h5>

          <h4 class="bmargin0 tmargin1">PEPPER JAM &amp; CHÈVRE</h4>
          <h5>Spicy pepper jam from Applegate Farms, served with creamy herb chèvre and Croccantini crackers ... $8</h5>

          <h4 class="bmargin0 tmargin1">ALMONDS</h4>
          <h5>Dry roasted or cocoa dusted ... $4.5</h5>

          <h4 class="bmargin0 tmargin1">CHARCUTERIE PLATE</h4>
          <h5>Brandied duck liver terrine, estate cured prosciutto, &amp; imported salami ... $14</h5>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
