<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page xwinterWine">
  <div id="page-title" class="pt-bkg-image image-events">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1>Travel Into The New Year Wine Dinner</h1>
            <h2>Hosted by International Wines</h2>
            <h4>January 19th &nbsp;|&nbsp; 6pm <span> &nbsp;|&nbsp; </span><br>$60 per guest</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content"> <!-- fluidMenu -->
    <div class="container food-menus no-padding">
      <div class="intro">
        <p class="res">For Reservations: <span><a href="tel:+12512246500" class="tel">251-224-6500 (ext. 2)</a></span></p>
      </div>
      <div class="clearfix"></div>

      
      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>1st Course</h3>
          <h4>Shrimp Ceviche Tostada</h4>
          <p>Paired with</p>
          <h4>Zestos, Garnacha, Madrid, Spain '20</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>2nd Course</h3>
          <h4>Stuffed Roma Tomatoes</h4>
          <h5>Spanish Rice, Ground Chorizo, Cream Cheese and Poblano Peppers</h5>
          <p>Paired with</p>
          <h4>Field Recordings, Chenin Blanc, Central Coast, CA '21</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>3rd Course</h3>
          <h4>Pork Belly Roulade</h4>
          <h5>Butternut Squash Gratin, Roasted Cauliflower, Topped with Creamy Roasted Red Pepper Sauce</h5>
          <p>Paired with</p>
          <h4>Paolo Fasolo, Barbera d'Asti Fondamentale, Piedmont, Italy '20</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Entrée Course</h3>
          <h4>Cinnamon Churro Empanada</h4>
          <h5>Served with Chocolate Gelato</h5>
          <p>Paired with</p>
          <h4>Passionate Wines, Malbec, Syrah, Mendoza, Argentina '21</h4>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
