<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page">
    <div id="page-title" class="pt-bkg-image image-events">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="title-container less">
                        <h1>“All Rosé in May” Wine Dinner</h1>
                        <h2>Hosted by International Wines</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content">
        <div class="container food-menus no-padding">
            <div class="intro">
                <h4>May 16th, 2018 &nbsp;|&nbsp; 6:00 p.m.<br> $45 per guest</h4>
                <p class="mobile-show"><b>For Reservations, Call:<br> <%= number_to_phone(2512246510, pattern: /(\d{3})(\d{3})(\d{4})$/,delimiter: "-", class: 'tel') %></b></p>
            </div>
            <div class="row col-md-12">
                <div class="col-md-6 col-xs-12 menu-course">
                  <div class="service-box-2">
                    <h3>1st course</h3>
                    <h4>Balsamic Marinated Watermelon Salad</h4>
                    <h5>Goat Cheese and Arugula, Shaved Red Onion </h5>
                    <p>Paired with:</p>
                    <h4>Gooseneck Rose, Grenache, Spain 2016</h4>
                  </div>
                </div>

                <div class="col-md-6 col-xs-12 menu-course">
                  <div class="service-box-2">
                    <h3>2nd Course</h3>
                    <h4>Chicken and Feta Spanakopita Triangles</h4>
                    <h5>Kalamata Olive Spread</h5>
                    <p>Paired with:</p>
                    <h4>Marietta “Old Vine Rosé” 2016, CA</h4>
                  </div>
                </div>
            </div>

            <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div class="hr hr-png-6"></div>
            </div>

            <div class="row col-md-12">
                <div class="col-md-6 col-xs-12 menu-course">
                  <div class="service-box-2">
                    <h3>3rd Course</h3>
                    <h4>Grilled Salmon</h4>
                    <h5>Red Potato and Bacon Gratin, Asparagus and Dill Pesto Cream</h5>
                    <p>Paired with:</p>
                    <h4>Miraval Rosé 2016, Provence, France </h4>
                  </div>
                </div>

                <div class="col-md-6 col-xs-12 menu-course">
                  <div class="service-box-2">
                    <h3>4th Course</h3>
                    <h4>Baked Brie </h4>
                    <h5>Apples, Strawberries, Pecans, and Honey </h5>
                    <p>Paired with:</p>
                    <h4>Le Grand Courtage Brut Rosé, NV France </h4>
                  </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
