<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page">
  <div id="page-title" class="pt-bkg-image image-events">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1>September Wine Dinner</h1>
            <!-- <h2>Hosted by Alabama Crown</h2> -->
            <h4>Thursday September 23rd &nbsp;|&nbsp; 6pm<br>$60 per guest</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content"> <!-- fluidMenu -->
    <div class="container food-menus no-padding">
      <div class="intro">
        <p class="res">For Reservations: <span><a href="tel:+12512246510" class="tel">251-224-6510</a></span></p>
      </div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>First Course</h3>
          <h4>Scallop Carpaccio</h4>
          <h5>Orange Segments and Jalapeño Vinaigrette</h5>
          <p>Paired with:</p>
          <h4>Honig Sauvignon Blanc ‘20, Rutherford, CA</h4>
        </div>
      </div>
      
      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Second Course</h3>
          <h4>Pineapple Pecan Baked Brie</h4>
          <h5>Served with Crackers and Granny Smith Apples</h5>
          <p>Paired with:</p>
          <h4>Calera Chardonnay ‘18, Central Coast, CA</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Third Course</h3>
          <h4>Lamb Lollipops</h4>
          <h5>Housemade Mushroom Ravioli, Sundried Tomatoes, Caramelized Onions, Mint Pesto</h5>
          <p>Paired with:</p>
          <h4>Inscription Pinot Noir ‘19, Willamette Valley, OR</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Fourth Course</h3>
          <h4>Cappuccino Cheesecake</h4>
          <h5>With Dark Chocolate Ganache, and a Graham Cracker Walnut Crust</h4>
          <p>Paired with:</p>
          <h4>Treana Cabernet Sauvignon ‘19, Paso Robles, CA</h4>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
