<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page xwinterWine">
  <div id="page-title" class="pt-bkg-image image-events">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1>April Wine Dinner</h1>
            <%# <h2>Hosted by Alabama Crown</h2> %>
            <h4>April 25th &nbsp;|&nbsp; 6pm <span> &nbsp;|&nbsp; </span><br>$60 per guest</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content"> <!-- fluidMenu -->
    <div class="container food-menus no-padding">
      <div class="intro">
        <p class="res">For Reservations: <span><a href="tel:+12512246510" class="tel">251-224-6510</a></span></p>
      </div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>First Course</h3>
          <h4>Fruit and Nut Salad</h4>
          <h5>Baby Spinach, Ponchatoula Strawberries, Smoked Feta, Candied Pecans and Satsuma Vinaigrette</h5>
          <p>Paired with</p>
          <h4>Villa des Agnes, Sauvignon Blanc, France</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Second Course</h3>
          <h4>Spicy Rigatoni</h4>
          <h5>Calabrian Chili, Vodka, Garlic Pangrattato</h5>
          <p>Paired with</p>
          <h4>Submission, Pinot Noir, CA</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Third Course</h3>
          <h4>Alabama Triggerfish</h4>
          <h5>Meyer Lemon Baked, Italian Salsa Verde, Creamy Polenta and Spring Eggplant Caponata</h5>
          <p>Paired with</p>
          <h4>Demarie Barbera, Italy</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Fourth Course</h3>
          <h4>Blackberry Sbriciolata</h4>
          <h5>Ricotta, Lemon Curd, Marsala Chantilly</h5>
          <p>Paired with</p>
          <h4>Chateau Moncontour, Cremant de Loire, Brut</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
