<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page">
  <div id="page-title" class="pt-bkg-image image-events">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1>Laissez les Bon Temps Rouler</h1>
            <h2>With Pinnacle Imports</h2>
            <h4>Thursday February 18th &nbsp;|&nbsp; 6pm<br>$45 per guest</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content"> <!-- fluidMenu -->
    <div class="container food-menus no-padding">
      <div class="intro">
        <p class="res">For Reservations: <span><%= number_to_phone(2512246500, pattern: /(\d{3})(\d{3})(\d{4})$/,delimiter: "-", class: 'tel') %> (ex. 2)</span></p>
      </div>

      <div class="col-md-10 center-block col-sm-12"><!-- menuFluid -->
        <div class="service-box-2">
          <h3>First Course </h3>
          <h4>Caramelized Watermelon Salad </h4>
          <h5>Arugula, Mango, Kiwi, Feta Cheese</h5>
          <p>Paired with:</p>
          <h4>Henri Bourgeois Sauvignon Blanc, Loire Valley, France ‘17</h4>
        </div>
      </div>
      
      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Second Course</h3>
          <h4>Cornish Hen Ravioli</h4>
          <h5>Stuffed with Carrots &amp; Spinach, Citrus Purple Cabbage Slaw</h5>
          <p>Paired with:</p>
          <h4>Henri Bourgeois Sancerre Rosé, Loire Valley, France ‘18</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Third Course</h3>
          <h4>Baby Back Ribs with Housemade Bourbon BBQ</h4>
          <h5>Peruvian Roasted Potatoes, Tri Colored Carrots, &amp; Fried Leeks</h5>
          <p>Paired with:</p>
          <h4>Domaine Lafage Cuvée Nicolas Grenache Noir Languedoc-Roussillon, France, ‘17</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Fourth Course</h3>
          <h4>Bananas Foster Bread Pudding</h4>
          <h5>Dark Chocolate Mouse</h5>
          <p>Paired with:</p>
          <h4>Henri Bourgeois Cabernet Franc, Loire Valley, France, ‘16</h4>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
