<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page">
  <div id="page-title" class="pt-bkg-image image-events">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1 class="lh1">February Wine Dinner</h1>
            <h2>Featuring Cardwell Hill Cellars<br>Hosted by Rush Wines</h2>
            <h4>Thursday, February 27th <br>Two seatings: 5:00pm &amp; 8:00pm<br> $45 per guest</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content"> <!-- fluidMenu -->
    <div class="container food-menus no-padding">
      <div class="intro">
        <p class="res">For Reservations: <span><%= number_to_phone(2512246500, pattern: /(\d{3})(\d{3})(\d{4})$/,delimiter: "-", class: 'tel') %> (ex. 2)</span></p>
      </div>

      <div class="col-md-10 center-block col-sm-12"><!-- menuFluid -->
        <div class="service-box-2">
          <h3>First Course </h3>
          <h4>Candy Stripe, Golden, and Red Beet Tartare </h4>
          <h5>Arugula and Goat Cheese</h5>
          <p>Paired with:</p>
          <h4>Cardwell Hill Rose of Pinot Noir, Willamette Valley, OR 18</h4>
        </div>
      </div>
      
      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Second Course</h3>
          <h4>Scallop Crudo</h4>
          <h5>Avocado, Watermelon, Radish, Cucumber and Serrano Peppers </h5>
          <p>Paired with:</p>
          <h4>Cardwell Hill Pinot Gris, Willamette Valley, OR ‘18</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Third Course</h3>
          <h4>Citrus Broiled Salmon</h4>
          <h5>Fondant Potato, Roasted Asparagus and Orange Beurre Blanc </h5>
          <p>Paired with:</p>
          <h4>Cardwell Hill Estate Piot Noir, Willamette Valley, OR ‘16</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Fourth Course</h3>
          <h4>Strawberry Upside-Down Cake</h4>
          <h5>Dark Cherry Glaze</h5>
          <p>Paired with:</p>
          <h4>Cardwell Hill Fenders Blue Pinot Noir, Willamette Valley, OR ‘18</h4>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
