<% @page_title = "Special Events |" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page xwinterWine custStylePTA">
  <div id="page-title" class="pt-bkg-image image-events">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1>November 4-Course Wine Dinner</span></h1>
            <h4 class="one">November 21st &nbsp;&middot;&nbsp; 6pm <span class="rules"> &nbsp;&middot;&nbsp; </span><br class="rules">$60 per guest</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content"> <!-- fluidMenu -->
    <div class="container food-menus no-padding">
      <div class="intro">
        <p class="res">For Reservations: <span><a href="tel:+12512246510" class="tel">251-224-6510</a></span></p>
      </div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>First Course</h3>
          <h4>Red and Gold Beet Terrine</h4>
          <h5>Roasted Beets Layered with Lemon and Herbed Ricotta & Cream Cheese Mixture</h5>
          <p>Paired with</p>
          <h4>Mar de Frades, Albariño, Rias Baixas, Spain</h4>
        </div>
      </div>

     
      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Second Course</h3>
          <h4>Lasagna Stuffed Zucchini Rolls</h4>
          <h5>Zucchini Ribbons Stuffed and Rolled with Bolognese, Ricotta, Mozzarella Topped with Marinara, Chives and Pecorino Romano</h5>
          <p>Paired with</p>
          <h4>Rocca delle Macie, Toscana Sasyr, Tuscany, Italy '16</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Third Course</h3>
          <h4>Tuna Tartare</h4>
          <h5>Marinated Tuna on a Bed of Avocado. Topped with Sesame Seeds and Micro Greens. Served with Crostinis or Pita Chips</h5>
          <p>Paired with</p>
          <h4>Lange Estate Winery and Vineyards, Rose of Pinot Noir, Dundee Hills, Oregon, '23</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Fourth Course</h3>
          <h4>Almond Chocolate Bread Pudding</h4>
          <h5>with Disaronno Cream Sauce</h5>
          <p>Paired with</p>
          <h4>Pedroncelli Winery, Mother Clone Zinfandel, Dry Creek, California '21</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
