<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page">
  <div id="page-title" class="pt-bkg-image image-events">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1 class="lh1">Holiday Wine Dinner</h1>
            <h2>Featuring Demarie Wines from Italy</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content"> <!-- fluidMenu -->
    <div class="container food-menus no-padding">
      <div class="intro">
          <h4>Saturday, December 28th 28th &nbsp;|&nbsp; 6:00 p.m.<br> $100 per guest</h4>
          <p class="mobile-show"><b>For Reservations, Call:<br> <%= number_to_phone(2512246510, pattern: /(\d{3})(\d{3})(\d{4})$/,delimiter: "-", class: 'tel') %></b></p>
      </div>

      <div class="col-md-10 center-block col-sm-12"><!-- menuFluid -->
        <div class="service-box-2">
          <h3>Course One</h3>
          <h4>Seared Diver Scallops </h4>
          <h5>Deconstructed Caprese Salad, Heirloom Grape Tomatoes, Ciliegine Mozzarella, Fresh Basil and Olive Oil</h5>
          <p>Paired with:</p>
          <h4>Demaire Arneis DOC, Piedmont, Italy</h4>
        </div>
      </div>
      
      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Course Two</h3>
          <h4>Veal Saltimbocca </h4>
          <h5>Prosciutto, Sage, Sun Dried Tomatoes, Marsala Reduction, Over Fettucine </h5>
          <p>Paired with:</p>
          <h4>Demaire Nebbiolo, Langhe DOC, Piedmont, Italy </h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Course Three</h3>
          <h4>Warm Brie Bruschetta </h4>
          <h5>With Shaved Prime Rib, Roasted Almonds, Parsley Oil </h5>
          <p>Paired with:</p>
          <h4>Demaire Barbera d’Alba Superiore DOC, Piedmont, Italy </h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Course Four</h3>
          <h4>Smoked Pork Tenderloin</h4>
          <h5>Potato Gratin with Shar White Cheddar, And Caramelized Onion, Peach Chutney </h5>
          <p>Paired with:</p>
          <h4>Demaire Barbaresco DOCG, Piedmont, Italy </h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>
      
      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Course Five</h3>
          <h4>House Made Pecan Pie</h4>
          <h5>Glazed Apples, Strawberry Gelato</h5>
          <p>Paired with:</p>
          <h4>Demaire Birbet, Piedmont, Italy </h4>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
