<% @page_title = "Special Events |" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page xwinterWine custStylePTA">
  <div id="page-title" class="pt-bkg-image image-events">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1>January Wine Dinner</span></h1>
            <h4 class="one">January 23rd &nbsp;&middot;&nbsp; 6pm <span class="rules"> &nbsp;&middot;&nbsp; </span><br class="rules">$60 per guest</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content"> <!-- fluidMenu -->
    <div class="container food-menus no-padding">
      <div class="intro">
        <p class="res">For Reservations: <span><a href="tel:+12512246510" class="tel">251-224-6510</a></span></p>
      </div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>First Course</h3>
          <h4>Smoked Salmon Terrine</h4>
          <h5>Smoked Salmon Layered with Lemon and Fresh Herbed Ricotta, Topped with House Made Honey Mustard Vinaigrette</h5>
          <p>Paired with</p>
          <h4>Elizabeth Spencer, Sauvignon Blanc, CA '23</h4>
        </div>
      </div>
      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Second Course</h3>
          <h4>Stuffed Roma Tomatoes</h4>
         <h5>Spanish Rice, Ground Chorizo, Cream Cheese and Poblano Pepper Mixture, Stuffed and   Roasted in Roma Tomatoes</h5>
          <p>Paired With</p>
          <h4>Peirano, "The Other" Red Blend, Lodi, CA '22</h4>
        </div>
      </div>
      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Third Course</h3>
          <h4>Roasted Pork Roulade</h4>
          <h5>Goat and Gruyere Cheeses, Spinach, and Dried Cherry Stuffed Pork Loin, Sliced and Served Over Sweet Potato Gratin and Brussel Sprouts Topped with a Dark Cherry Glaze</h5>
          <p>Paired With</p>
          <h4>Demarie, Langhe Nebbiolo, Langhe, Italy '21</h4>
        </div>
      </div>
      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Fourth Course</h3>
          <h4>Orange Creamsicle Crème Brulée</h4>
          <h5>House Made Crème Brulée</h5>
          <p>Paired With</p>
          <h4>Zingara, Prosecco, Italy NV</h4>
        </div>
      </div>
      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
