<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page">
  <div id="page-title" class="pt-bkg-image image-events">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1>2nd Annual All Rosé in May</h1>
            <h2>Hosted by Grassroots Wines</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content">
    <div class="container food-menus no-padding">
      <div class="intro">
          <h4>Thursday, May 2nd &nbsp;|&nbsp; 6:00 p.m.<br> $45 per guest</h4>
          <p class="mobile-show"><b>For Reservations, Call:<br> <%= number_to_phone(2512246510, pattern: /(\d{3})(\d{3})(\d{4})$/,delimiter: "-", class: 'tel') %></b></p>
      </div>

      <div class="row col-md-12">
        <div class="col-md-6 col-xs-12 menu-course">
          <div class="service-box-2">
            <h3>First Course </h3>
            <h4>Chilled Salmon and Pistachio Mousseline </h4>
            <h5>Sautéed Spinach, Topped with a Fine Herb Sauce</h5>
            <p>Paired with:</p>
            <h4>Printemps, Rosé de Provence ‘17</h4>
          </div>
        </div>

        <div class="col-md-6 col-xs-12 menu-course">
          <div class="service-box-2">
            <h3>Second Course </h3>
            <h4>Pork Loin Schnitzel</h4>
            <h5>Grain Mustard Cream, Onion Relish </h5>
            <p>Paired with:</p>
            <h4>Kruger-Rumpf, Pinot Noir Rosé Germany ‘18</h4>
          </div>
        </div>
      </div>

      <div class="col-md-10 col-md-offset-1 col-xs-12">
        <div class="hr hr-png-6"></div>
      </div>

      <div class="row col-md-12">
        <div class="col-md-6 col-xs-12 menu-course">
          <div class="service-box-2">
            <h3>Third Course</h3>
            <h4>Braised Lamb</h4>
            <h5>Very-Mild Malay Curry and Rice </h5>
            <p>Paired with:</p>
            <h4>Mulderbosch, Cabernet Rosé, South Africa ‘17</h4>
          </div>
        </div>

        <div class="col-md-6 col-xs-12 menu-course">
          <div class="service-box-2">
            <h3>Fourth Course </h3>
            <h4>Churros</h4>
            <h5>Dulce de Leche</h5>
            <p>Paired with:</p>
            <h4>Bodegas Latue, Rosè of Spain ‘17</h4>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
