<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page winterWine">
  <div id="page-title" class="pt-bkg-image image-events">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1>January Wine Dinner</h1>

            <h2>Hosted By Lindsay with International Wines</h2>
            <h4>Thursday, January 20th &nbsp;|&nbsp; 6pm<br>$60 per guest</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content"> <!-- fluidMenu -->
    <div class="container food-menus no-padding">
      <div class="intro">
        <p class="res">For Reservations: <span><a href="tel:+12512246510" class="tel">251-224-6510</a></span></p>
      </div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>First Course</h3>
          <h4>Butter Lettuce, Radish, Avocado, Cucumber, Paprika Roasted Chickpeas, Citrus Yogurt Dressing</h4>
          <p>Paired with</p>
          <h4>Vignerons de Buxy Chardonnay, Burgundy, France ‘18</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Second Course</h3>
          <h4>Steak and Gorgonzola En Croute</h4>
          <h5>Roasted Tomato and Onion Jam</h5>
          <p>Paired with</p>
          <h4>Maison Louis Latour Pinot Noir, Burgundy France ‘20</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Third Course</h3>
          <h4>Rabbit Ravioli, Heirloom Carrots, Parsnip & Brioche Crumble</h4>
          <p>Paired with</p>
          <h4>Rhonéa, Gigondas Les Pierres Du Vallat, Rhône Valley, France ‘19</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>


      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Fourth Course</h3>
          <h4>Lemon Basil Curd Tart in Shortbread Crust</h4>
          <p>Paired with</p>
          <h4>Bailly Lapierre, Crémant de Bourgogne Reserve, Burgundy, France</h4>
        </div>
      </div>
      
    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
