<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page winterWine">
  <!-- <div id="page-title" class="pt-bkg-image image-events">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1>Winter Wine Dinner</h1>
            <h2>Hosted by United Johnson Brothers</h2>
            <h4>Thursday, December 28th &nbsp;|&nbsp; 6pm<br>$100 per guest</h4>
          </div>
        </div>
      </div>
    </div>
  </div> -->


  <div class="custom-ww-intro">
    <div class="custom-ww-text">
      <h1>Winter Wine Dinner</h1>
      <h2>Hosted by United Johnson Brothers</h2>
      <h4>Tuesday, December 28th &nbsp;|&nbsp; 6pm <span>&nbsp;|&nbsp;</span><br> $100 per guest</h4>
    </div>
  </div>


  <div class="page-content"> <!-- fluidMenu -->
    <div class="container food-menus no-padding">
      <div class="intro">
        <p class="res">For Reservations: <span><a href="tel:+12512246510" class="tel">251-224-6510</a></span></p>
      </div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>First Course</h3>
          <h4>Melon Bruschetta </h4>
          <h5>With Prosciutto and Feta</h5>
          <p>Paired with</p>
          <h4>Piper Sonoma Brut, Sonoma County, CA</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>


      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Second Course</h3>
          <h4>Winter Salad</h4>
          <h5>Shaved Brussels, Pomegranate Seeds, Granny Smith Apples, Pumpkin Seeds, Shaved Pecorino, Creamy Maple Dressing</h5>
          <p>Paired with</p>
          <h4>Stags' Leap Chardonnay, Napa Valley, CA '19</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>


      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Third Course</h3>
          <h4>Beef Cheeks </h4>
          <h5>Duck Fat Roasted Potatoes, Lentils, Speck, Baby Spinach</h5>
          <p>Paired with</p>
          <h4>Penfolds Bin 389 Cabernet Shiraz, South Australia '18</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>


      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Fourth Course</h3>
          <h4>Lamb Bolognese </h4>
          <h5>With Mushrooms, Goat Cheese, Mint </h5>
          <p>Paired with</p>
          <h4>Faustino I Gran Reserva, Rioja, Spain '10</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>


      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Fifth Course</h3>
          <h4>Dark Chocolate Roulade </h4>
          <h5>With Hazelnut Cinnamon Cream and Raspberry Coulis</h5>
          <p>Paired with</p>
          <h4>Thorn Merlot, The Prisoner Wine Company, Napa Valley, CA '18</h4>
        </div>
      </div>

      
    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
