<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page xwinterWine">
  <div id="page-title" class="pt-bkg-image image-events">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1>Oregon Wine Dinner</h1>
            <h2>Presented by Marcie with Pinnacle Imports</h2>
            <h4>November 17th &nbsp;|&nbsp; 6pm <span> &nbsp;|&nbsp; </span><br>$60 per guest</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content"> <!-- fluidMenu -->
    <div class="container food-menus no-padding">
      <div class="intro">
        <p class="res">For Reservations: <span><a href="tel:+12512246500" class="tel">251-224-6500 (ext. 2)</a></span></p>
      </div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>First Course</h3>
          <h4>Beet &amp; Herb Terrine</h4>
          <h5>Red &amp; Golden Beets, Garlic, Goat Cheese</h5>
          <p>Paired with</p>
          <h4>Illahe Estate Gruner Veltliner, Willamette Valley, OR '21</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Second Course</h3>
          <h4>Butternut Squash with Chorizo</h4>
          <h5>Seared Diver Scallops, Marinate Cucumber Ribbon</h5>
          <p>Paired with</p>
          <h4>Love, Oregon Chardonnay, Willamette Valley, OR '18</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Third Course</h3>
          <h4>Veal Meatball Ragu</h4>
          <h5>Veal Meatballs, Truffle Sacchetti, Wild Mushroom Ragu</h5>
          <p>Paired with</p>
          <h4>Straight Shooter Pinot Noir, Willamette Valley '20</h4>
        </div>
      </div>


      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>


      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Fourth Course</h3>
          <h4>Chestnut Mascarpone Mousse and Tuile Cookies</h4>
          <p>Paired with</p>
          <h4>Christopher Michael Pinot Noir, OR '20</h4>
        </div>
      </div>
      
    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
