<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page">
    <div id="page-title" class="pt-bkg-image image-events">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="title-container less">
                        <h1>January Wine Dinner</h1>
                        <h2>Featuring Pali Wines<br> Hosted by International</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content">
        <div class="container food-menus no-padding">
            <div class="intro">
                <h4>Thursday, January 25th, 2018 &nbsp;|&nbsp; 6:00 p.m.<br> $40 per guest</h4>
                <p class="mobile-show"><b>For Reservations, Call:<br> <%= number_to_phone(2512246510, pattern: /(\d{3})(\d{3})(\d{4})$/,delimiter: "-", class: 'tel') %></b></p>
            </div>
            <div class="row col-md-12">
                <div class="col-md-6 col-xs-12 menu-course">
                  <div class="service-box-2">
                    <h3>1st course</h3>
                    <h4>Lobster Bisque </h4>
                    <h5>With Dry Sherry and Vanilla</h5>
                    <p>Paired with:</p>
                    <h4>Pali, Charm Acres, Chardonnay, Sonoma Coast, CA ‘16</h4>
                  </div>
                </div>

                <div class="col-md-6 col-xs-12 menu-course">
                  <div class="service-box-2">
                    <h3>2nd Course</h3>
                    <h4>Smoked Duck Crostini</h4>
                    <h5>Mustard and Ricotta Spread, Micro Cilantro</h5>
                    <p>Paired with:</p>
                    <h4>Pali, Alphabet, Pinot Noir, Willamette Valley, OR ‘16</h4>
                  </div>
                </div>
            </div>

            <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div class="hr hr-png-6"></div>
            </div>

            <div class="row col-md-12">
                <div class="col-md-6 col-xs-12 menu-course">
                  <div class="service-box-2">
                    <h3>3rd Course</h3>
                    <h4>Ostrich Petite Filet</h4>
                    <h5>Shallot, Garlic, and Thyme, Roasted Native Potatoes, Brussel Sprouts, Mushroom Ragu</h5>
                    <p>Paired with:</p>
                    <h4>Tower 15, The Swell, Red Blend, Paso Robles, CA ‘16</h4>
                  </div>
                </div>

                <div class="col-md-6 col-xs-12 menu-course">
                  <div class="service-box-2">
                    <h3>4th Course</h3>
                    <h4>Almond and Pear Cake</h4>
                    <p>Paired with:</p>
                    <h4>Warre’s Otima 10 Year Port</h4>
                  </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
