<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page">
    <div id="page-title" class="pt-bkg-image image-events">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="title-container less">
                        <h1>March Wine Dinner</h1>
                        <h2>Featuring Wines from Spain<br> Hosted by Rush Imports</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content">
        <div class="container food-menus no-padding">
            <div class="intro">
                <h4>Wednesday, March 21st, 2018 &nbsp;|&nbsp; 6:00 p.m.<br> $40 per guest</h4>
                <p class="mobile-show"><b>For Reservations, Call:<br> <%= number_to_phone(2512246510, pattern: /(\d{3})(\d{3})(\d{4})$/,delimiter: "-", class: 'tel') %></b></p>
            </div>
            <div class="row col-md-12">
                <div class="col-md-6 col-xs-12 menu-course">
                  <div class="service-box-2">
                    <h3>1st course</h3>
                    <h4>Roasted Beet Salad</h4>
                    <h5>With Seared Scallops, Goat Cheese and Spiced Walnuts </h5>
                    <p>Paired with:</p>
                    <h4>Arrumaco Garnacha Rosè, Valencina, Spain ‘16</h4>
                  </div>
                </div>

                <div class="col-md-6 col-xs-12 menu-course">
                  <div class="service-box-2">
                    <h3>2nd Course</h3>
                    <h4>Blackened Shrimp Vichyssoise </h4>
                    <h5>Potato and Leek Soup Served Cold</h5>
                    <p>Paired with:</p>
                    <h4>Lagar de la Santina Albariño, Rias Baixas, Spain ‘16</h4>
                  </div>
                </div>
            </div>

            <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div class="hr hr-png-6"></div>
            </div>

            <div class="row col-md-12">
                <div class="col-md-6 col-xs-12 menu-course">
                  <div class="service-box-2">
                    <h3>3rd Course</h3>
                    <h4>Porchetta with a Fennell Rub</h4>
                    <h5>Crispy Polenta Fries, Arugula, Mushroom Sage Butter</h5>
                    <p>Paired with:</p>
                    <h4>LAN Rioja Reserve, Spain ‘10</h4>
                  </div>
                </div>

                <div class="col-md-6 col-xs-12 menu-course">
                  <div class="service-box-2">
                    <h3>4th Course</h3>
                    <h4>Orange Sabayon </h4>
                    <h5>Fresh Berries</h5>
                    <p>Paired with:</p>
                    <h4>Vega Barcelona, Cava, Penedes, Spain NV</h4>
                  </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
