<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page">
    <div id="page-title" class="pt-bkg-image image-events">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="title-container less">
                        <h1>January Wine Dinner</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content">
        <div class="container food-menus">
            <div class="intro">
                <h2>Italy vs. California </h2>
                <h3>Hosted By Eric Uher with International Wines</h3>
                <h4>January 19th, 2017 &nbsp;|&nbsp; $45 per guest</h4>
            </div>
            <div class="row top">
                <div class="col-md-6 col-xs-12">
                    <div class="service-box-2">
                        <h3>1st course</h3>
                        <h4>Arugula Pear Salad</h4>
                        <h5>Feta and Roasted Garlic Vinaigrette </h5>
                        <p>Paired with:</p>
                        <h4>Cordero Di Montezemolo Arneis, Langhe, Italy ‘15</h4>
                        <h5>Peach and acacia flower bouquet </h5>
                    </div>
                </div>

                <div class="col-md-6 col-xs-12">
                    <div class="service-box-2">
                        <h3>2nd course</h3>
                        <h4>Lobster Tortellini </h4>
                        <h5>Parma Rosa Sauce, Sautéed Spinach </h5>
                        <p>Paired with:</p>
                        <h4>Alexander Valley Gewürz Gewürztraminer, Mendocino County, CA ‘16</h4>
                        <h5>Bright fruit and acidity, Stainless steel</h5>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="service-box-2">
                        <h3>3rd course</h3>
                        <h4>Venison Chop</h4>
                        <h5>Bayou Cora Grits, sweet Peas, Blue Berry Beurre Rouge </h5>
                        <p>Paired with:</p>
                        <h4>Le Grascete ‘Grale’, Bolgheri, Italy ‘13</h4>
                        <h5>Cabernet Sauvignon, Merlot, Sangiovese</h5>
                    </div>
                </div>

                <div class="col-md-6 col-xs-12">
                    <div class="service-box-2">
                        <h3>4th course</h3>
                        <h4>Chocolate Brownie Stack</h4>
                        <h5>Strawberry Compote </h5>
                        <p>Paired with:</p>
                        <h4>Foxglove Cabernet Sauvignon, Paso Robles, CA ‘14</h4>
                        <h5>Plum, dark cherry</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
