<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<!-- <div class="events-listing-page">
    <div id="page-title" class="pt-bkg-image image-events">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="title-container less">
                        <h1>Villaggio's Special Events</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content">
        <div class="container">

        </div>
    </div>
</div> -->

<section class="nye-page">
    <div id="page-title" class="pt-bkg-image image-nye">
        <div class="container">
            <section class="title-container">
                <div class="title text-center">
                    <div class="col-md-4 col-md-offset-8 col-xs-12 p-top-4">
                        <h1>New Year's Eve</h1>
                        <h3>At Villaggio Grille</h3>
                        <h4>December 31, 2016 <br><span>Reservations Required</span></h4>
                        <img src="img/nye.jpg" class="img-center mobile-show">
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="page-content nye-menus">
        <div class="container">
            <div class="col-md-8 col-md-offset-2 col-xs-12">
                <h4>Join Villaggio for a New Year's celebration your taste buds won't forget!</h4>
                <p>We are offering an Earlybird, 3 Course Meal at 5:00pm, and a 4 Course Meal, with 3 Seatings to choose from: 6:30pm, 8:30pm, and 10:00pm. Each option comes with a champagne toast! Take a look at the menus below, and make your reservation today! </p>
            </div>
            <div class="row food-menus">
                <div class="col-md-5 col-md-offset-1 col-xs-12">
                    <div class="nye-box early">
                            <h3 class="text-center">The Earlybird <br>Three Course Meal<br><span> with a Champagne Toast</span></h3>
                            <h4 class="price">5:00pm &nbsp;|&nbsp; $60 per guest</h4>
                            <br>
                            <a class="link" target="_blank" href="New-Years-Earlybird.pdf">View Menu</a>
                    </div>
                </div>

                <div class="col-md-5 col-xs-12">
                    <div class="nye-box reg">
                            <h3 class="text-center">Four Course Meal<br><span> with a Champagne Toast</span></h3>
                            <h5>3 Seatings:</h5>
                            <h4> <span class="seating">6:30pm</span> <span class="seating">8:30pm</span> <span class="seating">10:00pm</span></h4>
                            <h4 class="price">$100 per guest</h4>
                            <a class="link" target="_blank" href="New-Years-Menu.pdf">View Menu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
