<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page winterWine">
  <div id="page-title" class="pt-bkg-image image-events">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1>April Wine Dinner</h1>
            <h2>Featuring Bodegas Faustino Spanish Wines<br>Hosted By Jill with United Thompson Brothers</h2>
            <h4>Thursday, April 21st &nbsp;|&nbsp; 6pm<br>$60 per guest</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content long-menus"> <!-- fluidMenu -->
    <div class="container food-menus no-padding">
      <div class="intro">
        <p class="res">For Reservations: <span><a href="tel:+12512246510" class="tel">251-224-6510</a></span></p>
      </div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>First Course</h3>
          <h4>Tuna Carpaccio, Arugula, Pickled Vegetables, Capers, Sweet Teriyaki Glaze</h4>
          <p>Paired with</p>
          <h4>Bodegas Faustino, Rioja Garnacha Rosé '20</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Second Course</h3>
          <h4>Italian Stuffed Mushrooms</h4>
          <h5>Sweet Pork Sausage, Ricotta, Mascarpone, Herbs, Breadcrumbs, Red Pepper Oil</h5>
          <p>Paired with</p>
          <h4>Bodegas Faustino, Rioja Reserva '15 </h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Third Course</h3>
          <h4>Slow Braised Rabbit</h4>
          <h5>True Mushroom and Goat Cheese Ravioli, Roasted Baby Carrots, Candied Garlic Jus</h5>
          <p>Paired with</p>
          <h4>Bodegas Faustino, Rioja I Gran Reserva '10</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>


      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Fourth Course</h3>
          <h4>Brown Sugar Pound Cake with Blackberry Apple Coulis </h4>
          <p>Paired with</p>
          <h4>Bodegas Faustino, Cava Brut Reserva</h4>
        </div>
      </div>
      
    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>