<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page">
    <div id="page-title" class="pt-bkg-image image-events">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="title-container less">
                        <h1>May Wine Dinner</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content">
        <div class="container food-menus">
            <div class="intro">
                <!-- <h2>March Wine Dinner</h2> -->
                <h2>Hosted By International Wines</h2>
                <h4>May 11, 2017 &nbsp;|&nbsp; 6:00 p.m.<br> $40 per guest</h4>
                <p class="mobile-show"><b>For Reservations, Call:<br> <%= number_to_phone(2512246510, pattern: /(\d{3})(\d{3})(\d{4})$/,delimiter: "-", class: 'tel') %></b></p>
            </div>
            <div class="row col-md-12">
                <div class="col-md-6 col-xs-12">
                  <div class="service-box-2">
                    <h3>1st course</h3>
                        <h4>Triennes Rosé, Provence, France 2016</h4>
                        <h5>Strawberries, hints of white flower, vanilla</h5>
                      <p>Paired with:</p>
                        <h4>Pickled Shrimp and Radish Carpaccio </h4>
                        <!-- <h5>Beets, Radish Sprouts, Tangerine Gastrique </h5> -->
                    </div>
                </div>

                <div class="col-md-6 col-xs-12">
                  <div class="service-box-2">
                    <h3>2nd course</h3>
                        <h4>Nortico Alvarinho, Moncao and Melgao, Portugal </h4>
                        <h5>Citrus and Fruit Aromas, light and crisp</h5>
                      <p>Paired with:</p>
                        <h4>Savory Cheesecake</h4>
                        <h5>Prosciutto, leek, and, Roasted Red Pepper Coulis </h5>
                    </div>
                </div>
            </div>

            <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div class="hr hr-png-6"></div>
            </div>

            <div class="row col-md-12">
                <div class="col-md-6 col-xs-12">
                  <div class="service-box-2">
                    <h3>3rd course</h3>
                        <h4>Butera Nero D’Avola, Sicily</h4>
                        <h5>Dry, complex, bold fruit flavors</h5>
                      <p>Paired with:</p>
                        <h4>Vermicelli Pasta</h4>
                        <h5>Italian Sausage and Mussels, Tomato Broth</h5>
                    </div>
                </div>



                <div class="col-md-6 col-xs-12">
                  <div class="service-box-2">
                    <h3>4th course</h3>
                        <h4>La Grand Courtάge Brut Rosé, France</h4>
                        <h5>Freshness, Fruit, Acidic, Sweetness</h5>
                      <p>Paired with:</p>
                        <h4>Chocolate and Strawberry Cake</h4>
                        <!-- <h5>Spiced Spaghetti Squash, Purple Grape Reduction</h5> -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
