<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page">
    <div id="page-title" class="pt-bkg-image image-events">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="title-container less">
                        <h1>February Italian Wine Dinner</h1>
                        <h2>Featuring Pali Wines<br> Hosted by Pinnacle Imports</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content">
        <div class="container food-menus no-padding">
            <div class="intro">
                <h4>Thursday, February 22nd, 2018 &nbsp;|&nbsp; 6:00 p.m.<br> $40 per guest</h4>
                <p class="mobile-show"><b>For Reservations, Call:<br> <%= number_to_phone(2512246510, pattern: /(\d{3})(\d{3})(\d{4})$/,delimiter: "-", class: 'tel') %></b></p>
            </div>
            <div class="row col-md-12">
                <div class="col-md-6 col-xs-12 menu-course">
                  <div class="service-box-2">
                    <h3>1st course</h3>
                    <h4>Fried Calamari Salad</h4>
                    <h5>Mixed Greens, Parmesan, Red onion and Tomato Basil Vinaigrette</h5>
                    <p>Paired with:</p>
                    <h4>Fantinel Brut Rosé, Italy NV</h4>
                  </div>
                </div>

                <div class="col-md-6 col-xs-12 menu-course">
                  <div class="service-box-2">
                    <h3>2nd Course</h3>
                    <h4>Shrimp and Roasted Tomato Risotto </h4>
                    <h5>Micro Basil and Extra Virgin Olive Oil </h5>
                    <p>Paired with:</p>
                    <h4>Melacce Vermentino D.O.C, Tuscany, Italy ‘15</h4>
                  </div>
                </div>
            </div>

            <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div class="hr hr-png-6"></div>
            </div>

            <div class="row col-md-12">
                <div class="col-md-6 col-xs-12 menu-course">
                  <div class="service-box-2">
                    <h3>3rd Course</h3>
                    <h4>Seared Duck Breast</h4>
                    <h5>Bacon Brussels, Dark Cherry Reduction </h5>
                    <p>Paired with:</p>
                    <h4>Briccotondo Barbara, Piedmont, Italy ‘15</h4>
                  </div>
                </div>

                <div class="col-md-6 col-xs-12 menu-course">
                  <div class="service-box-2">
                    <h3>4th Course</h3>
                    <h4>Brownie Stack</h4>
                    <h5>With Strawberry Compote</h5>
                    <p>Paired with:</p>
                    <h4>Matanè Primitivo, Manduria, Italy ‘16</h4>
                  </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
