<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page">
    <div id="page-title" class="pt-bkg-image image-events">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="title-container less">
                        <h1>February Wine Dinner</h1>
                        <!-- <h3>Honoring President’s Day</h3> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content">
        <div class="container food-menus">
            <div class="intro">
                <h2>February, President’s Day Wine Dinner</h2>
                <h3>Hosted by Pinnacle Imports</h3>
                <h4>February 22, 2017 &nbsp;|&nbsp; 6:00 p.m.<br> $45 per guest</h4>
                <p class="mobile-show"><b>For Reservations, Call:<br> <%= number_to_phone(2512246510, pattern: /(\d{3})(\d{3})(\d{4})$/,delimiter: "-", class: 'tel') %></b></p>
            </div>
            <div class="row top">
                <div class="col-md-6 col-xs-12">
                    <div class="service-box-2">
                        <h3>1st course</h3>
                        <h4>Crab Bisque with Bacon</h4>
                        <!-- <h5>Feta and Roasted Garlic Vinaigrette </h5> -->
                        <p>Paired with:</p>
                        <h4>*Saint-Hilaire Blanquette de Limoux Orange Label Brut<br> Languedoc, France NV</h4>
                        <h5>Dry, toasty, smooth, and clean</h5>
                    </div>
                </div>

                <div class="col-md-6 col-xs-12">
                    <div class="service-box-2">
                        <h3>2nd course</h3>
                        <h4>Alfredo Manicotti</h4>
                        <h5>Stuffed with Smoked Artic Char And Arugula </h5>
                        <p>Paired with:</p>
                        <h4>*Dry Creek Vineyard Chenin Blanc<br> California 2015</h4>
                        <h5>Ripe tangerine and peaches</h5>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="service-box-2">
                        <h3>3rd course</h3>
                        <h4>Sheppard Pie Tortes</h4>
                        <h5>Ground Beef, Mushroom, Corn, Lima Beans, Mozzarella, Demi Glaze and Asparagus</h5>
                        <p>Paired with:</p>
                        <h4>*Bouchard Père &amp; Fils Bourgogne Rouge Burgundy<br> France 2014</h4>
                        <h5>Firm tannins, ripe fruit</h5>
                    </div>
                </div>

                <div class="col-md-6 col-xs-12">
                    <div class="service-box-2">
                        <h3>4th course</h3>
                        <h4>Double Chocolate Bread Pudding</h4>
                        <h5>Strawberry Compote </h5>
                        <p>Paired with:</p>
                        <h4>*Blandy’s, Rainwater Madeira<br> Madeira, Portugal NV</h4>
                        <h5>Elegant and Fine Bouquet </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
