<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page winterWine">
  <div id="page-title" class="pt-bkg-image image-events">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1>Duckhorn Wine Dinner</h1>
            <h2>Hosted by Winston with Alabama Crown</h2>
            <h4>Thursday, March 17th &nbsp;|&nbsp; 6pm<br>$60 per guest</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content long-menus"> <!-- fluidMenu -->
    <div class="container food-menus no-padding">
      <div class="intro">
        <p class="res">For Reservations: <span><a href="tel:+12512246510" class="tel">251-224-6510</a></span></p>
      </div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>First Course</h3>
          <h4>Sorrel, Watermelon Radish, Grapefruit, Red &amp; Golden Beets, Pecorino, Blood Orange Vinaigrette</h4>
          <p>Paired with</p>
          <h4>Duckhorn Sauvignon Blanc, Napa Valley, CA '20 </h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Second Course</h3>
          <h4>Baked Mussels, Boursin Cheese, Lime Zest, Crostini</h4>
          <p>Paired with</p>
          <h4>Migration Chardonnay, Russian River Valley, CA '20</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Third Course</h3>
          <h4>Pork Roulade</h4>
          <h5>Stuffed with Goat Cheese, Dried Cherries, and Spinach, Roasted Vegetables & Walnuts, Dijon Peppercorn Cream</h5>
          <p>Paired with</p>
          <h4>Paraduxx Proprietary Red, Napa Valley, CA '17 </h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>


      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Fourth Course</h3>
          <h4>Plum Tiramisu</h4>
          <p>Paired with</p>
          <h4>Postmark Cabernet Sauvignon, Napa Valley, CA '18 </h4>
        </div>
      </div>
      
    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>