<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page">
    <div id="page-title" class="pt-bkg-image image-events">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="title-container less">
                        <h1>Holiday Wine Dinner</h1>
                        <h2>Hosted By M&amp;J,<br> Featuring French Wines</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content">
        <div class="container food-menus no-padding">
            <div class="intro">
                <h4>Thursday, December 28, 2017 &nbsp;|&nbsp; 6:00 p.m.<br> $60 per guest</h4>
                <p class="mobile-show"><b>For Reservations, Call:<br> <%= number_to_phone(2512246510, pattern: /(\d{3})(\d{3})(\d{4})$/,delimiter: "-", class: 'tel') %></b></p>
            </div>
            <div class="row col-md-12">
                <div class="col-md-6 col-xs-12 menu-course">
                  <div class="service-box-2">
                    <h3>1st course</h3>
                    <h4>Clam and Bacon</h4>
                    <h5>Sautéed in Saffron Broth, Capers, Roasted Red peppers</h5>
                    <p>Paired with:</p>
                    <h4>Cristia Collection Cotes du Rhone Blanc, Cotes du Rhone, France ‘15 </h4>
                  </div>
                </div>

                <div class="col-md-6 col-xs-12 menu-course">
                  <div class="service-box-2">
                    <h3>2nd Course</h3>
                    <h4>Braised Short Rib Tortellini</h4>
                    <h5>Butternut Squash Puree, Short Rib Jus</h5>
                    <p>Paired with:</p>
                    <h4>Domain de Cristia Grenache, Cotes du Rhone, France ‘14</h4>
                  </div>
                </div>
            </div>

            <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div class="hr hr-png-6"></div>
            </div>

            <div class="row col-md-12">
                <div class="col-md-6 col-xs-12 menu-course">
                  <div class="service-box-2">
                    <h3>3rd Course</h3>
                    <h4>Lamb Osso Bucco</h4>
                    <h5>Ricotta &amp; Rosemary Savory Bread Pudding, Blistered Shishito Peppers </h5>
                    <p>Paired with:</p>
                    <h4>Cristia Collection Vacqueyras, Cotes du Rhone, France ‘13</h4>
                  </div>
                </div>

                <div class="col-md-6 col-xs-12 menu-course">
                  <div class="service-box-2">
                    <h3>4th Course</h3>
                    <h4>German Chocolate Cake</h4>
                    <p>Paired with:</p>
                    <h4>Domain de Cristia Cotes du Rhone Rouge, Cotes du Rhone, France ‘15</h4>
                  </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
