<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page">
    <div id="page-title" class="pt-bkg-image image-events">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="title-container less">
                        <h1>Wines of Thanksgiving<br> Wine Dinner</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content">
        <div class="container food-menus">
            <div class="intro">
                <h2>Hosted by Alabama Crown</h2>
                <h4>Thursday, November 16, 2017 &nbsp;|&nbsp; 6:00 p.m.<br> $40 per guest</h4>
                <p class="mobile-show"><b>For Reservations, Call:<br> <%= number_to_phone(2512246510, pattern: /(\d{3})(\d{3})(\d{4})$/,delimiter: "-", class: 'tel') %></b></p>
            </div>
            <div class="row col-md-12">
                <div class="col-md-6 col-xs-12">
                  <div class="service-box-2">
                        <h3>1st course</h3>
                        <h4>Andouille Crawfish Deviled Eggs</h4>
                        <h5>Micro Cilantro </h5>
                        <p>Paired with:</p>
                        <h4>Segura Viudas Brut cava, NV</h4>
                    </div>
                </div>

                <div class="col-md-6 col-xs-12">
                  <div class="service-box-2">
                        <h3>2nd course</h3>
                        <h4>Roasted Acorn Squash Soup</h4>
                        <h5>Crab and Nutmeg</h5>
                        <p>Paired with:</p>
                        <h4>Tenshen White Wine Viogner and Grenache Blanc, Central Coast, CA ‘15</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div class="hr hr-png-6"></div>
            </div>

            <div class="row col-md-12">
                <div class="col-md-6 col-xs-12">
                  <div class="service-box-2">
                        <h3>3rd course</h3>
                        <h4>Slow Roasted Honey Glazed</h4>
                            <h5>Turkey Breast, Sweet Potato Gratin, Cranberry Reduction</h5>
                            <p>Paired with:</p>
                            <h4>Don and Sons Pinot Noir, Sonoma Coast, CA ‘15</h4>
                    </div>
                </div>



                <div class="col-md-6 col-xs-12">
                  <div class="service-box-2">
                        <h3>4th course</h3>
                        <h4>Pecan Pie</h4>
                        <h5>Caramel Sauce, Blueberries and Cream</h5>
                        <p>Paired with:</p>
                        <h4>Monte Gras Antu Sryah, Chile ‘14</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
