<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page">
    <div id="page-title" class="pt-bkg-image image-events">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="title-container less">
                        <h1>April Wine Dinner</h1>
                        <h2>Hosted by M&amp;J Wines</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content">
        <div class="container food-menus no-padding">
            <div class="intro">
                <h4>April 26th, 2018 &nbsp;|&nbsp; 6:00 p.m.<br> $40 per guest</h4>
                <p class="mobile-show"><b>For Reservations, Call:<br> <%= number_to_phone(2512246510, pattern: /(\d{3})(\d{3})(\d{4})$/,delimiter: "-", class: 'tel') %></b></p>
            </div>
            <div class="row col-md-12">
                <div class="col-md-6 col-xs-12 menu-course">
                  <div class="service-box-2">
                    <h3>1st course</h3>
                    <h4>Curried Shrimp Spring Rolls </h4>
                    <h5>Rice Noodles, Thai Peanut Sauce</h5>
                    <p>Paired with:</p>
                    <h4>Nia Chardonnay, Monterey County, CA </h4>
                  </div>
                </div>

                <div class="col-md-6 col-xs-12 menu-course">
                  <div class="service-box-2">
                    <h3>2nd Course</h3>
                    <h4>Pan Seared Salmon </h4>
                    <h5>Pesto and Feta Bowtie Pasta Salad, Eggplant Caponata </h5>
                    <p>Paired with:</p>
                    <h4>Nia Pinot Noir, Mendocino County, CA </h4>
                  </div>
                </div>
            </div>

            <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div class="hr hr-png-6"></div>
            </div>

            <div class="row col-md-12">
                <div class="col-md-6 col-xs-12 menu-course">
                  <div class="service-box-2">
                    <h3>3rd Course</h3>
                    <h4>Veal Ossobucco Anglioti </h4>
                    <h5>Caramelized Onion and Roasted Tomatoes, Sprinkled with Gorgonzola Buerre Rouge </h5>
                    <p>Paired with:</p>
                    <h4>Nia Cabernet Sauvignon, Mokelumne Vallley, Lodi, CA </h4>
                  </div>
                </div>

                <div class="col-md-6 col-xs-12 menu-course">
                  <div class="service-box-2">
                    <h3>4th Course</h3>
                    <h4>Chocolate Overload Cake </h4>
                    <h5>Macerated Strawberries, Blueberry Coulis  </h5>
                    <p>Paired with:</p>
                    <h4>Louis Vallon, Sparkling Rose, Cremant de Bordeaux, France</h4>
                  </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
