<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page">
  <div id="page-title" class="pt-bkg-image image-events">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1>5-Course Holiday Wine Dinner</h1>
            <h2>Featuring  Women Winemakers <br>Presented by United Johnson Brothers</h2>
            <h4>December 28th &nbsp;|&nbsp; 6pm <span> &nbsp;|&nbsp; </span><br>$100 per guest</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content"> <!-- fluidMenu -->
    <div class="container food-menus no-padding">
      <div class="intro">
        <p class="res">For Reservations: <span><a href="tel:+12512246510" class="tel">251-224-6510</a></span></p>
      </div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>STARTER</h3>
          <h4>Winter White Salad</h4>
          <h5>Endive, Cauliflower, Fennel, Daikon Radish, Pear, White Grapes, Shaved Pecorino Yogurt Lemon Dressing</h5>
          <p>Paired with</p>
          <h4>J Vineyards Cuvee 20 Brut Russian River Valley, CA</h4>
          <h5>Wine Maker: Nicole Hitchcock</h5>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Second Course</h3>
          <h4>Italian Sausage and Manchego Spring Rolls </h4>
          <h5>Caramelized Onion, Wild Mushroom Whole Grain Honey Mustard</h5>
          <p>Paired with</p>
          <h4>Saldo Chenin Blanc, CA</h4>
          <h5>Wine Maker: Chrissy Wittmann and Sally Nightingale</h5>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Third Course</h3>
          <h4>Tagliatelle al Camarones y Pesto</h4>
          <h5>Tagliatelle Pasta, Gulf Shrimp, Sun Dried Tomatoes, Grilled Portobello, Pesto Cream</h5>
          <p>Paired with</p>
          <h4>J Vineyards Russian River Valley Pinot Noir, CA</h4>
          <h5>Wine Maker: Nicole Hitchcock</h5>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Fourth Course</h3>
          <h4>Veal Osso Buco</h4>
          <h5>Peas and Baby Carrots, Whipped Gold Potatoes Dark Cherry Veal Jus and Cippolini Onions</h5>
          <p>Paired with</p>
          <h4>Arrowood Knights Valley Cabernet Sauvignon, Sonoma County, CA </h4>
          <h5>Wine Maker: Kristina Shideler</h5>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="course">
        <div class="service-box-2">
          <h3>Fifth Course</h3>
          <h4>Dark Chocolate Tart</h4>
          <h5>Apricot Preserves, Pistachio Cream </h5>
          <p>Paired with</p>
          <h4>Prisoner Red Blend, CA</h4>
          <h5>Wine Maker: Chrissy Wittmann and Sally Nightingale</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
