<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page">
    <div id="page-title" class="pt-bkg-image image-events">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="title-container less">
                        <h1>March Wine Dinner</h1>
                        <!-- <h3>Honoring President’s Day</h3> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content">
        <div class="container food-menus">
            <div class="intro">
                <!-- <h2>March Wine Dinner</h2> -->
                <h2>With Barrymore Wines</h2>
                <h4>March 15, 2017 &nbsp;|&nbsp; 6:00 p.m.<br> $50 per guest</h4>
                <p class="mobile-show"><b>For Reservations, Call:<br> <%= number_to_phone(2512246510, pattern: /(\d{3})(\d{3})(\d{4})$/,delimiter: "-", class: 'tel') %></b></p>
            </div>
            <div class="row ">
                <div class="col-md-6 col-xs-12">
                  <div class="service-box-2">
                    <h3>1st course</h3>
                        <h4>Barrymore Pinot Grigio, Monterey, CA 15’</h4>
                        <h5>Minerality, Melon, Honeydew, Citrus Notes</h5>
                      <p>Paired with:</p>
                        <h4>Scallop Crudo</h4>
                        <h5>Beets, Radish Sprouts, Tangerine Gastrique </h5>
                    </div>
                </div>

                <div class="col-md-6 col-xs-12">
                  <div class="service-box-2">
                    <h3>2nd course</h3>
                        <h4>Carmel Road Un-Oaked Chardonnay, Monterey, CA 14’</h4>
                        <h5>Breadfruits, Guava, Mango, Tangerine</h5>
                      <p>Paired with:</p>
                        <h4>Crab &amp; Asparagus Salad</h4>
                        <h5>Toasted Almonds, Goat Cheese &amp; Citrus Garlic Oil</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div class="hr hr-png-6"></div>
            </div>

            <div class="row">
                <div class="col-md-6 col-xs-12">
                  <div class="service-box-2">
                    <h3>3rd course</h3>
                        <h4>Carmel Road, Pinot Noir, Monterey, CA  12’ 100% Pinot Noir</h4>
                        <h5>Toasty Oak, Rich &amp; Round, Juicy Berries</h5>
                      <p>Paired with:</p>
                        <h4>Oven Roasted Airline Chicken</h4>
                        <h5>Tomato, Caper, Speckled Butter Beans, Rague Brown Butter</h5>
                    </div>
                </div>



                <div class="col-md-6 col-xs-12">
                  <div class="service-box-2">
                    <h3>4th course</h3>
                        <h4>Drew’s Blend Pinot Noir</h4>
                        <h5>Spice, Tobacco, Vibrant Red Fruit</h5>
                      <p>Paired with:</p>
                        <h4>Honey Glazed Pork Tenderloin</h4>
                        <h5>Spiced Spaghetti Squash, Purple Grape Reduction</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
