<% @page_title = "Special Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page winterWine">
  <div id="page-title" class="pt-bkg-image image-events">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less">
            <h1>February Wine Dinner</h1>

            <h2>Hosted by Christina with Rush Wines</h2>
            <h4>Thursday, February 17th &nbsp;|&nbsp; 6pm<br>$60 per guest</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content"> <!-- fluidMenu -->
    <div class="container food-menus no-padding">
      <div class="intro">
        <p class="res">For Reservations: <span><a href="tel:+12512246510" class="tel">251-224-6510</a></span></p>
      </div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>First Course</h3>
          <h4>Spinach, Oranges, Candied Pork Belly, Feta, Raspberry Poppy Seed Vinaigrette</h4>
          <p>Paired with</p>
          <h4>Poderi Garona, Colline Novaresi Fenrose Roasato, Piedmont, Italy ‘20</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Second Course</h3>
          <h4>Sicilian Tuna Poke, Fried Capers, Balsamic, Sesame Seeds, Scallions, Pine Nuts, Endive Boat</h4>
          <p>Paired with</p>
          <h4>Tenuta Maccan Pinot Grigio, Friuli-Venezia Giulia, Italy, ‘20</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>

      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Third Course</h3>
          <h4>Beef Bordelaise, White Bean Puree, Carrots, Pearl Onions</h4>
          <p>Paired with</p>
          <h4>Brancatelli Toscana Valle delle Stelle, Tuscany, Italy, ‘17</h4>
        </div>
      </div>

      <div class="col-md-8 center-block col-xs-12 hr-dec"><div class="hr hr-png-6"></div></div>
      <div class="clearfix"></div>


      <div class="col-md-10 center-block col-sm-12">
        <div class="service-box-2">
          <h3>Fourth Course</h3>
          <h4>Strawberry Napoleon, Puff Pastry, Homemade Chambord Whipped Cream, Macerated Strawberries</h4>
          <p>Paired with</p>
          <h4>Pavolino Prosecco, Veneto, Italy</h4>
        </div>
      </div>
      
    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>