<% @page_title = "Thanksgiving Meals" %>
<% @page_description = "Let Villaggio Grille provide the meal for your family's Thanksgiving this year!" %>

<div class="events-listing-page elp-thanks">
  <div class="fullSec simpleTitle">
    <h1>Thanksgiving Family Meals</h1>
    <h2>Thursday, November 23, 2023 <span class="dot one">&nbsp;&middot;&nbsp;</span> $80 per meal<br class="br2" /> <span class="dot two">&nbsp;&middot;&nbsp;</span> Serves Family of 4 </h2>
	  <h3>All you have to do is:</h3>
	  <ul>
	  	<li>Call to Order: <a href="tel:+12512246510"><b>251.224.6510</b></a></li>
	  	<li>Select a Pick Up Time:<br class="br3" /> <b>11am, 12pm, 1pm, 2pm</b></li>
	  	<li>&amp; ENJOY!</li>
	  </ul>
  </div>

  <div class="page-content">
  	<div class="inside og">
	  	<p class="instr">Click the image below to view a larger version</p>
	  	<a href="Thanksgiving.pdf" target="_blank"><%= image_tag "thanksgiving.png", class: "menuImg", alt:"Villaggio's Thanksgiving Menu" %></a>
		</div>
	</div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
