<% @page_title = "Valentine's Menu" %>
<% @page_description = "Your Valentine will feel the love when you celebrate with Villaggio Grille. Enjoy our special, Valentine's Day menu!" %>

<div id="menupage">
  <div id="page-title" class="pt-bkg-image valentine">
    <div class="title-container less">
      <div class="fancy-box">
        <h1>Join us for Valentine's Day</h1>
        <h2>February 14th, 2020</h2>
      </div>
    </div>
  </div>

  <div class="page-content food-menus">
    <section class="tabs-example">
      <div class="tabs">
        <div class="container no-padding">
          <div class="col-md-8 col-md-offset-2 col-xs-12">
            <div id="accordeon" class="col-md-12 no-padding" role="tablist">
              <div class="cbp-item">
                
                <div class="cbp-caption first">
                  <div class="cbp-caption-defaultWrap">
                    <h4>Starters &amp; Salads</h4>
                  </div>

                  <div class="cbp-caption-activeWrap" aria-expanded="true" >
                    <div class="cbp-l-caption-body">
                      <div class="menu-item">
                        <h4>Smoked Salmon Terrine <span> ... $14</span></h4>
                        <p>Smoked Salmon Layered with Lemon Pepper Cream Cheese, Capers, Red Onion, Mustard Dill Dressing </p>
                      </div>

                      <div class="menu-item">
                        <h4>West Indies Salad <span> ... $14</span></h4>
                        <p>Crab, Cucumber, &amp; Onion, Marinated in Champagne Vinaigrette, with Arugula &amp; Assorted Crackers</p>
                      </div>

                      <div class="menu-item">
                        <h4>Calamari <span> ... $12</span></h4>
                        <p>Lightly Fried Seasoned Calamari, Parmesan Cheese, Lemon, &amp; Citrus Chili Aioli</p>
                      </div>

                      <div class="menu-item">
                        <h4>Cheese &amp; Fruit <span> ... $14</span></h4>
                        <p>Artisanal Cheeses, Fresh Seasonal Fruits, Spiced Walnuts, Fig Spread, &amp; Assorted Crackers</p>
                      </div>

                      <div class="menu-item">
                        <h4>Tuna Carpaccio <span> ... $14</span></h4>
                        <p>Arugula, Capers, &amp; Pickled Vegetables</p>
                      </div>

                      <div class="menu-item">
                        <h4>Stuffed Sweet Peppers <span> ... $12</span></h4>
                        <p>Sausage, Rice, Red Onion, Arugula</p>
                      </div>

                      <div class="menu-item">
                        <h4>Prosciutto Rockefeller Oysters <span> ... $14</span></h4>
                        <p>Prosciutto &amp; Spinach Cream, topped with Parmesan Cheese</p>
                      </div>

                      <div class="menu-item">
                        <h4>Goat Cheese &amp; Walnut Salad <span> ... $8</span></h4>
                        <p>Spring Mix, Dried Cherries, Spiced Walnuts, &amp; Goat Cheese, served with Roasted Fig Vinaigrette</p>
                      </div>

                      <div class="menu-item">
                        <h4>Chopped Caesar <span> ... $6</span></h4>
                        <p>Romaine Hearts, Grape Tomatoes, Croutons, &amp; Parmesan, tossed in Caesar Dressing </p>
                      </div>

                      <div class="menu-item">
                        <h4>Caprese <span> ... $10</span></h4>
                        <p>Fresh Mozzarella, Tomatoes, Basil, Olive Oil, &amp; Balsamic Reduction</p>
                      </div>

                      <div class="menu-item">
                        <h4>Villaggio Salad <span> ... $6</span></h4>
                        <p>Spring Mix, Grape Tomatoes, Sliced Red Onion, &amp; Parmesan Cheese, with Roasted Fig Vinaigrette</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="cbp-caption second">
                  <div class="cbp-caption-defaultWrap">
                    <h4>Entrées</h4>
                  </div>

                  <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                      <div class="menu-item">
                        <h4>Cowboy Ribeye <span> ... 22oz - $40</span></h4>
                        <p>Smashed Fingerling Potatoes, Asparagus, Demi Glace</p>
                      </div>

                      <div class="menu-item">
                        <h4>Lamb Chops <span> ... 12oz - $30</span></h4>
                        <p>Mint Pesto Risotto, Green Beans, Fig Jam</p>
                      </div>

                      <div class="menu-item">
                        <h4>Blackened New York Strip <span> ... 12oz - $24</span></h4>
                        <p>Spinach Gnocchi, Broccolini, Bleu Cheese Cream Sauce</p>
                      </div>

                      <div class="menu-item">
                        <h4>Filet Mignon <span> ... 5oz - $28</span></h4>
                        <p>Potato Gratin, Sauteed Spinach, Lobster Creole Cream</p>
                      </div>

                      <div class="menu-item">
                        <h4>Honey Truffle Shrimp <span> ... $24</span></h4>
                        <p>Roasted Tomato Risotto, Broccolini, White Truffle Honey Glaze</p>
                      </div>

                      <div class="menu-item">
                        <h4>Pan Seared Scallops <span> ... $28</span></h4>
                        <p>Strawberry Spinach Risotto, Brown Butter Vinaigrette</p>
                      </div>

                      <div class="menu-item">
                        <h4>Grilled Fish of the Day <span> ... $24</span></h4>
                        <p>Truffle Mashed Potatoes, Squash Succotash, Brown Butter Vinaigrette</p>
                      </div>

                      <div class="menu-item">
                        <h4>Salmon Oscar <span> ... $26</span></h4>
                        <p>Crab Encrusted, Roasted Fingerlings, Green Beans, Bearnaise</p>
                      </div>

                      <div class="menu-item">
                        <h4>Shrimp Sacchetti <span> ... $22</span></h4>
                        <p>Pasta Stuffed with Truffle Infused Ricotta, Roasted Tomatoes, Peas, Prosciutto, Chardonnay Cream Sauce</p>
                      </div>

                      <div class="menu-item">
                        <h4>Butternut Ravioli <span> ... $20</span></h4>
                        <p>Butternut Squash Filled Ravioli, Caramelized Onions and Capers, Sage Brown Butter</p>
                      </div>

                      <div class="menu-item">
                        <h4>Cajun Crab Cake <span> ... $24</span></h4>
                        <p>Saffron Rice Pilaf, Roasted Brussels, Remoulade</p>
                      </div>

                      <div class="menu-item">
                        <h4>Chicken Cordon Bleu <span> ... $22</span></h4>
                        <p>Potato Cake, Shaved Brussels, Swiss Cheese, Whole Grain Mustard Cream</p>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="cbp-caption third">
                  <div class="cbp-caption-defaultWrap">
                    <h4>Dessert</h4>
                  </div>

                  <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                      <div class="menu-item">
                        <h4>Lemon Drop Cheesecake <span> ... $8</span></h4>
                        <p>Cheesecake Swirled with Lemon Curd and Vanilla Crumbs</p>
                      </div>

                      <div class="menu-item">
                        <h4>Mini Chocolate Lava Cake <span> ... $8</span></h4>
                        <p>Served with Strawberry Gelato</p>
                      </div>

                      <div class="menu-item">
                        <h4>Pecan and Walnut Tart <span> ... $8</span></h4>
                        <p>Served with Whipped Cream</p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
