<% @page_title = "Upcoming Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>


<div class="events-listing-page">
  <div id="page-title" class="pt-bkg-image image-vday">
      <div class="overlay">
          <div class="container">
              <!-- <div class="row"> -->
                  <div class="title-container less">
                      <h1>Valentine Features</h1>
                      <h2>Offered February 11 - 14</h2>
                  </div>
              <!-- </div> -->
          </div>
      </div>
  </div>

  <div class="page-content food-menus">
    <div class="container">
      <div class="row">
        <h3 class="text-center">Small Plates</h3>
        <div class="col-md-5 col-md-offset-1 col-xs-12">
          <div class="service-box-2">
            <h3>Wagyu Beef Carpaccio</h3>
            <h4>Horseradish Cream, Arugula, Shaved Red Onion, Capers <br><span>$10</span></h4>
          </div>
        </div>

        <div class="col-md-5 col-xs-12">
          <div class="service-box-2">
            <h3>Arctic Char Salad</h3>
            <h4>Garlic Cured Arctic Char, Red Onion, Arugula, Capers, Garlic Mustard Vinaigrette <br><span>$10</span></h4>
          </div>
        </div>
      </div>
      <div class="col-xs-12"><div class="hr hr-png-6"></div></div>


      <div class="row">
        <h3 class="text-center">Entrees</h3>
        <div class="col-md-5 col-md-offset-1 col-xs-12">
          <div class="service-box-2">
            <h3>Braised Venison Osso Buco </h3>
            <h4>Cream &amp; Caramelized Onion Orzo, Broccolini, Pan Jus <br><span>$24</span></h4>
          </div>
        </div>

        <div class="col-md-5 col-xs-12">
          <div class="service-box-2">
            <h3>Herb Crusted Prime Rib</h3>
            <h4>Horseradish Mashed Potatoes, Sautéed Green Beans, Dry Cherry Demi Glaze <br><span>$26</span></h4>
          </div>
        </div>

        <div class="col-md-5 col-md-offset-1 col-xs-12">
          <div class="service-box-2">
            <h3>Pan Seared Split Lobster</h3>
            <h4>Roasted Garlic Wild Rice, Baby Carrots, Lemon Beurre Blanc<br><span>$28</span></h4>
          </div>
        </div>

        <div class="col-md-5 col-xs-12">
          <div class="service-box-2">
            <h3>Pan Seared Flounder</h3>
            <h4>Savory Bread Pudding, Brussels Sprouts, Jalapeno, Blood Orange Vinaigrette <br><span>$24</span></h4>
          </div>
        </div>
      </div>
      <div class="col-xs-12"><div class="hr hr-png-6"></div></div>

      <div class="row">
        <h3 class="text-center">Desserts</h3>
        <div class="col-md-5 col-md-offset-1 col-xs-12">
          <div class="service-box-2">
            <h3>Strawberry Crème Brule </h3>
            <h4>Fresh Berries<br><span>$8</span></h4>
          </div>
        </div>

        <div class="col-md-5 col-xs-12">
          <div class="service-box-2">
            <h3>Chocolate Blackberry Cream Bar</h3>
            <h4>Blackberry Compote <br><span>$8</span></h4>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
