<% @page_title = "Wine List" %>
<% @page_description = "Food this good deserves the company of great wine! That is why Ginny Lane's Wine List is so tempting." %>

    <div id="page-title" class="pt-bkg-image image-wine">
        <div class="title-container less">
            <section class="fancy-heading center">
                <h1>Villaggio's Wine List</h1>
            </section>
        </div>
    </div>

        <div class="entrance">
            <div class="col-md-12">
                <%= image_tag( 'spectator.png', alt: 'Villaggio Grille wine spectator award', class: 'img-responsive sm-center-img') %>
                <h4>Villaggio Grille is the Wine Spectator Award Winner of '09, 10, 11, 12, 13, 15</h4>
            </div>

            <div class="col-md-12">
                <h5>$6 House Wine on Draft - Guenoc Middletown, CA '14<br> Ask Server for Varietal Options</h5>
            </div>
        </div>

    <div class="page-content">
        <section class="tabs-example">
            <div class="tabs">
                <div class="container">
                    <div class="col-md-8 col-md-offset-2 col-xs-12">
                        <div class="row list1">
                            <h2 class="fancy-heading center">White Wine</h2>
                            <div id="accordeon" class="col-md-12 no-padding">
                                <div class="cbp-item">
                                    <div class="cbp-caption first">
                                        <div class="cbp-caption-defaultWrap">
                                            <h4>Chardonnay</h4>
                                        </div>

                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-body">
                                                <div class="menu-item">
                                                    <h5><strong>Glass/Bottle</strong></h5>
                                                    <h6>Schell Creek, Central Coast, CA ’15</h6>
                                                    <h6>Treana, Paso Robles, CA ’13</h6>
                                                    <h6>Carmel Road, Unoaked, Monterey, CA 14</h6>
                                                    <h6>Jean-Marc Brocard, Saint Claire, France ’15 </h6>

                                                    <h5><strong>By The Bottle</strong></h5>
                                                    <h6>Steele, Cuvee, Lake County, CA ’14</h6>
                                                    <h6>Bouchard Pere and Fils, Burgundy, France ’13</h6>
                                                    <h6>William Fevre, Chablis, France ’14</h6>
                                                    <h6>Domaine Luquet Roger, PouillyFuisse, France, ’12</h6>
                                                    <h6>Jordan, Russian River Valley, CA ’13</h6>
                                                    <h6>Orin Swift, Mannequin, CA ’13</h6>
                                                    <h6>Domaine Serene, “Evenstad Reserve”, Dundee Hills, OR, ’13</h6>
                                                    <h6>Shafer, “Carneros”, Napa Valley, CA ’13</h6>
                                                    <h6>Nickel &amp; Nickel, Napa Valley, CA ’14</h6>
                                                    <h6>Far Niente, Napa Valley, CA ’14</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cbp-caption second">
                                        <div class="cbp-caption-defaultWrap">
                                            <h4>Sauvignon Blanc</h4>
                                        </div>

                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-body">
                                                <div class="menu-item">
                                                    <h5><strong>Glass/Bottle</strong></h5>
                                                    <h6>Domaine de Ballade, Gascony, France ’15</h6>
                                                    <h6>Whites Bay, Marlborough, New Zealand ’15</h6>
                                                    <h6>Wagner Family, Emmolo, Napa Valley, ’15</h6>

                                                    <h5><strong>By The Bottle</strong></h5>
                                                    <h6>Alto “Los Romeros”, Central Valley, Chile ’15</h6>
                                                    <h6>Alta Maria Vineyard, Santa Barbara, CA ’13</h6>
                                                    <h6>Cakebread Cellars, Napa Valley, CA ’15</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cbp-caption third">
                                        <div class="cbp-caption-defaultWrap">
                                            <h4>Pinot Grigio</h4>
                                        </div>

                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-body">
                                                <div class="menu-item">
                                                    <h5><strong>Glass/Bottle</strong></h5>
                                                    <h6>Orsino, Italy ’15</h6>
                                                    <h6>Noble Vines, 152, Monterey, CA ’15</h6>
                                                    <h6>Acrobat, Oregon ’15</h6>

                                                    <h5><strong>By The Bottle</strong></h5>
                                                    <h6>Torii Mor, Pinot Gris, Willamette, OR ’15</h6>
                                                    <h6>Ornella Molon, Italy ’14</h6>
                                                    <h6>Colterenzio-Schreckbichl, Alto Adige, Italy ’14</h6>
                                                    <h6>Swanson, Napa, CA ’14</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cbp-caption fourth">
                                        <div class="cbp-caption-defaultWrap">
                                        <h4>Rosè</h4>
                                        </div>

                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-body">
                                                <div class="menu-item">
                                                    <h5><strong>Glass/Bottle</strong></h5>
                                                    <h6>Angeline, Pinot Noir, CA ’16</h6>
                                                    <h6>Domain de Triennes, Provence, France ’16</h6>
                                                    <h6>Bardolino Chiaretto Classico, Le Morette, Italy ’14</h6>

                                                    <h5><strong>By The Bottle</strong></h5>
                                                    <h6>Liquid Geography, Mencia, Spain</h6>
                                                    <h6>Tuck Beckstoffer “Hogwash”, St. Helena, CA ’14</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cbp-caption fifth">
                                        <div class="cbp-caption-defaultWrap">
                                        <h4>Distinctive Whites</h4>
                                        </div>

                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-body">
                                                <div class="menu-item">
                                                    <h5><strong>Glass/Bottle</strong></h5>
                                                    <h6>Stemmari, Moscato, Sicily, Italy</h6>
                                                    <h6>Ela, Vinho Verde, Ninho Portugal ‘15 </h6>
                                                    <h6>Starling Castle, Riesling, Germany ’15</h6>
                                                    <h6>Badenhorst, “Secateurs,” Chenin Blanc, South Africa ’15</h6>
                                                    <h6>E. Guigal, Rhone Blanc, Côtes du Rhone, France ’13</h6>
                                                    <h6>Conundrum White, CA ’15</h6>

                                                    <h5><strong>By The Bottle</strong></h5>
                                                    <h6>Firesteed, Dry Riesling, Rickreal, OR ’12</h6>
                                                    <h6>Shooting Star, Aligote, WA ’12</h6>
                                                    <h6>Domaine Schlumberger, Les Princes Abbes, Alsace, France ’12</h6>
                                                    <h6>Licia,Albarino, Rias Baixas, Spain ’14</h6>
                                                    <h6>Montinore Estate, Gewurztraminer, Willamette, OR’13</h6>
                                                    <h6>d’Arenberg, Hermit Crab, Viognier, McLaren Vale, Australia ’14</h6>
                                                    <h6>Anastasia, Semidano, Sardegna, Italy ’15</h6>
                                                    <h6>Berger,Gruner Veltliner, Austria 1Liter ’14</h6>
                                                    <h6>Falanghina, Puglia, Italy ’14</h6>
                                                    <h6>Robert Mondavi “Oakville”, Fumé Blanc, Napa, CA ’12</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cbp-caption sixth">
                                        <div class="cbp-caption-defaultWrap">
                                        <h4>Sparkling/Dessert</h4>
                                        </div>

                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-body">
                                                <div class="menu-item">
                                                    <h5><strong>Glass/Bottle</strong></h5>
                                                    <h6>Los Monteros, Cava Brut, Spain NV</h6>
                                                    <h6>Prima Cuvee, Prosecco, Veneto, Italy NV</h6>
                                                    <h6>Rotari, Trento Brut, Trento-Alto Adige, Italy NV</h6>

                                                    <h5><strong>By The Bottle</strong></h5>
                                                    <h6>Bucket of Bubbles, Mionetto Rose &amp; Prosecco, CA, NV</h6>
                                                    <h6>Fantinel, Rose, Italy, NV</h6>
                                                    <h6>Roederer Estate, Brut, Anderson Valley, CA, NV</h6>
                                                    <h6>Mumm Cuvee, Napa Brut, CA NV</h6>
                                                    <h6>Laurent-Perrier, Brut, Champagne, France, NV</h6>
                                                    <h6>Veuve Cliquot Brut, Champagne, France, NV</h6>
                                                    <h6>Dom Perignon, Champange, France, 04</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row list2">
                            <h2 class="fancy-heading center">Red Wine</h2>
                            <div id="solo" class="col-md-12 no-padding">
                                <div class="cbp-item">
                                    <div class="cbp-caption first">
                                        <div class="cbp-caption-defaultWrap">
                                            <h4>Pinot Noir</h4>
                                        </div>

                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-body">
                                                <div class="menu-item">
                                                    <h5><strong>Glass/Bottle</strong></h5>
                                                    <h6>Angeline Reserve, California Coast ’16</h6>
                                                    <h6>Maison LouisLatour, Provence, France ’13</h6>
                                                    <h6>Meiomi, CA ’15</h6>
                                                    <h6>Love Oregon, McMinnville, OR ’14</h6>

                                                    <h5><strong>By The Bottle</strong></h5>
                                                    <h6>Cescon, Veneto, Italy ’15</h6>
                                                    <h6>Torii Mor, Willamette Valley, OR ‘14</h6>
                                                    <h6>Bouchard Pere and Fils, Bourgogne, France ’14</h6>
                                                    <h6>Miura, Santa Lucia Highlands, CA ’15</h6>
                                                    <h6>Bethel Heights, Eola-Amity Hills, OR ‘13</h6>
                                                    <h6>Cristom, Mt. Jefferson Cuvee, Willamette Valley, OR ’14</h6>
                                                    <h6>Belle Glos, “Clark and Telephone”, Santa Barbara, CA ’15</h6>
                                                    <h6>Domaine Serene Yamhill Appelation, OR ’13</h6>
                                                    <h6>Twomey, Russian River Valley, 14</h6>
                                                    <h6>Cherry Pie, Carneros, Napa, CA ’13</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cbp-caption second">
                                        <div class="cbp-caption-defaultWrap">
                                            <h4>Merlot</h4>
                                        </div>

                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-body">
                                                <div class="menu-item">
                                                    <h5><strong>Glass/Bottle</strong></h5>
                                                    <h6>Schell Creek, Santa Rosa, CA ’15</h6>
                                                    <h6>Independent Producers, “Bacchus,” Columbia Valley, WA ’13</h6>

                                                    <h5><strong>By The Bottle</strong></h5>
                                                    <h6>Parcel 41, Napa Valley, CA ’14</h6>
                                                    <h6>Swanson Vineyards, Napa Valley, CA ’12</h6>
                                                    <h6>Steele “Stymie” Lake County, CA ’10</h6>
                                                    <h6>Duckhorn, Napa Valley, CA’13</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cbp-caption third">
                                        <div class="cbp-caption-defaultWrap">
                                            <h4>Cabernet Sauvignon</h4>
                                        </div>

                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-body">
                                                <div class="menu-item">
                                                    <h5><strong>Glass/Bottle</strong></h5>
                                                    <h6>Avalon, Central Coast, Ca ’14</h6>
                                                    <h6>Smith &amp; Hook, Central Coast, CA ’15</h6>
                                                    <h6>The Counselor, Alexander Valley, CA ’15</h6>
                                                    <h6>Revelry, Walla Walla, WA ’13</h6>
                                                    <h6>Hendry, HRW, Napa, CA ’14</h6>

                                                    <h5><strong>By The Bottle</strong></h5>
                                                    <h6>Cigar Box, Maipo, Chile ’15</h6>
                                                    <h6>Roth, Alexander Valley, CA’ 13</h6>
                                                    <h6>Treana, Paso Robles, CA ’14</h6>
                                                    <h6>Stonestreet, Alexander Valley, CA ’14</h6>
                                                    <h6>Peju, “Provence”, Napa Valley, CA ’13</h6>
                                                    <h6>Stag’s Leap, “Artemis”, Napa Valley, CA ’14</h6>
                                                    <h6>Jordan, Alexander Valley, CA ’12</h6>
                                                    <h6>Joseph Phelps, Napa Valley, CA ’13</h6>
                                                    <h6>Shafer, “One Point Five,” Napa Valley, CA ’13</h6>
                                                    <h6>Newton, “The Puzzle”, Napa Valley, CA ’13</h6>
                                                    <h6>Caymus, 41st Anniversary, Napa Valley, CA, 1L ’13</h6>
                                                    <h6>Silver Oak, Napa Valley, CA ’12</h6>
                                                    <h6>Stag’s Leap, “S.L.V” Napa Valley, CA ’12</h6>
                                                    <h6>Caymus Special Select, Napa Valley, CA ’12</h6>
                                                    <h6>Opus One, Napa Valley, CA ‘12</h6>
                                                    <h6>Opus One, Napa Valley, CA ‘11</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cbp-caption fourth">
                                        <div class="cbp-caption-defaultWrap">
                                            <h4>Zinfandel/Primitivo</h4>
                                        </div>

                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-body">
                                                <div class="menu-item">
                                                    <h5><strong>Glass/Bottle</strong></h5>
                                                    <h6>Teira, Sonoma County, CA ’13</h6>
                                                    <h6>Campus Oak, Old Vine Zinfandel, Lodi, CA ’13</h6>

                                                    <h5><strong>By The Bottle</strong></h5>
                                                    <h6>Seghesio, Sonoma County, CA ’15</h6>
                                                    <h6>Ridge, Three Valleys, Sonoma County, CA ’14</h6>
                                                    <h6>Dry Creek Vineyard, Sanoma, CA ’15</h6>
                                                    <h6>Carol Shelton “Rocky Reserve”, Rockpile, CA ‘12</h6>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cbp-caption fifth">
                                        <div class="cbp-caption-defaultWrap">
                                            <h4>Syrah/Rhone Blends</h4>
                                        </div>

                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-body">
                                                <div class="menu-item">
                                                    <h5><strong>Glass/Bottle</strong></h5>
                                                    <h6>Orin Swift, “Location-F” Grenache/Syrah, France, NV</h6>

                                                    <h5><strong>By The Bottle</strong></h5>
                                                    <h6>Clos Pissarra, Artisan, Grenache/Syrah, Spain ’10</h6>
                                                    <h6>E. Guigal, Chateauneuf du Pape, France ’10</h6>
                                                    <h6>Shafer, “Relentless,” Syrah, Napa, CA ’12</h6>
                                                    <h6>Sine Qua Non, Dark Blossom, Central Coast, Ca ’11</h6>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cbp-caption sixth">
                                        <div class="cbp-caption-defaultWrap">
                                            <h4>Chianti/Sangiovese</h4>
                                        </div>

                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-body">
                                                <div class="menu-item">
                                                    <h5><strong>Glass/Bottle</strong></h5>
                                                    <h6>Toscolo, Tuscany, Italy ’15</h6>
                                                    <h6>Monte Antico, Tuscany, Italy ’13</h6>

                                                    <h5><strong>By The Bottle</strong></h5>
                                                    <h6>Felsina, Chianti Classico, Tuscany, Italy ’14</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cbp-caption seventh">
                                        <div class="cbp-caption-defaultWrap">
                                            <h4>Bordeaux/Bordeaux Blends</h4>
                                        </div>

                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-body">
                                                <div class="menu-item">
                                                    <h5><strong>By The Bottle</strong></h5>
                                                    <h6>Chateau Haut Piquat, Lussac-St.-Emilion, France ’10</h6>
                                                    <h6>Chateau Bel Air, Haut-Médoc, Bordeaux, France ’12</h6>
                                                    <h6>Orin Swift, “Papillon”, Napa Valley, CA ’13</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cbp-caption eighth">
                                        <div class="cbp-caption-defaultWrap">
                                            <h4>Distinctive Reds</h4>
                                        </div>

                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-body">
                                                <div class="menu-item">
                                                    <h5><strong>Glass/Bottle</strong></h5>
                                                    <h6>Murphy Goode, Red Blend, CA ’12</h6>
                                                    <h6>Chono, Carmenere, Maipo Valley Andes, Chile ’13</h6>
                                                    <h6>Troublemaker, Red Blend, Central Coast, CA NV</h6>
                                                    <h6>Conquista, Mendoza, Argentina, ’15</h6>
                                                    <h6>Steele, Writer’s Block, Petite Syrah, Lake County ’12</h6>
                                                    <h6>Conundrum Red, CA ’13</h6>

                                                    <h5><strong>By The Bottle</strong></h5>
                                                    <h6>Brazos, “Reunion,” Malbec, Mendoza, Argentina ’15</h6>
                                                    <h6>Dacu, Tempranillo, Ribera Del Guadiana, Spain ’14</h6>
                                                    <h6>Bonny Doon, A Proper Claret, Santa Cruz, CA ’14</h6>
                                                    <h6>Scarpetta, Barbera, Italy ’14</h6>
                                                    <h6>Boeri, Martinette, Barberad’Asti, Piedmont, Italy ’11</h6>
                                                    <h6>Nicodemi, Montepulciano, Italy, ’14</h6>
                                                    <h6>Steltzner, Claret, Napa Valley, CA ’13</h6>
                                                    <h6>Poderi Di Luigi Einaudi, Dolcetto, Dogliani, Italy ’13</h6>
                                                    <h6>Rioja Bordôn, Tempernillo Gran Reserva, Logroňo, Spain ’12</h6>
                                                    <h6>Stags’ Leap Petite Syrah Napa Valley, CA ’13</h6>
                                                    <h6>Produttori,Barbaresco, Italy ’13</h6>
                                                    <h6>Damilano, Barolo, Piedmont, Italy ’12</h6>
                                                    <h6>Orin Swift, “D66,” Grenache, Maury, France ’14</h6>
                                                    <h6>The Prisoner, Napa Valley, CA ’15</h6>
                                                    <h6>Justin “Justification”, Paso Robles, CA ’13</h6>
                                                    <h6>SineQua Non, “Five Shooter”, Napa Valley, CA ’10</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="col-xs-12"><div class="hr hr-png-1"></div></div>
