<% content_for :title do %>
Wine List
<% end %>
<% content_for :description do %>
Food this good deserves the company of great wine! That is why Ginny Lane's Wine List is so tempting.
<% end %>

<div id="page-title" class="pt-bkg-image image-wine">
    <div class="container">
        <div class="row">
            <section class="title-container">
                <div class="title">
                    <h3>Ginny Lane's</h3>
                    <h1>Wine List</h1>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="tabs">
    <div class="page-content container">
        <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
            <h4>We are now serving Guenoc Draft Wine!</h4>
            <p>Ask your server about our draft selection, including: <strong>Cabernet</strong>, <strong>Pinot Noir</strong>, <strong>Chardonnay</strong>, &amp; <strong>Pinot Grigio</strong></p>
        </div>

        <div class="col-md-6 col-xs-12">
            <div class="fancy-heading center"><h3>White Wine</h3></div>
            <div id="accordeon">   
                <div class="cbp-item">      
                    <div class="cbp-caption first">
                        <div class="cbp-caption-defaultWrap">         
                            <h4>Chardonnay</h4>
                        </div>

                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-body">
                                <h4 class="wine-det">By the Glass or Bottle</h4>
                                <div class="menu-item">
                                    <h4>The Divining Rod, Santa Lucia Highlands, CA ‘14</h4>
                                    <h4>Cartlidge and Brown, North Coast, CA ‘14</h4>
                                    <h4>A to Z, unoaked, Or ‘14</h4>
                                    <h4>One Hope, Reserve, Santa Barbara, CA ‘13</h4>
                                    <h4>Hahn, Monterey County, CA</h4>
                                    <h4>Pali, “Charm Acres,” Sonoma, CA ‘13</h4>
                                    <h4>Schug, Sonoma, CA ‘13</h4>
                                    <h4>Tre Terre, Russian River Valley, CA "</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cbp-caption second">
                        <div class="cbp-caption-defaultWrap">         
                            <h4>Pinot Grigio/ Gris</h4>
                        </div>

                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-body">
                                <h4 class="wine-det">By the Glass or Bottle</h4>

                                <div class="menu-item">
                                    <h4>La Garia, Italy ‘15</h4>
                                    <h4>Parva Res, Sicilia, Italy </h4>
                                    <h4>Firesteed , OR ‘14</h4>
                                    <h4>Pike Road, Willamette Valley, OR ‘15</h4>
                                    <h4>Hahn, Monterey County, CA ‘15</h4>
                                    <h4>Mile Post 71, McMinnville, OR ‘14</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                     <div class="cbp-caption third">
                        <div class="cbp-caption-defaultWrap">         
                            <h4>Sparkling</h4>
                        </div>

                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-body">
                                <h4 class="wine-det">By the Glass or Bottle</h4>

                                <div class="menu-item">
                                    <h4>Gran Castillo, Cava, Penedes, Spain ‘NV</h4>
                                    <h4>Belstar, Proscecco, Italy, ‘NV</h4>
                                    <h4>La Marca, Proscecco, Italy ‘NV</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cbp-caption fourth">
                        <div class="cbp-caption-defaultWrap">         
                            <h4>Sauvignon Blanc</h4>
                        </div>

                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-body">
                                <h4 class="wine-det">By the Glass or Bottle</h4>
                                <div class="menu-item">
                                    <h4>Pomelo, Mason Cellars, CA ‘14</h4>
                                    <h4>Kono, Marlborough, New Zealand ‘14</h4>
                                    <h4>Black Stallion, Napa Valley, CA ‘15</h4>
                                </div>
                                
                                <h4 class="wine-det">By the Bottle</h4>
                                <div class="menu-item">
                                    <h4>Chalk Hill, Sonoma, CA ‘13</h4>
                                    <h4>Spy Valley, Marlborough, New Zealand ‘14</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cbp-caption fifth">
                        <div class="cbp-caption-defaultWrap">         
                            <h4>Rose</h4>
                        </div>

                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-body">
                                <h4 class="wine-det">By the Glass or Bottle</h4>

                                <div class="menu-item">
                                    <h4>Vino, Charles Smith, Columbia Valley, WA ’15</h4>
                                    <h4>Hecht and Bannier, Provence, France,  ‘15</h4>
                                    <h4>Liquid Geography, Bullas, Spain ‘15</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xs-12">
            <div class="fancy-heading center"><h3>Red Wine</h3></div>
            <div id="solo">   
                <div class="cbp-item">      
                    <div class="cbp-caption first">
                        <div class="cbp-caption-defaultWrap">         
                            <h4>Pinot Noir</h4>
                        </div>

                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-body">
                                <h4 class="wine-det">By the Glass or Bottle</h4>

                                <div class="menu-item">
                                    <h4>Redtree, CA, ‘13</h4>
                                    <h4>Sean Minor, Four Bears, Central Coast, CA ‘13</h4>
                                    <h4>Underwood, OR ‘15"</h4>
                                    <h4>Block Nine, Caiden’s Vineyard, CA ‘15</h4>
                                    <h4>Pike Road, Willamette Valley, OR ‘15</h4>
                                    <h4>Mile Post 71, McMinnville, OR ’14</h4>
                                </div>

                                <h4 class="wine-det">By the Bottle</h4>
                                <div class="menu-item">
                                    <h4>One Hope “Pinot For Paws”, CA ’13</h4>
                                    <h4>Point North, Oregon ‘ 13</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cbp-caption second">
                            <div class="cbp-caption-defaultWrap">         
                                <h4>Cabernet Sauvignon</h4>
                            </div>

                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-body">
                                    <h4 class="wine-det">By the Glass or Bottle</h4>

                                    <div class="menu-item">
                                        <h4>The Divining Rod, Alexander Valley, CA ‘13  </h4>
                                        <h4>Cartlidge and Brown, North Coast, CA ‘14    </h4>
                                        <h4>Bliss, Estate Bottled, Mendocino, CA ‘13    </h4>
                                        <h4>Hahn, CA ‘13    </h4>
                                        <h4>Intrinsic, Columbia Valley, WA ‘14  </h4>
                                    </div>

                                    <h4 class="wine-det">By the Bottle</h4>
                                    <div class="menu-item">
                                        <h4>Chateau St. Jean, Alexander Valley, ’11</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                         <div class="cbp-caption third">
                            <div class="cbp-caption-defaultWrap">         
                                <h4>Merlot</h4>
                            </div>

                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-body">
                                    <h4 class="wine-det">By the Glass or Bottle</h4>

                                    <div class="menu-item">
                                        <h4>Drumheller, Columbia Valley, WA ‘14</h4>
                                        <h4>Angeline ‘Reserve’ Sonoma, CA ‘14</h4>
                                        <h4>Skyfall, Columbia, WA ‘13</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                         <div class="cbp-caption fourth">
                            <div class="cbp-caption-defaultWrap">         
                                <h4>Distinctive Reds</h4>
                            </div>

                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-body">
                                    <h4 class="wine-det">By the Glass or Bottle</h4>

                                    <div class="menu-item">
                                        <h4>Broadbent, Vinho Verde, Portugal ‘NV</h4>
                                        <h4>Dr. Loosen, Riesling, Mosel, Germany ’14</h4>
                                        <h4>Trimbach, Pinot Blanc, France ’14</h4>
                                        <h4>The Whip, Livermore Valley, CA</h4>
                                        <h4>Cara Bassa, Tempranillo, Spain</h4>
                                        <h4>Tint O Negro, Malbec, Mendoza, Argentina ’15</h4>
                                        <h4>MDZ Malbec, Mendoza, Argentina ‘15</h4>
                                        <h4>Fantini, Chianti, Abruzzo, Italy ‘13</h4>
                                        <h4>H3 Columbia Crest, Red Blend ‘13</h4>
                                        <h4>The Stump Jump, Shiraz, Australia ‘11</h4>
                                        <h4>Writers Block, Petite Sirah, Lake County, C.A. ‘12</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                         <div class="cbp-caption fifth">
                            <div class="cbp-caption-defaultWrap">         
                                <h4>Zinfandel</h4>
                            </div>

                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-body">
                                    <h4 class="wine-det">By the Glass or Bottle</h4>

                                    <div class="menu-item">
                                        <h4>Predator, Lodi, CA ‘14</h4>
                                        <h4>Redemption, Alexander Valley, CA ’12</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <hr>  
</div>


<div class="col-xs-12"><div class="hr-png-6"></div></div>
