<% @page_title = "Wine List" %>
<% @page_description = "Food this good deserves the company of great wine! That is why Ginny Lane's Wine List is so tempting." %>

    <div id="page-title" class="pt-bkg-image image-wine">
        <div class="title-container less">
            <section class="fancy-heading center">
                <h1>Villaggio's Wine List</h1>
            </section>
        </div>
    </div>

        <div class="entrance">
            <div class="col-md-12">
                <%= image_tag( 'spectator.png', alt: 'Villaggio Grille wine spectator award', class: 'img-responsive sm-center-img') %>
                <h4>Villaggio Grille is the Wine Spectator Award Winner of '09, 10, 11, 12, 13, 15</h4>
            </div>

            <!-- <div class="col-md-12">
                <h5>$6 House Wine on Draft - Guenoc Middletown, CA '14<br> Ask Server for Varietal Options</h5>
            </div> -->
        </div>

    <div class="page-content">
        <section class="tabs-example">
            <div class="tabs">
                <div class="container">
                    <div class="col-md-8 col-md-offset-2 col-xs-12">
                        <div class="row list1">
                            <h2 class="fancy-heading center">White Wine</h2>
                            <div id="accordeon" class="col-md-12 no-padding">
                                <div class="cbp-item">
                                    <div class="cbp-caption first">
                                        <div class="cbp-caption-defaultWrap">
                                            <h4>Chardonnay</h4>
                                        </div>

                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-body">
                                                <div class="menu-item">
                                                   <h5><strong>Glass/Bottle</strong></h5>
                                                   <h6>Schell Creek, CA ’16</h6>
                                                   <h6>Novellum, Vin De France</h6>
                                                   <h6>Carmel Road, Unoaked Monterey, CA '17</h6>
                                                   <h6>Chalk Hill, Sonoma County, CA ’17</h6>

                                                   <h5><strong>By The Bottle</strong></h5>
                                                   <h6>Rombauer Vineyards, Carneros, CA '18</h6>
                                                   <h6>Bouchard Pere and Fils, Burgundy, France ’17</h6>
                                                   <h6>The Snitch, Prisoner, Napa Valley CA</h6>
                                                   <h6>Louis Latour, Pouilly Fuisse, France, ’17</h6>
                                                   <h6>Jordan, Russian River Valley, CA ’16</h6>
                                                   <h6>Orin Swift, Mannequin, CA ’16</h6>
                                                   <h6>Domaine Serene, “Evenstad Reserve” Dundee Hills, OR, ’17</h6>
                                                   <h6>Shafer, “Carneros” Napa Valley, CA ’17</h6>
                                                   <h6>Far Niente, Napa Valley, CA ’17</h6>
                                                   <h6>Nickel &amp; Nickel Napa Valley, CA ’18</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cbp-caption second">
                                        <div class="cbp-caption-defaultWrap">
                                            <h4>Sauvignon Blanc</h4>
                                        </div>

                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-body">
                                                <div class="menu-item">
                                                    <h5><strong>Glass/Bottle</strong></h5>
                                                    <h6>Domain De Ballade, Gasconu, France '18</h6>
                                                    <h6>Whites Bay, Marlborough, New Zealand ’18</h6>
                                                    <h6>Elizabeth Spencer, Mendocino, CA ’18</h6>

                                                    <h5><strong>By The Bottle</strong></h5>
                                                    <h6>Emmolo, Wagner Family, Napa Valley, CA ’17</h6>
                                                    <h6>Cakebread Cellars, Napa Valley, CA ’18</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cbp-caption third">
                                        <div class="cbp-caption-defaultWrap">
                                            <h4>Pinot Grigio/Pinot Gris</h4>
                                        </div>

                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-body">
                                                <div class="menu-item">
                                                    <h5><strong>Glass/Bottle</strong></h5>
                                                    <h6>La Fiera, Veneto, Italy ’18</h6>
                                                    <h6>Noble Vines, 152, Monterey, CA ’18</h6>
                                                    <h6>Acrobat, Oregon ’17</h6>

                                                    <h5><strong>By The Bottle</strong></h5>
                                                    <h6>Torii Mor, Pinot Gris, Willamette, OR ’17</h6>
                                                    <h6>Colterenzio-Schreckbichl, Alto Adige, Italy ’17</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cbp-caption fourth">
                                        <div class="cbp-caption-defaultWrap">
                                        <h4>Rosè</h4>
                                        </div>

                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-body">
                                                <div class="menu-item">
                                                    <h5><strong>Glass/Bottle</strong></h5>
                                                    <h6>Angeline, Pinot Noir, CA ’18</h6>
                                                    <h6>Fleur de Mer, Provence, France ’18</h6>

                                                    <h5><strong>By The Bottle</strong></h5>
                                                    <h6>Liquid Geography (Mencia Grape), Bierzo, Spain ‘17</h6>
                                                    <h6>Tuck Beckstoffer “Hogwash” St. Helena, CA ’17</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cbp-caption fifth">
                                        <div class="cbp-caption-defaultWrap">
                                        <h4>Distinctive Whites</h4>
                                        </div>

                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-body">
                                                <div class="menu-item">
                                                    <h5><strong>Glass/Bottle</strong></h5>
                                                    <h6>Stemmari, Moscato, Sicily, Italy ‘18</h6>
                                                    <h6>Hyland, Riesling, McMenville, OR ’17</h6>
                                                    <h6>Starling Castle, Riesling, Germany ’17</h6>
                                                    <h6>Badenhorst, “Secateurs” Chenin Blanc, South Africa ’18</h6>
                                                    <h6>Demarie Langhe, Arneis DOC'18, Piedmont, Italy '18</h6>
                                                    <h6>E. Guigal, Rhone Blanc, Côtes du Rhone, France ’17</h6>
                                                    <h6>Semillon, Sauvignon Blanc, Sauvignon Gris</h6>

                                                    <h5><strong>By The Bottle</strong></h5>
                                                    <h6>Skelton, Gruner Veltliner, Burgenland, Austria ’17</h6>
                                                    <h6>Castello Colle Massari, Melacce, Vermentino, Italy ’15</h6>
                                                    <h6>Terredora Di Paolo, Falanghina, Campania, Italy</h6>
                                                    <h6>Lagar De La Santina, 100% Albarino, Spain ’17</h6>
                                                    <h6>Tenshen, Central Coast, CA ‘15</h6>
                                                    <h6>d’Arenberg, Hermit Crab, Viognier, McLaren Vale, Australia ’17</h6>
                                                    <h6>Chateau De Cerons, Bordeaux, France '17</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cbp-caption sixth">
                                        <div class="cbp-caption-defaultWrap">
                                        <h4>Sparkling/Dessert</h4>
                                        </div>

                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-body">
                                                <div class="menu-item">
                                                    <h5><strong>Glass/Bottle</strong></h5>
                                                    <h6>Los Monteros, Cava Brut, Spain, NV</h6>
                                                    <h6>Prima Cuvee, Prosecco, Veneto, Italy, NV</h6>
                                                    <h6>Moet, Brut Rosè, Mini Bottle, California, NV</h6>

                                                    <h5><strong>By The Bottle</strong></h5>
                                                    <!-- <h6>Chandon, American Summer Edition, Brut, CA NV</h6> -->
                                                    <h6>Roederer Estate, Brut, Mendocino, CA, NV</h6>
                                                    <h6>Mumm Cuvee, Napa Brut, CA, NV</h6>
                                                    <h6>Billecart-Salmon Rose 375ML, Champagne, France, NV</h6>
                                                    <h6>Moet and Chandon Rosé Imperial, Champagne, France, NV</h6>
                                                    <h6>Laurent-Perrier, Brut, Champagne, France, NV</h6>
                                                    <h6>Veuve Cliquot Brut, Champagne, France, NV</h6>
                                                    <h6>Dom Perignon Champagne, France, '08</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row list2">
                            <h2 class="fancy-heading center">Red Wine</h2>
                            <div id="solo" class="col-md-12 no-padding">
                                <div class="cbp-item">
                                    <div class="cbp-caption first">
                                        <div class="cbp-caption-defaultWrap">
                                            <h4>Pinot Noir</h4>
                                        </div>

                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-body">
                                                <div class="menu-item">
                                                    <h5><strong>Glass/Bottle</strong></h5>
                                                    <h6>Kenwood Yulupa, Sonoma County, CA '18</h6>
                                                    <h6>Portlandia, Willamette Valley, OR '17</h6>

                                                    <h5><strong>By The Bottle</strong></h5>
                                                    <h6>Fleur De California, CA '16</h6>
                                                    <h6>Cloudline, Willamette, OR ’18</h6>
                                                    <h6>Left Coast Cellars, Willamette Valley, OR '16</h6>
                                                    <h6>Bethel Heights, Eola-Amity Hills, OR ‘17</h6>
                                                    <h6>Ancien, “Jouissance” Russian River Valley, CA '17</h6>
                                                    <h6>Domaine Serene Yamhill, Appellation, OR ’16</h6>
                                                    <h6>Twomey, Russian River Valley, CA '17</h6>
                                                    <h6>La Crema, Shell Ridge, Russian River Valley, CA ’16</h6>
                                                    <h6>Cherry Pie, Carneros, Napa, CA ’15</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cbp-caption second">
                                        <div class="cbp-caption-defaultWrap">
                                            <h4>Merlot</h4>
                                        </div>

                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-body">
                                                <div class="menu-item">
                                                    <h5><strong>Glass/Bottle</strong></h5>
                                                    <h6>Schell Creek, CA ’17</h6>
                                                    <h6>Drumheller, Columbia Valley, WA ’16</h6>

                                                    <h5><strong>By The Bottle</strong></h5>
                                                    <h6>Parcel 41, Napa Valley, CA ’17</h6>
                                                    <h6>Steele “Stymie” Lake County, CA ’14</h6>
                                                    <h6>Rombauer, Napa Valley, CA '16</h6>
                                                    <h6>Duckhorn, Napa Valley, CA’ 16</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cbp-caption third">
                                        <div class="cbp-caption-defaultWrap">
                                            <h4>Cabernet Sauvignon</h4>
                                        </div>

                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-body">
                                                <div class="menu-item">
                                                    <h5><strong>Glass/Bottle</strong></h5>
                                                    <h6>Avalon, Lodi, Ca ’17</h6>
                                                    <h6>Roto, Vina Maitia, Central Valley, Chile '18</h6>
                                                    <h6>Milbrandt “Traditions” Columbia Valley, WA ’17</h6>
                                                    <h6>The Counselor, Alexander Valley, CA ’16</h6>

                                                    <h5><strong>By The Bottle</strong></h5>
                                                    <h6>Smith &amp; Hook, Central Coast, CA ’17</h6>
                                                    <h6>Terrunyo, Maipo, Chile</h6>
                                                    <h6>Stag’s Leap, “Artemis” Napa Valley, CA ’17</h6>
                                                    <h6>Faust, Napa Valley, CA ’16</h6>
                                                    <h6>Jordan, Alexander Valley, CA ’15</h6>
                                                    <h6>My Favorite Neighbor, Paso Robles, CA '17</h6>
                                                    <h6>Silver Oak, Napa Valley, CA ’15</h6>
                                                    <h6>Shafer, “One Point Five” Red Shoulder Ranch, CA ’15</h6>
                                                    <h6>Caymus, 1L, 44th Anniversary, Napa Valley, CA '17</h6>
                                                    <h6>Opus One, Napa Valley, CA ‘11</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cbp-caption fourth">
                                        <div class="cbp-caption-defaultWrap">
                                            <h4>Zinfandel/Primitivo</h4>
                                        </div>

                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-body">
                                                <div class="menu-item">
                                                    <h5><strong>Glass/Bottle</strong></h5>
                                                    <h6>Silver Palm, Zinfandel, North Coast, CA ‘12</h6>

                                                    <h5><strong>By The Bottle</strong></h5>
                                                    <h6>Beran, Sonoma Coast, CA ’15</h6>
                                                    <h6>Seghesio, Sonoma County, CA ’17<h6>
                                                    <h6>Mount Peak “Rattlesnake” Sonoma County, CA ’14</h6>
                                                    <h6>Orin Swift, 8 Years in the Dessert, Napa, CA '18</h6>
                                                    <h6>Black Chicken, Napa Valley, CA ’17</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cbp-caption fifth">
                                        <div class="cbp-caption-defaultWrap">
                                            <h4>Syrah/Grenache/Rhone</h4>
                                        </div>

                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-body">
                                                <div class="menu-item">
                                                    <h5><strong>Glass/Bottle</strong></h5>
                                                    <h6>Andrè, Côtes du Rhône (Grenache/Cinsault/Syrah), France ’16</h6>

                                                    <h5><strong>By The Bottle</strong></h5>
                                                    <h6>Black Slate, Escaladei (Grenache/Cabernet), Priorat, Spain ’16</h6>
                                                    <h6>E. Guigal, Chateauneuf du Pape, France ’12</h6>
                                                    <h6>Sine Qua Non, Dark Blossom, Central Coast, Ca ’11</h6>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cbp-caption sixth">
                                        <div class="cbp-caption-defaultWrap">
                                            <h4>Italian Reds</h4>
                                        </div>

                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-body">
                                                <div class="menu-item">
                                                    <h5><strong>Glass/Bottle</strong></h5>
                                                    <h6>Melini, Chianti Borghi D'Elsa, Tuscany, Italy '13</h6>
                                                    <h6>Cantine Colosi, Nero D'Avola, Sicily, Italy '16</h6>
                                                    <h6>Tenuta Sant'Antonio Valpolicella, Veneto, Italy '15</h6>

                                                    <h5><strong>By The Bottle</strong></h5>
                                                    <h6>Vietti, Barbera D'Asti, Piedmont, Italy</h6>
                                                    <h6>Felsina, Chianti Classico, Tuscany, Italy ’16</h6>
                                                    <h6>Demarie Barbaresco DOCG, Roero Region, Italy '15</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cbp-caption seventh">
                                        <div class="cbp-caption-defaultWrap">
                                            <h4>Bordeaux/Bordeaux Blends</h4>
                                        </div>

                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-body">
                                                <div class="menu-item">
                                                    <h5><strong>By The Glass</strong></h5>
                                                    <h6>Chateau Lamothe-Casterra, Bordeaux, France ’16</h6>

                                                    <h5><strong>By The Bottle</strong></h5>
                                                    <h6>Chateau Respide-Medeville, Graves, France ’17</h6>
                                                    <h6>La Croix Bonis St. Estephe, Bordeaux, France ’13</h6>
                                                    <h6>Orin Swift, “Papillon” Napa Valley, CA ’16</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cbp-caption eighth">
                                        <div class="cbp-caption-defaultWrap">
                                            <h4>Distinctive Reds</h4>
                                        </div>

                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-body">
                                                <div class="menu-item">
                                                    <h5><strong>Glass/Bottle</strong></h5>
                                                    <h6>Terrazas de Los Andes - Malbec, Mendoza, Argentina ‘17</h6>
                                                    <h6>Pierano Estate, “Illusion” Proprietary Red, Lodi, CA ‘17</h6>

                                                    <h5><strong>By The Bottle</strong></h5>
                                                    <h6>Troublemaker, Red Blend, Central Coast, CA NV</h6>
                                                    <h6>Newton Winery, Skyside, Claret, CA ’16</h6>
                                                    <h6>Killer Drop, Red Blend, Lodi, CA '15</h6>
                                                    <h6>Stags’ Leap, Petite Syrah, Napa Valley, CA ’16</h6>
                                                    <h6>The Prisoner, Napa Valley, CA ’18</h6>
                                                    <h6>SineQua Non, “Five Shooter” Napa Valley, CA ’10</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="col-xs-12"><div class="hr hr-png-1"></div></div>
