<% @page_title = "Wine List" %>
<% @page_description = "Food this good deserves the company of great wine! That is why Ginny Lane's Wine List is so tempting." %>

    <div id="page-title" class="pt-bkg-image image-wine">
        <div class="title-container less">
            <section class="fancy-heading center">
                <h1>Villaggio's Wine List</h1>
            </section>
        </div>
    </div>

        <div class="entrance">
            <div class="col-md-12">
                <%= image_tag( 'spectator.png', alt: 'Villaggio Grille wine spectator award', class: 'img-responsive sm-center-img') %>
                <h4>Villaggio Grille is the Wine Spectator Award Winner of '09, 10, 11, 12, 13, 15</h4>
            </div>

            <div class="col-md-12">
                <h5>$6 House Wine on Draft - Guenoc Middletown, CA '14<br> Ask Server for Varietal Options</h5>
            </div>
        </div>

    <div class="page-content">
        <section class="tabs-example">
            <div class="tabs">
                <div class="container">
                    <div class="col-md-8 col-md-offset-2 col-xs-12">
                        <div class="row list1">
                            <h2 class="fancy-heading center">White Wine</h2>
                            <div id="accordeon" class="col-md-12 no-padding">
                                <div class="cbp-item">
                                    <div class="cbp-caption first">
                                        <div class="cbp-caption-defaultWrap">
                                            <h4>Chardonnay</h4>
                                        </div>

                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-body">
                                                <div class="menu-item">
                                                   <h5><strong>Glass/Bottle</strong></h5>
                                                   <h6>Schell Creek Central Coast, CA ’16</h6>
                                                   <h6>Brocard Bourgogne, Kimmeridgien Chablis, France ’15</h6>
                                                   <h6>Carmel Road, Unoaked Monterey, CA 16</h6>
                                                   <h6>Chalk Hill Sonoma County, CA ’16</h6>

                                                   <h5><strong>By The Bottle</strong></h5>
                                                   <h6>Steele, Cuvee Lake County, CA ’15</h6>
                                                   <h6>Bouchard Pere and Fils Burgundy, France ’16</h6>
                                                   <h6>Louis Latour, Pouilly Fuisse France, ’16</h6>
                                                   <h6>Jordan Russian River Valley, CA ’16</h6>
                                                   <h6>Orin Swift Mannequin, CA ’15</h6>
                                                   <h6>Domaine Serene, “Evenstad Reserve” Dundee Hills, OR, ’16</h6>
                                                   <h6>Shafer, “Carneros” Napa Valley, CA ’16</h6>
                                                   <h6>Nickel & Nickel Napa Valley, CA ’16</h6>
                                                   <h6>Far Niente Napa Valley, CA ’16</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cbp-caption second">
                                        <div class="cbp-caption-defaultWrap">
                                            <h4>Sauvignon Blanc</h4>
                                        </div>

                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-body">
                                                <div class="menu-item">
                                                    <h5><strong>Glass/Bottle</strong></h5>
                                                    <h6>Les Roches Touraine Sauvignon, Lorie, France ’17</h6>
                                                    <h6>Whites Bay, Marlborough, New Zealand ’16</h6>
                                                    <h6>Elizabeth Spencer, Mendocino, CA ’17</h6>

                                                    <h5><strong>By The Bottle</strong></h5>
                                                    <h6>Cono Sur, Chile ’17</h6>
                                                    <h6>Emmolo, Wagner Family, Napa Valley, CA ’16</h6>
                                                    <h6>Nadia, Santa Barbara, CA ’15</h6>
                                                    <h6>Le Manoir, 100% Sancerre, Sancerre, France ’17</h6>
                                                    <h6>Cakebread Cellars, Napa Valley, CA ’17</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cbp-caption third">
                                        <div class="cbp-caption-defaultWrap">
                                            <h4>Pinot Grigio/Pinot Gris</h4>
                                        </div>

                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-body">
                                                <div class="menu-item">
                                                    <h5><strong>Glass/Bottle</strong></h5>
                                                    <h6>La Fiera, Veneto, Italy ’17</h6>
                                                    <h6>Noble Vines, 152, Monterey, CA ’17</h6>
                                                    <h6>Acrobat, Oregon ’16</h6>

                                                    <h5><strong>By The Bottle</strong></h5>
                                                    <h6>Torii Mor, Pinot Gris, Willamette, OR ’17</h6>
                                                    <h6>Colterenzio-Schreckbichl, Alto Adige, Italy ’17</h6>
                                                    <h6>Swanson, Napa, CA ’16</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cbp-caption fourth">
                                        <div class="cbp-caption-defaultWrap">
                                        <h4>Rosè</h4>
                                        </div>

                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-body">
                                                <div class="menu-item">
                                                    <h5><strong>Glass/Bottle</strong></h5>
                                                    <h6>Angeline, Pinot Noir, CA ’17</h6>
                                                    <h6>Fleur de Mer, Provence, France ’17</h6>
                                                    <h6>Bardolino Chiaretto Classico, Le Morette, Italy ’17</h6>

                                                    <h5><strong>By The Bottle</strong></h5>
                                                    <h6>Liquid Geography, Mencia, Spain ‘17</h6>
                                                    <h6>Summer Water, Grenache/Syrah, Cebtral Coast, CA ’17</h6>
                                                    <h6>Tuck Beckstoffer “Hogwash”, St. Helena, CA ’17</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cbp-caption fifth">
                                        <div class="cbp-caption-defaultWrap">
                                        <h4>Distinctive Whites</h4>
                                        </div>

                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-body">
                                                <div class="menu-item">
                                                    <h5><strong>Glass/Bottle</strong></h5>
                                                    <h6>Stemmari, Moscato, Sicily, Italy ‘16</h6>
                                                    <h6>Ela, Vinho Verde, Ninho Portugal ‘16</h6>
                                                    <h6>Hyland, Riesling, McMenville, OR ’15</h6>
                                                    <h6>Starling Castle, Riesling, Germany ’17</h6>
                                                    <h6>Badenhorst, “Secateurs,” Chenin Blanc, South Africa ’17</h6>
                                                    <h6>E. Guigal, Rhone Blanc, Côtes du Rhone, France ’16</h6>


                                                    <h5><strong>By The Bottle</strong></h5>
                                                    <h6>Skelton, Gruner Veltliner, Burgenland, Austria ’17</h6>
                                                    <h6>Castello Colle Massari, Melacce, Vermentino, Italy ’15</h6>
                                                    <h6>Montinore Estate, Gewurztraminer, Willamette, OR’14</h6>
                                                    <h6>Firesteed, Dry Riesling, Rickreal, OR ’12</h6>
                                                    <h6>Maryhill,Columbia Valley, WA ’15</h6>
                                                    <h6>Shooting Star, Aligote, WA ’13</h6>
                                                    <h6>Lagar De La Santina, 100% Albarino, Spain ’15</h6>
                                                    <h6>Tenshen, (Viognier, Rousanne, Grenache blanc, Chardonnay) CA‘15</h6>
                                                    <h6>d’Arenberg, Hermit Crab, Viognier, McLaren Vale, Australia ’16</h6>
                                                    <h6>Anastasia, Semidano, Sardegna, Italy ’15</h6>
                                                    <h6>Falanghina, Puglia, Italy ’15</h6>
                                                    <h6>Quinta Da Muradella Alanda Blanca, White Blend, Spain ’15</h6>
                                                    <h6>Robert Mondavi, “Oakville, Fumè Blanc, Napa, CA ’14</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cbp-caption sixth">
                                        <div class="cbp-caption-defaultWrap">
                                        <h4>Sparkling/Dessert</h4>
                                        </div>

                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-body">
                                                <div class="menu-item">
                                                    <h5><strong>Glass/Bottle</strong></h5>
                                                    <h6>Los Monteros, Cava Brut, Spain NV</h6>
                                                    <h6>Prima Cuvee, Prosecco, Veneto, Italy NV</h6>
                                                    <h6>Chandon, Brut Rosé, CA NV,</h6>

                                                    <h5><strong>By The Bottle</strong></h5>
                                                    <h6>Chandon, American Summer Edition, Brut, CA NV</h6>
                                                    <h6>Roederer Estate, Brut, Anderson Valley, CA, NV</h6>
                                                    <h6>Mumm Cuvee, Napa Brut, CA NV</h6>
                                                    <h6>Moet and Chandon Rosé Imperial, Champagne, France</h6>
                                                    <h6>Laurent-Perrier, Brut, Champagne, France, NV</h6>
                                                    <h6>Veuve Cliquot Brut, Champagne, France, NV</h6>
                                                    <h6>Dom Perignon Champagne, France, '04</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row list2">
                            <h2 class="fancy-heading center">Red Wine</h2>
                            <div id="solo" class="col-md-12 no-padding">
                                <div class="cbp-item">
                                    <div class="cbp-caption first">
                                        <div class="cbp-caption-defaultWrap">
                                            <h4>Pinot Noir</h4>
                                        </div>

                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-body">
                                                <div class="menu-item">
                                                    <h5><strong>Glass/Bottle</strong></h5>
                                                    <h6>Chime, Sonoma County, CA '16</h6>
                                                    <h6>Angeline Reserve, California Coast ’16</h6>
                                                    <h6>Big Fire, R. Stuart, McMinnville, OR ‘15</h6>

                                                    <h5><strong>By The Bottle</strong></h5>
                                                    <h6>Cloudline, Willamette, OR ’17</h6>
                                                    <h6>Bouchard Pere and Fils, Bourgogne, France ’15</h6>
                                                    <h6>Bethel Heights, Eola-Amity Hills, OR ‘15</h6>
                                                    <h6>Ancien, “Jouissance” Russian River Valley, CA '15</h6>
                                                    <h6>Domaine Serene Yamhill Appellation, OR ’15</h6>
                                                    <h6>Twomey, Russian River Valley, CA '16</h6>
                                                    <h6>La Crema, Shell Ridge, Russian River Valley, CA ’15</h6>
                                                    <h6>Hyland Estates, Coury, McMinville, OR ’13</h6>
                                                    <h6>Sea Smoke, Southing, Sta. Rita Hills, CA ’16</h6>
                                                    <h6>Cherry Pie, Carneros, Napa, CA ’14</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cbp-caption second">
                                        <div class="cbp-caption-defaultWrap">
                                            <h4>Merlot</h4>
                                        </div>

                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-body">
                                                <div class="menu-item">
                                                    <h5><strong>Glass/Bottle</strong></h5>
                                                    <h6>Schell Creek, Santa Rosa, CA ’16</h6>
                                                    <h6>Drumheller, Columbia Valley, WA ’15</h6>

                                                    <h5><strong>By The Bottle</strong></h5>
                                                    <h6>Parcel 41, Napa Valley, CA ’16</h6>
                                                    <h6>Steele “Stymie” Lake County, CA ’12</h6>
                                                    <h6>Duckhorn, Napa Valley, CA’15</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cbp-caption third">
                                        <div class="cbp-caption-defaultWrap">
                                            <h4>Cabernet Sauvignon</h4>
                                        </div>

                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-body">
                                                <div class="menu-item">
                                                    <h5><strong>Glass/Bottle</strong></h5>
                                                    <h6>Avalon, Central Coast, Ca ’16</h6>
                                                    <h6>Sean Minor, Four Bears, Paso Robles, CA ’16</h6>
                                                    <h6>Milbrandt “Traditions”, Columbia Valley, WA ’16</h6>
                                                    <h6>The Counselor, Alexander Valley, CA ’16</h6>

                                                    <h5><strong>By The Bottle</strong></h5>
                                                    <h6>Smith & Hook, Central Coast, CA ’16</h6>
                                                    <h6>Red Heads, Mohawk, South Austria ‘14</h6>
                                                    <h6>Roth, Alexander Valley, CA '16</h6>
                                                    <h6>Stag’s Leap, “Artemis”, Napa Valley, CA ’16</h6>
                                                    <h6>Faust, Napa Valley, CA ’15</h6>
                                                    <h6>Jordan, Alexander Valley, CA ’14</h6>
                                                    <h6>Joseph Phelps, Napa Valley, CA ’15</h6>
                                                    <h6>Shafer, “One Point Five,” Napa Valley, CA ’15</h6>
                                                    <h6>Silver Oak, Napa Valley, CA ’13</h6>
                                                    <h6>Jarvis, Estate Grown, Napa Valley, CA ‘12</h6>
                                                    <h6>Stag’s Leap, “S.L.V” Napa Valley, CA ’14</h6>
                                                    <h6>Opus One, Napa Valley, CA ‘11</h6>
                                                    <h6>Opus One, Napa Valley, CA ‘12</h6>
                                                    <h6>Opus One, Napa Valley, CA ’13</h6>
                                                    <h6>Opus One, Napa Valley, CA ’14</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cbp-caption fourth">
                                        <div class="cbp-caption-defaultWrap">
                                            <h4>Zinfandel/Primitivo</h4>
                                        </div>

                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-body">
                                                <div class="menu-item">
                                                    <h5><strong>Glass/Bottle</strong></h5>
                                                    <h6>Silver Palm, Zinfandel, North Coast, CA ‘13</h6>
                                                    <h6>Klinker Brick, Red Blend “Tranzid,” Lodi, CA ‘15</h6>

                                                    <h5><strong>By The Bottle</strong></h5>
                                                    <h6>Beran, Sonoma Coast, CA ’13</h6>
                                                    <h6>Seghesio, Sonoma County, CA ’16<h6>
                                                    <h6>Mount Peak “Rattlesnake” Sonoma County, CA ’14</h6>
                                                    <h6>Carol Shelton “Rocky Reserve”, Rockpile, CA ‘12</h6>
                                                    <h6>Black Chicken, Napa Valley, CA ’16</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cbp-caption fifth">
                                        <div class="cbp-caption-defaultWrap">
                                            <h4>Syrah/Grenache/Rhone Blends</h4>
                                        </div>

                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-body">
                                                <div class="menu-item">
                                                    <h5><strong>Glass/Bottle</strong></h5>
                                                    <h6>Andrè, Côtes du Rhône, (Grenache/Cinsault/Syrah) France ’16 </h6>

                                                    <h5><strong>By The Bottle</strong></h5>
                                                    <h6>Black Slate, Escaladei, Priorat, Spain (Grenache/ Cabernet) ’15  </h6>
                                                    <h6>Clos Pissarra, Artisan, Grenache/Syrah, Spain ’12</h6>
                                                    <h6>E. Guigal, Chateauneuf du Pape, France ’12</h6>
                                                    <h6>Sine Qua Non, Dark Blossom, Central Coast, Ca ’11</h6>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cbp-caption sixth">
                                        <div class="cbp-caption-defaultWrap">
                                            <h4>Chianti/Sangiovese</h4>
                                        </div>

                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-body">
                                                <div class="menu-item">
                                                    <h5><strong>Glass/Bottle</strong></h5>
                                                    <h6>Gertrude, Tuscany, Italy ’14 </h6>
                                                    <h6>Carpineto, Dogsjolo, (Sangiovese, Cabernet) Galicia, Spain ’16 </h6>

                                                    <h5><strong>By The Bottle</strong></h5>
                                                    <h6>Felsina, Chianti Classico, Tuscany, Italy ’15</h6>
                                                    <h6>Felsina, Fontallono, Tuscany, Italy ’15 </h6>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cbp-caption seventh">
                                        <div class="cbp-caption-defaultWrap">
                                            <h4>Bordeaux/Bordeaux Blends</h4>
                                        </div>

                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-body">
                                                <div class="menu-item">
                                                    <h5><strong>By The Bottle</strong></h5>
                                                    <h6>Chateau Haut Piquat, Lussac-St.-Emilion, France ’15</h6>
                                                    <h6>Chateau Bel Air, Haut-Médoc, Bordeaux, France ’14</h6>
                                                    <h6>Orin Swift, “Papillon”, Napa Valley, CA ’14</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cbp-caption eighth">
                                        <div class="cbp-caption-defaultWrap">
                                            <h4>Distinctive Reds</h4>
                                        </div>

                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-body">
                                                <div class="menu-item">
                                                    <h5><strong>Glass/Bottle</strong></h5>
                                                    <h6>Terrazas de Los Andes, Malbec, Mendoza, Argentina ‘16</h6>
                                                    <h6>Pierano Estate, “Illusion” Proprietary Red, Lodi, CA ‘16</h6>

                                                    <h5><strong>By The Bottle</strong></h5>
                                                    <h6>Cavallotto, Dolcetto d’ Alba, Vigna Scot, Piedmont, Italy ’15</h6>
                                                    <h6>LAN Rioja Reserva, Tempernillo, Spain ’10</h6>
                                                    <h6>Troublemaker, Red Blend, Central Coast, CA ‘NV</h6>
                                                    <h6>Newton Winery, Skyside Claret, CA ’15</h6>
                                                    <h6>Poderi Di Luigi Einaudi, Dolcetto, Dogliani, Italy ’13</h6>
                                                    <h6>Cordero di Montezemolo, Barolo, Monfalletto, Italy ’13</h6>
                                                    <h6>Stags’ Leap Petite Syrah Napa Valley, CA ’15</h6>
                                                    <h6>Produttori, Barbaresco, Italy ’14</h6>
                                                    <h6>Damilano, Barolo, Piedmont, Italy ’13</h6>
                                                    <h6>Orin Swift, “D66,” Grenache, Maury, France ’14</h6>
                                                    <h6>The Prisoner, Napa Valley, CA ’16</h6>
                                                    <h6>SineQua Non, “Five Shooter”, Napa Valley, CA ’10</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="col-xs-12"><div class="hr hr-png-1"></div></div>
