<% @page_title = "Wine List" %>
<% @page_description = "Food this good deserves the company of great wine! That is why Ginny Lane's Wine List is so tempting." %>

<div id="page-title" class="pt-bkg-image image-wine">
  <div class="title-container less">
    <section class="fancy-heading center"><h1>Villaggio's Wine List</h1></section>
  </div>
</div>

<div class="page-content">
  <section class="tabs-example">
    <div class="tabs">
      <div class="container">

        <div class="col-md-7 col-xs-12 wine-row-sm">
          <div class="row list1">
            <h2 class="fancy-heading center">White Wine</h2>
            <div id="accordeon" class="col-md-12 no-padding">
              <div class="cbp-item">
                <div class="cbp-caption first">
                  <div class="cbp-caption-defaultWrap"><h4>Chardonnay</h4></div>

                  <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                      <div class="menu-item">
                        <h5><strong>Glass/Bottle</strong></h5>
                        <h6>Castle Rock - Central Coast, CA</h6>
                        <h6>Novellum - Languedoc-Roussillon, France</h6>
                        <h6>Carmel Road, Unoaked - Monterey, CA</h6>
                        <h6>Chalk Hill - Sonoma Coast, CA</h6>

                        <h5><strong>By The Bottle</strong></h5>
                        <h6>Stags' Leap - Napa Valley, CA '19</h6>
                        <h6>Bouchard Pere and Fils - Burgundy, France ’19</h6>
                        <h6>Orin Swift "Mannequin" - CA ’18</h6>
                        <h6>Louis Latour, Pouilly Fuisse - France, ’19</h6>
                        <h6>Jordan - Russian River Valley, CA ’18</h6>
                        <h6>Frank Family - Carneros, CA ’19</h6>
                        <h6>Domaine Serene, “Evenstad Reserve” - Dundee Hills, OR, ’18</h6>
                        <h6>Rombauer Vineyards - Carneros, CA ’20 </h6>
                        <h6>Shafer, “Carneros” - Napa Valley, CA ’18 </h6>
                        <h6>Far Niente - Napa Valley, CA '19</h6>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="cbp-caption second">
                  <div class="cbp-caption-defaultWrap"><h4>Sauvignon Blanc/Sancerre</h4></div>

                  <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                      <div class="menu-item">
                        <h5><strong>Glass/Bottle</strong></h5>
                        <h6>Le Coeur de la Reine - Loire, France</h6>
                        <h6>Stoneleigh - Marlborough, New Zealand</h6>
                        <h6>Elizabeth Spencer - Mendocino, CA</h6>

                        <h5><strong>By The Bottle</strong></h5>
                        <h6>Emmolo, Wagner Family - Napa Valley, CA ’19 </h6>
                        <h6>Domaine Andre Neveu Sancerre - Loire, France '20 </h6>
                        <h6>Cakebread Cellars - Napa Valley, CA ’21</h6>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="cbp-caption third">
                  <div class="cbp-caption-defaultWrap"><h4>Pinot Grigio/Pinot Gris</h4></div>

                  <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                      <div class="menu-item">
                        <h5><strong>Glass/Bottle</strong></h5>
                        <h6>Barone Fini -  Trentino-Alto Adige, Italy </h6>
                        <h6>Noble Vines 152 - Monterey, CA </h6>
                        <h6>Acrobat - Oregon</h6>

                        <h5><strong>By The Bottle</strong></h5>
                        <h6>Raptor Ridge - Willamette Valley, OR '19</h6>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="cbp-caption fourth">
                  <div class="cbp-caption-defaultWrap"><h4>Rosè</h4></div>

                  <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                      <div class="menu-item">
                        <h5><strong>Glass/Bottle</strong></h5>
                        <h6>Bodegas Care Solidarity - Carinena, Spain</h6>
                        <h6>Poderi Garona, Fenrose Roasato - Piedmont, Italy '20</h6>
                        <h6>Erath - Dundee Hills, Oregon</h6>
                        <h6>Fleur de Mer - 1.5L - Provence, France</h6>

                        <h5><strong>By The Bottle</strong></h5>
                        <h6>Faustino Art Collection - Rioja, Spain '20</h6>
                        <h6>Nortico - Minho, Portugal '20</h6>
                        <h6>Antiquum Farm Rosé of Pinot Gris - Willamette Valley, OR '19</h6>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="cbp-caption fifth">
                  <div class="cbp-caption-defaultWrap"><h4>Distinctive Whites</h4></div>

                  <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                      <div class="menu-item">
                        <h5><strong>Glass/Bottle</strong></h5>
                        <h6>Stemmari, Moscato - Sicily, Italy</h6>
                        <h6>Forge, Riesling - Seneca Lake, NY</h6>
                        <h6>Tintero, Langhe Arneis - Piedmont, Italy</h6>
                        <h6>E. Guigal, Rhone Blanc - Côtes du Rhone, France</h6>
                        <h6>Torbreck Woodcutter's, Semillon - Barossa Valley, Australia</h6>
                        <h6>Badenhorst, “Secateurs,” Chenin Blanc - South Africa ’19</h6>


                        <h5><strong>By The Bottle</strong></h5>
                        <h6>Terredora di Paolo, Falanghina - Campania, Italy '20</h6>
                        <h6>Domaine de la Pepiere, Muscadet - Loire, France '19 </h6>
                        <h6>Lagar De La Santina, 100% Albariño - Spain ’20</h6>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="cbp-caption sixth">
                  <div class="cbp-caption-defaultWrap"><h4>Sparkling/Dessert</h4></div>

                  <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                      <div class="menu-item">
                        <h5><strong>Glass/Bottle</strong></h5>
                        <h6>Los Monteros, Cava Brut - Spain NV</h6>
                        <h6>Flora, Prosecco DOC - Veneto, Italy</h6>
                        <h6>Canella Brut Rose Mini - Veneto, Italy</h6>

                        <h5><strong>By The Bottle</strong></h5>
                        <h6>Roederer Estate, Brut - Mendocino, CA, NV</h6>
                        <h6>Billecart-Salmon Rose 375 ML - Champagne, France NV </h6>
                        <h6>Laurent-Perrier, Brut - Champagne, France, NV </h6>
                        <h6>Veuve Clicquot Brut - Champagne, France, NV</h6>
                        <h6>Veuve Clicquot Brut Rosé - Champagne, France, NV </h6>
                        <h6>Dom Perignon - Champagne, France, '08</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row list2">
            <h2 class="fancy-heading center">Red Wine</h2>
            <div id="solo" class="col-md-12 no-padding">
              <div class="cbp-item">
                <div class="cbp-caption first">
                  <div class="cbp-caption-defaultWrap"><h4>Pinot Noir</h4></div>

                  <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                      <div class="menu-item">
                        <h5><strong>Glass/Bottle</strong></h5>
                        <h6>Imagery - Sonoma Valley, CA</h6>
                        <h6>Portlandia - Willammette Valley, OR</h6>
                        <h6>Decoy - Sonoma Coast, CA</h6>


                        <h5><strong>By The Bottle</strong></h5>
                        <h6>Amalie Robert - Uncarved Block Willamette Valley, OR '11 </h6>
                        <h6>Cloudline - Willamette Valley, OR ’20</h6>
                        <h6>Penner Ash - Willamette Valley, OR '19</h6>
                        <h6>Domaine Serene - Yamhill Appellation, OR ’18</h6>
                        <h6>Twomey - Russian River Valley, CA '20</h6>
                        <h6>La Crema - Single Vineyard - Russian River Valley, CA ’17 </h6>
                        <h6>Cherry Pie - Carneros Napa Valley, CA ’19</h6>
                        <h6>Sea Smoke Ten - Central Coast, CA '17</h6>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="cbp-caption second">
                  <div class="cbp-caption-defaultWrap"><h4>Merlot</h4></div>

                  <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                      <div class="menu-item">
                        <h5><strong>Glass/Bottle</strong></h5>
                        <h6>Grayson - CA</h6>
                        <h6>Drumheller - Columbia Valley, WA </h6>

                        <h5><strong>By The Bottle</strong></h5>
                        <h6>Thorn, Prisoner Wine Company - Napa Valley, CA ’18 </h6>
                        <h6>Rombauer - Napa Valley, CA '18</h6>
                        <h6>Frank Family - Napa Valley, CA ’18</h6>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="cbp-caption third">
                  <div class="cbp-caption-defaultWrap"><h4>Cabernet Sauvignon</h4></div>

                  <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                      <div class="menu-item">
                        <h5><strong>Glass/Bottle</strong></h5>
                        <h6>Avalon - Lodi, Ca</h6>
                        <h6>Santa Rita Medalla Real - Central Valley, Chile </h6>
                        <h6>Coppola Diamond Claret - Alexander Valley, CA</h6>
                        <h6>The Counselor - Alexander Valley, CA</h6>

                        <h5><strong>By The Bottle</strong></h5>
                        <h6>Donati Central Coast, CA</h6>
                        <h6>Terrunyo - Maipo, Chile '18</h6>
                        <h6>Faust - Napa Valley, CA ’19</h6>
                        <h6>Jordan - Alexander Valley, CA '17</h6>
                        <h6>Stag’s Leap, “Artemis” - Napa Valley, CA ’19</h6>
                        <h6>Heitz Cellar - Napa Valley CA '16</h6>
                        <h6>Caymus, 48th Anniversary 1L - Napa Valley, CA '20</h6>
                        <h6>Shafer, “One Point Five” - Red Shoulder Ranch, CA ’19 </h6>
                        <h6>Silver Oak - Alexander Valley, CA ’17</h6>
                        <h6>Opus One - Napa Valley, CA ’18</h6>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="cbp-caption fourth">
                  <div class="cbp-caption-defaultWrap"><h4>Zinfandel</h4></div>

                  <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                      <div class="menu-item">
                        <h5><strong>Glass/Bottle</strong></h5>
                        <h6>Murphy Goode, Liar's Dice - Sonoma County, CA</h6>

                        <h5><strong>By The Bottle</strong></h5>
                        <h6>Fidelity - Alexander Valley, CA '20</h6>
                        <h6>Seghesio - Sonoma County, CA ’19</h6>
                        <h6>Mount Peak, Rattlesnake Sonoma County, CA '16</h6>
                        <h6>Orin Swift, 8 Years in The Desert - Napa Valley, CA '19 </h6>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="cbp-caption fifth">
                  <div class="cbp-caption-defaultWrap"><h4>Syrah/Grenache/Rhone</h4></div>

                  <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                      <div class="menu-item">
                        <h5><strong>Glass/Bottle</strong></h5>
                        <h6>Andrè Brunel Côtes du Rhône - Grenache, Cinsault, Syrah, France</h6>

                        <h5><strong>By The Bottle</strong></h5>
                        <h6>Black Slate Escaladei - Priorat, Spain '16</h6>
                        <h6>E. Guigal, Chateauneuf du Pape - France ’17</h6>
                        <h6>Sine Qua Non, Dark Blossom - Central Coast, Ca ’11</h6>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="cbp-caption sixth">
                  <div class="cbp-caption-defaultWrap"><h4>Italian Reds</h4></div>

                  <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                      <div class="menu-item">
                        <h5><strong>Glass/Bottle</strong></h5>
                        <h6>Melini, Chianti Borghi d'Elsa - Tuscany, Italy</h6>
                        <h6>Fantini Sangiovese - Abruzzo, Italy</h6>
                        <h6>Sant'Antonio, Valpolicella - Veneto, Italy</h6>

                        <h5><strong>By The Bottle</strong></h5>
                        <h6>Vietti, Barbera d'Asti - Piedmont, Italy '19</h6>
                        <h6>Colimoro, Montepulciano - Abruzzo, Italy '20</h6>
                        <h6>Brancatelli Valle delle Stelle Toscana IGT Tuscany - Italy '16</h6>
                        <h6>Demarie, Barbaresco DOCG - Piedmont, Italy '16 </h6>
                        <h6>Prunotto, Barolo - Piedmont, Italy '17</h6>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="cbp-caption seventh">
                  <div class="cbp-caption-defaultWrap"><h4>Bordeaux/Bordeaux Blends</h4></div>

                  <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                      <div class="menu-item">
                        <h5><strong>By The Glass</strong></h5>
                        <h6>Chateau de Parenchere - Bordeaux, France</h6>

                        <h5><strong>By The Bottle</strong></h5>
                        <h6>La Croix Bonis St. Estephe - Bordeaux, France '15 </h6>
                        <h6>Orin Swift, “Papillon” - Napa Valley, CA ’19</h6>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="cbp-caption eighth">
                  <div class="cbp-caption-defaultWrap"><h4>Distinctive Reds</h4></div>

                  <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                      <div class="menu-item">
                        <h5><strong>Glass/Bottle</strong></h5>
                        <h6>Terrazas de Los Andes, Malbec - Mendoza, Argentina</h6>
                        <h6>Pierano Estate, “Illusion”, Proprietary Red - Lodi, CA</h6>
                        <h6>Pierre-Marie Chermette, Beaujolais - France</h6>

                        <h5><strong>By The Bottle</strong></h5>
                        <h6>Troublemaker, Red Blend - Central Coast, CA ‘NV</h6>
                        <h6>Saldo Red Blend - CA '19</h6>
                        <h6>Killer Drop, Red Blend - CA '19</h6>
                        <h6>Penfolds Bin 389, Cabernet Shiraz - South Australia, '18 </h6>
                        <h6>Stags’ Leap, Petite Syrah - Napa Valley, CA ’18</h6>
                        <h6>The Prisoner - Napa Valley, CA ’19</h6>
                        <h6>Derange Red Blend, Prisoner Wine Company - Napa Valley, CA '17</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-md-offset-1 col-xs-12 wine-row-sm awardrow">
          <h4 class="text-center">Villaggio Grille is the Wine Spectator Award Winner of: 2009, 2010, 2011, 2012, 2013, 2015, 2021</h4>
          <a href="https://www.winespectator.com/restaurants/1568/villaggio-grille" target="_blank" class="specImg">
          <%= image_tag( 'spectator21.jpg', alt: 'Villaggio Grille wine spectator award', class: 'img-responsive') %>
          </a>
        </div>

      </div>
    </div>
  </section>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
