<div class="clearfix"></div>
<div class="menu-print disclaim">
  <div class="mp-wrap">
    <p>*Warning: Consumption of undercooked meat, poultry, eggs, or seafood may increase the risk of food-borne illness. 
    Alert your server if you have special dietary requirements.</p>
    <div class="stamp"><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> <p>Represents Gluten Free Menu Items </p></div>
    <p>** There will be a convenience fee added to all card payments.</p>
  </div>
</div>