<div class="cbp-caption kids">
    <div class="cbp-caption-defaultWrap">
        <h4>Kids Menu</h4>
    </div>

    <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-body">
            <div class="menu-item">
                <h4>Pizza <span>... $7</span></h4>
                <p>Pepperoni, Sausage, or Cheese</p>
            </div>

            <div class="menu-item">
                <h4>Burger &amp; Chips <span>... $7</span></h4>
                <p>Plain or with Cheese</p>
            </div>

            <div class="menu-item">
                <h4>Chicken Tenders &amp; Chips <span>... $7</span></h4>
            </div>

            <div class="menu-item">
                <h4>Kids Pasta <span>... $7</span></h4>
                <p> In Your Choice of Butter, Alfredo Sauce, or Marinara Sauce</p>
            </div>

            <div class="menu-item">
                <h4>Chicken Alfredo <span>... $7</span></h4>
            </div>

            <div class="menu-item">
                <h4>Fruit Plate <span>... $7</span></h4>
            </div>
        </div>
    </div>
</div>

<div class="cbp-caption desserts">
    <div class="cbp-caption-defaultWrap">
        <h4>Dessert Menu</h4>
    </div>

    <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-body">
            <div class="menu-item">
                <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %>
                    Crème Brulée <span>... $8</span></h4>
                <p>Classic Baked Custard, Caramelized Sugar, Fresh Berries</p>
            </div>

            <div class="menu-item">
                <h4>Classic Tiramisu <span>... $8</span></h4>
                <p>Mascarpone Cream, Espresso Infused Lady Fingers, Fresh Cocoa</p>
            </div>

            <div class="menu-item">
                <h4>Carrot Cake <span>... $8</span></h4>
                <p>Layered Carrot Cake, Cream Cheese Icing, Pecans</p>
            </div>
            
            <div class="menu-item">
                <h4>Chef's Choice Bread Pudding <span>... $8</span></h4>
                <p>Ask Your Server About Our Daily Bread Pudding Choice</p>
            </div>

            <!-- <div class="menu-item">
                <h4>Chef's Choice<span>... $8</span></h4>
            </div> -->
        </div>
    </div>
</div>
