<div class="cbp-caption kids">
    <div class="cbp-caption-defaultWrap">
        <h4>Kids Menu</h4>
    </div>

    <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-body">
            <div class="menu-item">
                <h4>Pizza <span>... $7</span></h4>
                <p>Pepperoni, Sausage, or Cheese</p>
            </div>

            <div class="menu-item">
                <h4>Burger &amp; Chips <span>... $5</span></h4>
                <p>Plain or with Cheese</p>
            </div>

            <div class="menu-item">
                <h4>Chicken Tenders &amp; Chips <span>... $5</span></h4>
            </div>

            <div class="menu-item">
                <h4>Kids Pasta <span>... $5</span></h4>
                <p> In Your Choice of Butter, Alfredo Sauce, or Marinara Sauce</p>
            </div>

            <div class="menu-item">
                <h4>Chicken Alfredo <span>... $5</span></h4>
            </div>

            <div class="menu-item">
                <h4>Fruit Plate <span>... $5</span></h4>
            </div>
        </div>
    </div>
</div>

<div class="cbp-caption desserts">
    <div class="cbp-caption-defaultWrap">
        <h4>Dessert Menu</h4>
    </div>

    <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-body">
            <div class="menu-item">
                <h4>Crème Brulée <span>... $8</span></h4>
                <p>Classic Baked Custard, Caramelized Sugar, Fresh Berries</p>
            </div>

            <div class="menu-item">
                <h4>Classic Tiramisu <span>... $8</span></h4>
                <p>Mascarpone Cream, Espresso Infused Lady Fingers, Fresh Cocoa</p>
            </div>

            <div class="menu-item">
                <h4>Florida Orange Cake <span>... $8</span></h4>
                <p>5 Layer Orange Cake with Cream Cheese Icing </p>
            </div>

            <div class="menu-item">
                <h4>Chocolate Supreme <span>... $8</span></h4>
                <p>5 Layer Chocolate Cake with Layers of Chocolate Icing    </p>
            </div>

            <div class="menu-item">
                <h4>Caramel Sea Salt Cake <span>... $8</span></h4>
                <p>Rich Chocolate Cake with Salted Caramel Mouse</p>
            </div>

            <div class="menu-item">
                <h4>Carrot Cake <span>... $8</span></h4>
                <p>5 Layer Carrot Cake topped with Cream Cheese Frosting finished with Toasted Walnuts </p>
            </div>

            <div class="menu-item">
                <h4>Deep Dish Apple Crisp <span>... $8</span></h4>
                <p>Thick layered Apples in a Crispy Baked Crust with Brown Sugar Streusel Crisp served A’ la mode</p>
            </div>

            <div class="menu-item">
                <h4>Featured Cheese Cake  <span>... $8</span></h4>
                <p>Chef’s Choice</p>
            </div>
        </div>
    </div>
</div>
