<div class="cbp-caption kids">
  <div class="cbp-caption-defaultWrap"><h4>Kids Menu</h4></div>

  <div class="cbp-caption-activeWrap">
    <div class="cbp-l-caption-body">
      <div class="menu-item">
        <h4>Pizza <span>... $7</span></h4>
        <p>Pepperoni, Sausage, or Cheese</p>
      </div>

      <div class="menu-item">
        <h4>Burger &amp; Chips <span>... $7</span></h4>
        <p>Plain or with Cheese</p>
      </div>

      <div class="menu-item"><h4>Chicken Tenders &amp; Chips <span>... $7</span></h4></div>

      <div class="menu-item">
        <h4>Kids Pasta <span>... $7</span></h4>
        <p> In Your Choice of Butter, Alfredo Sauce, or Marinara Sauce</p>
      </div>

      <div class="menu-item"><h4>Chicken Alfredo <span>... $7</span></h4></div>

      <div class="menu-item"><h4>Fruit Plate <span>... $7</span></h4></div>
    </div>
  </div>
</div>

<div class="cbp-caption desserts">
  <div class="cbp-caption-defaultWrap"><h4>Dessert Menu</h4></div>

  <div class="cbp-caption-activeWrap">
    <div class="cbp-l-caption-body">
      <div class="menu-item">
        <h4>Classic Tiramisu <span>... $8</span></h4>
        <p>Mascarpone Cream, Espresso Infused Lady Fingers, Fresh Cocoa</p>
      </div>

      <div class="menu-item">
        <h4>Chef's Choice Chocolate Cake <span>... $8</span></h4>
        <p>Rotating Flavor</p>
      </div>

      <div class="menu-item">
        <h4>Carrot Cake <span>... $8</span></h4>
        <p>Layered Carrot Cake, Cream Cheese Icing, Pecans</p>
      </div>

      <div class="menu-item">
        <h4>Chef's Choice Cheesecake<span>... $8</span></h4>
        <p>Rotating Flavor</p>
      </div>

      <div class="menu-item">
        <h4>Crème Brulee<span>... $8</span></h4>
        <p>Classic Baked Custard topped with Caramelized Sugar</p>
      </div>
    </div>
  </div>
</div>


<div class="cbp-caption family">
  <div class="cbp-caption-defaultWrap"><h4>Family Meals To Go</h4></div>

  <div class="cbp-caption-activeWrap">
    <div class="cbp-l-caption-body">
      <div class="menu-item"><p><b>All family meals served with House or Caesar Salad and Bread</b></p></div>

      <div class="menu-item"><h4>Lasagna... $32</h4></div>
      <div class="menu-item"><h4>Shrimp or Chicken Alfredo... $38</h4></div>
      <div class="menu-item">
        <h4>Grilled Salmon... $40</h4>
        <p>Tomato Risotto, Green Beans</p>
      </div>
    </div>
  </div>
</div>