<!-- %= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %>  -->
<div class="cbp-caption snacks">
  <div class="cbp-caption-defaultWrap"><h4>Starters</h4></div>

  <div class="cbp-caption-activeWrap">
    <div class="cbp-l-caption-body">
      <div class="menu-item">
        <h4>Beef Carpaccio <span> ... $16</span></h4>
        <p>Thinly Sliced Rare Beef Tenderloin over Arugula with Capers, Red Onions &amp; Horseradish Cream</p>
      </div>

      <div class="menu-item">
        <h4>Calamari <span> ... $16</span></h4>
        <p>Lightly Fried Seasoned Calamari, Parmesan Cheese &amp; Lemon. Served with Citrus Sweet Chili</p>
      </div>

      <div class="menu-item">
        <h4>Salmon Terrine <span> ... $14</span></h4>
        <p>Smoked Salmon Layered With Lemon Pepper Cream Cheese, Arugula, Capers, Red Onions, Mustard Dill Sauce</p>
      </div>

      <div class="menu-item">
        <h4>Oyster Trio <span> ... $22</span></h4>
        <p>Prosciutto Rockefeller, Gorgonzola &amp; Shallot, Manchego &amp; Jalapeño. Includes 3 of Each Oyster.</p>
      </div>

      <div class="menu-item dinner-only">
        <h4>Scallion &amp; Chive Pizza <span> ... $16</span></h4>
        <p>Herbed Ricotta, Prosciutto, Sun Dried Tomatoes, Scallions, Chives, Blackening Seasoning</p>
      </div>

      <div class="menu-item dinner-only">
        <h4>Meat &amp; Cheese Board <span> ... $16</span></h4>
        <p>Bresola, Coppa, Prosciutto, Gorgonzola, Honey Brie, Fig Spread, Spiced Walnuts, Assorted Crackers</p>
      </div>
    </div>
  </div>
</div>

<div class="cbp-caption dsalads">
  <div class="cbp-caption-defaultWrap"><h4>Salads</h4></div>

  <div class="cbp-caption-activeWrap">
    <div class="cbp-l-caption-body">
      <!-- <div class="menu-item"><p class="text-center">Add Chicken - $5 &nbsp; | &nbsp; Add Scallop - $6 &nbsp; | &nbsp; Add Shrimp - $8</p></div> -->
      <!-- <div class="menu-item"><p class="text-center">Add Chicken <span>- $5</span> &nbsp; | &nbsp; Add Scallop <span>- $6</span> &nbsp; | &nbsp; Add Shrimp <span>- $8</span></p></div> -->

      <div class="menu-item">
        <h4>Villaggio Salad <span> ... $8</span></h4>
        <p>Spring Mix, Grape Tomatoes, Sliced Onion, &amp; Parmesan with Roasted Fig Vinaigrette</p>
      </div>

      <div class="menu-item">
        <h4>Chopped Caesar <span> ... $8</span></h4>
        <p>Romaine Hearts, Grape Tomatoes, Croutons, &amp; Parmesan, tossed in Caesar Dressing</p>
      </div>

      <div class="menu-item">
        <h4>Goat Cheese &amp; Walnut <span> ... $14</span></h4>
        <p>Spring Mix, Dried Cherries, Spiced Walnuts, Goat Cheese served with Roasted Fig Vinaigrette</p>
      </div>

      <div class="menu-item lunch-only">
        <h4>Spinach &amp; Grilled Chicken <span> ... $14</span></h4>
        <p>Baby Spinach, Red Onion, Tomatoes, Feta Cheese, &amp; Croutons, tossed in Warm Bacon Vinaigrette</p>
      </div>  

      <div class="menu-item lunch-only">
        <h4>Blackened Salmon Salad <span> ... $14</span></h4>
        <p>Salmon, Butter Lettuce, Arugula, Red Onion, Toasted Pumpkin Seeds, Dried Figs, Grape Tomato and Goat Cheese. Tossed in Chamapgne Viniagrette</p>
      </div>

      <div class="menu-item dinner-only">
        <h4>Caprese <span> ... $12</span></h4>
        <p>Fresh Mozzarella, Tomatoes, Basil, Olive Oil, &amp; Balsamic Reduction</p>
      </div>
    </div>
  </div>
</div>


<div class="cbp-caption pizza no-dinner">
  <div class="cbp-caption-defaultWrap"><h4>Wood Fired Pizzas</h4></div>

  <div class="cbp-caption-activeWrap">
    <div class="cbp-l-caption-body">
      <div class="menu-item">
        <h4>Villaggio <span> ... $16</span></h4>
        <p>Sausage, Pepperoni, Bell Peppers, Mushrooms, Kalamata Olives, &amp; Marinara</p>
      </div>

      <div class="menu-item no-brunch">
        <h4>Mushroom Bianca <span> ... $16</span></h4>
        <p>Garlic Infused Truffle Oil, Mixed Mushrooms, Herbed Ricotta, Arugula, Balsamic Drizzle</p>
      </div>

      <div class="menu-item">
        <h4>Chicken Pesto <span> ... $16</span></h4>
        <p>Grilled Chicken, Basil Pesto, Sundried Tomatoes, &amp; Mushrooms </p>
      </div>

      <div class="menu-item">
        <h4>Margherita <span>... $16</span></h4>
        <p>Marinara, Fresh Mozzarella, Roasted Garlic, &amp; Tomatoes with Fresh Basil</p>
      </div>
    </div>
  </div>
</div>
