<div class="cbp-caption first">
    <div class="cbp-caption-defaultWrap">         
        <h4>Starters</h4>
    </div>

    <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-body">
            <div class="col-md-6 col-xs-12">
                <div class="menu-item">
                    <h4>Loaded Nachos </h4>
                    <div class="menu-price">
                        <p>$12</p>
                    </div>
                    <p>
                        Seasoned Ground Beef, Jalapenos, 
                        Pico dé Gallo, Sour Cream, Black Olives,
                         Lettuce, Guacamole, Tortilla Chips
                    </p>
                </div>

                <div class="menu-item">
                    <h4>Fried Green Tomatoes and Blackened Shrimp </h4>
                    <div class="menu-price">
                        <p>$12</p>
                    </div>
                    <p>
                    Blackened Shrimp, Fried Green Tomatoes, Creole Remoulade
                    </p>
                </div>

                <div class="menu-item">
                    <h4>Cherry Barbeque Baby Back Ribs</h4>
                    <div class="menu-price">
                        <p>$12</p>
                    </div>
                    <p>
                        Four Spice Rubbed Baby Back Ribs, Cherry Barbeque Sauce, Celery
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-xs-12">
                <div class="menu-item">
                    <h4>Spinach Artichoke Dip</h4>
                    <div class="menu-price">
                        <p>$10</p>
                    </div>
                    <p>
                        Fresh Spinach, Artichokes, Cream Cheese, Sour Cream, Green Onions, Tortilla Chips
                    </p>
                </div>

                <div class="menu-item">
                    <h4>Cheese Plate</h4>
                    <div class="menu-price">
                        <p>$12</p>
                    </div>
                    <p>
                        Gorgonzola, Honey Drizzled Brie, Smoked 
                        Gouda and Goat Cheese  with
                        Fresh Fruit, Spiced Pecans and Crackers
                    </p>
                </div>

                <div class="menu-item">
                    <h4>Peel &amp; Eat Shrimp</h4>
                    <div class="menu-price">
                        <p>1 pound - $15 / 1/2 pound - $10</p>
                    </div>
                    <p>
                        1 lb of Old Bay Seasoned Shrimp with
                        Clarified Butter and Cocktail Sauce
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cbp-caption second">
    <div class="cbp-caption-defaultWrap">         
        <h4>Baked Oysters</h4>
    </div>

    <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-body">
            <div class="col-md-6 col-xs-12">
                <div class="menu-item">
                    <h4>Bacon &amp; Cheddar</h4>
                    <div class="menu-price">
                        <p>$14</p>
                    </div>
                    <p>
                        Green Onion, Jalapeño Cream 
                    </p>
                </div>

                <div class="menu-item">
                    <h4>Garlic Butter</h4>
                    <div class="menu-price">
                        <p>$14</p>
                    </div>
                    <p>
                        Roasted Garlic, Lemon, Herbs, Butter
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-xs-12">
                <div class="menu-item">
                    <h4>Shrimp Bienville</h4>
                    <div class="menu-price">
                        <p>$14</p>
                    </div>
                    <p>
                      Peppers, Onion, Shrimp, Cream, Mozzarella, Parmesan
                    </p>
                </div>

                <div class="menu-item">
                    <h4>Oyster Sampler</h4>
                    <div class="menu-price">
                        <p>$15</p>
                    </div>
                    <p>
                       3 of Each
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cbp-caption third">
    <div class="cbp-caption-defaultWrap">         
        <h4>Salads and Soups</h4>
    </div>

    <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-body">
            <div class="menu-item">
                <center>
                    <p>Add Shrimp: $4.50 | Add Chicken: $3.50</p>
                </center>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="menu-item">
                    <h4>Garden</h4>
                    <div class="menu-price">
                        <p>$5</p>
                    </div>
                    <p>
                        Spring mix, shaved carrots, red cabbage, red onion, marinated tomatoes, mozzarella cheese, house made croutons
                    </p>
                </div>

                <div class="menu-item">
                    <h4>Caesar</h4>
                    <div class="menu-price">
                        <p>$6</p>
                    </div>
                    <p>
                        Romaine lettuce, house made croutons, marinated grape tomatoes, parmesan cheese, Caesar dressing
                    </p>
                </div>

                <div class="menu-item">
                    <h4>Cup of Soup and Salad</h4>
                    <div class="menu-price">
                        <p>$9</p>
                    </div>
                    <p>
                        Caesar or Garden Salad
                    </p>
                </div>

                <div class="menu-item">
                    <h4>Pecan and Pear</h4>
                    <div class="menu-price">
                        <p>$10</p>
                    </div>
                    <p>
                        Spring mix, goat cheese crumbles, candied pecans, fresh strawberries, pear slices, raspberry vinaigrette
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-xs-12">
                <div class="menu-item">
                    <h4>Roasted Portabella Salad</h4>
                    <div class="menu-price">
                        <p>$8</p>
                    </div>
                    <p>
                        Balsamic Portabella Mushroom, Heirloom Tomato, Feta, Truffle Vinaigrette
                    </p>
                </div>

                <div class="menu-item">
                    <h4>Asian Chicken Salad</h4>
                    <div class="menu-price">
                        <p>$12</p>
                    </div>
                    <p>
                        Grilled Chicken, Lettuce, Red Cabbage, Crispy Strips, Carrots, Green Onion, Mandarin Oranges, Sesame Vinaigrettte
                    </p>
                </div>

                <div class="menu-item">
                    <h4>Seafood Gumbo</h4>
                    <div class="menu-price">
                        <p>$5/$8</p>
                    </div>
                    <p>
                        Gulf shrimp, crawfish, sausage, Bell peppers, tomatoes, creole seasoning, rice, green onions
                    </p>
                </div>

                <div class="menu-item">
                    <h4>Soup of the Day</h4>
                    <div class="menu-price">
                        <p>$5/$8</p>
                    </div>
                    <p>
                    Ask Your Server for the Chef’s Select Soup of the Day
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>