@mixin center-block () {
	float:none;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

@mixin sec-default () {
	width: 100%;
	float: left;
}

@mixin sec-bgimage () {
	background-repeat: no-repeat;
    background-position: top left;
    background-size: 100%;
}

@mixin sec-parallax () {
	background-repeat: no-repeat;
    background-position: top left;
    background-size: 100%;
    background-attachment: fixed;
}

@mixin before () {
    content: "";
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
@mixin overlay () {
    // content: "";
    float: left;
    height:100%;
    width: 100%;
    // padding: 30px 0;
    background: rgba(0, 0, 0, .5);
}
@mixin ease() {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}

@mixin gray() {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

// Breakpoints
@mixin bp($point) {
    @if $point == lg {
        @media (max-width: 1024px)  { @content ; }
    }

    @else if $point == tb {
        @media (max-width: 992px)  { @content ; }
    }

    @else if $point == md {
        @media (max-width: 768px)  { @content ; }
    }

    @else if $point == pl {
        @media (max-width: 737px)  { @content ; }
    }

    @else if $point == sm {
        @media (max-width: 640px)  { @content ; }
    }

    @else if $point == xs {
        @media (max-width: 320px)  { @content ; }
    }

    @else if $point == iv {
        @media only screen and (min-width: 320px) and (max-width: 580px) { @content ; }
    }
}
