$black: #000;
$white: #fff;
$light: #ececec;
$dark: #1a1a1a;
$gray: #9d9d9d;
$offwhite: #f2f2f2;
$silver: #dfdfdf;
$font-color: #777;
$nygold: #E5C100;

$red: #9e3221;
$lt-blue: #fde38f;
$yellow: #fcc820;
$yellow2: #c9a019;
$lt-burg: #bb6f63;
$navy: #31393f;
$hcolor: #252525;
$gray2: #aeabb1;
$hpink: #FF4162;
$dpink: #b72e46;
$pink: #FF748C;
// $pink:#cd82cf;
$pinkLt:#fcf1f7;
$burg:#6D120E;
$orange:#B16B17;
$wine:#730146;
$rose:#f0e2e2;
$nye:#DEB553;
$thanksO:#C65023;
$thanksG:#0F4D5C;
$thanksP:#5C103D;

$green:#008000;
$lgreen:#e5f2e5;

$raleway: 'Raleway', Arial, sans-serif;
$open: 'Open Sans', Arial, sans-serif;
$play: 'Playfair Display', serif;
// $play: 'Playfair Display SC', serif;


