$black: #000;
$white: #fff;
$light: #ececec;
$dark: #1a1a1a;
$gray: #9d9d9d;
$offwhite: #f2f2f2;
$silver: #dfdfdf;
$font-color: #777;
$nygold: #E5C100;

$red: #9e3221;
$lt-blue: #fde38f;
$yellow: #fcc820;
$yellow2: #c9a019;
$lt-burg: #bb6f63;
$navy: #31393f;
$hcolor: #252525;
$gray2: #aeabb1;

$raleway: 'Raleway', Arial, sans-serif;
$open: 'Open Sans', Arial, sans-serif;
$play: 'Playfair Display', serif;
// $play: 'Playfair Display SC', serif;


