@import "variables";
@import "mixins";

#h-wrap {
    // width: inherit;
    @include sec-default ();
    box-shadow: 0 0 5px rgba($black, 0.2);
    -webkit-box-shadow: 0 0 5px rgba($black, 0.2);
    -moz-box-shadow: 0 0 5px rgba($black, 0.2);
    border-bottom: 1px solid $gray2;
}

header {
    background-color: $white;
    h1, h2, h3, h4, h5, h6, p, a { font-family: $play;}
    .main-header {@include sec-default (); background-color: $white; padding: 0px 15px 0 0;  }
    .logo-img { padding: 5px;}
}

#top-bar-wrapper { @include sec-default (); background-color: $navy; padding:15px; padding-bottom: 0;
    a {color: $font-color; font-size: 16px;}
    li a.tel { font-family: $play;}
    #social-links {
        float: right;
        margin-right: 3%;
        li { float: left; margin-left: 20px;}
    }
    .xs-r, .xs-l {text-align: center; font-family: $play; font-size: 16px; color: $font-color;}
    .xs-l {padding-left: 20px; text-align: left; }
}


.megamenu-parent {list-style:none;padding:0;margin:0;z-index:9;display:block;float:right;
    li{display:inline-block;position:relative;padding:0;border-top: 3px solid transparent; margin: 0 15px;
        &:last-child{margin-right: 5px;}
        a{display:inline-block;font-size: 16px; color: $hcolor; font-weight: 600; text-transform: uppercase; line-height: 70px; padding-top:10px; }
        &:hover {border-top: 3px solid $yellow;
            a{color: $yellow}}
    }

    // li.has-child>a:after{font-family:"FontAwesome";content:" \f107"}

    .dropdown{width:auto;margin:0;margin-top:-1px;position:absolute;z-index:999;display:none;}
    .has-child:hover >.dropdown{display:block;width:175px; }
    .dropdown .dropdown-items{list-style:none;padding:0;margin:0;text-transform:uppercase;}
    .dropdown .dropdown-inner{background: $navy;padding:0px;box-shadow:0 3px 5px 0 rgba($black,0.2); }

    .dropdown li.menu-item{margin-left:0;display:block;padding:0;position:relative;width: 100%; border-top: none;border-bottom: 1px dotted rgba($light, .3);
        &:last-child {border-bottom: none;}
        a{width:100%;display:block;padding:10px;color:$white;cursor:pointer;font-size:14px; line-height: 2em; 
            &:hover{color:$yellow}
        }
    }
}

@include bp(tb) {
    .logo-block {width:100%;}
    .logo-img{ @include center-block();}
    .mega-tab { @include sec-default (); text-align: center;}
    .megamenu-parent { float:none; 
        li { margin: 0 12px;}
    }
}

#offcanvas-toggler {
    float:right;
    background-color:$navy;
    padding: 5px 10px 0;
    text-align: center; 
    border-radius: 4px;
    display:none; 

    h5 {color: $white; font-weight: bold; display: inline-block;  font-size: 15px; margin-right: 4px; margin-bottom: 5px; }
    h4 {color:$white; line-height:2em; padding-top:10px; }
    h4:hover {color:$black; text-decoration:none; }

    span { width: 30px; float: left; display: inline-block;border-radius: 4px; border: 1px solid $white; padding: 5px 0 1px; margin-right: 10px;
        div {
            content: '';
            @include center-block ();
            margin-bottom: 4px;
            width: 22px;
            height: 1px;
            border-radius: 4px;
            background-color: $white;
        }
    } 
}
.close-offcanvas{position:absolute; top:15px; right:15px; z-index:1; color:$white; border:2px solid #eee; border-radius:100%; width:22px; height:22px; line-height:18px; text-align:center; font-size:12px}
.close-offcanvas:hover{background:$black; color:$white}
.offcanvas-menu .menu ul li{position:relative}

.offcanvas-menu{width:280px; height:100%; background:darken($navy, 10%); color:$white; position:fixed; top:0; opacity:0; z-index:9999; overflow-y:scroll;
    .offcanvas-inner{padding:20px;}
    .module{margin-top:20px;
        ul{margin:0 -20px;
            li { margin-bottom:15px; padding-bottom:5px; padding-left: 15px; border-bottom:1px solid rgba($white, .4);
                a { -webkit-transition:300ms; -o-transition:300ms; transition:300ms; padding:7px 0; padding-left:0px; color: $white; font-size: 14px; line-height: 1.5em;}
                a:hover{background:transparent;}
                &:first-child{margin-top:0}
                // &.has-child{border-bottom: none; padding-bottom: 0;
                //     .mom {color: $lt-blue}
                // }
            }
        }
    }
}

.offcanvas-menu{-webkit-transition:opacity 400ms cubic-bezier(0.7,0,0.3,1),right 400ms cubic-bezier(0.7,0,0.3,1); transition:opacity 400ms cubic-bezier(0.7,0,0.3,1),right 400ms cubic-bezier(0.7,0,0.3,1)}
.body-innerwrapper:after{right:0}
.offcanvas-menu{right:-280px}
.offcanvas .offcanvas-menu{right:0}
.body-innerwrapper:after{position:absolute; top:0; width:0; height:0; background:rgba($black, 0.8); content:''; opacity:0; -webkit-transition:opacity 0.5s,width 0.1s 0.5s,height 0.1s 0.5s; transition:opacity 0.5s,width 0.1s 0.5s,height 0.1s 0.5s; z-index:999}
.offcanvas{width:100%; height:100%; position:relative}
.offcanvas .body-innerwrapper:after{width:100%; height:100%; opacity:1; -webkit-transition:opacity 0.5s; transition:opacity 0.5s}
.offcanvas .offcanvas-menu{opacity:1}
.menu .nav-child.small{font-size:inherit}
h3.module-title{color: $white;}
.menu .nav-child.small{font-size:inherit}

.header-mobtn {display: none;}
@include bp(md) {
    .mega-tab, .megamenu-parent {display: none;}
    header {.main-header {padding: 10px; }}
    .logo-img {width: 40%; @include center-block(); margin-bottom: 20px;}
    #offcanvas-toggler { display:inline-block; width: 30%; margin-right: 15px; text-align: center; }
    .header-mobtn {width:30%; display: inline-block; background-color: $lt-blue; font-weight: bold; margin-bottom: 10px; color: $white; text-align: center; padding: 8px 0; border-radius: 4px;
        &.one {margin-left: 15px; margin-right: 15px;}
    }
    #top-bar-wrapper {
        .xs-l, .xs-r, .xs-f { width: 31%; display: inline-block; float: left;}
        .xs-r { float: none; }
        .xs-f { float: right; ul {padding-left: 0;}}
    }
    .menu span.toggle-icon.fa {display:inline-block;font-family:FontAwesome;font-size:15px;position:absolute; float:right; color: $dark; background-color: $white; padding: 0px 4px; margin-top: 2px; margin-left: 5px; font-weight: 700;}
}

@include bp(sm) {
    .logo-img {width: 65%; @include center-block();}
    #offcanvas-toggler { width: 50%; display:block; margin-right: 25%; margin-top: 20px; h5 {float:none; text-align: center;}}
    #top-bar-wrapper {
        .xs-l, .xs-r, .xs-f { width: 100%; float: left; text-align: center; }
        .xs-l, .xs-r {margin-bottom: 5px;}
        #social-links {
            float: none;
            margin-right: auto;
            text-align: center;
            li { float: none; display: inline-block; margin-left: auto; margin-right: 15px;}
        }
    }
     .header-mobtn {width:45%; }
}
@include bp(xs) {
    .header-mobtn {width:90%; @include center-block(); margin-bottom: 0; &.one{margin-bottom: 10px;}}

}



