@import "variables";
@import "mixins";

#h-wrap{@include sec-default();
  // *** KPKP *** only hid box-shadow for nye banner. can add back after.
  // box-shadow:0 0 5px rgba($black, 0.2);
  // -webkit-box-shadow:0 0 5px rgba($black, 0.2);
  // -moz-box-shadow:0 0 5px rgba($black, 0.2);
}
header{background-color:$white;}


.announce-bar{@include sec-default();padding:10px 0;text-align:center;background-color:#F8F0EF;
  .constant{@include center-block();}

  .phone{display:none;}
  .yelp, .toLink{display:inline-block;width:auto;float:right;margin-left:15px;}

  span{font-size:inherit;color:inherit;font-family:inherit;}
  .linky, .phone a{font-weight:bold;line-height:1em;font-family:$open;color:$red;
    &:hover{opacity:.8;@include ease();}
  }
  .linky{font-size:15px;letter-spacing:.5px;text-transform:uppercase;}


  @media (min-width:1101px){
    .constant{width:95%;}

    .yelp{margin-top:9px;}
    .linky{letter-spacing:1px;border:2px solid $red;background-color:$red;color:$white;
    }
    .toLink .linky{padding:10px 20px;}
    .yelp .linky{padding:7.25px 20px;}
  }
  @media (min-width:1101px) and (max-width:1235px) {
    .toLink{float:left;}
  }

  @media(max-width:1100px) {
    .abLink{float:none;vertical-align:top;margin:0 25px;}
    .phone{display:inline-block;
      a{font-size:15.5px;}
    }
    button{background:transparent;border:none;padding:0;}
  }

  @include bp(og) {
    .abLink{margin:0 15px;}
    .linky{letter-spacing:0;}
  }
  
  @media(max-width:639px) {padding:5px 0;
    .abLink{margin:5px 10px;}
    .linky, .phone a{font-size:14px;}
  }

  .old-ny{
    p.ah-text, .links, p, p a{display:inline-block; color:white; font-family:$open; text-shadow:0px 1px 1px rgba($black, .35); 
      margin-bottom:0; font-size:16px; padding-bottom:0; font-weight:600;
    }
    p.ah-text{width:30%;}

    .links{width:70%;}
    .ny-link{display:inline-block; color:white; padding:0 20px; font-family:$open;
      &:hover{opacity:.5;}
    }

    @media (max-width:1200px) {
      p.ah-text{width:40%;}
      .links{width:60%;}
    }

    @media (max-width:1024px) {padding:10px 0;
      p.ah-text,.links{@include sec-default();float:left;}
      p.ah-text{margin-bottom:10px;}
      .ny-link{padding:0 10px;}
    }
    @include bp(sm) {
      p.ah-text,.links, p, p a{font-size:15px;}
    }

    @include bp(tb) {
      p{width:40%;}
      .links{width:60%}
      .ny-link{color:white; padding:0 20px;
        &:hover{opacity:.5;}
      }
    }

    @include bp(md) {
      p, .links{width:100%;}
      .ny-link{color:white; padding:0 20px;
        &:hover{opacity:.5;}
      }
    }

    @include bp(sm) {.ny-link{@include sec-default(); padding-bottom:6px;}}
  }
}

#top-bar-wrapper{@include sec-default(); background-color:$navy; padding:15px 15px 6px;
  &,a{color:$white;}
  a:hover{opacity:.7;}

  .tb-col{display:inline-block; color:$white;}
  .tbc1, .tbc3{width:20%;margin-top:5px;}
  .tbc1{float:left;font-size:15px;}
  .tbc3{float:right;}
  .tbc2{width:60%;text-align:center;
    form{text-align:center;padding:0;}
    #mc_embed_signup{width:100%;}
    label,input.email,.sub-btn{display:inline-block;}

    label{color:$white;font-size:15px;font-family:$play;}
    input.email{width:300px;margin:0 10px;font-size:13px;}
    .sub-btn input{background-color:$white;color:$dark;width:auto;min-width:100%;padding:0 15px;font-family:$open;font-size:13px;}
  }

  #social-links{padding-left:0;
    li{float:right; margin-left:20px;}
  }
  li.adv{margin-top:2px;}
  .clearfix.socBreak{display:none;}


  @media (max-width:1280px) {
    .clearfix.socBreak{display:block;}
    .tbc3{margin-top:-7px;}
  }

  @media (max-width:1100px) {   display:none;
    .tb3{display:none;}
  }

  @media (max-width:120px) {
    .tbc1{width:150px; margin-bottom:10px;}

    .tbc2{float:right; width:500px;}
    .tbc2, .tbc2 form{text-align:right;}
    .tbc2 input.email{width:250px; margin-right:0;}

    // .tbc3{float:left; width:180px;text-align:left;margin-top:5px;}//display:none;}
    // #social-links li{float:left; margin:0 15px 0 0;}
  }

  @media (max-width:823px){text-align:center;
    .tbc1, .tbc2, .tbc3{@include sec-default(); text-align:center;}
    .tbc2 form, #social-links{text-align:center;}
    .tbc2{
      label{font-size:14px;padding-bottom:0;}
      .sub-btn input, input.email{font-size:13px;}
      input.email{margin-left:5px;}
    }
    #social-links li{display:inline-block; float:none; margin:0 6px;}
  }
}


.main-header{@include sec-default(); background-color:$white;padding:10px;
  a{font-family:$play;}
}
.logo-block{margin:5px 0;}


.megamenu-parent{list-style:none;padding:0;margin:0;z-index:9;display:block;float:right;
  li{display:inline-block;position:relative;padding:0;border-top:3px solid transparent; margin:0 15px;
    &:last-child{margin-right:5px;}
    a{display:inline-block;font-size:16px; color:$hcolor; text-transform:uppercase; line-height:70px; padding-top:10px;}
    &:hover{border-top:3px solid $yellow;
      a{color:$yellow}}
  }

  .dropdown{width:auto;margin:0;margin-top:-1px;position:absolute;z-index:999;display:none;}
  .has-child:hover >.dropdown{display:block;width:175px;}
  .dropdown .dropdown-items{list-style:none;padding:0;margin:0;text-transform:uppercase;}
  .dropdown .dropdown-inner{background:$navy;padding:0px;box-shadow:0 3px 5px 0 rgba($black,0.2);}

  .dropdown li.menu-item{margin-left:0;display:block;padding:0;position:relative;width:100%; border-top:none;border-bottom:1px dotted rgba($light, .3);
    &:last-child{border-bottom:none;}
    a{width:100%;display:block;padding:10px;color:$white;cursor:pointer;font-size:15px; line-height:1.5em;
        &:hover{color:$yellow}
    }
  }
}
.megamenu-parent li.sig a{color:#7B2926 !important;}
.offcanvas-menu li.sig a{color:$yellow !important;}

.megamenu-parent li.yelp a{position:relative;z-index:0;
  &::before{content:"Yelp Online";position:absolute;z-index:-1;top:-5px;left:0;width:100%;height:20px;font-size:13px;font-family:$open;color:#000;text-align:center;}
}


#offcanvas-toggler{width:100%;float:left;padding:10px 5px 8px;margin-bottom:0;
  display:none;background-color:$burg;border-radius:0;text-align:center;

  span,h5{display:inline-block;vertical-align:top;}
  h5{color:$white;font-weight:bold;font-size:16px;margin:2px 0 0;line-height:1em;}//display:inline-block;margin-right:4px;margin-bottom:5px;
  span{width:30px;margin-top:5px;margin-right:5px;
    div{content:'';@include center-block();margin-bottom:4px;width:22px;height:1px;border-radius:4px;background-color:$white;}
  }
}
.close-offcanvas{position:absolute;color:$white;z-index:1;
  top:12px;right:14px;
  font-size:19px;font-weight:bold;line-height:1em;font-family:$open;
}
.offcanvas-menu .menu ul li{position:relative;}

.offcanvas-menu{width:95%;max-width:300px;padding:20px 20px 5px 25px;background:darken($navy, 10%);color:$white;opacity:0;z-index:9999;
  position:fixed;height:100%;top:0;overflow-y:scroll;
  

  .nav{margin:20px 0;display:block;max-width:250px;
    li{@include sec-default();}
    li:not(.momList){margin-bottom:15px;border-bottom:1px solid rgba($white, .2);}

    a{font-size:16px;line-height:1.5em;color:$white;padding-left:0;
      -webkit-transition:300ms; -o-transition:300ms; transition:300ms;
      &:hover{background:transparent;}
    }

    .momList{margin-top:20px;padding-bottom:0;
      span{font-size:15px;@include sec-default();margin-bottom:10px;text-transform:uppercase;font-weight:bold;letter-spacing:1px;color:$yellow;}
      ul{padding-left:0;}
      a{@include sec-default();padding-bottom:10px;}
    }
  }
}

.offcanvas-menu{-webkit-transition:opacity 400ms cubic-bezier(0.7,0,0.3,1),right 400ms cubic-bezier(0.7,0,0.3,1); transition:opacity 400ms cubic-bezier(0.7,0,0.3,1),right 400ms cubic-bezier(0.7,0,0.3,1)}
.body-innerwrapper:after{right:0}
.offcanvas-menu{right:-500px;}
.offcanvas .offcanvas-menu{right:0;opacity:1;}
.body-innerwrapper:after{position:absolute; top:0; width:0; height:0; background:rgba($black, 0.8); content:''; opacity:0; -webkit-transition:opacity 0.5s,width 0.1s 0.5s,height 0.1s 0.5s; transition:opacity 0.5s,width 0.1s 0.5s,height 0.1s 0.5s; z-index:999}
.offcanvas{width:100%; height:100%; position:relative;margin-right:0;}
.offcanvas .body-innerwrapper:after{width:100%; height:100%; opacity:1; -webkit-transition:opacity 0.5s; transition:opacity 0.5s}
.menu .nav-child.small{font-size:inherit}
h3.module-title{color:$white;}

.offcanvas-menu .cmod{@include sec-default();}
.offcanvas-menu .signup{@include sec-default();
  form{text-align:center;padding:0 !important;}
  #mc_embed_signup{width:100%;}
  label,input.email,.sub-btn{display:inline-block;}

  label{color:$white;font-size:15px;font-family:$play;}
  input.email{width:100% !important;max-width:300px !important;margin:0 10px 10px 0 !important;font-size:13px !important;}
  .sub-btn input{background-color:$white !important;color:$dark !important;width:auto !important;min-width:auto !important;padding:0 15px !important;font-family:$open;font-size:13px !important;}
}

.offcanvas-menu .social{@include sec-default();margin-top:20px;
  li{display:inline-block;margin:0 7px;}
  a{color:$white;font-size:21px;}
  li.adv ul{padding-left:0;}
}

@media (max-width:1235px){  
  .main-header{text-align:center;padding:5px 0 0;}
  .logo-block, .mega-tab{width:100%;max-width:100%;}
  .logo-block{text-align:center;margin-top:10px;
    a{width:100%;max-width:240px;@include center-block();}
    .logo-img{@include sec-default();}
  }

  .megamenu-parent{@include center-block();
    li{margin:0 8px;}
    li a{line-height:1.5em; margin-bottom:15px;}
    .dropdown-items li{text-align:left;}
    .dropdown li.menu-item a{margin-bottom:0;}
  }
}

@media (max-width:1100px){
  .logo-block{margin-bottom:12px;}
  .mega-tab, .megamenu-parent{display:none;}
  #offcanvas-toggler{display:block;margin-top:5px;}
}
@media (max-width:989px){#offcanvas-toggler{margin-top:12px;}
}





