// New menu setup at bottom

@import "variables";
@import "mixins";

// added 7/2021 for phone links and contact page phone
.resphonelink:hover, .resphonelink:hover > *{opacity:.7;}
h5.inheritA a{font-weight:inherit;font-size:inherit;font-style:inherit;color:inherit;font-family:inherit;}

.sm-center-img {
	width: 13%;
	@include center-block();
}
.stamp {
	img, p {display: inline-block;}
}

.mobile-img {width: 75%;@include center-block();}
.h4-sm h4{font-size: 17px;}

.cov-center {@include sec-default(); text-align: center; padding: 30px 0 0;
	img{@include center-block();}
}

.togo-disc{@include sec-default(); text-align: center; padding: 15px 0; background-color:$red;
	p{color:$white; font-size:19px; margin:0; line-height:1.5em; padding:0; font-weight:600; text-shadow: 0px 1px 2px rgba($black,.25); text-transform: uppercase;}

	@media (max-width:1200px) {
		p{width:80%; @include center-block();}
	}

	@media (max-width:639px) {
		p{width:90%;font-size:17px;}
	}
}
.family-meals-full {@include sec-default(); text-align: center; padding: 60px 0;
	border-top:10px solid $burg;border-bottom:10px solid $burg;
  @include sec-bgimage(); background-image: url(image_path('family-bg.jpg')); background-size:cover;
  position: relative; z-index: 0;
  &::before{@include before(); background-color: rgba($white, .9); height:100%; z-index: -2;}

  h1{color:$red;font-weight:bold;text-transform:uppercase;
  	font-family:$raleway;margin-bottom:0px;
  	a.tel{font-family:inherit;color:$navy;}
  }
  h2{color:$navy;font-weight:bold;margin-bottom:0px;text-decoration:underline;}
  h3{margin:0 0 15px;font-size:17px;line-height:1.6em;text-transform:uppercase;font-weight:bold;margin-bottom:0;
  	b{font-family:$raleway;text-transform:uppercase;font-weight:800;text-decoration:underline;}
  }
  h4{color:$red;font-weight:bold;margin-bottom:0px;}
  p{margin:0;font-size:17px;color:$black;}
  p.up{text-transform:uppercase;font-size:16px;padding:5px 0 15px;letter-spacing:.3px;}
  // a.tel{font-family:inherit;color:inherit;}

  .item{@include sec-default();margin-top:20px;
  	&.uno{margin-top:10px;}
  	p{padding-bottom:0;}
  }

  .deliverySec{@include sec-default();text-align:center;padding:15px 0;
		hr{width:30%;@include center-block();margin:20px auto;border-color:rgba($black,.15);}
		.dsInner{@include center-block();width:95%;max-width:560px;}
		.deliveryLogo{display:inline-block;width:32%;max-width:175px;//margin:0 1%;vertical-align:top;
	      &.narrow{margin-top:6%;margin-top:9%;} // ONLY IF THERE IS A TALL LOGO TOO
	      &.tall{max-width:140px;}
	      &.pickup{float:left;margin-top:5%;}
				&.waitr{float:right;}
	    }
		}

    @media screen and (max-width:1200px){h1{font-size:29px;}}

    @include bp(lg) {padding:40px 0 20px;
    	h1{font-size:25px;}
    	h2{font-size:23px;margin-bottom:5px;}
    	h3{font-size:17px;margin-bottom:0px;width:85%;@include center-block();}
    	h4{font-size:18px;}
    	p{font-size:16px;width:85%;@include center-block();}
    	p.up{font-size:15px;@include sec-default();}
    	.item{margin-top:12px;}

    	.deliverySec{
    		hr{margin:15px auto;}
				.dsInner{max-width:500px;}
    		.deliveryLogo{max-width:150px;
		      &.tall{max-width:120px;}
			  }
			}
    }

    @media screen and (max-width: 823px){ padding:25px 0 15px;
    	h1{font-size: 24px;}
    	h2{font-size:21px;}
    	h3{font-size: 16px;}
    	h4{font-size:17px;}
    	p{font-size: 15px; padding-bottom: 8px;}
    }

    @media screen and (max-width: 767px){
    	.container{padding:0;max-width:90%;}
    	h1{font-size:22px;}
    	h2{font-size:20px;}
    }

    @media screen and (max-width: 500px){
    	hr.top, br.large{display:none;}
    	h1{font-size: 21px;}
    	h2{font-size:19px;}
    	h3{width:100%;}
    	p{width:90%;}

    	.deliverySec{text-align:center;
    		.deliveryLogo,.deliveryLogo.pickup,.deliveryLogo.waitr{width:100%;display:block;float:none;margin:auto;}
    		.deliveryLogo.tteat{margin:30px auto;}
    		hr.last-ds{display:none;}
		  }
    }
}



/***************************************/
.cbp-item {
	@include sec-default ();
	.cbp-caption {border-bottom: none;}
	.cbp-caption-activeWrap { background-color: $white; padding-top: 20px;}
	.cbp-caption-defaultWrap {
		background-color: #f6f6f6; padding-bottom: 5px; margin-bottom: 2px;

		h4 {margin-bottom: 0px; padding-left: 30px;}
	}
	.cbp-caption-defaultWrap::before {
	    position: absolute;
	    display: block;
	    content: '';
	    background-color: #e6e6e6;
	    background-image: url(image_path('accordion-closed.png'));
	    background-repeat: no-repeat;
	    background-position: center;
	    width: 42px;
	    height: 45.5px;
	    top: 0;
	    left: 0;
	    -webkit-transition: all 0.2s ease 0s;
	    -moz-transition: all 0.2s ease 0s;
	    -o-transition: all 0.2s ease 0s;
	    -ms-transition: all 0.2s ease 0s;
	    transition: all 0.2s ease 0s;
	}
	.cbp-caption-defaultWrap.active::before,
	.cbp-caption-defaultWrap.active:hover::before {
	   	background-image: url(image_path('accordion-opened.png'));
	}
	.cbp-caption-defaultWrap:hover::before {
	    background-image: url(image_path('accordion-closed-hover.png'));
	}

	.menu-item {
		padding-bottom: 10px; padding-right: 10px;
		// text-align: center;
		h4 {margin-bottom: 3px; color: $red;}
		h4 span {color: $black; font-weight: bold; font-size: 15px;}
		h4 img { width: 25px; float: left; display: inline-block; padding-top: 5px; padding-right: 5px;}
		p {padding-bottom: 0; color: $black; font-size:15px;}
		.menu-price p { font-weight: bold; margin-bottom: 0px;}

		&.beer p {line-height: 1.8em; font-size: 15px; }
	}

	.cbp-caption.family .cbp-caption-defaultWrap{background-color:rgba(141,184,198,0.5);}
}
/***************************************/
// #rev-slider.tp-banner {
//   @media (min-width:1500px){max-height:100% !important; height:750px !important;}
//   @media (min-width:1600px){height:800px !important;}
//   @media (min-width:1700px){height:850px !important;}
// }

.review-modal{text-align:center;
	.uk-modal-dialog{width:80%;
		background-image:url(image_path("quote1.png")),url(image_path("quote2.png"));
		background-size:50px, 50px;background-position: top left, bottom right;
		background-repeat: no-repeat, no-repeat;
	}
	p{color:$black;font-size:17px;line-height: 1.5em;width:80%;@include center-block();}
	.icon{width:100px;@include center-block();margin-bottom:7px;}
	p.auth{font-size:20px;font-weight:bold;letter-spacing:5px;text-transform:uppercase;color:$black;margin-bottom:10px;padding-bottom:0;}
	hr{width:70%;@include center-block();margin-bottom:20px;}

	@media (max-width:1200px){
		.uk-modal-dialog{width:95%;}
		p{width:100%;}
	}

	@media (max-width:1023px){
		.uk-modal-dialog{width:95%;background-size:35px, 35px;}
		p{font-size:16px;}
		p.auth{font-size:17px;}
	}
}

.home {
	.bodyWrap{margin:0 auto;}
	.appWrap{max-width:1900px;}
	.main-header{padding-right:0;}
	.main-header .mh-wrap, #top-bar-wrapper .inner-tbw{width:90%;max-width:1470px;@include center-block();}
	@media (max-width:1100px){.main-header .mh-wrap{width:100%;}}


	.homepage{@include sec-default();position:relative;}
	.homeSlide{@include sec-default();}
	.home-slideshow{
		.uk-slidenav{background-color:rgba($black,.2);}

		.reviewSlide::before{@include before();height:100%;background-color:rgba($black,.5);}

		.rs-box{width:70%;}//@include center-block();}
		.rs-bg{@include sec-default();padding:40px;background-color:rgba($white,.8);//position: relative;z-index: 0;
			&::before{@include before();height:115%;width:105%;left:-2.5%;top:-6.5%;border:5px solid $orange;z-index: -1;}
		}
		.icon{width:100px;@include center-block();margin-bottom:7px;}
		p.auth{font-size:20px;font-weight:bold;letter-spacing:5px;text-transform:uppercase;color:$black;margin-bottom:0;}
		p.rs-intro{font-size:24px;font-weight:bold;color:$burg;line-height:1.4em;}
		span{color:inherit;}
		span.only-sm{display: none;}
		.vg-btn{background-color:$orange;color:$white;padding:15px 30px;line-height:1em;font-weight:bold;border:0;
			font-size:14px;letter-spacing: 2px;text-transform: uppercase;
			&:hover{opacity:.8;@include ease();}
		}

		@media (max-width:1200px){
			.rs-box{width:90%;}
			.rs-bg{padding:20px 30px 30px;}
			p.auth{font-size:16px;}
			p.rs-intro{font-size:19px;}
		}

		@media (max-width:1023px){
			.rs-box{width:95%;}
			.rs-bg{padding:20px 15px 25px;border:5px solid $orange;
				&::before{display:none;}
			}
			p.auth{font-size:15px;}
			p.rs-intro{font-size:18px;}
			.vg-btn{font-size:13px;}
		}

		@media (max-width:767px){
			.rs-box{width:100%;}
			.rs-bg{padding:20px 15px 25px;border:5px solid $orange;background-color:rgba($black,.8);
				&::before{display:none;}
			}
			p{color:$white !important;}
			p.auth{font-size:14px;}
			p.rs-intro{font-size:16px;}
			.vg-btn{padding:10px 20px;}
		}

		@media (max-width:639px){
			// .rs-box{margin-right:0;max-width:100%;}
			.rs-bg{padding:15px 20px 20px;}
			.icon{width:80px;margin-bottom:4px;}
			p.auth{padding-bottom:8px;}
			p.rs-intro{font-size:15px;font-weight:600;padding-bottom:5px;}
			.vg-btn{padding:10px 20px;}
			span.no-sm{display:none;}
			span.only-sm{display:inline-block;}
		}

		@media (max-width:500px){
			.rs-box{margin-right:0;max-width:100%;}
			.rs-bg{padding:15px 10px 20px;}
			// .rs-bg{border:0;}
			.icon{width:70px;margin-bottom: 1px;}
			p.auth{padding-bottom:5px;font-size:13px;}
			p.rs-intro{font-size:14px;}
		}
	}

	.tp-banner-container.fullwidthbanner {
	  #rev-slider.tp-banner {
	    ul {margin-bottom: 10px;}
	    //img{width:100%;}
	    //img{@include center-block();box-shadow:0px 10px 20px rgba($black,.4)}
	  }
	}
	.page-content {padding-bottom: 0px;}


	.homeLinks{@include sec-default();padding:70px 0 50px;
		.inside{width:95%;max-width:1200px;@include center-block();}
		.left, .right{display:inline-block;}
		.left{width:50%;float:left;}
		.right{width:45%;float:right;}

		.mobImg{display:none;}
		.linkBox{@include sec-default();margin:20px 0;}
		h4{font-size:25px;font-weight:bold;margin-bottom:8px;}
		p{@include sec-default();padding-bottom:0;margin-bottom:15px;}
		p, a{color:$black;}
		a{font-size:13px;}

		@media (max-width:1250px){padding:50px 0 30px;
			.inside{max-width:900px;}
			.left{width:53%;margin-left:-4%;}
			.right{width:50%;margin-right:-3%;}
			.linkBox{margin:10px 0 20px;}
			h4{font-size:21px;}
			a{font-size:12px;}
		}
		@media (max-width:989px){padding:30px 0 0;text-align:center;
			.inside{max-width:700px;}
			.left{@include sec-default();margin:0;}
			.right{width:94%;max-width:600px;margin:15px auto;float:none;padding-bottom:10px;border-bottom:1px solid rgba($black,.1);}

			.fwImg{display:none;}
			.mobImg{display:block;}

			.linkBox{margin:10px 0 20px;}
			h4{font-size:19px;margin-bottom:5px;}
		}
		@media (max-width:823px){padding-top:15px;}
	}



	.intro-title h1 { text-transform: uppercase; text-shadow: 1px 2px 3px rgba($gray, .8);}
	ul.service-boxes {padding: 0 10px; margin-top:35px; @include center-block();}
	li.service-box-3 {
		p {font-family: $play;}
		.btn.btn-small.yellow {font-family: $play; color: $black;}
	}

	.badge {@include center-block(); background-color: $white;}

	.resImg {@include sec-default(); text-align:center; padding-top:20px;
		img, span {display: inline-block;}
		img{width:120px; margin-top:-20px;}
		span{color: $black;font-size: 26px; font-weight:bold;}
	}

	@include bp(lg) {
		.intro-title h1 {font-size:28px; margin-bottom: 5px;}
		h3.sizing {font-size:21px;}

		.resImg {
			img{width:100px;}
			span{font-size: 22px;}
		}

		.col-md-4.no-padding.col-custom {@include sec-default(); max-width:100% !important; margin-bottom: 20px;}
		li.service-box-3 {width:80%; @include center-block(); padding:10px 15px;}
		.service-box-3 .v-icon{height:55px;}
	}

	@media (max-width: 823px) {
		.page-content {padding-top:10px;}
		.intro-title h1 {font-size:24px;}
		h3.sizing {font-size:18px;}

		.resImg {
			img{width:90px;}
			span{font-size: 20px;}
		}

		li.service-box-3 {width:90%;}
		.service-box-3 .v-icon{height:45px;}
	}


	@include bp(md) {
		.col-xs-img, .col-xs-img2 {display: inline-block; width: 50%; }
		.col-xs-img2 {float: right;width: 30%;}
	}
	@include bp(sm) {
		.col-xs-img, .col-xs-img2 {float: none; @include center-block(); width: 60%; }
		.col-xs-img2 {width: 40%; padding-top:15px;}
		li.service-box-3 {width:100%;}
	}
}

.wine-list {
	#page-title { position: relative; z-index: 4; }
    .cbp-l-caption-body .menu-item {text-align: left; padding-left: 7%;}
    .entrance {
    	@include sec-default();
    	text-align: center;
    	position: relative;
    	z-index: 0;
    	padding:20px;
    	background-color: $offwhite;

    	h5 {color: $red;}
    }

    .list1 {padding-bottom: 20px;}
    .list2 {padding-top: 15px;}


    .specImg{max-width:270px;@include center-block();margin-top:20px;}
    .awardrow h4{font-size:19px;}

	@media (max-width:1023px){
		.wine-row-sm{max-width:100% ;}
		.specImg{max-width:200px;}
    .awardrow h4{font-size:17px;margin-top:30px;}
	}

	@include bp(md) {
	    .cbp-l-caption-body .menu-item {
    		h4 { font-size: 15px;}
	    }
		// .cbp-caption-expand .cbp-l-caption-body {padding-left:0;}
	}

	@include bp(sm) {
	    .cbp-l-caption-body .menu-item{ padding-left: 5px;}
	}
}

.contact {
	#page-title .title-container {
		h3{margin-bottom:3px; font-weight: bold;}
		h1 {line-height: 1em}
	}
	.overlay {background: rgba($black, .6);}

	.socials {margin-top: 20px; }
	.contact-socials {
		width: 10%; display: inline-block; margin: 15px 7px 0;
		i {font-size: 30px; color: #777;}
	}

	.page-content{ padding-top:10px;
		.p-link {color: $red; font-weight: bold; font-size: 16px;
			h4 {color: $red;font-weight: bold; text-shadow: 0px 1px 1px $gray;}}
		.signup { @include sec-default ();
		    #mc_embed_signup {
		        width: 85%;
		        @include center-block();
		        border: 1px solid $red;
		        background-color: $white;
		        margin-top: 0px;
		        padding-left: 0px;
		        text-align: center;

		        label {color: $red; margin-bottom: 0; text-align: center;}
		        form {padding: 5px 0;}

		        input.email {width: 90%; @include center-block(); background-color: $light; padding: 5px 0; margin-bottom: 5px; border: 1px solid $silver;}
		        input.button { background-color: $red; font-size: 14px; height: auto; @include center-block();}
		    }
		    @include bp(md) {
			    #mc_embed_signup {margin-bottom: 10px;}
		    }
		}
	}
}

.happy-hour {
	#happyhour-page .page-content {
	  	padding-top:20px;
	  	h2, h3, h4, h6, p, span, a {font-family: $raleway;}
		h3 { font-weight: bold; color: $yellow; font-size: 20px; margin-bottom: 5px; ;}
		h2 {  color: $red; }
		p { font-size: 16px; color: $navy; margin-bottom:0; padding-bottom:5px;}
		.special { width: 100%; float: left; margin-bottom:10px; text-align: center; }
		h4 { font-size: 20px; text-align: center; }
		h4 span { font-size: 16px; color: $yellow; }
		h6 a { color: $yellow; }
		.food-menus { width:100%; float: left; padding-left: 15px; }
	}

	@include bp(md) {
		.overlay {background: rgba($black, .6);}
	}
}

.new {
	#page-title .title-container {
		h3, a {
			color: $white;
			text-shadow: 0px 1px 2px $black;
			font-size: 35px;
		}
	}

	.page-content {padding-bottom: 0;}

	.required {
	    font-weight: bold;
	    color: $red !important;
	}

	p.xs-m { margin-bottom: 10px; padding-bottom: 0;}

	.form-group {
	    width: 100%;
	    margin-bottom: 15px;
	    color: $black;
	    position: relative;
	    display: block;
	}
	input,
 	textarea {
	    background-color: $white;
	    border: 1px solid #ddd;
	    border-radius: 3px;
	    padding: 6px 10px 6px 40px;
	    width: 90%;
	}
	input.text {min-height: 36px;}
	textarea { height: 80px; }
	.form-group.email, .form-group.phone, .form-group.date, .form-group.guest {width: 45%; display: inline-block;
		input {width: 95%;}
	}
	.form-group::before {
	    font-family: 'FontAwesome';
	    position: absolute;
	    display: block;
	    font-size: 13px;
	    top: 23px;
	    left: 1px;
	    width: 32px;
	    height: 33px;
	    padding-left: 10px;
	    background-color: #f6fcfe;
	    padding-top: 7px;
	    border-radius: 3px;
	}
	.form-group.submit {
		width: 30%;
		input { text-align: center; padding:10px 0; background-color: $yellow; text-transform: uppercase;color: $white;font-size: 12px;}
	    font-weight: 700;
	    position: relative;
	    -webkit-transition: all 0.2s ease 0s;
	    -moz-transition: all 0.2s ease 0s;
	    -o-transition: all 0.2s ease 0s;
	    -ms-transition: all 0.2s ease 0s;
	    transition: all 0.2s ease 0s;
	    border: none;
	    float: left;
	}
	.form-group.name::before { content: '\f040'; }
	.form-group.email::before { content: "\f0ac"; }
	.form-group.phone::before { content: "\f095"; }
	.form-group.message::before { content: "\f003"; z-index: 1; margin-bottom: 0;}
	.form-group.date::before { content: "\f073"; }
	.form-group.guest::before { content: "\f2c0"; }

	input:focus,
	textarea:focus {
	    border-color: #ccc;
	    outline: none;
	}

	@include bp(md) {
		input, textarea { width: 100%; }
		.form-group.email, .form-group.phone, .form-group.date, .form-group.guest  {width: 100%; display: block;
			input {width: 100%;}
		}
		.form-group.message {margin-bottom: 0;}
		.form-group::before {height:30px; top:25px;}
	}

	#menus{
		background-color: #fbfbfb;
		padding: 35px 0;
	}
	.cater-menus.tabs {
		font-family: $raleway;
		.fancy-heading p {font-size: 15px; color: $black; margin-bottom: 0; padding-bottom: 5px;}
	}
	h3.menu-head { margin-bottom: 0; padding-left:20px; font-weight: 700; }
	.cater-menus .menu-info{
		color: $black;
		font-size: 15px;
		padding-bottom: 20px;
		margin-left: 20px;
	}
	.cater-menus .menu-info span {
		font-weight: bold;
		color: $navy;
	}
	.cater-menus .menu-items {
		font-weight: normal;
		font-size: 15px;
		color: $red;
		font-weight: bold;
		padding-left: 20px;
	}
	.cater-menus .menu-items span {
		color: $black;
		font-weight: normal;
	}
	ul.items {
		list-style-type: none;
		padding-left: 0;
		li {padding-bottom: 10px;}
	}

	.hdv-items {
		font-weight: normal;
		font-size: 14px;
		color: $red;
		font-weight: bold;
		span {
			color: $black;
			font-weight: normal;
		}
		.fancy-heading {
			margin-top: 20px;
			margin-bottom: 10px;

			h4 {font-size: 18px}
		}
	}
	.mobile-menu-link {display: none;}
	@include bp(md) {
		.mobile-menu-link {display: block; width:25%; font-weight: bold; background-color: $red; color:$white; @include center-block (); padding: 10px 0; text-align: center; border: 1px solid $yellow;}
		.cater-menus.tabs { padding-top: 20px;
			.container {padding-left: 0; padding-right: 0;}
			.fancy-heading p { line-height: 1.3em;}
		}
		.cbp-l-caption-body {padding-left: 0;}
	}
	@include bp(sm) {
		.mobile-menu-link {width:50%;}
	}
}


/********** PAGE TITLES MOBILE *************/
@media (max-width: 823px) {
	#page-title {
		.title-container h1{font-size:35px !important; text-shadow: 0px 1px 2px $black;}
		.title-container, .title-container.less{padding:25px 0 10px !important;}
		.fancy-heading{margin-bottom: 10px;}
	}
}
@include bp(sm) {
	#page-title {
		.title-container h1{font-size:30px !important; text-shadow: 0px 1px 2px $black;}
	}
}
/******************************************/


.dinner-menu, .daily-menu, .brunch-menu, .contact {
	p {font-size:15px;}
	.page-content {background-image: url(image_path('patt1.png'));}
	.menu-print{@include sec-default(); text-align: center; margin-top:20px;
		p{padding-bottom: 0;text-transform: none;}
	}
	.mp-wrap{width:90%;max-width:640px; @include center-block();}

	h4.cat{font-weight: bold; color:$black; font-family: $raleway; text-transform: uppercase; border-bottom: 1px solid rgba($black,.1); width:70%;}

	@include bp(sm) {
		h4.cat{width:90%; font-size:18px;}
	}
}
.dinner-menu {.lunch-price, .lunch-only, .brunch-only, .no-dinner{display: none;}}
.daily-menu {.dinner-price, .dinner-only, .brunch-only, .no-lunch{display: none;}}
.brunch-menu{.no-brunch, .dinner-only{display: none;}}

.brunch-menu{
	.page-content{padding:30px 0 10px;}
	.brunch-box{width:780px; @include center-block();}
	.service-box-2{margin-bottom:30px;}
	h4 span{font-size: .9em; font-weight:600;}
	h2{color:$white; font-size:22px; line-height: 1.4em; margin-top:0 !important;}


	.brunch-links{@include sec-default(); text-align:center;
		p.instr{font-size:25px; font-family: $play; color:$black; margin-bottom: 30px;}
		.bm-link{display: inline-block; width:42%; margin: 10px 1%;}
		h3{font-size: 22px; margin-bottom: 5px;}
		br{display: none;}
	}

	@media (max-width: 1230px) {
		.brunch-links h3{font-size: 20px;}
	}

	@include bp(lg) {
		.page-content{padding:20px 0 10px;}
		.brunch-links{
			p.instr{font-size:22px; margin-bottom: 15px;}
			h3{font-size: 19px;}
		}

		.brunch-box{width:90%;}
		.pairing .service-box-2{margin-bottom:20px; padding-bottom:0;}
	}

	@media (max-width: 823px) {
		.page-content{padding:20px 0 10px;}
		.brunch-links{
			p.instr{font-size:20px; margin-bottom: 5px;}
			.bm-link{width:47%; margin: 10px 0 10px 2%; float:left;}
			.bm-link.two{float:right;margin: 10px 2% 10px 0;}
			h3{font-size: 17px;}
		}
	}

	@include bp(sm) {
		.brunch-links{
			p.instr{font-size:17px;}
			h3{font-size: 16px;}
			br{display: block;}
		}
	}
}


.event-list {
	#page-title {margin-bottom:0px;
		@include bp(tb) {margin-bottom: 15px;}
	}
	h3 {color: $red; font-weight: 800; margin-bottom:5px;}
	.event-view {background-color: $yellow; padding:10px; font-weight: bold; color: $black; border-radius: 4px;
		&:hover {opacity: .7;}
	}
	.borderImg{border:1px solid rgba($black,.2);}
	.service-box-2.floatMid{margin-bottom:30px;}

	.stacked{margin:20px 0 50px;}

	h4{font-family:$open;font-size:17px;}

	.inline-events{text-align: center;}
	.inline-event{width:40%; display: inline-block; margin: 10px 2%; float:none; vertical-align: top;}
	.inline-event.noimg{@include sec-bgimage(); background-image: url(image_path('wineglass.jpg')); background-size: cover;padding:8% 0;
		position:relative;z-index:0;
		&::before{@include before(); height:100%; background-color:rgba($white,.8);z-index:-2;}
		&::after{@include before(); height:70%; width:70%;left:15%;top:15%; background-color:rgba($white,1);z-index:-1;box-shadow:0px 10px 20px rgba($black,.2);}
		.btnrow{@include sec-default(); display:block;}
		.btn{width:170px;font-size:14px; padding:5px 5px 6px; letter-spacing: 1px;
			// background-color:$white;border:1px solid rgba($black,2);
			background-color: $red;color:$white;box-shadow:0px 10px 20px rgba($black,.1);
			&:hover{opacity: .8;}
		}
	}


	@media (max-width: 1400px){
		.inline-event.noimg{padding:7% 0;
			&::after{width:85%;height:85%;left:7.5%;top:7.5%;}
		}
	}

	@media (max-width: 1200px){
		// .inline-event.noimg{padding:7% 0;
		// 	&::after{width:85%;height:85%;left:7.5%;top:7.5%;}
		// }

		.stacked{margin:0 0 20px;}
		.inline-event{width:45%; margin: 10px .5% 10px 2%;}
		h3{font-size:20px;}
		h4{font-size:16px;}
		.btn{font-size:14px;}
	}

	@include bp(tn) {
		h3{font-size:18px;}
		.inline-event{width:70%; @include center-block();
			&.one {margin-bottom: 40px;}
		}
		.inline-event.noimg{margin-bottom:40px;padding:5% 0 12%;
			h3{font-size:19px;}
			// h4{font-size:17px;}
		}
	}

	@include bp(sm) {
		.inline-event{width:85%;
			&.one {margin-bottom: 30px;}
		}
	}

	@media (max-width: 425px) {
		.inline-event{width:95%;}
	}
}

.special-events, .pairing {
	.pt-bkg-image.image-events {height:auto;}
	.overlay{background:rgba(0, 0, 0, 0.7);}

	#page-title .title-container.less {
		padding: 30px 0 20px;
		text-align: center;
		h1, h2, h3, h4 {color: white; font-weight: bold;text-shadow: 0px 1px 2px black; letter-spacing: 1px;}
		h2{font-size:23px;}// margin:20px 0;}
		h1{margin-bottom:0;}
		h4{font-size:25px;}
		h4 span{color:inherit;font-size:inherit;font-weight:inherit;font-family: inherit;}
		h4 br{display:none;}
	}
	.intro {
		@include sec-default();
		padding-bottom: 35px;
		text-align: center;
		h2 {font-weight: bold; color: $yellow; margin-bottom: 4px;}
		h3 {font-size: 20px; margin-bottom:6px;}
		h4 {color: $black; font-size: 19px; font-weight: bold;}
	}

	.top{@include sec-default (); margin-bottom: 40px;}

	p.res{font-size:19px; color:$black; font-family: $raleway; font-weight: bold;
		span, a{color:$red; font-family: inherit; text-transform: none;}
	}

	.service-box-2 {
		h3{ color: $hcolor; font-style: italic; font-weight: bold; font-family: $raleway; margin-bottom:5px; text-shadow: 0px 1px 1px rgba($black, .5);}
		h4{color: $red; margin-bottom: 5px; font-weight: bold; font-size: 18px;
			span{color:$black;}
		}
		h5 {font-size: 16px; margin-bottom: 7px;}
		p{margin-bottom:0px; padding-bottom: 5px; color:$black;
			font-style: italic; font-weight: bold;
		}
	}

	.page-content .hr{margin: 40px auto;}
	.page-content .hr-dec .hr{margin: 30px auto;}

	.course{width:96%;max-width:550px;@include center-block();}

	//////// FOR MENUS w/ long items //////////
	.long-menus .service-box-2{max-width:450px;@include center-block();}


	//////// FOR MENUS w/ INLINE COURSES //////////
	.fluidMenu{text-align: center;}
	.menuFluid {display: inline-block; float: none; width: 40%; margin: 10px 2%; vertical-align: top;}

	@include bp(tb) {
		#page-title .title-container{
			h1{font-size: 32px;}
			h2 {font-size: 21px;}
		}
		.fluidMenu .intro {padding-bottom: 0;}

		.menuFluid {@include sec-default(); margin:15px auto;
			&.last{margin-bottom: 0;}
			.service-box-2{width: 60%; @include center-block();}
			h3{font-size: 20px;}
		}
		.page-content .hr-dec .hr{margin: 20px auto;}
		// .hr-dec{display: none;}
	}

	@include bp(md) {
		#page-title {height:auto;}
		.pt-bkg-image.image-events {height: 150px;}
		.overlay{background:rgba(0, 0, 0, 0.8);}
		
		#page-title .title-container.less {padding-top:10px !important;
			h1 {margin-top: 20px; font-size: 25px !important;}
			h2{font-size: 17px; margin:10px 0 12px;}
			h4{font-size:19px;line-height:1.6em;}
			h4 span{display:none;}
			h4 br{display:block;}
		}
		.intro {padding-bottom: 15px;h3 {font-size: 17px;}h4 {font-size: 15px;}}
		p.res{font-size:17px;}

		.top{margin-bottom: 0px;}
		.service-box-2 {padding-bottom: 20px;
			h4{font-size: 17px}
			h5{font-size: 15px;}
		}
		.page-content .hr{margin: 10px auto;}

		.menuFluid {
			.service-box-2{width: 90%; padding-bottom: 0;}
			h3{font-size: 17px;}
		}
	}
}

// CUSTOMs FOR WINTER
$wgreen:#5f836f;
.pairing .winterWine{//@include sec-default();position:relative;z-index:0;
	// &::before,&::after{@include after();width:10px;background-color:$wgreen;}
	&::before{left:0;}
	&::after{right:0;}
	.custom-ww-intro{@include sec-default();text-align:center;padding:40px 0 25px;background-color:$wgreen;
		h1,h2,h3,h4,p,span{color:$white;font-family:$open;}
		h1,h2{color:$white;text-transform:uppercase;}
		br{display:none;}
	}
	h1{font-weight:bold;margin-bottom:10px;line-height:1.2em;font-size:40px;letter-spacing:2px;}
	h2{font-size:24px;letter-spacing:1px;}
	h4{line-height:1.6em;}

	.page-content{padding-top:20px;}
	.intro{padding-bottom:15px;}
	.service-box-2{max-width:450px;@include center-block();}
	h3{font-size:21px;text-transform:uppercase;letter-spacing:1px;font-style:normal;}

  @media (max-width: 1023px){
  	h1{font-size:35px;}
  	h2{font-size:21px;}
  	h4{font-size:19px;}
	}

	@media (max-width: 767px){
		.custom-ww-intro{padding:25px 0 10px;}
  	h1{font-size:27px;}
  	h2{font-size:19px;}
  	h4{font-size:17px;}

		.intro{padding-bottom:0px;}
  	h3{font-size:20px;}
	}

	@media (max-width: 500px){
		.custom-ww-intro{
			br{display:block;}
			h4 span{display:none;}
		}
		h1{font-size:25px;letter-spacing:1px;}
		h2{letter-spacing:0;}
	}
}

.special-events .roaring20s {
	#page-title.image-20s{background-color: $black;
		// background-image: url(image_path('roaring.jpg')); background-size:50%; background-position: left center;
		background-image: none;
		position: relative; z-index: 0;
		&::before{@include before(); height:100%; width:50%; background-image: url(image_path('roaring.jpg')); background-size: cover;
			background-position: center center;
		}
	}
	.title20s{width:48%; float:right; margin: 100px 1% 100px 0; text-align: center;
		h1, h2, h3, h4 {color: white; font-weight: bold;text-shadow: 0px 1px 2px black; letter-spacing: 1px;}
		h2{font-size:21px; margin:20px 0;}
		h1{margin-bottom:0px; font-size: 32px;}
		h4{color: $nygold; font-size: 20px;}
	}

	@include bp(lg) {
		.title20s{ margin-right: 0;
			h1{font-size: 26px;}
			h2 {font-size: 19px;}
			h4{font-size: 17px;}
		}
	}

	@include bp(tn) {
		#page-title.image-20s{ background-image: url(image_path('roaring.jpg')); background-size: cover;
			&::before{@include before(); background-image: none; height:100%; background-color:rgba($black,.7);}
		}
		.title20s {margin:30px 0 10px; @include sec-default(); position: relative; z-index: 1;
			h1 {font-size: 24px;}
			h2{font-size: 17px;}
			h4{font-size:16px;}
		}
	}
}


.drink-menu{ 
	.cbp-item .menu-item.beer p{font-weight: bold;
		span:not(.price){font-size: 14px; line-height: 1.2em; font-weight: normal;}
	}
	.row2{margin-top:20px;}
}

.elp-nye{text-align:center;//position:relative;z-index:0;
	// &::before{@include before();z-index:-1;
	// 	// background-color:rgba($yellow,.1);
	// 	width:70%;left:15%;background-color:$black;height:600px;opacity: .4;
	// 	width:100%;height:100%;left:0;
	// }
	// FCF8E8   F8E017  B39C23

	h1,h2,h3,p,a{font-family:$raleway;}
	h1,h2,h3,h4,p{
		span, a{color:inherit;font-size:inherit;}
		span.num{font-family:$open;}
	}
	p{padding-bottom:0;}

	.simpleTitle{padding:40px 0 20px;background-color:$black;
		h1, h2{color:$white;}
		h1, p{margin:0;}
		h1, p.h1{text-transform:uppercase;}
		p, a{font-size:19px;font-family:$open;}
		p.h1, p.res{color:$nygold;}

		p.h1{font-style:italic;letter-spacing:2px;}
		h1{font-size:45px;font-weight:bold;}
		h2{margin-bottom:2px;}
		
		a:hover{opacity:.8;}
		p.res{margin-bottom:5px;font-weight:bold;}
	}

	.seatings{margin-top:30px;}
	.seat{display:inline-block;vertical-align:top;margin:10px 30px;
		h4{font-size:23px;margin-bottom:2px;font-weight:bold;color:$nye;}
		p{font-size:17px;font-family:$open;padding-bottom:8px;line-height:1.5em;color:$white;}
		span{margin:0 5px;}
	}

	.miStyle{width:95%;max-width:800px;@include center-block();}
	.page-content{background-image:url(image_path('glitter2.jpg')); background-position: top left;background-size:100%;}

	p.instr{font-size:16px;margin:0;padding:10px 0;font-style:italic;line-height:1.3em;color:$black;font-weight:bold;
		background-color:#fff;
	}
	.menuImgStyle{box-shadow:0 10px 30px rgba($black,.2);}


	@include bp(lg) {
		.simpleTitle{ 
			h1{font-size:38px;}
		  h2{font-size:24px;}
		}
	}
	@include bp(br) {
		.simpleTitle{padding:20px 0 5px;
			h1{font-size:34px;}
		  h2{font-size:21px;}
		  p, a{font-size:18px;}
		}
		.seat{
			h4{font-size:20px;}
			p{font-size:16px;}
		}
	}

	@include bp(og) {
		.simpleTitle{
			h1{font-size:28px;}
		  h2{font-size:19px;}
		  p, a{font-size:16px;}
		}

		.seatings{margin-top:10px;}
		.seat{
			h4{font-size:19px;}
		}

	  .page-content{padding-top:15px;}
	  p.instr{font-size:15px;}
	}

	@media (max-width:500px) {
		.simpleTitle{
			h1{font-size:24px;}
		  h2{font-size:18px;margin-bottom:10px;}
		}

	  p.instr{font-size:15px;}
	}
}

.valentines {
	#page-title .title-container h1 {margin-bottom:5px; font-size: 35px;}
	h2 {color: $white; font-weight: bold; text-align: center; text-shadow: 1px 2px 1px $black;}
	.pt-bkg-image {padding:30px;
    &.valentine {
    	background-image: url(image_path('vday2.jpg')); 
    	// background-attachment: fixed;
    	position: relative; z-index: 0;
			&::before{@include before(); height:100%; z-index: -1; background-color: rgba($black,.4);}
    }
    .fancy-box{float: left;}
  }

  @media screen and (max-width: 1024px) {
		#page-title .title-container h1 {font-size: 28px}
		h2 {font-size: 22px;}
		.pt-bkg-image {padding:0px 30px;}
  }

  @media screen and (max-width: 812px) {
		#page-title .title-container h1 {font-size: 24px}
		h2 {font-size: 19px;}
		.pt-bkg-image {padding:0px 30px;}
  }

  @media screen and (max-width: 768px) {
		.pt-bkg-image {padding-top:20px;}
  }

  @media screen and (max-width: 415px) {
		.pt-bkg-image.valentine {position: relative; z-index: 0;
			&::before {@include before(); height:100%; background-color: rgba(black, .45); z-index: -1;}
	    .fancy-box{@include center-block(); }
		}

  }
}

// MOTHER SON VDAY PAGE
.event.dd-date{@include sec-default();padding:30px 0;background-color:$pinkLt;text-align:center;
	.simpleHeader{@include sec-default();}
	.page-content{padding:0;}

	h1{color:$pink;font-weight:bold;margin-bottom:3px;}
	h2{margin:0 0 10px;line-height:1.2em;font-size:22px;}
	h3{margin-bottom:3px;font-size:19px;line-height:1.3em;}
	h3 a,p{color:$black;}
	h1 br, h2 br, h3 br{display: none;}

	p.instr{margin:40px 0 0px;}

	.menu-link{@include center-block();width:95%;max-width:550px;box-shadow:0px 10px 20px rgba($black,.2);}

	@media (max-width:1024px){
		h1{font-size:25px;line-height:1.3em;}
		h2{font-size:20px;}
		.menu-link{max-width:500px;}
	}
	@media (max-width:1023px){
		h1{font-size:23px;}
		h2{font-size:19px;}
		h3{font-size:17px;}
		p.instr{margin-top:25px;}
	}
	@media (max-width:767px){padding:15px 0;
		.menu-link{width:90%;}
		p.instr{margin-top:15px;font-size:15px;}
	}
	@media (max-width:420px){
		h1 br,h3 br{display:block;}
	}
}


//  HIDDEN PRICES
.dinner-menu, .daily-menu, .brunch-menu{
	.menu-item span{display:none;}
}
.drink-menu .menu-item:not(.beer) span{display:none;}
.drink-menu .menu-item.beer span.price{display:none;}


.about{
	.fancy-heading::after{display:none;}
	p{font-family:$play;color:$black;font-size:18px;padding:0;margin-bottom:15px;line-height:1.5em;}

	.image-row{@include sec-default();margin-bottom:30px;text-align:center;
		&.mobile{display:none;}

		.img-item{display:inline-block;width:24.5%;padding:0 1px;}
	}
	.text-row{@include sec-default();padding:0 15px 0 20px;}

	@media (max-width:1200px){
		.page-content{padding:20px 0 10px;}
		.fancy-heading{margin-bottom:15px;}
		h1{font-size:25px;}
		.image-row{margin-bottom:20px;}
	}

	@media (max-width:1023px){
		.page-content{padding:15px 0 5px;}
		.fancy-heading{margin-bottom:7px;}
		h1{font-size:22px;}
		p{font-size:17px;}
	}

	@media (max-width:823px){
		h1{font-size:20px;font-weight:bold;}
		.image-row.fw{display:none;}
		.image-row.mobile{display:block;}
	}
}



/***************************************/
/******** NEW MENU PDF STYLE ***********/
/***************************************/
.food-menus.linkFull{
	.menuLink{text-align:center;padding:0 15px;
		p{text-transform:none;}
	}
	img{margin-top:15px;box-shadow:0px 10px 20px rgba($black,.1);}
	.border{border:1px solid rgba($black,.1);}
}


.elp-thanks{text-align:center;
	.simpleTitle{background-color:$thanksO;padding:30px 0;}
	h1,h2,h3,li{color:$white;}
	h3,li{font-family:$open;}
	h1{font-size:40px;margin-bottom:0px;}
	h3{font-size:22px;@include sec-default();margin:20px 0 10px;
	 	text-transform: uppercase;font-weight:bold;
	}
	li{font-size:20px;margin-bottom:15px;}
	li:last-child{margin-bottom:0;}
	br{display: none;}
	span, a{color:inherit;}
	a{font-family:inherit;}
	p{color:$black;}
	.menuImg{box-shadow:0px 10px 25px rgba($black,.2);}

	@media (max-width:989px){
		h1{font-size:33px;}
		h2{font-size:22px;}
		h3{font-size:19px;margin-top:10px;}
		li{font-size:18px;}
	}

	@include bp(og) {
		.simpleTitle{padding:15px 0 10px;
			.dot.two{display:none;}
		}
		br.br2{display:block;}
		h1{font-size:28px;}
		h2{font-size:20px;}
		h3{font-size:17px;margin-bottom:5px;}
		li{font-size:17px;margin-bottom:8px;}
	}

	@media (max-width:500px){
		h1{font-size:25px;}
		h2{font-size:19px;}
		br.br3{display:block;}
		.page-content{padding-top:15px;}
	}
}











