@import "variables";
@import "mixins";

.honey {
    position: absolute;
    left: -9999px;
    height: 0;
}

.blue-border{
    @include sec-default();
    content: '';
    height: 5px;
    background-color: $red;
}

.hr {
    margin-top: 10px;
    margin-bottom: 15px;
    @include sec-default();
    background-repeat:repeat-x;

    &.hr-png-1 {
        background-image: url(image_path('divider1.png'));
        height: 9px;
    }
    &.hr-png-10 {
        background-image: url(image_path('divider10.png')) ;
        height: 13px;
    }
    &.hr-png-6 {
        background: url(image_path('divider6.png')) repeat-x 0 0;
        height: 4px;
    }
    &.hr-png-7 {
        background: url(image_path('dotted.png')) repeat-x 0 0;
        height: 4px;
    }
}

.overlay {@include overlay ();}

body {
    background-image: url(image_path('zenbg.png'));
    background-repeat: repeat;
    margin: 0 120px;
    font-size: 13px;
    line-height: 22px;
    color: $font-color;

    @include bp(tb) {
        margin: 0 60px;
    }
    @include bp(md) {
        margin: 0 30px;
    }
    @include bp(sm) {
        margin: 0 5px;
    }
    @include bp(xs) {
        margin: 0 5px;
    }
}
.main-wrapper {@include sec-default (); background-color: $white; }
.wrapper {padding: 0;}
.page-content { @include sec-default; padding:40px 0;
    &.less { padding:15px 0}
    &.none { padding: 0}
}

   .signup {
        width: 90%;
        border: 2px solid $yellow;
        background-color: $light;
        margin-top: 10px;
        padding-left: 10px;

        label {color: $yellow; margin-bottom: 0;}
        input.button{background-color: $yellow;}
    }
    #mc_embed_signup input.email {width: 90%;}
    #mc_embed_signup .button { background-color: $yellow; }


.fancy-heading {
    width: 100%;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 10px;

    h1, h2, h3, h4, h5, h6 { margin-bottom: 0;}
    span {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    line-height: 30px; }

    h2 { margin-top: 30px; }

    &::after {
        width: 70px;
        height: 1px;
        background-color: #ddd;
        content: '';
        position: absolute;
    }
    &.left::after {
        bottom: 0;
        left: 0;
    }
    &.center {
        text-align: center;
    }
    &.center::after {
        bottom: 0;
        left: 50%;
        margin-left: -35px;
    }
    .centered {
        text-align: center;
    }
}

.pt-bkg-image {
    @include sec-default ();
    @include sec-bgimage ();
    background-size: cover;

    &.image-cater {background-image: url(image_path('starfish.jpg'));}
    &.image-truck {background-image: url(image_path('foodtruck.jpg'));}
    &.image-bottle {background-image: url(image_path('woodford.png'));}
    &.image-hh {background-image: url(image_path('blank.png'));}
    &.image-lunch {background-image: url(image_path('blank.png'));}
    &.image-dinner {background-image: url(image_path('blank.png'));}
    &.image-brunch {background-image: url(image_path('blank.png'));}
    &.image-events {background-image: url(image_path('wine-din.png')); height:200px;}
}
#page-title {
    @include sec-default ();
    box-shadow: 1px 8px 8px $gray;

    .title-container {
        @include sec-default ();
        padding: 100px 0 60px 0;
        margin-bottom: 40px;

        h3 {
            font-size: 18px;
            color: $white;
            text-align: center;
            line-height: 1.4em
        }
        h1 {
            color: $white;
            font-size: 40px;
            text-align: center;
            text-shadow: 1px 2px 1px $black;
        }

        &.alt {
            padding:0;
            h1, h3 {
              font-weight: 700;
              font-family: 'Raleway', Arial, sans-serif;
            }
            h3 {font-size: 26px;}
        }
    }

    @include bp(md) {
        .title-container { padding: 30px 0; margin-bottom: 20px;
        }
    }
}

.food-menus { text-transform: capitalize;}
.btn {
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    overflow: hidden;
    display: inline-block;
    backface-visibility: hidden;
    border-radius: 0;
    /*float: right;*/
}
.btn::after {
    position: absolute;
    content: '';
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.btn:hover::after {
    width: 100%;
    z-index: 1;
}
.btn span {
    position: relative;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    display: block;
    z-index: 2;
    width: 100%;
    color: $black;
}
.btn.float-left {
    float: left;
}
.btn-big {
    padding: 10px 60px;
    font-size: 12px;
}
.btn-medium {
    padding: 7px 40px;
    font-size: 12px;
}
.btn-small {
    padding: 8px 20px;
    font-size: 11px;
}
.btn.empty {
    border: 2px solid;
    background-color: transparent;
}
.btn-centered {
    display: table;
    margin: 0 auto;
    float: none;
}

.btn.yellow { background-color: $yellow; }

/* ==========================================================================
    5.19. INTRO TITLE
    ========================================================================= */
.intro-title {
    width: 100%;
    text-align: center;
}
.intro-title.center-aligned h1,
.intro-title.center-aligned h2,
.intro-title.center-aligned h3,
.intro-title.center-aligned h4,
.intro-title.center-aligned h5,
.intro-title.center-aligned h6 {
    text-align: center;
}
.intro-title h1,
.intro-title h2,
.intro-title h3,
.intro-title h4,
.intro-title h5,
.intro-title h6 {
    font-weight: normal;
}
.intro-title h2 {
    font-size: 31px;
}
.intro-title h2 strong {
    font-weight: normal;
}
.col-md-12 .intro-title:only-child {
    margin-bottom: 20px;
}
.custom-background .intro-title h1 strong,
.custom-background .intro-title h2 strong,
.custom-background .intro-title h3 strong,
.custom-background .intro-title h4 strong,
.custom-background .intro-title h5 strong,
.custom-background .intro-title h6 strong {
    color: $white;
}


.pixely_widget_contact {
    background-color: #f6fcfe;
    padding: 30px;
    text-align: center;
    h3, h4, h6 { margin-bottom: 15px;}
    h6 { color: $yellow;}
    h4 {font-size: 19px; line-height: 1.5em; margin-bottom: 20px; }
    h3 { text-transform: none; font-size: 15px; font-weight: 800; }
}


/* ==========================================================================
    SERVICE BOX 2
    ========================================================================= */
.service-box-2  {
    text-align: center;
}
/* ==========================================================================
    SERVICES BOX 3
    ========================================================================= */
.service-box-3 {
    // width: 33.1%;
    float: left;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 4px;
    padding: 30px;
    text-align: center;
    list-style: none;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    border: 1px solid $gray;

    &:hover {
        box-shadow: 0 0 20px rgba($gray, .7);
        position: relative;
        z-index: 200;
        background-color: $white;
    }

    i {
        font-size: 60px;
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
        display: block;
        color: $yellow;
    }
    h4 {
        text-transform: uppercase;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        -webkit-transition: all 0.2s ease 0s;
        -moz-transition: all 0.2s ease 0s;
        -o-transition: all 0.2s ease 0s;
        -ms-transition: all 0.2s ease 0s;
        transition: all 0.2s ease 0s;
    }
    p {
        text-align: center;
        padding-bottom: 0;
    }
}

.img-circled {
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.img-circled img,
.img-rounded img {
    width: 100%;
    display: block;
}

.img-circled img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
