<% content_for :title do %>
    Contact Us
<% end %>
<% content_for :description do %>
Ginny Lane Bar &amp; Grill is located at The Wharf in Orange Beach. Lunch, Dinner, &amp; Late Night fun, with a waterfront view. Contact us for more information!
<% end %>

<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="fancy-heading center">
                <h2>Get In Touch</h2>
                <a href="https://www.facebook.com/pages/Ginny-Lane-Bar-Grill/159850265732" target="_blank"><i class="fa fa-facebook" style="font-size:20px; margin-right: 5px;"></i></a>
                <a href="https://twitter.com/GinnyLaneWharf" target="_blank"><i class="fa fa-twitter" style="font-size:20px; margin-right: 5px;" ></i></a>
                <a href="https://plus.google.com/117900168660588676207/about?hl=en" target="_blank"><i class="fa fa-google-plus" style="font-size:20px; margin-right: 5px;"></i></a>
            </div>

            <div class="col-md-7 clearfix col-xs-12 mobile-hide">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3445.003113144061!2d-87.629645!3d30.293972999999998!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x889a05c3484c458d%3A0x4620b2e57e974f6f!2sGinny+Lane+Bar+%26+Grill!5e0!3m2!1sen!2sus!4v1425917629883" width="100%" height="400" frameborder="0" style="border:0"></iframe>
            </div>

            <div class="col-md-5 col-xs-12">
                <div style="text-align:center">
                
                    <h5>Phone: <a href="tel: +12512246510">(251)-224-6500 </a><br>
                        Address: 4851 Wharf Pkwy Suite 106 <br> Orange Beach, Al 36561</h5>
                   
                    <h6><strong> Hours of Operation:</strong>
                        <br>Monday - Thursday: 11 a.m. - 9 p.m.
                        <br>Friday - Saturday: 11 a.m.- 10 p.m.
                        <br>Sunday: 10 a.m.- 9 p.m.</h6>

                    <div class="row mobile-row">
                        <%= link_to 'http://goo.gl/jQcRe0', target: '_blank', class: 'btn first' do %>
                            <span>Get Directions!</span>
                        <% end %>

                        <%= link_to 'http://www.opentable.com/ginny-lane-bar-and-grill-reservations-orange-beach?restref=144784', target: '_blank', class: 'btn' do %>
                            <span>Book A Table!</span>
                        <% end %>
                    </div>

                    <div class="col-md-10 col-md-offset-1 widget" style="padding-left:20px">
                        <div class="signup">
                          <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
                          <div id="mc_embed_signup">
                              <form action="//villaggiogrille.us12.list-manage.com/subscribe/post?u=4c78eb4e16987add938a2f662&amp;id=472d9b9216" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll">
                                    <label for="mce-EMAIL">Join Our Mailing List</label>
                                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>

                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4c78eb4e16987add938a2f662_472d9b9216" tabindex="-1" value=""></div>
                                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                                </div>
                              </form>
                          </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12"><div class="hr-png-6"></div></div>
